@charset "UTF-8";
@font-face {
  font-family: 'Futura PT Book';
  src: url("../fonts/FuturaPT-Book.woff2") format("woff2"), url("../fonts/FuturaPT-Book.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Merriweather';
  src: url("../fonts/Merriweather-Regular.woff2") format("woff2"), url("../fonts/Merriweather-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url("../fonts/ProximaNova-SemiboldIt.woff2") format("woff2"), url("../fonts/ProximaNova-SemiboldIt.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url("../fonts/ProximaNova-RegularIt.woff2") format("woff2"), url("../fonts/ProximaNova-RegularIt.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url("../fonts/ProximaNova-Regular.woff2") format("woff2"), url("../fonts/ProximaNova-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Merriweather';
  src: url("../fonts/Merriweather-BoldItalic.woff2") format("woff2"), url("../fonts/Merriweather-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Merriweather';
  src: url("../fonts/Merriweather-LightItalic.woff2") format("woff2"), url("../fonts/Merriweather-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

* {
  box-sizing: border-box;
}

*:before {
  box-sizing: border-box;
}

*:after {
  box-sizing: border-box;
}

body {
  height: 100%;
  font-family: 'Proxima Nova', sans-serif;
  color: #000;
}

img {
  max-width: 100%;
  height: auto;
}

img, svg, iframe {
  vertical-align: top;
}

.list-unstyled {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.btn-unstyled {
  padding: 0;
  background: 0;
  border: 0;
  color: inherit;
}

.link-unstyled {
  text-decoration: none;
  color: inherit;
}

::-webkit-input-placeholder {
  opacity: 1;
}

::-moz-placeholder {
  opacity: 1;
}

:-ms-input-placeholder {
  opacity: 1;
}

::-ms-input-placeholder {
  opacity: 1;
}

::placeholder {
  opacity: 1;
}

::-moz-selection {
  background-color: #b99470;
  color: #fff;
}

::selection {
  background-color: #b99470;
  color: #fff;
}

.mb30 {
  margin-bottom: 30px;
}

.mb-30 {
  margin-bottom: -30px;
}

.mb60 {
  margin-bottom: 60px;
}

.mb-60 {
  margin-bottom: -60px;
}

.page-header > .container {
  position: relative;
  z-index: 10;
}

.page-header--second {
  background-color: #424242;
  padding-bottom: 30px;
}

.logo {
  text-decoration: none;
}

.navigation {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation ul {
  display: flex;
}

.navigation li:not(:last-child) {
  margin-right: 27px;
}

.navigation a {
  color: #fff;
  font-family: "Futura PT Book", sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  transition: .3s;
  text-decoration: none;
  padding-left: 5px;
  padding-right: 5px;
  position: relative;
}

.navigation a:after {
  content: '';
  height: 0px;
  background-color: #b99470;
  width: 100%;
  position: absolute;
  bottom: -9px;
  left: 0;
  transition: .3s;
}

.navigation a:hover:after, .navigation a.active:after {
  height: 4px;
}

.navigation__right {
  display: flex;
  align-items: center;
}

.language {
  display: flex;
  margin-right: 49px;
}

.language li:not(:last-child) {
  margin-right: 10px;
}

.language a {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  font-family: inherit;
}

.navigation__right .phone {
  color: #fff;
  font-size: 21px;
  font-weight: 400;
  text-transform: uppercase;
  font-family: inherit;
  padding: 0;
}

.navigation__right .phone:hover::after {
  height: 0;
}

.header-slider {
  margin-top: -115px;
  z-index: 5;
}

.header-slider .swiper-slide {
  padding-top: 115px;
  padding-bottom: 115px;
  display: flex;
  justify-content: center;
  background-size: cover;
  height: 732px;
}

.header-slider__info {
  text-align: center;
  margin-top: 146px;
  color: #fff;
}

.header-slider__suptitle {
  font-family: "Merriweather", sans-serif;
  font-size: 30px;
  margin-top: 0;
  margin-bottom: 19px;
  font-weight: 300;
  font-style: italic;
}

.header-slider__title {
  color: #fff;
  font-family: "Futura PT Book", sans-serif;
  font-size: 102px;
  text-transform: uppercase;
  letter-spacing: 8.06px;
  margin-top: 0;
  margin-bottom: 16px;
  font-weight: 400;
}

.header-slider__subtitle {
  color: #fff;
  font-family: "Merriweather", sans-serif;
  font-size: 30px;
  letter-spacing: 1.58px;
  margin: 0;
  position: relative;
  padding-left: 90px;
  padding-right: 90px;
  display: inline-block;
  font-weight: 300;
  font-style: italic;
}

.header-slider__subtitle:after, .header-slider__subtitle:before {
  content: '';
  width: 73px;
  height: 1px;
  background-color: #b99470;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.header-slider__subtitle:after {
  right: 0;
}

.header-slider__subtitle:before {
  left: 0;
}

.header-slider__container {
  position: absolute;
  height: 58px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;
  top: 0;
  top: 56%;
}

.header-slider__container .swiper-button-next:after, .header-slider__container .swiper-button-prev:after {
  font-size: 0;
}

.header-slider__container .swiper-button-next {
  transform: rotateY(-180deg);
}

.reservation {
  background-color: #fff;
}

.reservation__form {
  border-radius: 3px;
  background-color: #424242;
  padding: 28px 30px;
  margin-top: -98px;
  position: relative;
  z-index: 10;
}

.reservation__row {
  display: flex;
}

.reservation__label {
  display: flex;
  max-width: 256px;
  width: 100%;
  position: relative;
}

.reservation__label:not(:last-child) {
  margin-right: 29px;
}

.reservation__label:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  border-radius: 1px;
  background-color: #aaaaaa;
  transition: .3s;
}

.reservation__label:before {
  content: '';
  position: absolute;
  right: 15px;
  top: 50%;
  width: 20px;
  height: 20px;
  background-image: url(../img/calendar.svg);
  transform: translateY(-50%);
  z-index: -1;
}

.reservation__label:hover:after, .reservation__label:focus-within:after {
  background-color: #b99470;
}

.reservation__label:focus-within .reservation__name {
  transform: translateY(-14px);
}

.reservation__label--guest:before {
  width: 22px;
  height: 22px;
  background-image: url(../img/avatar.svg);
}

.reservation__input {
  background: none;
  border: none;
  padding: 0;
  color: #fff;
  font-size: 14px;
  width: 100%;
  padding: 14px 15px;
  padding-bottom: 10px;
  cursor: pointer;
}

.reservation__input:focus {
  outline: none;
}

.reservation__name {
  font-size: 16px;
  color: #fff;
  position: absolute;
  left: 15px;
  transition: .3s;
}

.guest-dropdown {
  position: absolute;
  left: 0;
  z-index: 5;
  box-shadow: 0 1px 0 1px rgba(184, 184, 184, 0.3);
  border-radius: 3px;
  border: 1px solid #c0c0c0;
  background-color: #fff;
  padding: 40px 30px 29px;
  width: 100%;
  width: 368px;
  top: 80px;
  opacity: 0;
  display: none;
  visibility: hidden;
  padding: 40px 30px 30px;
}

.guest-dropdown:before {
  content: '';
  position: absolute;
  top: -7px;
  left: 24px;
  width: 25px;
  height: 11px;
  background-image: url(../img/triangle.png);
}

.guest-dropdown:after {
  content: '';
  position: absolute;
  width: 26px;
  height: 11px;
  background-color: #fff;
  top: 0;
  left: 24px;
}

.guest-dropdown.active {
  -webkit-animation: a 0.3s cubic-bezier(0.23, 1, 0.32, 1);
          animation: a 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  visibility: visible;
  opacity: 1;
  display: block;
}

.guest-row {
  display: flex;
  justify-content: space-between;
}

.guest-row:not(:last-child) {
  margin-bottom: 16px;
}

.guest-info {
  display: flex;
  align-items: center;
}

.guest-info .guest-name {
  color: #333;
  font-size: 18px;
  font-weight: 400;
  margin-left: 16px;
}

.range-slider {
  width: 125px;
  height: 35px;
  border-radius: 3px;
  border: 1px solid #f2f2f2;
  background-color: #f5f5f5;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.range-slider .range-slider__btn {
  width: 41px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.range-slider .range-slider__btn img {
  transition: .3s;
}

.range-slider .range-slider__btn:hover, .range-slider .range-slider__btn:focus {
  opacity: .8;
}

.range-slider .range-slider__value {
  width: 43px;
  height: 33px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 0;
  background: none;
  padding: 0;
  text-align: center;
  background-color: #fff;
  -moz-appearance: textfield;
}

.range-slider .range-slider__value::-webkit-inner-spin-button, .range-slider .range-slider__value::-webkit-outer-spin-button {
  -webkit-appearance: none;
          appearance: none;
  margin: 0;
}

.custom-checkbox {
  font-size: 17px;
  font-weight: 400;
  color: #fff;
  display: flex;
  align-items: center;
  margin-top: 17px;
}

.custom-checkbox .custom-checkbox__check {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.custom-checkbox .custom-checkbox__check:checked + .checkbox:before {
  visibility: visible;
  opacity: 1;
}

.custom-checkbox .checkbox {
  width: 15px;
  height: 15px;
  transition: .3s;
  border: 1px solid #acacac;
  display: inline-block;
  position: relative;
  margin-right: 16px;
  cursor: pointer;
}

.custom-checkbox .checkbox:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 8px;
  height: 8px;
  background: url(../img/tick.svg) center/8px 8px;
  visibility: hidden;
  opacity: 0;
}

.flatpickr-calendar {
  border-radius: 5px;
}

.flatpickr-day.endRange, .flatpickr-day.endRange.inRange,
.flatpickr-day.endRange.nextMonthDay,
.flatpickr-day.endRange.prevMonthDay,
.flatpickr-day.endRange:focus,
.flatpickr-day.endRange:hover,
.flatpickr-day.selected,
.flatpickr-day.selected.inRange,
.flatpickr-day.selected.nextMonthDay,
.flatpickr-day.selected.prevMonthDay,
.flatpickr-day.selected:focus,
.flatpickr-day.selected:hover,
.flatpickr-day.startRange,
.flatpickr-day.startRange.inRange,
.flatpickr-day.startRange.nextMonthDay,
.flatpickr-day.startRange.prevMonthDay,
.flatpickr-day.startRange:focus,
.flatpickr-day.startRange:hover {
  background: #b99470;
  border-color: #b99470;
}

.flatpickr-day.today {
  border-color: #b99470;
}

.flatpickr-months .flatpickr-next-month:hover svg, .flatpickr-months .flatpickr-prev-month:hover svg {
  fill: #b99470;
}

.hamburger {
  display: none;
}

.hamburger:focus {
  outline: none;
}

.welcome {
  background: url(../img/key.png) no-repeat 82.5%;
  padding-top: 60px;
  padding-bottom: 60px;
}

.title {
  font-family: 'Merriweather', sans-serif;
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 1.47px;
  text-align: center;
  margin: 0;
  padding-bottom: 16px;
  position: relative;
  font-style: italic;
}

.title:after {
  content: '';
  position: absolute;
  bottom: 5px;
  width: 112px;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  background-color: #b99470;
}

.title--noline {
  padding-bottom: 0;
}

.title--noline:after {
  content: none;
}

.welcome__title {
  margin-bottom: 46px;
}

.subtitle {
  color: #000;
  font-size: 20px;
  font-weight: 400;
  font-style: italic;
  display: block;
  text-align: center;
  margin-bottom: 14px;
}

.text {
  color: #000;
  font-size: 19px;
  font-style: italic;
  font-weight: 400;
  max-width: 538px;
  margin: 0;
  margin-bottom: 30px;
}

.pluses {
  padding-top: 60px;
  padding-bottom: 52px;
  background-color: #f9f9f9;
}

.pluses__item {
  text-align: center;
  margin: 0;
}

.pluses__item .pluses__circle {
  width: 87px;
  height: 87px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #b99470;
  border-radius: 50%;
  margin: 0 auto;
}

.pluses__item .pluses__title {
  color: #000;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 42px;
}

.best {
  padding-top: 56px;
  padding-bottom: 60px;
  background: url(../img/key2.png) 10% bottom no-repeat;
}

.best__title {
  font-size: 34px;
  letter-spacing: 1.68px;
  margin-bottom: 56px;
}

.best__slider-btns {
  background-color: #fff;
  width: 94px;
  height: 42px;
  position: relative;
  z-index: 5;
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-top: -42px;
}

.best__slider-btns .swiper-button-next, .best__slider-btns .swiper-button-prev {
  width: 47px;
  height: 42px;
  position: static;
  margin: 0;
}

.best__slider-btns .swiper-button-next:after, .best__slider-btns .swiper-button-prev:after {
  background: url(../img/right-arrow.svg);
  font-size: 0;
  width: 15px;
  height: 15px;
}

.best__slider-btns .swiper-button-prev {
  border-right: 1px solid #f9f9f9;
}

.best__slider-btns .swiper-button-prev:after {
  transform: rotateY(-180deg);
}

.best__title-left {
  font-size: 28px;
  margin-bottom: 15px;
  text-align: left;
}

.room {
  border-radius: 3px;
  background-color: #424242;
  padding: 35px 33px;
  max-width: 296px;
  margin-left: 40px;
  max-height: 213px;
  flex-shrink: 0;
}

.room .room__title {
  color: #b99470;
  font-style: italic;
  font-size: 16px;
  margin: 0;
  margin-bottom: 22px;
}

.room .room__value {
  font-size: 28px;
  color: #ffffff;
  font-weight: 400;
}

.room .room__day {
  font-size: 20px;
  color: #b99470;
  position: relative;
  padding-left: 20px;
}

.room .room__day:before {
  content: '/';
  font-size: 28px;
  position: absolute;
  bottom: 5px;
  left: 3px;
}

.room--mini {
  max-width: 191px;
  margin: 0;
  padding: 20px 15px;
  margin-top: -26px;
  margin-left: -1px;
  max-height: 151px;
}

.room--mini .room__title {
  margin-bottom: 10px;
}

.room--mini .room__value {
  font-size: 18px;
}

.room--mini .room__day {
  font-size: 15px;
}

.room--mini .btn-reserv {
  margin-top: 26px;
}

.best-item {
  display: flex;
}

.best-item .best-item__img {
  flex-shrink: 0;
  height: 253px;
  display: flex;
  align-items: flex-end;
  margin-top: 35px;
  max-width: 315px;
}

.best-item .best-item__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.best-item .best-item__square {
  border: 1px solid #b99470;
  padding: 40px 28px 48px 80px;
  max-width: 318px;
  width: 318px;
  margin-left: -65px;
}

.best-item .best-item__title {
  color: #333;
  font-size: 18px;
  margin-bottom: 18px;
  display: block;
}

.best-item .best-item__text {
  margin: 0;
  color: #000;
  font-size: 16px;
  font-style: italic;
}

.best__text .text {
  font-size: 16px;
}

.gallery {
  padding-bottom: 60px;
}

.gallery__row {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.gallery__item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.reviews {
  background-color: #f9f9f9;
  padding-top: 54px;
  padding-bottom: 59px;
}

.reviews-item {
  margin-bottom: 26px;
}

.reviews-item .reviews-item__top {
  padding: 22px 28px 30px;
  border-radius: 3px;
  background-color: #fff;
}

.reviews-item .reviews-item__title {
  text-align: center;
  color: #000;
  font-size: 17px;
  text-transform: uppercase;
  display: block;
  margin-bottom: 8px;
}

.reviews-item .reviews-item__stars {
  display: flex;
  margin: 0 auto;
  max-width: 74px;
  margin-bottom: 15px;
}

.reviews-item .reviews-item__stars img:not(:last-child) {
  margin-right: 2px;
}

.reviews-item .reviews-item__text {
  margin: 0;
  color: #000;
  font-size: 19px;
  font-style: italic;
}

.reviews-item .reviews-item__bottom {
  padding: 18px 32px;
}

.reviews-item .reviews-item__name {
  color: #000;
  font-size: 17px;
  margin: 0;
  margin-bottom: 8px;
}

.reviews-item .reviews-item__date {
  color: #333;
  font-style: italic;
  font-size: 14px;
  font-weight: 400;
}

.reviews__pagination {
  position: static;
}

.reviews__pagination .swiper-pagination-bullet {
  width: 14px;
  height: 14px;
  border: 1px solid #d1d1d1;
  background-color: #fff;
  transition: .3s;
  opacity: 1;
}

.reviews__pagination .swiper-pagination-bullet-active {
  background-color: #b99470;
  border-color: #b99470;
}

.main-gallery {
  background: url(../img/key.png) no-repeat 84% 20%, url(../img/key2.png) 10% 95% no-repeat;
  padding-bottom: 60px;
}

.main-gallery__title {
  font-size: 32px;
  margin-bottom: 45px;
}

.breacrumbs {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  margin-top: 28px;
  margin-bottom: 22px;
  flex-wrap: wrap;
}

.breacrumbs li {
  color: #333;
  font-size: 16px;
  margin-right: 15px;
  position: relative;
  margin-bottom: 10px;
}

.breacrumbs li:not(:last-child)::after {
  content: '/';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -10px;
}

.breacrumbs a {
  -webkit-text-decoration: transparent underline;
          text-decoration: transparent underline;
  color: inherit;
  transition: .3s;
  will-change: text-decoration;
}

.breacrumbs a:hover, .breacrumbs a:focus {
  text-decoration: underline;
}

.grid-gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 250px);
  gap: 15px;
}

.grid-gallery--2 {
  grid-template-rows: repeat(2, 250px);
}

.grid-gallery:not(:last-child) {
  margin-bottom: 15px;
}

.grid-gallery .grid-gallery__item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.grid-gallery .grid-gallery__item:nth-child(1) {
  grid-column: 1 / 3;
  grid-row: 1 / 3;
}

.grid-gallery .grid-gallery__item:nth-child(3) {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}

.grid-gallery .grid-gallery__item:nth-child(4) {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}

.grid-gallery .grid-gallery__item:nth-child(5) {
  grid-column: 1 / 2;
  grid-row: 4 / 5;
}

.grid-gallery .grid-gallery__item:nth-child(6) {
  grid-column: 2 / 4;
  grid-row: 3 / 5;
}

.tabs {
  text-align: center;
  margin-top: -5px;
}

.tabs .tab {
  width: 98px;
  height: 33px;
  border: 1px solid #aaaaaa;
  background-color: #fff;
  color: #000;
  font-size: 16px;
  font-weight: 400;
  transition: .3s;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-left: 6px;
  margin-right: 6px;
  margin-bottom: 15px;
}

.tabs .tab.active {
  border: 1px solid #b99470;
  background-color: #b99470;
  color: #fff;
}

.tab_content {
  padding-top: 34px;
}

.main-gallery + .page-footer {
  margin-top: 0;
}

.contacts {
  padding-top: 10px;
  background: url(../img/key.png) no-repeat 82.5%;
}

.contacts__container {
  max-width: 1034px;
  margin: 0 auto;
}

.contacts__item {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
}

.contacts__item img {
  margin-top: 4px;
}

.contacts__item .contacts__text {
  color: #000;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  padding-left: 14px;
  margin: 0;
  text-decoration: none;
}

.contacts__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 35px;
}

.contacts__map {
  padding-bottom: 52%;
  position: relative;
}

.contacts__map iframe {
  position: absolute;
}

.map-cap {
  cursor: pointer;
  position: absolute;
}

.contacts__form-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contacts__form {
  max-width: 750px;
  margin: 0 auto;
  padding: 26px 60px 60px;
  box-shadow: 0 1px 1px 1px rgba(184, 184, 184, 0.15);
  border: 1px solid #ebebeb;
  background-color: #fff;
  margin-top: -95px;
  position: relative;
  z-index: 2;
}

.contacts__form .contacts__form-title {
  color: #000;
  font-family: 'Merriweather', sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.9px;
  text-align: center;
  font-style: italic;
  margin: 0;
  margin-bottom: 44px;
}

.contacts__input {
  max-width: 298px;
  width: 100%;
  font-size: 18px;
  border: 0;
  border-bottom: 1px solid #aaaaaa;
  height: 45px;
  padding: 0 20px;
  margin-bottom: 40px;
  transition: .3s;
}

.contacts__input:focus {
  outline: none;
  border-color: #b99470;
}

.contacts__input:hover {
  border-color: #ce9c6b;
}

.contacts__input::-webkit-input-placeholder {
  color: #333;
}

.contacts__input::-moz-placeholder {
  color: #333;
}

.contacts__input:-ms-input-placeholder {
  color: #333;
}

.contacts__input::-ms-input-placeholder {
  color: #333;
}

.contacts__input::placeholder {
  color: #333;
}

textarea.contacts__input {
  max-width: 100%;
  resize: unset;
  border: 1px solid #aaaaaa;
  padding: 20px;
  height: 100px;
}

.apartments {
  background: url(../img/key.png) no-repeat 82.5%;
}

.apartments-title {
  margin-bottom: 54px;
}

.apartments__container {
  max-width: 733px;
}

.mx {
  max-width: 626px;
  margin: 0 auto;
  padding-left: 9px;
  margin-top: 30px;
  position: relative;
  z-index: 10;
}

.thumbs__arrows {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 86px;
  margin-top: -86px;
  position: relative;
  z-index: 5;
}

.thumbs__arrows .swiper-button-next,
.thumbs__arrows .swiper-button-prev {
  position: absolute;
  width: 22px;
  height: 100%;
  margin: 0;
  z-index: 5;
  top: 0;
}

.thumbs__arrows .swiper-button-next:focus,
.thumbs__arrows .swiper-button-prev:focus {
  outline: none;
}

.thumbs__arrows .swiper-button-next::after,
.thumbs__arrows .swiper-button-prev::after {
  content: '';
  background: url(../img/right-arrow.svg);
  font-size: 0;
  width: 22px;
  height: 22px;
}

.thumbs__arrows .swiper-button-prev::after {
  transform: rotateY(-180deg);
}

.room-info {
  margin-top: 56px;
}

.room-info__title {
  color: #000000;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 1.26px;
  text-align: left;
  margin-bottom: 18px;
}

.room-info__list li {
  color: #000000;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 17px;
  padding-left: 26px;
  position: relative;
}

.room-info__list li::before {
  content: '—';
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.room__title {
  font-size: 31px;
  text-align: left;
  margin-bottom: 16px;
}

.room__text {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 9px;
  margin-top: 0;
}

.list {
  color: #000000;
  font-size: 20px;
  line-height: 2;
}

.list li {
  padding-left: 41px;
  position: relative;
}

.list li::before {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 31px;
  height: 1px;
  background-color: #333333;
}

.room__list {
  margin-top: 16px;
  margin-bottom: 44px;
}

.reservation {
  background: url(../img/key.png) no-repeat 84.5%;
}

.reservation-title {
  margin-top: 35px;
  margin-bottom: 56px;
}

.reservation__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 35px;
  max-width: 395px;
}

.reservation__info .reservation__info-number {
  font-size: 21px;
  font-weight: 700;
}

.reservation__btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 490px;
  margin-left: auto;
}

.reservation__detail {
  margin-top: 60px;
  box-shadow: 0 1px 0 1px rgba(184, 184, 184, 0.16);
  background-color: #fafafa;
  padding: 30px;
  margin-bottom: 30px;
}

.reservation__container {
  max-width: 560px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -15px;
}

.reservation__container--block {
  display: block;
}

.reservation__item {
  font-size: 18px;
  margin-right: 30px;
}

.reservation__item strong, .reservation__item span {
  display: inline-block;
}

.reservation__item:not(:last-child) {
  margin-bottom: 15px;
}

.reservation__column {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  padding: 13px 67px 13px 30px;
  min-height: 30px;
}

.reservation__column:nth-child(even) {
  background-color: #f0f0f0;
}

.reservation__column:nth-child(odd) {
  background-color: #fafafa;
}

.reservation__column--top {
  padding: 30px 67px 22px 30px;
}

.reservation__column--top .reservation__price {
  font-size: 24px;
}

.reservation__price {
  font-size: 18px;
  font-weight: 600px;
}

.reservation__value {
  color: #333333;
  font-size: 18px;
}

.reservation__detail-title {
  font-size: 24px;
  font-weight: 600;
  margin: 0;
  margin-bottom: 10px;
  margin-top: -5px;
}

.reservation__form--room {
  margin-top: 0;
}

.reservation-second {
  padding: 26px 30px;
  background-color: #f2f2f2;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.reservation-second__column {
  display: flex;
  align-items: center;
}

.reservation-second__column:nth-child(1) {
  flex: 0 0 46%;
}

.reservation-second__column:nth-child(2) {
  flex: 0 0 54%;
}

.reservation-second__column span {
  color: #333333;
  font-size: 18px;
  line-height: 30px;
}

.reservation-second__img {
  margin-right: 23px;
}

.prices {
  margin-right: 66px;
}

.reservation-second__price {
  color: #333333;
  font-size: 18px;
  font-weight: 400;
  display: flex;
}

.reservation-second__price strong {
  font-size: 25px;
  margin-left: 25px;
}

.reservation-table {
  margin-top: 30px;
}

.reservation-table__row {
  display: flex;
  flex-wrap: wrap;
}

.reservation-table__row--border {
  border: 1px dashed #8b8b8b;
}

.reservation-table__row--border .reservation-table__column:not(:last-child) {
  border-right: 1px dashed #8b8b8b;
}

.reservation-table__row--border + .reservation-table__row {
  border-top: 0;
}

.reservation-table__column {
  padding: 15px 20px;
  height: 68px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.reservation-table__column .range-slider {
  margin: auto;
}

.reservation-table__column strong {
  font-size: 24px;
}

.reservation-table__column:nth-child(1) {
  flex: 0 0 36.25%;
}

.reservation-table__column:nth-child(2) {
  flex: 0 0 24.25%;
}

.reservation-table__column:nth-child(3) {
  flex: 0 0 39.5%;
}

.reservation-table__column--top {
  height: auto;
}

.select-room {
  width: 125px;
  height: 35px;
  padding: 0 15px;
  display: block;
}

.reservation-table__text {
  margin: 0;
  font-size: 18px;
}

.reservation-rooms {
  padding-top: 60px;
  background: url(../img/key.png) no-repeat 84.5%, url(../img/key2.png) 10% bottom no-repeat;
}

.reservation__room {
  margin-left: -15px;
}

.reservation__room {
  padding-top: 20px;
  padding-bottom: 20px;
}

.reservation__room .list {
  margin-top: 5px;
  margin-bottom: 50px;
  line-height: 1.75;
}

.reservation__room .room__title {
  margin-bottom: 6px;
}

.reservation__room .room__text {
  line-height: 22px;
}

.day-price {
  margin-top: 30px;
  display: block;
  color: #333333;
  font-size: 16px;
}

.m0 {
  margin: 0;
}

.reservation-rooms__slider {
  max-width: 600px;
}

.reservation__room-row {
  display: flex;
  align-items: center;
}

.reservation__room-row .select-room {
  margin-right: 59px;
}

.mb39 {
  margin-bottom: 39px;
}

.mb-39 {
  margin-bottom: -39px;
}

.pagination {
  padding-top: 60px;
}

.pagination__list {
  display: flex;
}

.pagination__list li {
  width: 42px;
  height: 42px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #f2f2f2;
  background-color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  transition: .3s;
}

.pagination__list li:not(:last-child) {
  border-right: 0;
}

.pagination__list li.active {
  background-color: #b99470;
  border-color: #b99470;
  color: #fff;
}

.pagination__list li:hover {
  background-color: #ce9c6b;
  border-color: #ce9c6b;
}

.pagination__list li:hover a {
  color: #fff;
}

.pagination__list a {
  text-decoration: none;
  color: #333333;
  font-size: 20px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.reservation-request {
  margin-top: 50px;
  margin-bottom: 50px;
}

.reservation-request .reservation-second__column:last-child {
  justify-content: flex-end;
}

.reservation-info {
  background: url(../img/key.png) no-repeat 82.5%;
}

.reservation-info__input {
  width: 100%;
  border: 1px solid #aaaaaa;
  background-color: #ffffff;
  padding: 0 16px;
  transition: .3s;
  margin-bottom: 30px;
}

.reservation-info__input::-webkit-input-placeholder {
  color: #333333;
}

.reservation-info__input::-moz-placeholder {
  color: #333333;
}

.reservation-info__input:-ms-input-placeholder {
  color: #333333;
}

.reservation-info__input::-ms-input-placeholder {
  color: #333333;
}

.reservation-info__input::placeholder {
  color: #333333;
}

.reservation-info__input:hover {
  border-color: #ce9c6b;
}

.reservation-info__input:focus {
  outline: none;
  border-color: #b99470;
}

input.reservation-info__input {
  height: 45px;
}

textarea.reservation-info__input {
  height: 100px;
  resize: none;
  padding: 19px 16px;
  margin-bottom: 0;
}

.info-title {
  font-size: 24px;
  font-weight: 600;
  margin: 0;
  line-height: 0.85;
  margin-bottom: 20px;
  font-family: 'Merriweather', sans-serif;
  font-style: italic;
}

.info-text {
  margin: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  margin-bottom: 21px;
}

.reservation-date {
  margin-top: 7px;
}

.reservation-date:before {
  background-image: none;
  background-color: #aaaaaa;
  -webkit-mask-image: url(../img/calendar.svg);
          mask-image: url(../img/calendar.svg);
}

.reservation-date .reservation__input {
  color: #333333;
  font-size: 16px;
}

.info-select {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.info-select strong {
  color: #000000;
  font-size: 18px;
  font-weight: 600;
  margin-right: 30px;
}

.page-footer {
  margin-top: 60px;
}

.page-footer__top {
  background-color: #424242;
  padding-top: 60px;
  padding-bottom: 52px;
}

.page-footer__bottom {
  background-color: #3d3d3d;
  padding-top: 18px;
  padding-bottom: 18px;
}

.page-footer__title {
  color: #b99470;
  font-size: 19px;
  line-height: 19.94px;
  margin: 0;
  margin-bottom: 13px;
}

.page-footer__menu {
  line-height: 25px;
}

.page-footer__menu li {
  color: #fff;
}

.page-footer__menu li:not(:last-child) {
  margin-bottom: 9px;
}

.page-footer__menu a {
  -webkit-text-decoration: underline transparent;
          text-decoration: underline transparent;
  color: #fff;
  transition: .3s;
  font-size: 18px;
}

.page-footer__menu a:hover, .page-footer__menu a:focus {
  -webkit-text-decoration: underline #b99470;
          text-decoration: underline #b99470;
}

.address {
  margin-left: 44px;
}

.to-top {
  width: 50px;
  height: 50px;
  background-color: #b99470;
  opacity: 0.87;
  border-radius: 3px;
  cursor: pointer;
  position: fixed;
  z-index: 20;
  bottom: 5%;
  right: 15px;
  transition: .5s ease;
  opacity: 0;
  visibility: hidden;
  transform: translateY(180%);
}

.to-top img {
  transform: rotate(-90deg);
}

.to-top.active {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

.social {
  margin-left: 65px;
}

.social .social__item {
  text-decoration: none;
}

.social .social__item:not(:last-child) {
  margin-right: 20px;
}

.page-footer__row {
  display: flex;
  justify-content: space-between;
}

.copyright, .development {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
}

.btn {
  text-decoration: none;
  max-width: 191px;
  width: 100%;
  height: 49px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .3s;
  font-size: 18px;
  color: #fff;
  border-radius: 3px;
  background-color: #b99470;
  cursor: pointer;
}

.btn:hover, .btn:active, .btn:focus {
  background-color: #ce9c6b;
}

.btn--length {
  height: 35px;
  max-width: 264px;
}

.btn--narrow {
  height: 35px;
  max-width: 193px;
}

.btn--select {
  height: 35px;
  max-width: 193px;
  border: 1px solid transparent;
}

.btn--select.active {
  background: #fff;
  border-color: #b99470;
  color: #000000;
}

.guest__btn {
  margin: 0 auto;
  margin-top: 38px;
}

.reservation__btn {
  margin-left: 40px;
}

.btn-reserv {
  max-width: 156px;
  width: 100%;
  height: 35px;
  border-radius: 3px;
  border: 1px solid #b99470;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 16px;
  margin: 0 auto;
  margin-top: 35px;
  transition: .3s;
}

.btn-reserv:hover, .btn-reserv:focus {
  background-color: #b99470;
  border-color: #b99470;
}

.btn__gallery {
  max-width: 305px;
  height: 46px;
  margin: 0 auto;
  margin-top: 40px;
}

.contacts__btn {
  margin-left: auto;
}

.remove-btn {
  cursor: pointer;
}

@media (min-width: 400px) {
  .apartments__container .thumbs__arrows {
    display: flex;
  }
}

@media (min-width: 768px) {
  .welcome__images {
    display: flex;
    flex-wrap: wrap;
    height: 643px;
    position: relative;
  }
  .welcome__images .welcome__image {
    position: absolute;
    border-radius: 4px;
    height: initial;
    width: initial;
  }
  .welcome__images .welcome__image:nth-child(2) {
    top: 44px;
    right: 10px;
    z-index: 2;
  }
  .welcome__images .welcome__image:nth-child(3) {
    bottom: 0;
    z-index: 3;
    left: 23px;
  }
  .welcome__slider .best__slider-btns,
  .gallery__slider .best__slider-btns {
    display: none;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .reservation__room {
    padding: 0;
  }
  .reservation__room br {
    display: none;
  }
  .reservation__room .room__title {
    font-size: 24px;
  }
  .day-price {
    margin-top: 15px;
  }
  .reservation__room .list {
    margin-bottom: 15px;
    font-size: 18px;
    line-height: 1.5;
  }
  .reservation__room .room__text {
    line-height: 20px;
    margin-bottom: 5px;
  }
  .day-price {
    margin-top: 10px;
  }
  .apartments__container .mx {
    max-width: 320px;
  }
}

@media (max-width: 1199px) {
  .title {
    font-size: 30px;
  }
  .welcome__images img:nth-child(2) {
    top: 94px;
  }
  .header-slider__info {
    margin-top: 126px;
  }
  .header-slider .swiper-slide {
    height: 712px;
  }
  .header-slider__suptitle,
  .header-slider__subtitle {
    font-size: 28px;
  }
  .header-slider__title {
    font-size: 92px;
  }
  .best-item .best-item__img {
    margin-top: 0;
  }
  .best-item .best-item__square,
  .room--mini {
    margin-left: 0;
  }
  .room--mini {
    margin-top: 0;
  }
  .best-item__info {
    display: flex;
    align-items: center;
  }
  .best-item {
    align-items: center;
    justify-content: space-between;
  }
  .best-item .best-item__square {
    padding: 35px;
    margin-right: 54px;
  }
  .mx {
    padding-left: 0;
    max-width: 500px;
  }
  .apartments {
    background-size: 25%;
  }
  .room__list {
    margin-bottom: 34px;
  }
  .prices {
    margin-right: 30px;
  }
  .reservation-second__column:nth-child(1) {
    flex: 0 0 35%;
  }
  .reservation-second__column:nth-child(2) {
    flex: 0 0 65%;
  }
  .reservation__room {
    margin-left: 0;
  }
  .reservation-rooms .no-gutters > .col, .no-gutters > [class*="col-"] {
    padding-left: 15px;
    padding-right: 15px;
  }
  .reservation-rooms .no-gutters {
    margin-left: -15px;
    margin-right: -15px;
  }
}

@media (max-width: 991px) {
  .title {
    font-size: 28px;
  }
  .text {
    max-width: 100%;
  }
  .row--reverse {
    flex-wrap: wrap-reverse;
  }
  .welcome__images {
    margin-top: 30px;
  }
  .welcome__images img:nth-child(3) {
    bottom: 70px;
  }
  .best__column {
    display: flex;
    align-items: center;
  }
  .best__text {
    padding-right: 40px;
  }
  .best-item__info {
    display: block;
    max-width: 320px;
  }
  .room {
    margin-top: -20px;
    margin-left: 35px;
  }
  .gallery__row {
    grid-template-columns: repeat(4, 1fr);
  }
  .reviews-item .reviews-item__top,
  .reviews-item .reviews-item__bottom {
    padding: 20px;
  }
  .logo img {
    width: 70px;
  }
  .navigation a {
    font-size: 14px;
  }
  .navigation__right .phone {
    font-size: 15px;
  }
  .navigation li:not(:last-child) {
    margin-right: 12px;
  }
  .language {
    margin-right: 12px;
  }
  .language li:not(:last-child) {
    margin-right: 0;
  }
  .navigation a:hover::after,
  .navigation a.active::after {
    height: 3px;
  }
  .reservation__row {
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .reservation__label:not(:last-child) {
    margin: 0;
    margin-bottom: 15px;
    width: 50%;
    max-width: 48%;
  }
  label.reservation__label {
    width: 50%;
    max-width: 48%;
    margin: 0;
    margin-bottom: 15px;
  }
  .social {
    margin-left: 30px;
  }
  .page-footer {
    margin-top: 0;
  }
  .grid-gallery {
    grid-template-rows: repeat(4, 160px);
  }
  .grid-gallery--2 {
    grid-template-rows: repeat(2, 160px);
  }
  .contacts__form {
    margin-top: -55px;
  }
  .contacts__input {
    font-size: 16px;
    max-width: 46%;
  }
  .apartments {
    padding-bottom: 50px;
  }
  .apartments__container {
    margin-bottom: 30px;
  }
  .reservation {
    padding-bottom: 50px;
  }
  .reservation__btns--top {
    margin-left: 0;
    margin-top: 20px;
  }
  .reservation__detail {
    margin-top: 30px;
  }
  .reservation-table__column strong {
    font-size: 21px;
  }
  .reservation-table__column {
    height: auto;
  }
  .reservation-table__column {
    padding: 10px;
  }
  .reservation-table__text {
    font-size: 16px;
  }
  .reservation-second__column span {
    font-size: 16px;
  }
  .reservation-second__price strong {
    font-size: 20px;
  }
  .reservation-second {
    display: block;
  }
  .reservation-second__column:nth-child(1) {
    margin-bottom: 20px;
  }
  .reservation-rooms__slider {
    max-width: 100%;
  }
  .reservation__room {
    margin-left: 0;
  }
  .mb39 {
    margin-bottom: 19px;
  }
  .col-md-12.mb39 {
    margin-bottom: 0;
  }
  .reservation__room .list {
    margin-bottom: 20px;
  }
  .day-price {
    margin-top: 20px;
  }
  .room__text br {
    display: none;
  }
  .reservation-rooms__slider img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .pagination {
    padding-bottom: 60px;
  }
  .mb60 {
    margin-bottom: 30px;
  }
  .reservation-info .reservation-date {
    width: 100%;
    max-width: 100%;
  }
  .reservation-info {
    padding-bottom: 30px;
  }
  .reservation-request {
    display: flex;
  }
  .reservation-request .reservation-second__column {
    flex: none;
    margin-bottom: 0;
  }
  .reservation-request .prices {
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {
  .header-slider {
    margin-top: -124px;
  }
  .gallery__row {
    grid-template-columns: repeat(3, 1fr);
  }
  .logo img {
    width: 55px;
  }
  .ham {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: transform 400ms;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .hamRotate.active {
    transform: rotate(45deg);
  }
  .hamRotate180.active {
    transform: rotate(180deg);
  }
  .line {
    fill: none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke: #b99470;
    stroke-width: 5.5;
    stroke-linecap: round;
  }
  .ham4 .top {
    stroke-dasharray: 40 121;
  }
  .ham4 .bottom {
    stroke-dasharray: 40 121;
  }
  .ham4.active .top {
    stroke-dashoffset: -68px;
  }
  .ham4.active .bottom {
    stroke-dashoffset: -68px;
  }
  .navigation {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 25px 15px;
    transition: .3s ease-in-out;
    display: block;
    background: #b99470;
    height: auto;
  }
  .navigation a::after {
    background-color: #fff;
  }
  .navigation > ul {
    display: block;
    margin-bottom: 30px;
  }
  .navigation > ul li {
    margin-bottom: 20px;
  }
  .navigation--open {
    visibility: visible;
    opacity: 1;
  }
  .navigation__right {
    display: block;
  }
  .language {
    margin-bottom: 20px;
  }
  .page-header__mobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .hamburger {
    display: block;
  }
  .hamburger svg {
    margin-right: -15px;
  }
  .header-slider__suptitle,
  .header-slider__subtitle {
    font-size: 20px;
  }
  .header-slider__subtitle::after,
  .header-slider__subtitle::before {
    display: none;
  }
  .header-slider__subtitle {
    padding-left: 40px;
    padding-right: 40px;
  }
  .header-slider__title {
    font-size: 62px;
  }
  .reservation__form {
    padding: 20px 15px;
    margin-top: -120px;
  }
  .reservation__label:not(:last-child) {
    width: 100%;
    max-width: 100%;
  }
  .custom-checkbox {
    justify-content: center;
    margin-top: 15px;
  }
  .title {
    font-size: 24px;
  }
  .welcome__title,
  .best__title {
    margin-bottom: 36px;
  }
  .best__text {
    padding-right: 0;
  }
  .best__column {
    display: block;
  }
  .room {
    margin: 0 auto;
  }
  .room .room__value {
    font-size: 26px;
  }
  .mb60 {
    margin-bottom: 30px;
  }
  .best-item {
    display: block;
  }
  .best-item__info {
    max-width: 100%;
  }
  .best-item .best-item__square {
    width: 100%;
    max-width: 100%;
  }
  .best-item__img {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .best-item .best-item__square {
    padding: 0;
    border: 0;
  }
  .best-item .best-item__title {
    font-family: 'Merriweather', sans-serif;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 1.47px;
    text-align: center;
    margin: 0;
    position: relative;
    font-style: italic;
    margin-bottom: 15px;
    text-align: left;
    margin-top: 25px;
  }
  .best-item .best-item__text {
    color: #000;
    font-style: italic;
    font-weight: 400;
    margin: 0;
    margin-bottom: 30px;
  }
  .room--mini {
    max-width: 240px;
  }
  .address, .social {
    margin-left: 0;
  }
  .page-footer__row,
  .copyright {
    display: block;
    text-align: center;
  }
  .copyright {
    padding-bottom: 20px;
  }
  .pluses {
    padding-top: 52px;
  }
  .room--mini .btn-reserv {
    margin-top: 16px;
  }
  .reservation__btn {
    margin: 0 auto;
  }
  .copyright {
    display: none;
  }
  .welcome__images img {
    height: 255px;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 5px;
    overflow: hidden;
    width: 100%;
  }
  .gallery__row {
    display: flex;
  }
  .grid-gallery {
    grid-template-rows: repeat(4, 100px);
  }
  .grid-gallery--2 {
    grid-template-rows: repeat(2, 100px);
  }
  .contacts__map {
    padding-bottom: 100%;
  }
  .contacts__form {
    margin-top: 30px;
  }
  .contacts__form {
    padding: 26px 15px;
  }
  .contacts__input {
    margin-bottom: 20px;
  }
  .contacts__form .contacts__form-title {
    margin-bottom: 20px;
  }
  .contacts__input {
    font-size: 16px;
    max-width: 100%;
  }
  .contacts__row {
    margin-bottom: 15px;
  }
  .contacts {
    margin-bottom: 50px;
  }
  .to-top {
    display: none;
  }
  .mx {
    display: flex;
    justify-content: center;
    padding-left: 0;
  }
  .room-info {
    margin-top: 36px;
  }
  .list {
    font-size: 16px;
  }
  .reservation__info {
    display: block;
  }
  .btn--length {
    margin-bottom: 15px;
    margin-top: 15px;
  }
  .btn--narrow {
    max-width: 264px;
  }
  .reservation__column,
  .reservation__detail {
    padding: 13px;
  }
  .reservation__container {
    margin-bottom: 0;
  }
  .reservation__column--top .reservation__price {
    font-size: 20px;
  }
  .reservation__price {
    font-size: 16px;
    margin-right: 10px;
  }
  .reservation__value {
    font-size: 16px;
  }
  .reservation__value {
    text-align: right;
  }
  .reservation__btns {
    flex-direction: column;
    align-items: center;
  }
  .reservation__btns--top {
    margin-top: 0;
  }
  .reservation__form--room {
    margin-top: 0;
  }
  .reservation-second__column {
    display: block;
  }
  .reservation-second__column span {
    font-size: 16px;
  }
  .reservation-second__price {
    flex-wrap: wrap;
  }
  .reservation-second__price span {
    display: block;
    margin-right: 20px;
  }
  .reservation-second__price strong {
    margin: 0;
  }
  .reservation-table__row {
    display: block;
  }
  .reservation-table__row--border .reservation-table__column:not(:last-child) {
    border-bottom: 1px dashed #8b8b8b;
  }
  .reservation-table__column {
    height: 100%;
  }
  .reservation-table__text {
    font-size: 16px;
  }
  .reservation-second {
    padding: 15px;
  }
  .prices {
    margin-right: 0;
    margin-bottom: 20px;
    margin-top: 5px;
  }
  .page-header--second {
    padding-bottom: 0;
    box-shadow: 0 0px 8px #424242;
  }
  .apartments-title {
    margin-bottom: 34px;
  }
  .mx {
    padding-left: 3px;
    max-width: 290px;
  }
  .thumbs__arrows {
    max-width: 390px;
    margin: 0 auto;
    margin-top: -86px;
    display: flex;
  }
  .mx {
    margin-top: 15px;
  }
  .reservation__info .reservation__info-number {
    font-size: 18px;
  }
  .info-title {
    font-size: 21px;
  }
  .info-text {
    font-size: 16px;
  }
  .m0a {
    margin: 0 auto;
  }
  .reservation-request .prices {
    margin-bottom: 0;
  }
  .info-select strong {
    width: 15%;
  }
  .reservation-second {
    display: block;
  }
  .reservation-second .reservation-second__column {
    margin-bottom: 15px;
  }
}

@media (max-width: 575px) {
  .gallery__row {
    grid-template-columns: repeat(2, 1fr);
  }
  .welcome__images {
    height: auto;
  }
  .welcome__images img {
    width: 100%;
    max-height: 370px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .welcome__images img {
    position: static;
  }
  .welcome__images img:not(:first-child) {
    margin-top: -30%;
  }
  .guest-dropdown {
    width: 285px;
    padding: 25px 20px;
  }
  .guest-info .guest-name {
    margin-left: 10px;
  }
  .range-slider {
    width: 110px;
  }
  .grid-gallery {
    display: block;
  }
  .grid-gallery .grid-gallery__item {
    display: block;
  }
  .grid-gallery .grid-gallery__item:not(:last-child) {
    margin-bottom: 15px;
  }
}

@media (max-width: 399px) {
  .gallery-thumbs img {
    width: 195px;
  }
  .mx {
    max-width: 210px;
    padding-left: 0;
  }
  .thumbs__arrows {
    margin-top: -76px;
  }
}

/*# sourceMappingURL=main.css.map */
