Options -MultiViews

DirectoryIndex index.html
ErrorDocument 404 /404.html

<If "%{REQUEST_URI} =~ m#^/en(?:/|$)#">
  ErrorDocument 404 /en/404/index.html
</If>

<If "%{REQUEST_URI} =~ m#^/uz(?:/|$)#">
  ErrorDocument 404 /uz/404/index.html
</If>
