@use '@styles/helpers/mixins' as *;

@layer components {
  .container {
    --gap: 12px;
    width: 100%;
    padding-inline: var(--gap);
    margin-inline: auto;
    @media (width >= 576px) {
      max-width: 540px;
    }
    @media (width >= 768px) {
      max-width: 740px;
    }
    @media (width >= 992px) {
      max-width: 940px;
    }
    @media (width >= 1024px) {
      max-width: 980px;
    }
    @media (width >= 1280px) {
      max-width: calc(var(--gap) * 2 + 1240px);
    }
  }
}
