@use '@styles/helpers/mixins' as *;

.container {
  --gap: 12px;
  width: 100%;
  padding-inline: var(--gap);
  margin-inline: auto;
  @include media(min, 576) {
    max-width: 540px;
  }
  @include media(min, 768) {
    max-width: 740px;
  }
  @include media(min, 992) {
    max-width: 940px;
  }
  @include media(min, 1024) {
    max-width: 980px;
  }
  @include media(min, 1280) {
    max-width: calc(var(--gap) * 2 + 1240px);
  }
}
