@use '@styles/helpers/mixins' as *;

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote {
  text-wrap: balance;
}

p {
  text-wrap: pretty;
}

h1,
.h1 {
  font-size: 56px;

  @include media(max, 767) {
    font-size: 32px;
  }
}

h2,
.h2 {
  font-size: 48px;

  @include media(max, 767) {
    font-size: 28px;
  }
}

h3,
.h3 {
  font-size: 32px;

  @include media(max, 767) {
    font-size: 24px;
  }
}

h4,
.h4 {
  font-size: 24px;

  @include media(max, 767) {
    font-size: 20px;
  }
}

.text-xxl {
  font-size: 100px;

  @include media(max, 1199) {
    font-size: 84px;
  }

  @include media(max, 991) {
    font-size: 72px;
  }

  @include media(max, 767) {
    font-size: 56px;
  }
}

.text-xl {
  font-size: 24px;
  line-height: 1;

  @include media(max, 767) {
    font-size: 18px;
  }
}

.text-lg {
  font-size: 20px;
  line-height: 1.3;

  @include media(max, 767) {
    font-size: 14px;
  }
}

.text-md {
  font-size: 18px;
  line-height: 1.4;
  letter-spacing: 0.2px;

  @include media(max, 767) {
    font-size: 14px;
  }
}

.text-sm {
  font-size: 14px;
  line-height: 1.2;
}

.regular {
  font-weight: 400;
}

.medium {
  font-weight: 500;
}

.accent {
  color: var(--accent);
}

.title {
  margin-bottom: 50px;

  @include media(max, 767) {
    margin-bottom: 36px;
  }
}
