:root {
  --main-font: 'Poppins', sans-serif;
  --font-color: #0C1437;
  --opacity-white: rgba(255, 255, 255, .55); }

* {
  box-sizing: border-box; }
  *:before {
    box-sizing: border-box; }
  *:after {
    box-sizing: border-box; }

html, body {
  overflow-x: hidden; }

body {
  height: 100%;
  font-family: var(--main-font);
  color: var(--font-color);
  background: #E6E8F0; }

.unstyled {
  margin: 0;
  padding: 0;
  list-style-type: none; }

::-webkit-input-placeholder {
  opacity: 1; }

::-moz-placeholder {
  opacity: 1; }

:-ms-input-placeholder {
  opacity: 1; }

::-ms-input-placeholder {
  opacity: 1; }

::placeholder {
  opacity: 1; }

::-moz-selection {
  background-color: blue;
  color: #fff; }

::selection {
  background-color: blue;
  color: #fff; }

img {
  vertical-align: top;
  max-width: 100%;
  height: auto; }

svg {
  vertical-align: top;
  max-width: 100%; }

iframe {
  vertical-align: top;
  max-width: 100%; }

.tac {
  text-align: center; }

.tar {
  text-align: right; }

.tal {
  text-align: left; }

.m0 {
  margin: 0; }

.p0 {
  padding: 0; }

.container {
  max-width: 1270px;
  margin: 0 auto;
  padding: 0 15px; }

.row {
  display: flex;
  flex-wrap: wrap; }

.page-header {
  padding-top: 55.4%; }
  .page-header .container {
    margin-top: -55.4%;
    padding-top: 80px; }

.mb95 {
  margin-bottom: 95px; }

.user {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  line-height: 21px;
  padding: 7px; }
  .user .user__image {
    position: relative;
    display: inline-block;
    margin-right: 16px;
    border: 2px solid rgba(255, 255, 255, 0.11);
    border-radius: 50%; }
  .user .user__overflow {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    overflow: hidden;
    margin: 4px;
    transition: .3s; }
    .user .user__overflow img {
      max-width: initial;
      height: initial;
      margin-left: -5px; }

.title-big {
  font-size: 42px;
  line-height: 43px;
  color: #FFFFFF;
  font-weight: 500; }

.header-block .header-block__title {
  margin-bottom: 18px;
  margin-top: 0; }

.header-block .header-block__text {
  max-width: 462px;
  font-size: 14px;
  line-height: 21px;
  color: var(--opacity-white);
  margin-bottom: 26px;
  margin-top: 0; }

.header-social {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  margin-bottom: 83px; }
  .header-social li:not(:last-child) {
    margin-right: 53px; }
  .header-social .header-social__item {
    text-decoration: none;
    width: 135px;
    display: block;
    position: relative; }
    .header-social .header-social__item::after {
      content: '';
      position: absolute;
      right: 10px;
      width: 8px;
      height: 16px;
      top: 50%;
      margin-top: -8px;
      transition: .3s;
      background-image: url(../img/arrow.svg); }
    .header-social .header-social__item:hover::after, .header-social .header-social__item:active::after {
      transform: translateX(5px); }
  .header-social .header-social__name {
    display: inline-flex;
    align-items: center;
    font-size: 14px;
    line-height: 21px;
    color: #fff; }
  .header-social .header-social__icon {
    margin-right: 6px; }
  .header-social .header-social__followers {
    display: block;
    color: var(--opacity-white);
    font-size: 14px;
    line-height: 21px; }

.btn__text {
  color: var(--opacity-white);
  font-size: 10px;
  line-height: 21px;
  display: block; }

.page-main {
  padding-bottom: 140px; }

.design {
  padding-top: 100px; }

.design__item {
  background: #FFFFFF;
  box-shadow: 0px 21px 30px rgba(0, 0, 0, 0.0724921);
  border-radius: 5px;
  padding: 48px 32px;
  max-width: 390px;
  width: 100%;
  transition: transform 1.2s cubic-bezier(0.165, 0.84, 0.44, 1) 0.2s; }
  .design__item:not(:last-child) {
    margin-right: 35px; }

.title {
  font-size: 34px;
  line-height: 43px;
  font-weight: 600;
  color: #0C1437;
  margin-top: 0;
  margin-left: 40px;
  margin-bottom: 35px;
  font-weight: normal; }

.design__icon {
  margin-bottom: 15px; }

.design__title {
  margin-top: 0;
  font-size: 18px;
  line-height: 43px;
  color: #0C1437;
  font-weight: normal;
  margin-bottom: 0; }

.design__text {
  font-size: 14px;
  line-height: 21px;
  color: rgba(12, 20, 55, 0.55);
  margin: 0; }

.work-section {
  padding-top: 110px;
  padding-bottom: 110px; }

.work {
  box-shadow: 0px 12px 12px rgba(0, 0, 0, 0.0724921);
  border-radius: 5px;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 33px;
  max-width: 602px;
  width: 100%;
  height: 424px;
  display: flex;
  transform-style: preserve-3d;
  background-position: center; }

.work:nth-child(1) {
  background-image: url(../img/w01.png); }

.work:nth-child(2) {
  background-image: url(../img/w02.png); }

.work:nth-child(3) {
  background-image: url(../img/w03.png); }

.work:nth-child(4) {
  background-image: url(../img/w04.png); }

.work:nth-child(5) {
  background-image: url(../img/w05.png); }

.work:nth-child(6) {
  background-image: url(../img/w06.png); }

.work__info {
  margin-top: auto;
  transform: translateZ(5px); }

.work__subtitle {
  font-size: 14px;
  line-height: 21px;
  color: var(--opacity-white); }

.work__title {
  margin-bottom: 38px;
  margin-top: 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  color: #FFFFFF; }

.work__link {
  -webkit-text-decoration: underline transparent;
          text-decoration: underline transparent;
  color: #fff;
  font-size: 14px;
  line-height: 21px;
  color: #FFFFFF;
  transition: .3s; }
  .work__link:hover, .work__link:active {
    text-decoration: underline; }

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 35px; }

.reviews {
  padding-top: 85px;
  padding-bottom: 85px;
  background-color: #0C1437;
  position: relative; }
  .reviews:after {
    content: '';
    opacity: .1;
    background-image: url(../img/lines.png);
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }
  .reviews .reviews__row {
    display: flex;
    align-items: center; }
  .reviews .reviews__info {
    margin-right: 100px;
    min-width: 365px; }
  .reviews .reviews__title {
    margin-top: 0;
    margin-bottom: 15px; }
  .reviews .reviews__text {
    font-size: 14px;
    line-height: 21px;
    color: var(--opacity-white);
    display: flex;
    align-items: center;
    margin: 0; }
    .reviews .reviews__text img {
      margin-right: 10px; }

.review-item {
  background-color: #213070;
  border-radius: 5px;
  padding: 48px 32px;
  max-width: 360px; }
  .review-item .review-item__icon {
    margin-bottom: 30px; }
  .review-item .review-item__title {
    margin-top: 0;
    margin-bottom: 2px;
    font-weight: 500;
    font-size: 18px;
    line-height: 43px;
    color: #fff; }
  .review-item .review-item__text {
    margin: 0;
    font-size: 14px;
    line-height: 21px;
    color: var(--opacity-white); }

.reviews-slider {
  overflow: initial; }

.overflow-slider {
  margin-right: -30%;
  padding-right: 30%;
  overflow: hidden; }

.articles {
  padding-top: 100px; }

.articles__top {
  display: flex;
  align-items: center; }

.view-all {
  margin-bottom: 33px;
  border: 1px solid rgba(12, 20, 55, 0.5);
  border-radius: 4px;
  width: 105px;
  height: 38px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 14px;
  line-height: 21px;
  color: #0C1437;
  margin-left: 18px;
  transition: .3s; }
  .view-all:hover, .view-all:active {
    border-color: #0C1437; }

.article {
  transform-style: preserve-3d;
  box-shadow: 0px 12px 12px rgba(0, 0, 0, 0.0724921);
  border-radius: 5px;
  height: 423px;
  max-width: 390px;
  width: 100%;
  padding: 32px;
  display: flex;
  position: relative;
  background-repeat: no-repeat; }
  .article:not(:last-child) {
    margin-right: 30px; }
  .article:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: .22;
    background-repeat: no-repeat; }
  .article--blue {
    background-color: #4C64CD; }
    .article--blue:after {
      background-image: url(../img/lines2.png); }
  .article--darkblue {
    background-color: #1B2163; }
    .article--darkblue:after {
      background-image: url(../img/lines3.png); }
  .article--purple {
    background-color: #451D74; }
    .article--purple:after {
      background-image: url(../img/lines4.png); }

.projects {
  padding-top: 100px; }

.project {
  padding: 45px 35px;
  background: #232227;
  box-shadow: 0px 12px 12px rgba(0, 0, 0, 0.0724921);
  border-radius: 5px;
  max-width: 390px;
  width: 100%;
  transform-style: preserve-3d; }
  .project .project__info {
    transform: translateZ(5px); }
  .project:not(:last-child) {
    margin-right: 30px; }
  .project .work__title {
    margin-bottom: 5px; }
  .project .work__subtitle {
    display: block;
    margin-bottom: 18px;
    min-height: 43px; }

.mb2 {
  margin-bottom: 2px; }

.stack {
  padding-top: 105px; }
  .stack .stack__text {
    text-align: center;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: rgba(12, 20, 55, 0.55);
    margin-top: 0; }

.mb40 {
  margin-bottom: 40px; }

.title--tac {
  text-align: center;
  margin-left: 0; }

.mw1040 {
  max-width: 1040px; }

.stack__item {
  width: 88px;
  height: 88px;
  background: #FFFFFF;
  box-shadow: 0px 12px 12px rgba(0, 0, 0, 0.0724921);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center; }
  .stack__item:not(:last-child) {
    margin-right: 27px; }

.overflow {
  display: block;
  text-align: start;
  position: relative;
  overflow: hidden; }
  .overflow.w145 {
    width: 145px; }

.text-anim {
  transform: translateY(140%);
  transition: transform 1.2s cubic-bezier(0.165, 0.84, 0.44, 1) 0.2s; }
  .text-anim--title {
    transform: translateY(200%); }

.text-anim.animated, .text-anim-top.animated, .text-anim--title.animated {
  transform: translateY(0);
  transition-delay: .2s; }

.page-footer {
  background-color: #0C1437;
  padding-top: 93px;
  position: relative;
  z-index: 1; }
  .page-footer:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(../img/lines5.png);
    background-repeat: no-repeat;
    background-position: center top;
    opacity: .2;
    z-index: -1; }
  .page-footer .title-big {
    margin: 0; }

.page-footer__text {
  font-size: 14px;
  line-height: 21px;
  color: var(--opacity-white);
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px; }

.mb52 {
  margin-bottom: 52px; }

.mail {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 21px;
  color: var(--opacity-white);
  text-align: center;
  justify-content: center; }
  .mail a {
    -webkit-text-decoration: underline transparent;
            text-decoration: underline transparent;
    color: inherit;
    transition: .3s; }
    .mail a:hover, .mail a:active {
      text-decoration: underline; }
  .mail img {
    margin-right: 10px; }

.form {
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 75px; }
  .form .form__label {
    font-size: 14px;
    line-height: 21px;
    color: var(--opacity-white);
    margin-bottom: 15px;
    display: block; }
  .form .form__input {
    display: block;
    background: #FFFFFF;
    box-shadow: 0px 12px 12px rgba(0, 0, 0, 0.0724921);
    border-radius: 5px;
    width: 100%;
    height: 40px;
    margin-top: 5px;
    border: none;
    padding: 0 18px; }
    .form .form__input::-webkit-input-placeholder {
      font-size: 12px;
      color: rgba(12, 20, 55, 0.55); }
    .form .form__input::-moz-placeholder {
      font-size: 12px;
      color: rgba(12, 20, 55, 0.55); }
    .form .form__input:-ms-input-placeholder {
      font-size: 12px;
      color: rgba(12, 20, 55, 0.55); }
    .form .form__input::-ms-input-placeholder {
      font-size: 12px;
      color: rgba(12, 20, 55, 0.55); }
    .form .form__input::placeholder {
      font-size: 12px;
      color: rgba(12, 20, 55, 0.55); }
    .form .form__input--message {
      height: 180px;
      padding-top: 15px;
      line-height: 20px; }
  .form .btn {
    margin-top: 30px;
    border: none; }

.page-footer__bottom {
  border-top: 1px solid #152361;
  padding-top: 25px;
  padding-bottom: 25px; }

.copy {
  font-size: 14px;
  line-height: 21px;
  color: var(--opacity-white);
  display: inline-block; }

.h-button span {
  display: inline-block;
  transition: 0.25s cubic-bezier(0.5, -1, 0.5, 2);
  opacity: 0;
  transform: translate(0, -20px); }

.h-button:before {
  content: attr(data-text);
  position: absolute;
  width: 100%;
  left: 0;
  transition: 0.85s cubic-bezier(0.5, -1, 0.5, 2);
  opacity: 1;
  transform: translate(0, 0px); }

.h-button:hover:before, .h-button:focus:before {
  opacity: 0;
  transform: translate(0, 20px); }

.h-button:hover span, .h-button:focus span {
  opacity: 1;
  transform: translate(0, 0); }

span:nth-child(1) {
  transition-delay: 0.025s; }

span:nth-child(2) {
  transition-delay: 0.05s; }

span:nth-child(3) {
  transition-delay: 0.075s; }

span:nth-child(4) {
  transition-delay: 0.1s; }

span:nth-child(5) {
  transition-delay: 0.125s; }

span:nth-child(6) {
  transition-delay: 0.15s; }

span:nth-child(7) {
  transition-delay: 0.175s; }

span:nth-child(8) {
  transition-delay: 0.2s; }

span:nth-child(9) {
  transition-delay: 0.225s; }

span:nth-child(10) {
  transition-delay: 0.25s; }

span:nth-child(11) {
  transition-delay: 0.275s; }

span:nth-child(12) {
  transition-delay: 0.3s; }

span:nth-child(13) {
  transition-delay: 0.325s; }

span:nth-child(14) {
  transition-delay: 0.35s; }

span:nth-child(15) {
  transition-delay: 0.375s; }

span:nth-child(16) {
  transition-delay: 0.4s; }

span:nth-child(17) {
  transition-delay: 0.425s; }

span:nth-child(18) {
  transition-delay: 0.45s; }

span:nth-child(19) {
  transition-delay: 0.475s; }

span:nth-child(20) {
  transition-delay: 0.5s; }

span:nth-child(21) {
  transition-delay: 0.525s; }

span:nth-child(22) {
  transition-delay: 0.55s; }

span:nth-child(23) {
  transition-delay: 0.575s; }

.btn {
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #091234;
  text-decoration: none;
  background: #FFFFFF;
  border-radius: 4px;
  font-weight: 600;
  height: 54px;
  width: 254px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  transition: transform 1.2s cubic-bezier(0.165, 0.84, 0.44, 1) 0.2s;
  cursor: pointer; }

@media (min-width: 768px) and (max-width: 991px) {
  .design__item {
    padding: 40px 25px; }
  .design__title {
    font-size: 14px; }
  .design__text {
    font-size: 13px; } }

@media (max-width: 1269px) {
  .page-header {
    padding-bottom: 70px; }
  .design .row, .articles .row, .projects .row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px; }
  .stack .row {
    display: grid;
    grid-gap: 45px;
    grid-template-columns: repeat(auto-fill, 88px);
    justify-content: center; }
  .article {
    max-width: 100%; }
    .article:not(:last-child) {
      margin-right: 0; }
  .stack {
    padding-left: 15px;
    padding-right: 15px; } }

@media (max-width: 991px) {
  .stack {
    padding-top: 75px;
    padding-left: 15px;
    padding-right: 15px; }
  .title-big {
    font-size: 32px; }
  .title {
    font-size: 24px; }
  .reviews .reviews__info {
    margin-right: 20px;
    min-width: 275px;
    margin-bottom: 30px; }
  .design__item {
    max-width: 296px; }
  .article, .project {
    max-width: 300px; }
  .stack__item:not(:last-child) {
    margin-right: 24px; }
  .stack__item {
    width: 85px;
    height: 85px; } }

@media (max-width: 767px) {
  .page-header .container {
    padding-top: 40px; }
  .mb95 {
    margin-bottom: 55px; }
  .header-social {
    margin-bottom: 53px; }
  .design__item {
    margin-right: 0; }
    .design__item:not(:last-child) {
      margin-bottom: 30px;
      margin-right: 0; }
  .title {
    margin-left: 0; }
  .design {
    padding-top: 30px; }
  .work-section {
    padding-top: 70px;
    padding-bottom: 70px; }
  .grid {
    display: block; }
  .work {
    margin-bottom: 30px; }
  .reviews {
    padding-top: 70px; }
    .reviews .reviews__info {
      margin-right: 0;
      min-width: initial;
      margin-bottom: 30px; }
    .reviews .reviews__row {
      display: block; }
  .articles, .projects {
    padding-top: 70px; }
  .article:not(:last-child) {
    margin-right: 0;
    margin-bottom: 30px; }
  .project:not(:last-child) {
    margin-right: 0;
    margin-bottom: 30px; }
  .title--tac {
    margin-bottom: 5px; }
  .stack__item {
    margin: 0; }
  .stack__item:not(:last-child) {
    margin-right: 0; }
  .page-footer {
    padding-top: 75px; }
  .review-item {
    padding: 40px 20px;
    max-width: 250px; }
  .design .row, .articles .row, .projects .row {
    display: block; }
  .work, .design__item, .article, .project {
    max-width: 100%; }
  .header-social li:not(:last-child) {
    margin-right: 25px; } }

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .work:nth-child(1) {
    background-image: url(../img/w01@2x.png); }
  .work:nth-child(2) {
    background-image: url(../img/w02@2x.png); }
  .work:nth-child(3) {
    background-image: url(../img/w03@2x.png); }
  .work:nth-child(4) {
    background-image: url(../img/w04@2x.png); }
  .work:nth-child(5) {
    background-image: url(../img/w05@2x.png); }
  .work:nth-child(6) {
    background-image: url(../img/w06@2x.png); } }

/*# sourceMappingURL=main.css.map */
