@font-face {
  font-family: 'Geometria';
  src: url("../fonts/subset-Geometria.woff2") format("woff2"), url("../fonts/subset-Geometria.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Geometria';
  src: url("../fonts/subset-Geometria-Bold.woff2") format("woff2"), url("../fonts/subset-Geometria-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Geometria';
  src: url("../fonts/subset-Geometria-Medium.woff2") format("woff2"), url("../fonts/subset-Geometria-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap; }

* {
  box-sizing: border-box; }
  *:before {
    box-sizing: border-box; }
  *:after {
    box-sizing: border-box; }

body {
  height: 100%;
  font-size: 16px;
  font-family: "Geometria", sans-serif;
  color: #0E0E0E;
  overflow-x: hidden; }

.unstyled {
  margin: 0;
  padding: 0;
  list-style-type: none; }

::-webkit-input-placeholder {
  opacity: 1; }

::-moz-placeholder {
  opacity: 1; }

:-ms-input-placeholder {
  opacity: 1; }

::-ms-input-placeholder {
  opacity: 1; }

::placeholder {
  opacity: 1; }

::-moz-selection {
  background-color: #FFB800;
  color: #fff; }

::selection {
  background-color: #FFB800;
  color: #fff; }

img {
  vertical-align: top;
  max-width: 100%;
  height: auto; }

svg {
  vertical-align: top;
  max-width: 100%; }

iframe {
  vertical-align: top;
  max-width: 100%; }

.tac {
  text-align: center; }

.tar {
  text-align: right; }

.page-header {
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.07); }

.page-header__container {
  padding: 17px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between; }

.navbar ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0; }

.navbar li:not(:last-child) {
  margin-right: 30px; }

.navbar a {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #0E0E0E;
  text-transform: uppercase;
  text-decoration: none;
  transition: .3s; }
  .navbar a:hover, .navbar a:active, .navbar a.current_page_item {
    color: #FFCB45; }

.logo {
  display: block; }

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 960px; }

.contact-info .contact-info__phone, .contact-info .contact-info__mail {
  display: block;
  text-decoration: none;
  transition: .3s; }

.contact-info .contact-info__chart {
  font-size: 13px;
  line-height: 16px;
  color: #9D9D9D;
  margin-bottom: 3px; }

.contact-info .contact-info__phone {
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  padding-left: 25px;
  position: relative;
  margin-bottom: 2px; }
  .contact-info .contact-info__phone::before {
    content: '';
    transition: .3s;
    width: 15px;
    height: 15px;
    background: #FFCB45;
    -webkit-mask: url(../img/sprite.svg#icon-phone);
            mask: url(../img/sprite.svg#icon-phone);
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    left: 0; }
  .contact-info .contact-info__phone:hover::before, .contact-info .contact-info__phone:active::before {
    background: #0E0E0E; }

.contact-info .contact-info__mail {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #FFCB45;
  -webkit-text-decoration: underline transparent;
          text-decoration: underline transparent; }
  .contact-info .contact-info__mail:hover, .contact-info .contact-info__mail:active {
    text-decoration: underline; }

.menu-toggler {
  height: 30px;
  width: 30px;
  border: 0;
  padding: 0;
  background-color: #FFB800;
  -webkit-mask: url(../img/sprite.svg#icon-list);
          mask: url(../img/sprite.svg#icon-list);
  cursor: pointer;
  display: none;
  transition: .3s; }
  .menu-toggler:hover, .menu-toggler:active, .menu-toggler.active {
    background: #9D9D9D; }

@media (min-width: 992px) and (max-width: 1199px) {
  .logo {
    -webkit-transform: scale(0.85);
            transform: scale(0.85); }
  .navbar a {
    font-size: 13px; }
  .navigation {
    max-width: 780px; }
  .contact-info .contact-info__phone {
    font-size: 15px; } }

@media (max-width: 991px) {
  .page-header__container, .navigation {
    display: block; }
  .page-header__container {
    max-width: 100%; }
  .navigation {
    padding: 15px;
    margin-top: -100%;
    position: absolute;
    transition: margin .6s, position .1s;
    z-index: 9;
    background: #fff; }
    .navigation.active {
      margin-top: 0;
      position: relative; }
  .navbar {
    margin-bottom: 20px; }
    .navbar ul {
      display: block; }
    .navbar li {
      margin-bottom: 5px; }
  .menu-toggler {
    display: block; }
  .page-header__container {
    padding: 0; }
  .logo-area {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 10;
    padding: 15px;
    background: #fff; } }

.main-slider {
  margin: 30px 0 70px; }

.main-slider__item {
  border-radius: 8px;
  overflow: hidden;
  height: 100vh;
  max-height: 500px;
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  padding: 0 100px;
  background-position: center; }
  .main-slider__item:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 8px;
    z-index: -1;
    background: linear-gradient(0deg, rgba(255, 203, 69, 0.3), rgba(255, 203, 69, 0.3)), linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)); }

.opacity-item {
  margin: 0 20px;
  background-size: cover;
  max-height: 450px;
  border-radius: 10px; }
  .opacity-item::after {
    border-radius: 10px;
    background: linear-gradient(0deg, rgba(255, 203, 69, 0.8), rgba(255, 203, 69, 0.8)), linear-gradient(0deg, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)); }
  .opacity-item .main-slider__title {
    color: #000; }
  .opacity-item .border-title::after {
    border-color: #fff; }
  .opacity-item .main-slider__text {
    color: #333333; }
  .opacity-item .arrow-link {
    color: #000; }

.owl-nav {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 20px;
  right: 20px;
  display: flex;
  justify-content: space-between; }
  .owl-nav .owl-prev,
  .owl-nav .owl-next {
    height: 50px;
    width: 50px;
    background: rgba(255, 255, 255, 0.2) !important;
    border-radius: 50%;
    position: relative;
    transition: .3s; }
    .owl-nav .owl-prev:hover, .owl-nav .owl-prev:active,
    .owl-nav .owl-next:hover,
    .owl-nav .owl-next:active {
      background: rgba(255, 255, 255, 0.35) !important; }
  .owl-nav .owl-prev span,
  .owl-nav .owl-next span {
    position: absolute;
    width: 17px;
    height: 17px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    display: block;
    background: #fff;
    -webkit-mask: url(../img/sprite.svg#icon-arrow);
            mask: url(../img/sprite.svg#icon-arrow); }
  .owl-nav .owl-next span {
    -webkit-transform: translate(-50%, -50%) rotate(180deg);
            transform: translate(-50%, -50%) rotate(180deg); }
  .owl-nav span {
    font-size: 0; }

.main-slider__info {
  max-width: 620px;
  position: relative;
  z-index: 6; }

.main-slider__title {
  font-size: 48px;
  line-height: 60px;
  font-weight: 500;
  color: #FFFFFF;
  margin-bottom: 20px;
  margin-top: 20px; }

.border-title {
  position: relative;
  padding-bottom: 20px; }
  .border-title::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    border-bottom: 3px solid #FFB800;
    width: 150px; }

.main-slider__text {
  font-size: 20px;
  line-height: 150%;
  color: rgba(255, 255, 255, 0.8); }

.main-slider__link .arrow-circle {
  margin-left: 20px; }

@media (max-width: 767px) {
  .mobile-container {
    padding-left: 0;
    padding-right: 0; }
  .main-slider__item {
    padding: 0 15px; }
  .main-slider__title {
    font-size: 32px; }
  .main-slider__text {
    font-size: 18px; }
  .main-slider__link .arrow-circle {
    width: 35px;
    height: 35px;
    margin-left: 10px; }
  .main-slider__link .arrow-link {
    font-size: 16px; }
  .mobile-container {
    max-width: 100%; } }

.apartments__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px; }
  .apartments__info .apartments__title {
    font-size: 24px;
    line-height: 30px;
    color: #000000;
    font-weight: 500;
    margin: 0; }
    .apartments__info .apartments__title a {
      color: #0047FF;
      transition: .3s; }
      .apartments__info .apartments__title a:hover, .apartments__info .apartments__title a:active {
        -webkit-text-decoration: underline transparent;
                text-decoration: underline transparent; }

.orange-line {
  background: #FFCB45;
  width: 150px;
  height: 3px;
  display: inline-block;
  margin-right: 50px;
  vertical-align: middle;
  margin-top: -3px; }
  @media (max-width: 991px) {
    .orange-line {
      display: block;
      margin-bottom: 5px; } }

.banner {
  position: relative;
  max-height: 350px;
  max-width: 270px;
  margin-right: 30px;
  flex-shrink: 0;
  overflow: hidden; }
  .banner::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 1.5em;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.55);
    -webkit-transform: translateX(-13em) skewX(-45deg);
            transform: translateX(-13em) skewX(-45deg); }
  .banner:hover:after {
    -webkit-animation: move-light 1s ease;
            animation: move-light 1s ease; }

@-webkit-keyframes move-light {
  from {
    -webkit-transform: translateX(-13em) skewX(-45deg);
            transform: translateX(-13em) skewX(-45deg); }
  to {
    -webkit-transform: translateX(30em) skewX(-45deg);
            transform: translateX(30em) skewX(-45deg); } }

@keyframes move-light {
  from {
    -webkit-transform: translateX(-13em) skewX(-45deg);
            transform: translateX(-13em) skewX(-45deg); }
  to {
    -webkit-transform: translateX(30em) skewX(-45deg);
            transform: translateX(30em) skewX(-45deg); } }

.apartments__container {
  display: flex; }

.apartments__slide {
  text-decoration: none;
  font-size: 14px; }
  .apartments__slide .apartments__img img {
    max-height: 350px; }

.apartments__area {
  padding: 20px 0; }
  .apartments__area .apartments__area-title {
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    margin-top: 0;
    margin-bottom: 7px; }
  .apartments__area .apartments__area-geo {
    font-size: 14px;
    line-height: 18px;
    color: #444444;
    padding-left: 17px;
    position: relative; }
    .apartments__area .apartments__area-geo::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%);
      width: 13px;
      height: 13px;
      background: url(../img/sprite.svg#icon-geo); }

.apartments__link {
  margin-bottom: 70px;
  display: inline-block; }

@media (max-width: 991px) {
  .apartments__container {
    flex-direction: column; }
  .apartments__link {
    margin-top: 15px; }
  .banner {
    order: 2; } }

@media (max-width: 767px) {
  .apartments__info {
    align-items: flex-end; }
    .apartments__info .apartments__title {
      font-size: 18px; }
  .nav-btns .arrow-circle {
    width: 40px;
    height: 40px; }
  .apartments__container {
    padding-right: 0; }
  .apartments__link {
    margin-bottom: 40px;
    margin-top: 40px; }
  .banner {
    margin-top: 30px; } }

.apartments__slide .apartments__img--grid img {
  width: initial;
  display: initial; }

.apartments__img--grid {
  background: #fff;
  border-radius: 6px;
  padding: 15px;
  display: -ms-grid;
  display: grid;
  gap: 15px;
  -ms-grid-columns: 1fr 15px 1fr;
  grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: 112px 15px 112px;
  grid-template-rows: repeat(2, 112px);
  max-width: 400px; }

.apartments__img--grid > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1; }

.apartments__img--grid > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3; }

.apartments__img--grid > *:nth-child(3) {
  -ms-grid-row: 3;
  -ms-grid-column: 1; }

.apartments__img--grid > *:nth-child(4) {
  -ms-grid-row: 3;
  -ms-grid-column: 3; }
  .apartments__img--grid img {
    max-width: initial;
    height: initial; }
    .apartments__img--grid img:nth-child(1) {
      -ms-grid-row: 1;
      -ms-grid-row-span: 2;
      grid-row: 1 / 3; }

.apartments--grey {
  background: #FBFBFB;
  margin: 0 15px;
  padding-top: 20px;
  border-radius: 10px;
  padding-bottom: 40px;
  margin-bottom: 70px; }
  .apartments--grey .apartments__container {
    margin-bottom: 34px; }
  .apartments--grey .nav-btns .arrow-circle:hover, .apartments--grey .nav-btns .arrow-circle:active {
    background: #fff; }

.main-slider__select {
  margin: 0;
  border-radius: 0;
  overflow: initial;
  max-height: 230px; }
  .main-slider__select::after {
    border-radius: 0; }
  .main-slider__select .main-slider__info {
    max-width: 100%; }

.bg-orange {
  background: #FFCB45; }

.select-row {
  padding: 20px 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 720px;
  justify-content: space-between; }
  .select-row .custom-select,
  .select-row .select-button {
    margin-top: 0; }
  .select-row .custom-select:hover, .select-row .custom-select:focus {
    border-color: #000; }
  .select-row .select-button {
    background: #fff; }
  .select-row .select-title {
    font-weight: 500; }

.select-area-bg {
  margin-bottom: 40px; }

.mb30 {
  margin-bottom: 10px; }

@media (max-width: 767px) {
  .select-row .custom-select {
    margin: 20px 0;
    margin-right: 20px; }
  .select-title {
    width: 100%; }
  .mb30 {
    justify-content: center;
    display: flex; } }

.wrapper {
  margin-top: 30px;
  margin-bottom: 40px;
  display: flex; }

.tabs .tab {
  display: block;
  max-width: 180px;
  max-height: 105px;
  width: 100%;
  height: auto;
  margin-right: 20px;
  margin-bottom: 20px; }
  .tabs .tab img {
    width: 100%; }
  .tabs .tab.active::after {
    background: linear-gradient(0deg, rgba(255, 184, 0, 0.6), rgba(255, 184, 0, 0.6)); }

.tabs .tab {
  position: relative;
  overflow: hidden;
  border-radius: 6px;
  cursor: pointer; }
  .tabs .tab::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
    transition: .3s; }

.text {
  margin-bottom: 100px; }
  .text .text__title {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    margin-top: 0;
    margin-bottom: 30px; }
  .text p {
    font-size: 16px;
    line-height: 150%;
    color: #000000;
    margin-bottom: 30px; }

.page-aside {
  margin-top: 30px; }

.region-pick {
  background: #FFFFFF;
  border: 1px solid #EBEBEB;
  border-radius: 6px;
  overflow: hidden;
  margin-bottom: 30px; }
  .region-pick ul {
    list-style: none;
    padding: 10px 0;
    margin: 0; }
  .region-pick li {
    padding: 10px 40px;
    transition: .3s; }
    .region-pick li:hover, .region-pick li:active {
      background: #FFB800; }
      .region-pick li:hover a, .region-pick li:active a {
        color: #fff; }
  .region-pick a {
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    text-decoration: none;
    transition: .3s; }

.region-pick__title {
  background: #FFB800;
  padding: 18px 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  text-align: center; }

.mr0 {
  margin-right: 0;
  margin-bottom: 30px; }

@media (max-width: 991px) {
  .wrapper {
    flex-direction: column; }
  .tab_content {
    order: -1;
    margin-bottom: 15px; } }

@media (max-width: 767px) {
  .tabs {
    display: flex;
    flex-wrap: wrap; }
    .tabs .tab {
      max-width: 112.5px; }
      .tabs .tab:last-child {
        margin-right: 0; }
  .text {
    margin-bottom: 50px; }
  .page-aside {
    margin-top: 0; }
  .m-order-2 {
    order: -1;
    margin-top: 30px; } }

@media (min-width: 768px) and (max-width: 991px) {
  .tabs {
    display: flex;
    flex-wrap: wrap; }
    .tabs .tab {
      max-width: 105px;
      margin-right: 10px; }
      .tabs .tab:last-child {
        margin-right: 0; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .tabs {
    padding-right: 20px; }
    .tabs .tab {
      margin-right: 0;
      max-width: 142px; } }

.page-footer {
  background: #fff;
  padding: 50px 0; }

.mt30 {
  margin-top: 30px; }

.logo-copy {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 210px;
  align-items: center;
  height: 100%; }

.copy {
  font-size: 15px;
  line-height: 24px;
  letter-spacing: -0.1px;
  color: #000000; }

.footer-menu .footer-menu__title {
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: -0.2px;
  color: #000000;
  margin-bottom: 12px;
  margin-top: 0; }

.footer-menu ul {
  padding: 0;
  margin: 0;
  list-style: none; }
  .footer-menu ul li:not(:last-child) {
    margin-bottom: 10px; }
  .footer-menu ul a {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.1px;
    color: #000000;
    text-decoration: none;
    transition: .3s; }
    .footer-menu ul a:hover, .footer-menu ul a:active {
      color: #FFB800; }

@media (max-width: 767px) {
  .logo-copy {
    align-items: flex-start;
    max-width: 100%; }
  .logo-footer {
    margin-bottom: 15px; } }

.arrow-link {
  font-size: 18px;
  line-height: 150%;
  color: #FFFFFF;
  text-decoration: none;
  display: flex;
  align-items: center;
  transition: .5s;
  -webkit-text-decoration: underline transparent;
          text-decoration: underline transparent; }
  .arrow-link:hover, .arrow-link:active {
    text-decoration: underline; }
    .arrow-link:hover .arrow-circle, .arrow-link:active .arrow-circle {
      background: #000; }
      .arrow-link:hover .arrow-circle::after, .arrow-link:active .arrow-circle::after {
        background: #fff; }

.arrow-circle {
  height: 50px;
  width: 50px;
  background: #FFFFFF;
  display: inline-block;
  border-radius: 50%;
  position: relative;
  transition: .5s; }
  .arrow-circle::after {
    content: '';
    width: 17px;
    height: 17px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background: #000;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    transition: .5s;
    -webkit-mask: url(../img/sprite.svg#icon-arrow);
            mask: url(../img/sprite.svg#icon-arrow); }

.nav-btns {
  display: flex; }
  .nav-btns .arrow-circle {
    background: none;
    border: transparent;
    cursor: pointer; }
    .nav-btns .arrow-circle:hover, .nav-btns .arrow-circle:active {
      background: #F5F6F8; }
  .nav-btns .prevBtn {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    margin-right: 10px; }

.all-link {
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  text-decoration: none;
  font-weight: 500;
  padding-right: 27px;
  position: relative;
  transition: .3s; }
  .all-link::after {
    content: '';
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%) rotate(180deg);
            transform: translateY(-50%) rotate(180deg);
    background: #000;
    width: 12px;
    height: 12px;
    right: 0;
    -webkit-mask: url(../img/sprite.svg#icon-arrow);
            mask: url(../img/sprite.svg#icon-arrow);
    margin-top: 2px;
    transition: inherit; }
  .all-link:hover, .all-link:active {
    color: #FFB800; }
    .all-link:hover::after, .all-link:active::after {
      background: #FFB800;
      -webkit-transform: translateY(-50%) translateX(5px) rotate(180deg);
              transform: translateY(-50%) translateX(5px) rotate(180deg); }

.select-button {
  background: #FFCB45;
  border-radius: 6px;
  width: 155px;
  height: 50px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: .3s;
  text-decoration: none;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  color: #000000;
  margin-top: 20px; }
  .select-button:hover, .select-button:active {
    color: #FFCB45;
    background: #000; }

@media (max-width: 767px) {
  .apartments__title {
    font-size: 20px; } }

.overlay {
  background: rgba(0, 0, 0, 0.3);
  -webkit-filter: blur(8px);
          filter: blur(8px);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 25;
  transition: .5s;
  visibility: hidden;
  opacity: 0;
  cursor: pointer; }
  .overlay--active {
    visibility: visible;
    opacity: 1; }

.modal {
  visibility: hidden;
  opacity: 0;
  transition: .5s;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 30; }
  .modal--active {
    visibility: visible;
    opacity: 1; }

.modal-select {
  max-width: 615px;
  width: 100%;
  padding: 25px;
  background: #FFFFFF;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.05);
  border-radius: 6px; }

.modal-close {
  width: 40px;
  height: 40px;
  background: #F5F5F5;
  border-radius: 50%;
  line-height: 0;
  font-size: 25px;
  cursor: pointer;
  border: none;
  transition: .3s;
  position: absolute;
  padding: 0;
  right: 25px;
  top: 30px; }
  .modal-close::after {
    content: '';
    background: #000;
    width: 15px;
    height: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    -webkit-mask: url(../img/sprite.svg#icon-x);
            mask: url(../img/sprite.svg#icon-x);
    transition: .3s; }
  .modal-close:hover, .modal-close:active {
    background: #000; }
    .modal-close:hover::after, .modal-close:active::after {
      background: #FFB800; }

.modal-title {
  font-size: 20px;
  line-height: 25px;
  color: #000000;
  margin-top: 15px;
  margin-bottom: 15px; }

.custom-select {
  background: #FBFBFB;
  border-radius: 6px;
  height: 50px;
  max-width: 377px;
  width: 100%;
  display: inline-flex;
  align-items: center;
  padding: 0 20px;
  cursor: pointer;
  border: 2px solid transparent;
  font-size: 16px;
  line-height: 20px;
  color: #9D9D9D;
  position: relative;
  margin-top: 20px;
  transition: .3s; }
  .custom-select::after {
    content: '';
    width: 14px;
    height: 14px;
    background-image: url(../img/sprite.svg#icon-select);
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    right: 20px;
    transition: .3s; }
  .custom-select:hover {
    border-color: #FFCB45; }
  .custom-select:focus, .custom-select.open {
    border-color: #FFB800; }
  .custom-select.open::after {
    -webkit-transform: translateY(-50%) scaleY(-1);
            transform: translateY(-50%) scaleY(-1); }
  .custom-select.open .drop-select {
    visibility: visible;
    opacity: 1; }

.drop-select {
  position: absolute;
  bottom: -10px;
  background: #FBFBFB;
  border-radius: 6px;
  width: 100%;
  left: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  padding: 10px 0;
  transition: .3s;
  opacity: 0;
  visibility: hidden;
  z-index: 5; }
  .drop-select .drop-select__item {
    padding: 15px 20px;
    transition: .3s; }
    .drop-select .drop-select__item.active, .drop-select .drop-select__item:hover {
      background: #FFB800;
      color: #fff; }

.modal-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
