.toast {
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.2px;
  font-family: var(--font);
  background-color: var(--secondary-alpha);
  padding: 15px 20px;
  border-radius: var(--radius-8);
  box-shadow: 0 0 0 1px var(--tertiary);
  display: flex;
  align-items: center;
  gap: 8px;
  svg {
    fill: var(--accent);
  }
}
