.switcher {
  display: flex;
  flex-shrink: 0;
  width: fit-content;
  align-items: center;
  gap: var(--gap-4);
  border: 1px solid var(--tertiary);
  background-color: var(--secondary);
  backdrop-filter: blur(5px);
  color: var(--text);
  font-size: 16px;
  font-weight: 500;
  letter-spacing: var(--letter-spacing);
  text-transform: uppercase;
  border-radius: var(--radius-10);
  padding: var(--gap-4);
  position: relative;
  z-index: 1;
  overflow: hidden;
  backdrop-filter: blur(20px);

  > div {
    display: contents;
  }

  &.row {
    flex-direction: row;
  }

  &.column {
    flex-direction: column;
  }

  &.radius {
    border-radius: var(--radius-50);
    .button {
      border-radius: var(--radius-50);
      padding: var(--gap-4);
      width: 36px;
      height: 36px;
    }
  }
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: var(--radius-7);
  transition: var(--transition-ease);

  svg {
    transition: inherit;
  }

  &:not(.active) {
    &:hover {
      svg {
        color: var(--accent);
      }
    }
  }

  &.active {
    color: var(--white);
    background-color: var(--black-3);
  }
}
