.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  gap: var(--gap-8);
  border-radius: var(--radius-50);
  font-weight: 500;
  transition: var(--transition-ease);
  overflow: hidden;
  position: relative;
  &:focus-visible {
    box-shadow: 0 0 0 3px var(--accent-alpha);
  }
}

.fill {
  color: var(--text-reverse);
  border: 1px solid var(--accent);
  background-color: var(--accent);
  &:hover {
    background-color: var(--accent-alpha);
    color: var(--text);
  }
  &:active {
    scale: 0.97;
  }
}

.outline {
  color: var(--text);
  border: 1px solid var(--tertiary);
  &:hover {
    border-color: var(--grey-5);
    color: var(--accent);
  }
  &:focus {
    border-color: var(--grey-6);
    color: var(--accent);
  }
}

.sm {
  font-size: 14px;
  padding-inline: 16px;
  height: 40px;
}

.lg {
  font-size: 16px;
  padding-inline: 24px;
  height: 48px;

  @include media(max, 767) {
    height: 44px;
  }
}

.fluid {
  width: 100%;
}
