@font-face {
  font-family: 'Raleway';
  src: url("../fonts/Raleway-Bold.woff2") format("woff2"), url("../fonts/Raleway-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Raleway';
  src: url("../fonts/Raleway-Medium.woff2") format("woff2"), url("../fonts/Raleway-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Raleway';
  src: url("../fonts/Raleway-ExtraBold.woff2") format("woff2"), url("../fonts/Raleway-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Raleway';
  src: url("../fonts/Raleway-Regular.woff2") format("woff2"), url("../fonts/Raleway-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Raleway';
  src: url("../fonts/Raleway-SemiBold.woff2") format("woff2"), url("../fonts/Raleway-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/Ubuntu-Light.woff2") format("woff2"), url("../fonts/Ubuntu-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/Ubuntu.woff2") format("woff2"), url("../fonts/Ubuntu.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/Ubuntu-Bold.woff2") format("woff2"), url("../fonts/Ubuntu-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }

* {
  box-sizing: border-box; }
  *:before {
    box-sizing: border-box; }
  *:after {
    box-sizing: border-box; }

body {
  height: 100%;
  font-family: 'Raleway', sans-serif;
  color: #1a051d;
  background-color: #F8FAFB; }

.unstyled {
  margin: 0;
  padding: 0;
  list-style-type: none; }

.img-fluid {
  height: auto;
  max-width: 100%; }

::-webkit-input-placeholder {
  opacity: 1; }

::-moz-placeholder {
  opacity: 1; }

:-ms-input-placeholder {
  opacity: 1; }

::-ms-input-placeholder {
  opacity: 1; }

::placeholder {
  opacity: 1; }

::-moz-selection {
  background-color: #3e8ef7;
  color: #fff; }

::selection {
  background-color: #3e8ef7;
  color: #fff; }

.tac {
  text-align: center; }

.tar {
  text-align: right; }

.m0 {
  margin: 0; }

.p0 {
  padding: 0; }

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto; }

.page-header {
  padding-top: 12px;
  padding-bottom: 10px;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  background: #fff;
  z-index: 50; }

.page-header__container {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  width: 100%; }

.page-main {
  margin-top: 82px; }

.page-header__nav {
  margin-left: auto; }
  .page-header__nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: -webkit-box;
    display: flex;
    background: #fff; }
  .page-header__nav li {
    padding: 16px 24px; }
  .page-header__nav a {
    -webkit-text-decoration: underline transparent;
            text-decoration: underline transparent;
    color: #3e8ef7;
    -webkit-transition: .3s;
    transition: .3s;
    font-weight: 500; }
    .page-header__nav a:hover, .page-header__nav a:active {
      text-decoration: underline; }

.menu-open {
  background: none;
  padding: 0;
  border: none;
  cursor: pointer; }
  .menu-open:focus {
    outline: none; }

.services {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  padding-top: 65px;
  flex-wrap: wrap; }

.services__left {
  max-width: 575px; }

.services__title {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
  font-size: 44px;
  line-height: 62px;
  margin-top: 22px;
  margin-bottom: 48px; }
  .services__title strong {
    font-weight: 900;
    color: #6076F3; }

.services__right {
  padding-right: 50px; }

.services__list {
  margin-bottom: 60px; }
  .services__list li {
    color: #6f8eba;
    font-weight: 600;
    line-height: 20px;
    padding-left: 60px;
    padding-top: 8px;
    padding-bottom: 8px;
    position: relative; }
    .services__list li:before {
      content: '';
      background: url(../img/security.svg) no-repeat center #fff;
      border-radius: 13px;
      background-size: 16px;
      width: 38px;
      height: 38px;
      position: absolute;
      display: -webkit-box;
      display: flex;
      -webkit-box-align: center;
              align-items: center;
      -webkit-box-pack: center;
              justify-content: center;
      top: 50%;
      left: 0;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%); }
    .services__list li:not(:last-child) {
      margin-bottom: 24px; }

.services__btns {
  display: -webkit-box;
  display: flex; }

.shape {
  background: url(../img/shape.svg) no-repeat -450px 330px; }

.wedo {
  padding-top: 48px; }

.wedo__row {
  margin-top: 24px;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center; }

.wedo__left img {
  margin-left: -45px; }

.wedo__item {
  padding: 60px 50px;
  box-shadow: 0px 7px 64px rgba(166, 183, 198, 0.6);
  margin-left: -35px;
  border-radius: 15px; }
  .wedo__item .wedo__title {
    font-weight: 600;
    font-size: 32px;
    line-height: 28px;
    margin-top: 0;
    margin-bottom: 38px;
    color: #3F3356; }
  .wedo__item .wedo__text {
    line-height: 24px; }

.wedo__mouse {
  display: block;
  margin: 0 auto; }
  .wedo__mouse .wedo__mouse-scroll {
    -webkit-animation: scrollDown 1.3s infinite;
            animation: scrollDown 1.3s infinite; }

@-webkit-keyframes scrollDown {
  from {
    -webkit-transform: translate(13px, 13px);
            transform: translate(13px, 13px); }
  to {
    -webkit-transform: translate(13px, 30px);
            transform: translate(13px, 30px); } }

@keyframes scrollDown {
  from {
    -webkit-transform: translate(13px, 13px);
            transform: translate(13px, 13px); }
  to {
    -webkit-transform: translate(13px, 30px);
            transform: translate(13px, 30px); } }

.networking {
  padding-top: 85px; }

.title {
  margin: 0 auto;
  font-weight: 600;
  font-size: 38px;
  line-height: 36px; }

.networking__title {
  margin-bottom: 90px;
  max-width: 450px;
  text-align: center; }

.networking__item {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap; }
  .networking__item:not(:last-child) {
    margin-bottom: 75px; }
  .networking__item .scope {
    position: relative;
    background: url(../img/scope-right.svg) no-repeat right center;
    background-size: contain; }
  .networking__item .networking__item-left {
    padding-right: 90px;
    max-width: 610px; }
    .networking__item .networking__item-left--rotated {
      padding-right: 0;
      padding-left: 90px;
      background: url(../img/scope-left.svg) no-repeat left center; }
  .networking__item .networking__item-img {
    max-width: 610px;
    width: 100%; }
  .networking__item .networking__item-right {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center; }
  .networking__item .networking__item-title {
    color: #3e8ef7;
    font-size: 52px;
    margin-top: 40px;
    padding: 0 34px; }

.networking__bottom {
  background: url(../img/gridcircle.svg) no-repeat 1030px 90px, url(../img/union.svg) center bottom no-repeat; }

.challenges {
  padding-top: 112px;
  background: url(../img/shape2.svg) no-repeat right; }

.challenges__title {
  margin: 0 auto;
  max-width: 360px; }

.subtitle {
  font-size: 20px;
  color: #6f8eba;
  margin-top: 10px;
  margin-bottom: 45px; }

.challenge__row {
  display: -webkit-box;
  display: flex; }

.challenge__image {
  margin-left: 68px; }
  .challenge__image img {
    margin-top: 20px; }

.challenge__items {
  max-width: 830px; }

.challenge__item {
  display: -webkit-box;
  display: flex; }
  .challenge__item:not(:last-child) {
    margin-bottom: 35px; }
  .challenge__item img {
    margin-right: 25px;
    flex-shrink: 0; }
  .challenge__item .challenge__item-text {
    margin-top: auto; }
  .challenge__item .challenge__item-title {
    font-size: 17px;
    line-height: 22px;
    font-weight: 500;
    text-transform: uppercase;
    margin: 0; }
  .challenge__item .challenge__item-p {
    line-height: 24px;
    font-size: 16px;
    margin-top: 15px;
    margin-bottom: 25px;
    max-width: 563px; }
  .challenge__item--end img {
    margin-right: 0;
    margin-left: 25px; }
  .challenge__item--end .challenge__item-title, .challenge__item--end .challenge__item-p {
    text-align: right; }

.premium {
  padding-top: 110px; }

.premium__bottom {
  background: url(../img/shape3.svg) -210px center no-repeat; }

.premium__title {
  margin-bottom: 70px;
  text-align: center; }

.premium__image {
  margin-right: 60px; }

.premium__row {
  display: -webkit-box;
  display: flex; }

.premium__item {
  display: -webkit-box;
  display: flex;
  max-width: 642px; }
  .premium__item:not(:last-child) {
    margin-bottom: 35px; }
  .premium__item img {
    margin-right: 20px;
    flex-shrink: 0; }
  .premium__item .premium__item-title {
    margin-top: 0;
    margin-bottom: 18px;
    font-size: 17px;
    font-weight: 600;
    text-transform: uppercase; }
  .premium__item .premium__item-p {
    margin: 0;
    line-height: 24px; }

.designed {
  padding-top: 100px;
  background: url(../img/shape4.svg) no-repeat -420px 260px;
  padding-bottom: 30px; }

.designed__row {
  display: -webkit-box;
  display: flex; }

.designed__column {
  margin-right: 25px;
  margin-top: auto;
  margin-bottom: auto; }

.designed__item {
  width: 307px;
  min-height: 380px;
  box-shadow: 0 2px 6px rgba(47, 123, 210, 0.2);
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.65);
  padding: 38px 15px; }
  .designed__item:not(:last-child) {
    margin-bottom: 28px; }
  .designed__item img {
    display: block;
    margin: 0 auto;
    padding-bottom: 42px; }
  .designed__item .designed__item-title {
    text-transform: uppercase;
    font-weight: 500;
    max-width: 222px;
    display: block;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 24px;
    font-size: 17px; }
  .designed__item .designed__item-text {
    line-height: 24px;
    max-width: 276px;
    margin: 0;
    text-align: center; }

.designed__title {
  font-size: 52px;
  color: #3e8ef7;
  line-height: 58px;
  position: relative;
  padding-left: 65px;
  margin-bottom: 54px;
  margin-top: -160px; }
  .designed__title:before {
    content: '';
    position: absolute;
    top: -35px;
    left: -3px;
    width: 185px;
    height: 124px;
    background: url(../img/title-img.svg) no-repeat; }

.partners {
  background: url(../img/bg-svg.svg) center 0;
  padding-top: 190px;
  background-size: cover;
  padding-bottom: 335px;
  overflow-x: hidden; }

.partners__top {
  margin: 0 auto;
  max-width: 520px;
  margin-bottom: 73px; }

.partners__title {
  font-weight: 600;
  margin-top: 0;
  line-height: 36px;
  margin-bottom: 10px;
  font-size: 38px;
  color: #fff; }

.partners__subtitle {
  font-family: 'Ubuntu', sans-serif;
  font-size: 20px;
  line-height: 24px;
  color: #E2EEFF; }

.shape__item {
  height: 258px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 15px; }

.slider .owl-stage {
  overflow: hidden; }

.slider .owl-stage-outer {
  overflow: initial; }

.resource {
  padding-top: 110px; }

.resource__title {
  text-align: center;
  margin-bottom: 72px; }

.resource__tabs .tabs {
  border-bottom: 1px solid #E3E4E8; }
  .resource__tabs .tabs .container__tabs {
    max-width: 850px; }
  .resource__tabs .tabs .tab {
    text-transform: uppercase;
    padding-bottom: 30px;
    display: inline-block;
    cursor: pointer;
    color: #9EAEC3;
    -webkit-transition: .3s;
    transition: .3s;
    font-size: 17px;
    position: relative; }
    .resource__tabs .tabs .tab:not(:last-child) {
      margin-right: 75px; }
    .resource__tabs .tabs .tab:after {
      content: '';
      position: absolute;
      width: 100%;
      height: 8px;
      background-color: #3e8ef7;
      bottom: -4px;
      left: 0;
      border-radius: 5px;
      -webkit-transition: .3s;
      transition: .3s;
      -webkit-transform: scale(0);
              transform: scale(0); }
    .resource__tabs .tabs .tab.active {
      color: #3e8ef7; }
      .resource__tabs .tabs .tab.active:after {
        -webkit-transform: scale(1);
                transform: scale(1); }

.resource__tabs .tab_content {
  padding-top: 15px; }

.resource__tabs .recource__row {
  margin-top: 48px;
  display: -webkit-box;
  display: flex; }

.resource__tabs .recource__item {
  display: block;
  text-decoration: none;
  color: #fff;
  -webkit-transition: .3s;
  transition: .3s;
  max-width: 280px;
  margin-bottom: 25px; }
  .resource__tabs .recource__item:not(:last-child) {
    margin-right: 27px; }
  .resource__tabs .recource__item:hover, .resource__tabs .recource__item.open {
    padding: 9px 12px;
    border-radius: 15px;
    background-color: #fff;
    box-shadow: 0px 8px 16px rgba(47, 123, 210, 0.102); }
  .resource__tabs .recource__item:hover .recource__item-text, .resource__tabs .recource__item.open .recource__item-text {
    visibility: visible;
    opacity: 1;
    height: initial; }
  .resource__tabs .recource__item:hover .first-read, .resource__tabs .recource__item.open .first-read {
    opacity: 1;
    visibility: visible; }
  .resource__tabs .recource__item:hover .date-read, .resource__tabs .recource__item.open .date-read {
    opacity: 0;
    visibility: hidden; }
  .resource__tabs .recource__item .recource__item-text {
    color: #1a051d;
    line-height: 24px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 16px;
    line-height: 24px;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity .3s visibility .9s height 3s;
    transition: opacity .3s visibility .9s height 3s;
    height: 0; }

.resource__tabs .recource__shape {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  width: 100%;
  height: 237px;
  border-radius: 15px;
  padding: 31px 21px;
  position: relative;
  z-index: 1;
  -webkit-transition: .3s;
  transition: .3s; }
  .resource__tabs .recource__shape:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(38, 66, 138, 0.75);
    z-index: -1;
    border-radius: 15px; }
  .resource__tabs .recource__shape--purple::before {
    background-color: rgba(153, 66, 255, 0.75); }
  .resource__tabs .recource__shape--orange::before {
    background-color: rgba(178, 102, 46, 0.75); }
  .resource__tabs .recource__shape--blue::before {
    background-color: rgba(13, 128, 213, 0.75); }

.resource__tabs .recource__item-category {
  color: rgba(255, 255, 255, 0.35);
  font-size: 12px;
  line-height: 22px;
  font-weight: 600;
  margin-bottom: 12px;
  text-transform: uppercase; }

.resource__tabs .recource__item-title {
  margin: 0;
  font-weight: 600;
  font-size: 22px;
  line-height: 29px; }

.resource__tabs .recource__item-read {
  font-size: 17px;
  font-weight: 500;
  position: relative;
  margin-top: auto; }

.resource__tabs .first-read {
  -webkit-transition: .3s;
  transition: .3s;
  position: absolute;
  left: 0;
  transition: .3s;
  opacity: 0;
  visibility: hidden;
  white-space: nowrap; }

.resource__tabs .date-read {
  font-size: 10px;
  line-height: 22px; }

.getintouch {
  padding-bottom: 82px; }

.getintouch__title {
  position: relative;
  padding-bottom: 14px;
  margin-bottom: 36px; }
  .getintouch__title::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 60px;
    height: 6px;
    border-radius: 5px;
    background: linear-gradient(45deg, #45e9ff 0%, #5c02ff 100%); }

.getintoch__right {
  padding-left: 100px;
  background: url(../img/dcircle.svg) no-repeat left bottom; }

.getintouch__form {
  width: 463px;
  border-radius: 16px;
  padding: 35px;
  background-color: rgba(255, 255, 255, 0.4);
  box-shadow: 0px 8px 16px rgba(47, 123, 210, 0.102); }

.getintouch__row {
  display: -webkit-box;
  display: flex; }

.getintouch__input {
  width: 100%;
  padding: 16px 15px;
  background-color: #fff;
  border: none;
  border-radius: 6px;
  font-size: 15px;
  -webkit-transition: .3s;
  transition: .3s;
  border: 1px solid transparent;
  margin-bottom: 18px; }
  .getintouch__input::-webkit-input-placeholder {
    color: #D0C9D6; }
  .getintouch__input::-moz-placeholder {
    color: #D0C9D6; }
  .getintouch__input:-ms-input-placeholder {
    color: #D0C9D6; }
  .getintouch__input::-ms-input-placeholder {
    color: #D0C9D6; }
  .getintouch__input::placeholder {
    color: #D0C9D6; }
  .getintouch__input:focus {
    border-color: rgba(92, 2, 255, 0.5);
    outline: none; }

textarea.getintouch__input {
  resize: none;
  height: 126px;
  margin-bottom: 39px; }

.team {
  padding-top: 148px; }

.team__bottom {
  position: relative;
  overflow: hidden; }
  .team__bottom::after {
    content: 'team';
    text-transform: uppercase;
    position: absolute;
    font-weight: 600;
    font-size: 338px;
    color: rgba(242, 247, 252, 0.2);
    left: 0;
    bottom: 0; }

.team__row {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  margin-top: 89px;
  padding-bottom: 200px;
  flex-wrap: wrap; }
  .team__row .shape__item {
    -webkit-box-flex: 0;
            flex: 0 0 calc(20% - 30px); }
    .team__row .shape__item:nth-child(1) {
      background-color: rgba(250, 193, 180, 0.2); }
    .team__row .shape__item:nth-child(2) {
      background-color: rgba(85, 76, 255, 0.2); }
    .team__row .shape__item:nth-child(3) {
      background-color: rgba(78, 153, 255, 0.2); }
    .team__row .shape__item:nth-child(4) {
      background-color: rgba(43, 200, 121, 0.2); }
    .team__row .shape__item:nth-child(5) {
      background-color: rgba(81, 33, 255, 0.2); }

.page-footer {
  padding-top: 55px;
  border-top-left-radius: 36px;
  border-top-right-radius: 36px;
  background: linear-gradient(45deg, #54637B 0%, #192231 100%); }

.page-footer__row {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1); }

.page-footer__logo {
  margin-bottom: 15px;
  max-width: 210px; }

.page-footer__left {
  display: -webkit-box;
  display: flex; }

.page-footer__address {
  margin-top: 40px;
  color: #E6E6E6;
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
  font-weight: 100; }

.page-footer__nav {
  margin-top: 10px;
  margin-left: 90px; }
  .page-footer__nav li {
    margin-bottom: 8px; }
  .page-footer__nav a {
    font-size: 14px;
    font-family: 'Ubuntu', sans-serif;
    -webkit-text-decoration: underline transparent;
            text-decoration: underline transparent;
    -webkit-transition: .3s;
    transition: .3s;
    color: #fff; }
    .page-footer__nav a:hover, .page-footer__nav a:active {
      text-decoration: underline; }

.subscribe .subscribe__title {
  color: #56657D;
  font-weight: 100;
  line-height: 21px;
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 12px; }

.subscribe .subscribe__form {
  background: #fff;
  border-radius: 6px;
  overflow: hidden; }

.subscribe .subscribe__input {
  padding: 17px 31px;
  border: none; }
  .subscribe .subscribe__input::-webkit-input-placeholder {
    color: #56657D; }
  .subscribe .subscribe__input::-moz-placeholder {
    color: #56657D; }
  .subscribe .subscribe__input:-ms-input-placeholder {
    color: #56657D; }
  .subscribe .subscribe__input::-ms-input-placeholder {
    color: #56657D; }
  .subscribe .subscribe__input::placeholder {
    color: #56657D; }

.subscribe .subscribe__btn {
  border: none;
  padding: 0;
  background-color: #3e8ef7;
  border: 2px solid transparent;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  color: #fff;
  font-weight: 600;
  -webkit-transition: .3s;
  transition: .3s;
  line-height: 19px;
  width: 152px;
  height: 53px;
  transition: .3s;
  cursor: pointer; }
  .subscribe .subscribe__btn:hover, .subscribe .subscribe__btn:active {
    background-color: #0f73f5; }

.social {
  margin-top: 22px;
  display: -webkit-box;
  display: flex; }
  .social .social__item {
    margin-bottom: 5px;
    background-image: url(../img/socials.svg);
    width: 38px;
    height: 38px; }
    .social .social__item:not(:last-child) {
      margin-right: 18px; }
    .social .social__item--tw {
      background-position: -9px -29px; }
    .social .social__item--fb {
      background-position: -63px -29px; }
    .social .social__item--btc {
      background-position: -117px -28px; }
    .social .social__item--yt {
      background-position: -171px -29px; }
    .social .social__item--tg {
      background-position: -225px -28px; }
    .social .social__item--li {
      background-position: -279px -28px; }
    .social .social__item--wch {
      background-position: -333px -28px; }

.page-footer__copyright {
  font-weight: 100;
  font-size: 14px;
  line-height: 20px;
  padding: 20px;
  text-align: center;
  color: #E6E6E6; }

.btn {
  padding: 0;
  font-weight: 600;
  font-size: 17px;
  line-height: 22px;
  text-decoration: none;
  max-width: 216px;
  width: 100%;
  height: 48px;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-transition: .3s;
  transition: .3s;
  border-radius: 5px; }
  .btn--sign {
    border: 1px solid #3e8ef7;
    color: #3e8ef7;
    margin-right: 13px;
    background-color: #fff; }
    .btn--sign:hover, .btn--sign:active {
      background-color: #3e8ef7;
      color: #fff; }
  .btn--get {
    background: -webkit-gradient(linear, left top, right top, from(#10A9AB), to(#2EC66F));
    background: linear-gradient(to right, #10A9AB 0%, #2EC66F 100%);
    color: #fff;
    box-shadow: 0px 6px 6px rgba(3, 100, 76, 0.22); }
    .btn--get:hover, .btn--get:active {
      background: -webkit-gradient(linear, left top, right top, from(#2EC66F), to(#10A9AB));
      background: linear-gradient(to right, #2EC66F 0%, #10A9AB 100%);
      box-shadow: 0px 6px 6px transparent; }

.see-all {
  color: #3e8ef7;
  text-decoration: none;
  font-size: 17px;
  font-weight: 600;
  display: -webkit-inline-box;
  display: inline-flex;
  -webkit-box-align: center;
          align-items: center; }
  .see-all:hover .see-all__arrow, .see-all:active .see-all__arrow {
    -webkit-transform: translateX(5px);
            transform: translateX(5px); }
  .see-all .see-all__arrow {
    -webkit-transition: .3s;
    transition: .3s;
    margin-left: 10px; }

.getintouch__btn {
  width: 100%;
  background-color: #6F8EBA;
  box-shadow: 0 4px 8px rgba(3, 100, 76, 0.6);
  border: none;
  padding: 15px;
  border-radius: 6px;
  color: #fff;
  -webkit-transition: .3s;
  transition: .3s; }
  .getintouch__btn:hover, .getintouch__btn:active {
    cursor: pointer;
    box-shadow: none; }

.ham {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  -webkit-transition: -webkit-transform 400ms;
  transition: -webkit-transform 400ms;
  transition: transform 400ms;
  transition: transform 400ms, -webkit-transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.hamRotate.active {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg); }

.hamRotate180.active {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg); }

.line {
  fill: none;
  -webkit-transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke: #6076f3;
  stroke-width: 5.5;
  stroke-linecap: round; }

.ham4 .top {
  stroke-dasharray: 40 121; }

.ham4 .bottom {
  stroke-dasharray: 40 121; }

.ham4.active .top {
  stroke-dashoffset: -68px; }

.ham4.active .bottom {
  stroke-dashoffset: -68px; }

@media (min-width: 576px) {
  .container {
    max-width: 540px; } }

@media (min-width: 768px) {
  .container {
    max-width: 720px; }
  .menu-open {
    display: none; } }

@media (min-width: 991px) and (max-width: 1199px) {
  .services__left {
    max-width: 505px; }
  .services__right img {
    width: 78%; }
  .designed__item {
    width: 285px; } }

@media (min-width: 992px) {
  .container {
    max-width: 960px; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .networking__item .networking__item-left {
    max-width: 50%;
    padding-right: 50px; }
  .networking__item .networking__item-left--rotated {
    padding-right: 0;
    background-size: contain; }
  .networking__item .networking__item-title {
    font-size: 40px; }
  .team__row .shape__item {
    -webkit-box-flex: 0;
            flex: 0 0 calc(20% - 15px); }
  .team {
    padding-top: 40px; }
  .team__row {
    padding-bottom: 140px; } }

@media (min-width: 1200px) {
  .container {
    max-width: 1230px; } }

@media (max-width: 991px) {
  .services__right {
    padding-right: 0;
    width: 100%;
    text-align: center;
    margin-top: 40px; }
  .shape {
    background: url(../img/shape.svg) no-repeat -550px 330px; }
  .wedo__row {
    flex-wrap: wrap;
    margin-top: 40px; }
  .wedo__left {
    margin-bottom: 40px;
    width: 100%;
    text-align: center; }
    .wedo__left img {
      margin-left: 0; }
  .wedo__item {
    margin-left: 0;
    padding: 40px 30px; }
    .wedo__item .wedo__title {
      font-size: 26px;
      margin-bottom: 28px; }
    .wedo__item .wedo__text {
      font-size: 14px; }
  .networking__bottom {
    background: url(../img/gridcircle.svg) no-repeat 500px 240px, url(../img/union.svg) center bottom no-repeat; }
  .title {
    font-size: 34px;
    line-height: 28px;
    margin-bottom: 20px; }
  .networking__item {
    -webkit-box-pack: center;
            justify-content: center; }
    .networking__item .networking__item-left {
      padding-right: 0; }
    .networking__item .networking__item-right {
      display: block;
      width: 100%; }
    .networking__item .scope {
      background: url(../img/scope-bottom.svg) no-repeat bottom center;
      padding-bottom: 30px;
      background-size: contain; }
    .networking__item .networking__item-title {
      text-align: center;
      font-size: 30px; }
  .networking__item:nth-child(2) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
            align-items: center; }
  .networking__item .networking__item-left--rotated {
    padding-left: 0; }
  .networking__item:not(:last-child) {
    margin-bottom: 5px; }
  .challenge__items {
    max-width: 100%; }
  .challenges {
    padding-top: 60px;
    background: url(../img/shape2.svg) no-repeat center bottom; }
  .challenge__row {
    flex-wrap: wrap;
    -webkit-box-pack: center;
            justify-content: center; }
  .challenge__image {
    margin-left: 0;
    text-align: center; }
    .challenge__image img {
      width: 80%; }
  .subtitle {
    font-size: 17px; }
  .challenge__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-align: center;
            align-items: center; }
    .challenge__item:not(:last-child) {
      margin-bottom: 15px; }
    .challenge__item img {
      margin-bottom: 20px;
      margin-right: 0;
      width: 50%; }
    .challenge__item--end {
      -webkit-box-orient: vertical;
      -webkit-box-direction: reverse;
              flex-direction: column-reverse; }
      .challenge__item--end .challenge__item-title, .challenge__item--end .challenge__item-p {
        text-align: left; }
      .challenge__item--end img {
        margin-left: 0; }
  .designed__item {
    width: 100%;
    max-width: 540px; }
    .designed__item .designed__item-text {
      max-width: 100%; }
  .designed__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column; }
  .designed__column {
    margin-right: 0;
    text-align: center;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-align: center;
            align-items: center;
    margin-bottom: 30px; }
    .designed__column--auto {
      -webkit-box-ordinal-group: 0;
              order: -1; }
  .designed__title {
    margin-top: 0;
    font-size: 34px;
    line-height: 52px;
    margin-bottom: 27px; }
  .premium {
    padding-top: 20px; }
  .premium__title {
    margin-bottom: 40px; }
  .premium__row {
    flex-wrap: wrap; }
  .premium__image {
    margin-right: 0;
    width: 100%;
    text-align: center;
    margin-bottom: 30px; }
    .premium__image img {
      width: 80%; }
  .premium__bottom {
    background: url(../img/shape3.svg) -410px top no-repeat; }
  .premium__item img {
    flex-shrink: 0.5; }
  .resource {
    padding-top: 0; }
  .resource__tabs .tabs .container__tabs {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
            justify-content: space-between;
    padding-left: 25px;
    padding-right: 25px; }
  .resource__tabs {
    padding-top: 30px; }
    .resource__tabs .recource__row {
      flex-wrap: wrap;
      -webkit-box-pack: center;
              justify-content: center; }
    .resource__tabs .tabs .tab {
      text-align: center;
      margin-left: 0;
      display: block; }
      .resource__tabs .tabs .tab:not(:last-child) {
        margin-right: 0; }
      .resource__tabs .tabs .tab:after {
        bottom: 15px;
        -webkit-transition: .5s;
        transition: .5s; }
  .tab__item {
    display: block; }
  .resource__tabs .recource__item:not(:last-child) {
    margin-right: 0; }
  .resource__tabs .recource__item:nth-child(odd) {
    margin-right: 30px; }
  .getintouch__row {
    flex-wrap: wrap; }
  .getintoch__right {
    padding-left: 0;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
            justify-content: center;
    width: 100%; }
  .getintouch__form {
    width: 100%;
    padding: 20px 15px;
    margin-top: 70px;
    max-width: 463px; }
  .team__row {
    margin-top: 40px;
    padding-bottom: 60px; }
    .team__row .shape__item {
      -webkit-box-flex: 0;
              flex: 0 0 calc(50% - 10px);
      margin-bottom: 25px; }
  .team__bottom::after {
    font-size: 160px; }
  .page-footer__row, .page-footer__left {
    flex-wrap: wrap; }
  .page-footer__nav {
    margin-left: 0;
    margin-top: 20px; }
  .page-footer__right {
    margin-top: 25px;
    width: 100%;
    max-width: 320px; }
  .subscribe .subscribe__input {
    padding: 17px;
    width: 72%; }
  .social {
    margin-bottom: 16px; }
  .subscribe .subscribe__form {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
            justify-content: space-between; }
  .subscribe .subscribe__btn {
    width: 28%;
    font-size: 14px; }
  .social .social__item:not(:last-child) {
    margin-right: 7px; }
  .social__item {
    -webkit-transform: scale(0.85);
            transform: scale(0.85); }
  .page-footer__logo {
    margin-right: 20px; } }

@media (max-width: 767px) {
  .page-header {
    border-bottom: 1px solid #ebeaf0;
    background: #fff;
    padding-top: 6px;
    padding-bottom: 3px; }
  .page-header__nav ul {
    display: block;
    width: 100%; }
  .page-header__nav .menu-toggle {
    position: absolute;
    background: #fff;
    left: 0;
    right: 0;
    top: 83px;
    border-bottom: 1px solid #ebeaf0;
    z-index: -1;
    -webkit-transform: translateX(130%);
            transform: translateX(130%);
    -webkit-transition: .3s;
    transition: .3s; }
    .page-header__nav .menu-toggle.open {
      -webkit-transform: translateX(0);
              transform: translateX(0); }
  .shape {
    background: url(../img/shape.svg) no-repeat -650px 330px; }
  .wedo__item {
    padding: 30px 20px; }
  .resource__tabs .tabs .container__tabs {
    -webkit-box-align: center;
            align-items: center;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column; }
    .resource__tabs .tabs .container__tabs .tab {
      max-width: 200px;
      width: 100%; }
  .resource__tabs .recource__item {
    max-width: 380px; }
    .resource__tabs .recource__item:not(:last-child) {
      margin-right: 0; }
  .resource__tabs .resource__tabs .tabs .container__tabs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    display: -webkit-box;
    display: flex; }
  .resource .resource__tabs .recource__item:nth-child(odd) {
    margin-right: 0; } }

@media (max-width: 576px) {
  .services__btns .btn {
    margin-left: 0;
    margin-right: 0;
    max-width: 100%;
    width: 100%; } }

@media (max-width: 575px) {
  .team__row .shape__item {
    -webkit-box-flex: 0;
            flex: 0 0 100%; }
  .team {
    padding-top: 40px; } }

@media (max-width: 1199px) {
  .services {
    padding-top: 15px; }
  .services__title {
    font-size: 34px;
    line-height: 52px;
    margin-bottom: 27px; }
  .services__list {
    margin-bottom: 45px; }
    .services__list li {
      padding-left: 45px; }
      .services__list li::before {
        width: 28px;
        height: 28px;
        border-radius: 8px; }
      .services__list li:not(:last-child) {
        margin-bottom: 14px; }
  .services__btns {
    flex-wrap: wrap; }
  .btn {
    margin-right: 13px;
    margin-left: 13px; }
    .btn:first-child {
      margin-bottom: 15px; }
  .services__right {
    padding-right: 0;
    text-align: center; }
  .shape {
    background: url(../img/shape.svg) no-repeat -630px 330px; }
  .wedo__item {
    max-width: 700px; }
  .wedo__left img {
    margin-left: -8px;
    max-width: 100%;
    height: auto; }
  .getintouch__left {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center; } }

/*# sourceMappingURL=main.css.map */
