@media (max-width: 1199px) {
    .opt-price-add {
        margin-bottom: 30px !important;
    }
    .price-sale .form-item input {
        max-width: 218px;
    }
    .form-item--row > span {
        min-width: 160px;
    }
    .mr25 {
        margin-right: 15px;
    }
    .form-column {
        max-width: 500px;
        padding-left: 15px;
        padding-right: 15px;
        width: 100%;
    }
    .add-input {
        margin-right: 50px;
    }
    .phones__plus {
        margin-top: -2px;
    }
    .remove__row .custom-select {
        margin-left: 15px;
    }
}

@media (max-width: 1439px) {
    .sales {
        grid-template-columns: repeat(2, 1fr);
        padding-left: 20px;
        gap: 20px;
    }
    .sales__img img {
        width: 100%;
    }

    .form-lk {
        padding-left: 15px;
        padding-right: 15px;
    }
    .alert {
        max-width: 875px;
    }
}
@media (max-width: 1199px) {
    .rubric-nav .rubric__subdrop {
        margin: 10px;
    }
    .price-from {
        margin-left: 160px;
    }
    .header__nav {
        padding: 25px 33px;
    }
    .product-center {
        max-height: 100%;
    }
    .product-main-slider {
        display: flex;
        justify-content: center;
    }
    .categories__block {
        grid-template-columns: repeat(3, 1fr);
    }

    .search-result__block {
        grid-template-columns: repeat(3, 1fr);
    }

    .categories__block__item__img {
        max-width: 100%;
    }

    .categories__block {
        grid-template-columns: repeat(2, 1fr);
    }

    .search-result__block {
        grid-template-columns: repeat(3, 1fr);
    }

    .header__nav__logo {
        margin-right: 15px;
    }


    .header__nav__select option {
        margin-right: 85px;
    }




    .lk_grid {
        grid-template-columns: repeat(3, 1fr);
    }
    .header__nav__search--mobile .header__nav__search__form {
        border: 1px solid #c4c4c4;
    }
    .mrm0 {
        margin-right: 0!important;
    }
    .edit-block {
        padding-left: 15px;
        padding-right: 15px;
    }
    .questions {
        max-width: 700px;
    }
    .questions__search {
        margin-right: 15px;
    }
    .row-bayer {
        margin-bottom: 30px;
    }

    .rubric-nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 40px;
    }

    .form-item--row {
        flex-wrap: wrap;
    }
    .opt-price__title {
        margin-bottom: 10px;
    }

    .char-row .payment-row {
        max-width: 468px;
    }
    .delete-items {
        right: 2px;
        padding-left: 5px;
    }
    .categories__block {
        grid-template-columns: repeat(4, 1fr);
    }
    .search-result__block {
        grid-template-columns: repeat(4, 1fr);
    }
}
@media (max-width: 991px) {
    .price-sale .form-item input {
        max-width: 100%;
        width: 100%;
    }
    .price-from {
        margin-top: 20px;
        margin-left: 0 !important;
    }
    .tovars {
        margin-left: 0;
        width: 100%;
    }
    .char__title {
        width: auto;
    }

    .all-categories__block.active .all-categories__title:after{
        transform: translateY(-50%) scale(-1);
        margin-top: -5px;
    }
    .period {
        margin-left: 0;
    }
    .steps {
        padding-left: 15px;
        padding-right: 15px;
    }
    .header__nav__select {
        margin-right: 15px;
    }

    .header__nav__search {
        margin-right: 15px;
    }
    .header__nav__search__form input {
        background: 0;
        padding-left: 0;
    }
    .form-item > label > input {
        width: 100%;
    }
    .custom-select {
        max-width: 100%;
    }
    .form-column {
        margin: 0 auto;
    }
    .content__inner {
        grid-template-columns: none;
    }
    .content__cat { display: none; }
    .favorites__body__item {
        flex-direction: column;
    }
    .alert {
        max-width: 100%;
    }
    .char-form .rubricator {
        display: block;
    }
    .rubric__title {
        margin-bottom: 10px;
    }
    .char-row {
        display: block;
    }
    .char__select, .char__input {
        margin-bottom: 10px!important;
    }
    .plus-button {
        margin-top: -30px;
        display: inline-block;
    }
    .edit-block {
        display: block;
        padding-left: 15px;
        padding-right: 15px;
    }
    .edit-block__item {
        margin-bottom: 30px;
    }
    .sales {
        grid-template-columns: repeat(1, 350px);
        gap: 20px;
    }
    .remove__row .custom-select {
        margin-left: 0px;
        width: 100%;
    }


    .product__row {
        flex-wrap: wrap;
        justify-content: center;
    }
    .about-company__row {
        display: block;
    }
    .about-company__text {
        max-width: 100%;
    }
    .about-company__text br {
        display: none;
    }
    .error__block {
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .error__block img {
        transform: scale(0.7);
    }
    .error__title {
        margin-top: 10px;
        margin-bottom: 50px;
        font-size: 26px;
    }
    .form-lk {
        display: block;
        padding-left: 15px;
        padding-right: 15px;
    }
    .form-column .form-item input {
        width: 100%;
        max-width: 100%;
    }

    .phones__row {
        display: block;
    }
    .remove__row {
        align-content: flex-start;
    }
    .phones__plus {
        margin-bottom: 5px;
    }
    .row-bayer {
        display: block;
    }
    .question-box {
        margin: 0 auto;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .questions__search {
        margin-right: 15px;
    }
    .personal-position {
        margin-left: 10px;
    }
    .personal-data__row {
        max-width: 650px;
    }
    .alert__header {
        align-items: center;
    }
    .alert-row {
        display: block;
        margin-left: -15px;
        margin-right: -15px;
    }
    .alert__btns button {
        margin-bottom: 10px;
    }
    .alert {
        padding: 20px;
        margin-bottom: 40px;
    }


    .product-row {
        display: block;
    }
    .product-nav-slider {
        max-width: 300px;
        min-width: 100%;
        padding-left: 10px;
        padding-right: 10px;
    }
    .product-center {
        max-height: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }
    .product-content {
        display: block;
    }
    .rubric-product {
        max-width: 230px;
        margin: 0 auto;
        margin-top: 30px;
        margin-bottom: 30px;
        width: auto;
    }
    .rubric-product .slider__item {
        width: 100%;
    }
    .rubric-product  .mCSB_inside > .mCSB_container {
        margin-right: 0;
        width: 100%;
    }
    .rubric-product .mCustomScrollBox {
        width: 100%;
    }
    .tabs-wrapper {
        padding-left: 15px;
        padding-right: 15px;
    }
    .tabs .tab {
        margin-right: 0;
        display: block;
        text-align: center;
        margin-bottom: 10px;
    }
    .table {
        margin-bottom: 30px;
    }
    .table-body {
        overflow-x: scroll;
    }
    .table-row {
        width: 570px;
    }
    .list-row {
        display: block;
        padding-left: 15px;
        padding-right: 15px;
    }
    .img-block {
        margin-top: 50px !important;
    }
    .product-row {
        max-width: 580px;
        margin: 0 auto;
    }
    .inputs-area {
        padding-left: 15px;
        padding-right: 15px;
    }
    .form-item--row {
        display: block;
    }
    .radio-row {
        display: block;
    }
    .radio-row label {
        margin-bottom: 5px;
    }
    .form-item--row > span {
        margin-bottom: 10px;
    }
    .form-item--row .select-title {
        margin-bottom: 5px;
    }
    .form-item--row .select-title br{
        display: none;
    }
    .opt-price__row {
        display: block;
    }
    .opt-price__title {
        margin-bottom: 20px;
        text-align: left;
    }
    .payment-row {
        height: auto;
    }
    .payment-item:not(:last-child) {
        margin-bottom: 5px;
    }
    .upload__text {
        margin-top: 20px;
    }
    .upload__row {
        display: block;
    }
    .upload__image {
        margin-top: 40px;
        flex-wrap: nowrap;
        display: inline-block;
        text-align: center;

    }
    .upload__item {
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 20px;
        flex-shrink: 0;
        display: inline-block;
    }

    .upload__item:nth-child(2n) {
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 20px;
    }
    .rubricator .rubric__crumbs {
        display: block;
    }
    .rubricator .rubric__crumbs li {
        margin-bottom: 10px;
    }

    .rubric-nav .rubric__subdrop-m {
        width: 100%;
        max-width: 270px;
        margin: 0 auto;
    }
    .rubric-nav .rubric__subdrop {
        margin: 0 auto;
    }
    .rubric-nav .rubric__subdrop-m .mCSB_scrollTools .mCSB_buttonUp {
        width: 275px;
        margin-left: 5px;

    }
    .rubric-nav .rubric__subdrop-m .mCSB_scrollTools .mCSB_buttonDown {
        width: 275px;
        margin-left: 5px;
    }
    .buttons-row--triple {
        justify-content: center;
    }
    .buttons-row--triple button {
        margin-bottom: 15px;
    }
    .opt-price__row .w230 {
        width: 100%;
        max-width: 100%;
    }
    .mr25 {
        margin-right: 0;
    }
    .form-item--row .custom-select {
        width: 100%;
    }
    .form-item--row input {
        width: 100%;
        max-width: 100%;
    }

    .rubric-nav .rubric__subdrop {
        margin: 10px;
    }
    .rubric-nav .rubric__subdrop-m {
        margin: 0;
    }
    .favorites { padding: 20px;}
    .favorites__item__head { flex-direction: column; }

    .favorites__item__head span { position: relative; }
    .favorites__body__item { flex-direction: column; }
    .favorites__product__image { margin-bottom: 15px; }

    .favorites__product__button a { display: block; }
    .favorites__product__delete { position: absolute; right: 20px; top: 20px; }
    .favorites__paginate { flex-direction: column; justify-content: inherit; }
    .add-input {
        margin-right: 45px;
    }
    .number-spinner a {
        width: 50px;
    }
    .down-btn {
        right: 50px;
    }
    .number-spinner {
        width: initial;
    }
    .total-price strong {
        font-size: 30px;
    }
    .sale-box {
        margin-left: 30px;
    }
    .product-center__opt-price::after {
        display: none;
    }
    .order-box {
        max-width: 478px;
        margin: 0 auto;
    }
    .comment {
        max-width: 478px;
        margin: 0 auto;
        margin-top: 30px;

    }
    .categories__block {
        grid-template-columns: repeat(3, 1fr);
    }
    .search-result__block {
        grid-template-columns: repeat(3, 1fr);
    }
    .main__nav {
        padding-left: 0;
        padding-right: 0;
    }
    .main__nav li {
        margin-right: 15px;
    }
}


@media (max-width: 767px) {
    .dropdown__menu {
        top: 43px;
    }
    .sales__item .sales__info {
        margin-top: -10%;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0) 10.33%, rgba(255, 255, 255, 0.89) 15.85%, #FFFFFF 100%);
    }
    .sales__item:hover .sales__info {
        margin-top: -10%;
    }
    .sales__info {
        padding-bottom: 15px;
    }
    .sales__item {
        max-height: 100%;
    }
    .sales__hover p {
        margin-top: 10px;
    }
    .sales__text {
        padding-top: 35px;
    }
    .on-top {
        transform: scale(0.85);
    }
    .all-categories__title {
        position: relative;
    }
    .all-categories__title:after {
        content: '';
        height: 20px;
        width: 20px;
        position: absolute;
        right: 15px;
        top: 50%;
        transform: translateY(-50%);
        background: url(../img/arr.svg) no-repeat;
        background-size: contain;
        margin-top: 5px;
        transition: .3s;
    }
    .aside-filter {
        margin-right: 0;
    }
    .pt10 {
        padding-top: 0;
    }
    .all-categories {
        margin-top: 5px;
    }
    .full-banner {
        height: auto;
    }
    .date-item select {
        background: url("../img/icons/select-arrow.svg") no-repeat center right;
        margin-bottom: 0;
    }
    .content__inner {
        display: block;
    }
    .date-item {
        margin-top: 10px;

    }
    .date-item select option {
        margin-right: -5px;
    }
    .breadcrumb {
        display: none;
    }
    .support .form-item > label > input {
        width: 100%;
        max-width: 520px;
    }
    .header__breadcrumb.d-flex {
        display: block !important;
    }
    .modal-add {
        width: 100%;
        max-width: 500px;
    }
    .search-result {
        display: block;
    }
    .modal-buttons button {
        width: 140px;
    }
    .rubric-nav .rubric__drop {
        margin: 10px;
    }
    .search-result__block {
        grid-template-columns: repeat(3, 1fr);
    }
    .btn__row {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    .btn__row button {

        margin-bottom: 20px;

    }

    .sale-input + .save-btn {
        margin-left: 10px;
        text-align: center;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .products-block__row + .tar {
        text-align: center;
    }
    .custom-select {
        max-width: 100%;

    }
    .products-block__item {
        flex-direction: column;
    }
    .products-block__item div{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .products-block__item img {
        display: block;
        margin: 0 auto;
    }
    .del-button {
        margin-right: 0;
        margin-top: 20px;
    }
    .mt20 {
        padding-left: 15px;
        padding-right: 15px;
    }
    .mb30 {
        text-align: center;
    }
    .sales {
        padding: 0;
        display: block;

    }
    .change-date {
        display: block;
    }
    .sales__img img {
        width: 100%;
    }
    .sales__text {
        transition: .3s;
    }
    .sales__item {
        margin-bottom: 30px;
    }

    .sales__text > p {
        margin-bottom: 5px;
    }
    html.overflow { overflow: hidden; }
    .header__top,
    .header__nav,
    .header__menu { display: none; }
    .header__top__mobile { 
        display: flex;
        align-items: center;
        margin-bottom: 2px;
        justify-content: space-between;
        padding: 14px 23px 14px 18px;
        -webkit-box-shadow:  0 1px 3px rgba(0, 0, 0, 0.15);
           -moz-box-shadow:  0 1px 3px rgba(0, 0, 0, 0.15);
                box-shadow:  0 1px 3px rgba(0, 0, 0, 0.15); }

    .header__mobile__logo { margin-right: 0; }
    .i-search {
        display: inline-block;
        background: url("../img/icons/search.svg") no-repeat center;
        border: 0;
        width: 22px;
        height: 22px; }
    .button__search { background-color: transparent; border: 0; }
    .header__nav__mobile { 
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: #f5f5f5;
        padding: 20px 20px 20px 20px; }
    .header__nav__select {
        background: url("../img/icons/asia.svg") no-repeat center left 6%, url("../img/icons/select-arrow.svg") no-repeat right center;
        padding-left: 30px;
        margin-right: 0; }
    .header__nav__search { margin-right: 0; }
    .header__nav__search__form {
        padding: 10px 15px 10px 15px;
        background-color: #fff;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
        -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}
    .header__nav__search__form input {
        padding-left: 0;
        font-size: 14px; }
    .header__nav__search__example span { font-size: 10px; color: #B1B1B1; }
    .search__example__link {
        color: #C40001;
        text-decoration: underline;
        font-size: 10px; }
    .content {
        display: flex;
        flex-direction: column;
        padding: 0 20px 20px 20px;
        background-color: #f5f5f5 }

    .content__slider { width: 100%; }
    .content__slider__item {
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        overflow: hidden; }
    .content__slider .slick-dots { position: relative; bottom: 0; }
    .content__aside_2 {
        flex-direction: row;
        background-color: #f5f5f5;
        padding-top: 20px;
        padding-bottom: 0;}
    .content__aside_2__btn { padding: 14px 17px; }
    .popular-product { padding-top: 40px; }
    .section-title-block {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 11px;
        padding-right: 11px;
        margin-bottom: 10px;}
    .section-title {
        display: block;
        font-size: 14px;
        color: #3C3C3C;
        font-weight: 400;
        margin: 0; }
    .section-title-block__link {
        display: block;
        font-weight: 700;
        color: #C40001; }
    >
    .popular-product__aside {
        width: 100%;
        background: none;
    }
    .popular-product__aside img {
        display: none;
    }
    .popular-product__aside span {
        position: static;
        width: 100%;
        background: none;
        font-size: 14px;
        text-align: left;
        padding: 0;
        margin-left: 5px;
        font-weight: normal;
        margin-bottom: 5px;
    }
    .slick-dots {
        display: none!important;
    }
    .slider__product__image { margin-top: 10px; padding: 0 10px;}
    .product__name { margin-bottom: 5px; }
    .slider__text__wrapper { padding: 0 10px 10px 8px; }
    .section-wrapper { padding: 10px 0 10px 10px;
        padding-left: 0;
        padding-right: 0;
    }
    .owl-carousel .owl-stage { padding-left: 0 !important;}
    .footer { padding: 30px; }
    .footer__row { justify-content: flex-end; }
    .footer__title { font-size: 12px; }
    .footer__menu li a { font-size: 12px; }
    .social-icons li { margin-right: 22px; }
    .social__title { margin-bottom: 10px; }
    .footer__info { margin-left: 0;  }
    .footer__logo { margin-left: 0; text-align: center; }

    /* popup*/
    .popup {
        display: block;
        height: 100vh;
        width: 100%;
        position: fixed;
        opacity: 0;
        visibility: hidden;
        top: 0;
        z-index: 1000;
        background-color: rgba(255, 255, 255, 1);
        overflow-y: scroll;
        -webkit-transition: all .3s;
           -moz-transition: all .3s;
            -ms-transition: all .3s;
             -o-transition: all .3s;
                transition: all .3s; }
    .popup.show { opacity: 1; visibility: visible; }
    .popup__header {
        padding: 15px 15px 15px 21px;
        border-bottom: 1px solid #E2E2E2;
        margin-bottom: 10px;
    }
    .popup__top__header { background-color: #fff; }

    .popup__top__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;
    }
    .popup__header__nav {
        display: flex;
        justify-content: space-between;
        padding: 5px 10px 5px 0;
    }
    .popup__header__nav .popup__header__language { margin-right: auto; font-size: 14px;
        display: flex; }
    .header__nav__star__number, .header__nav__cart__number { font-size: 10px; }
    .i-star { width: 21px; height: 20px; margin-right: 25px;}
    .i-shopping-cart { width: 19px; height: 18px;}
    .header__nav__star__number { top: -7px; right: 15px; }
    .header__nav__cart__number { right: -5px; top: -8px; }
    .popup__login__form { margin-bottom: 10px; }
    .popup__login__form__links {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 10px;
        padding-left: 21px;
        padding-right: 15px;
        margin-bottom: 10px; }
    .popup__login__form__links a { color: #C40001; }
    .popup__login__form form { padding-left: 27px; padding-right: 27px; }
    .popup__login__form input {
        font-size: 10px;
        width: 100%;
        margin-bottom: 10px;
        padding: 8px 15px;
        border: 1px solid #C4C4C4; }
    .popup__login__form input::placeholder { color: #000; }
    .popup__login__form button {
        background-color: transparent;
        border: 1px solid #C40001;
        padding: 9px 52px;
        font-size: 10px;
        color: #C40001; }
    .popup__login__form__btn { text-align: center; }
    .popup__select {
        text-align: center;
        padding: 13px 0;
        border-top: 1px solid #E2E2E2;
        border-bottom: 1px solid #E2E2E2; }
    .popup__select select { margin-bottom: 0; }
    .popup__menu { display: block; padding-top: 8px; padding-bottom: 8px; }
    .popup__menu li a { margin: 0; font-size: 12px; padding: 6px 25px; }
    .popup__menu li a::after { display: none; }
    .popup__bottom__links a {
        font-size: 12px;
        font-weight: 700;
        margin: 0;
        padding: 16px 21px;
        border-bottom: 1px solid #E2E2E2; }
    .i-percent { width: 17px; height: 17px; margin-right: 7px;}
    .popup__logined {
        display: none;
        align-items: center;
        justify-content: space-between;
        padding: 10px 21px 20px; }
    .header__top__avatar { font-size: 12px; }

    .enter { color: #C40001; font-size: 10px;}
    .popup-search { top: 76px; padding: 12px 10px 12px 18px; background-color: rgba(255, 255, 255, 0.92); }
    .popup__search__from { display: flex; align-items: center; justify-content: space-between; }
    .popup__search__inputs {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
    }
    .popup__search__from input[type="text"]:invalid + input[type="reset"]{ display: none; }
    .popup__search__from input[type="reset"] {
        background: url("../img/icons/delete.svg") transparent no-repeat center center;
        height: 8px;
        width: 8px;
        border: none;
        cursor: pointer;
        position: absolute;
        right: 0;
        outline: none; }
    .popup__search__input {
        border: 0;
        color: #000;
        border-bottom: 1px solid #A7A7A7;
        width: 100%;
        padding-bottom: 8px;
        padding-top: 8px; }
    .popup__search__input::placeholder { color: #A7A7A7; }
    .popup__search__from button {
        background-color: #C40001;
        border: 0;
        color: #fff;
        padding: 7px 12px;
        font-size: 10px;
        margin-left: 11px;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px; }
    .categories { display: block;
        margin-left: -10px;
        margin-right: -10px;
        padding-top: 1px;}
    .all-categories { width: 100%; flex: 100%;}
    .categories__block { grid-template-columns: repeat(2, 1fr);}

    .registration { height: auto; padding-bottom: 55px; }
    .registration__form { width: auto; margin: 0 20px; }
    .favorites { padding: 20px;}
    .favorites__item__head { flex-direction: column; }

    .favorites__item__head span { position: relative; }
    .favorites__body__item { flex-direction: column; }
    .favorites__product__image { margin-bottom: 15px; }

    .favorites__product__button a { display: block; }
    .favorites__product__delete { position: absolute; right: 20px; top: 20px; }
    .favorites__paginate { flex-direction: column; justify-content: inherit; }
    .pagination { margin-bottom: 15px; }
    .product__delete__all { position: inherit; right: inherit; font-size: 16px; }
    .pagination__link { padding: 6px 11px; }

    .sale__block {
        padding-left: 15px;
        padding-right: 15px;
    }
    .period {
        padding-left: 15px;
        padding-right: 15px;
    }
    .header__breadcrumb {
        display: block;
    }
    .date {
        margin-top: 10px;
    }
    .main__nav {
        display: block;
    }
    .main__nav li {
        margin-bottom: 10px;
    }
    .bottom-nav {
        display: block;
    }
    .bottom-nav li {
        margin-bottom: 5px;
    }
    .steps__item {
        margin-bottom: 10px;
    }
    .product__circle {
        display: block;
    }

    .circle {
        margin: 0 auto;
    }
    .product__circle {
        margin-bottom: 30px;

    }
    .filter {
        height: auto;
        display: block;
        padding-top: 10px;
    }
    .filter__left, .filter__right {
        text-align: center;
    }
    .filter__menu {
        display: inline-block;
        margin-bottom: 4px;
    }
    .filter__menu li {
        margin-bottom: 10px;
    }
    .filter__menu a::after {
        bottom: -4px;
    }
    .filter__right .filter__menu li{
        margin-right: 0;
    }
    .filter__right .filter__menu li {
        margin-right: 0!important;
    }
    .filter__menu li {
        margin-right: 30px;
    }
    .filter__left .filter__menu li {
        margin-right: 0;
    }
    .filter__left {
        border-bottom: 1px solid #E4E4E4;
        margin-bottom: 8px;
    }
    .lk-products {
        display: block;
    }
    .mw1200 {
        margin-bottom: 20px;
    }
    .about-company__row {
        display: block;
        padding-left: 15px;
        padding-right: 15px;
    }
    .change-date__item {
        margin-bottom: 40px;
    }
    .form-item input {
        width: 100%;
    }
    .personal-data__row {
        display: block;
    }
    .personal-data__photo {
        margin-bottom: 30px;
    }
    .personal-position select {
        padding-left: 0;
    }
    .personal-row {
        display: block;
    }
    .personal-position select {
        background: url("../img/icons/select-arrow.svg") no-repeat center right;
    }
    .personal-position {
        margin-left: 0;
    }
    .alert__body {
        padding-right: 5px;
    }
    .alert__top--chat {
        display: block;
    }
}

@media (max-width: 575px) {
    .alert__top {
        display: block;
    }
    .alert__end {
        margin-top: 10px;
    }
}
@media (max-width: 479px) {

    .sales-block {
        padding-left: 15px;
        padding-right: 15px;
    }
    .sales-row > span {
        width: 150px;
    }
    .buttons-row {
        padding-left: 15px;
        padding-right: 15px;
    }
    .search-result__block {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (min-width: 768px) {
    .slider__item {
        min-height: 320px;
    }
    .section-title-block__link {
        display: none!important;
    }
    .hambruger-main {
        display: none;
    }
}
@media (min-width: 1200px ) and (max-width: 1399px) {
    .categories__block, .search-result__block  {
        grid-template-columns: repeat(4, minmax(150px, 1fr))!important;
    }
}
@media (min-width: 992px ) and (max-width: 1199px) {
    .categories__block, .search-result__block {
        grid-template-columns: repeat(3, minmax(150px, 1fr))!important;
    }
    .w230 {
        width: 163px;
    }
    .product-left {
        max-width: 400px;
    }
    .buttons-Row {
        max-width: 200px;
        margin-left: 20px;
    }
}

@media (min-width: 768px ) and (max-width: 991px) {
    .categories__block, .search-result__block {
        grid-template-columns: repeat(2, minmax(150px, 1fr))!important;
    }
    .hambruger-main {
        display: block;
    }

    .rubric__drop--main .mCSB_scrollTools .mCSB_buttonUp {
         width: 102%;
         transform: none;
        margin-left: 0;
     }
    .rubric__drop--main .mCSB_scrollTools .mCSB_buttonDown {
        width: 102%;
        transform: none;
        margin-left: 0;
    }
    .rubric__drop--main .mCSB_scrollTools {
        width: 100%;
        z-index: -1;

    }
    .aside__creat-company--100 {
        flex-direction: row;
        width: 100%!important;
        padding-left: 25px;
        padding-right: 25px;
        align-items: center;
    }
    .aside__creat-company--100 .content__aside_2__text {
        margin-bottom: 0!important;
    }
    .aside__creat-company--100 .aside__creat-company__or {
        margin: 0;
    }
    .wrap-drop__region {
        margin-right: 30px;
    }
}

@media (min-width: 576px ) and (max-width: 768px) {
    .categories__block, .search-result__block{
        grid-template-columns: repeat(3, minmax(150px, 1fr))!important;
    }
    .slider__item {
        min-height: 285px;
    }
}
@media (min-width: 320px) and (max-width: 575px){
    .slider__item {

    }
}
@media (max-width: 1399px) {
    .header__nav__logo {
        margin-right: 15px;
    }

}
@media (max-width: 1439px) {
    .filter {
        padding-left: 0;
        padding-right: 0;
    }
}
@media (max-width: 767px) {
    .in-select {
        visibility: visible;
        opacity: 1;
    }
    .hidden-menu {
        display: none;
    }
    .hidden-menu.active {
        display: block;
    }
    .slider__product__image {
        min-height: 180px;
    }
    .bg-grey .container {
        padding-top: 5px;
    }
    .filter__right .filter__menu a.active::after {
        left: -15px;
    }
}

.div {
    width: 100%;
}
@media (max-width: 767px) {
    .product__name {
        margin-top: 15px;
    }
    .form-item > label > input {
        width: auto;
    }
    .popular-product__aside {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    .aside-filter {
        max-width: 100%;
    }
}
@media (max-width: 400px) {
    .slider__product__image {
        min-height: 139px;
    }
}
.aside__creat-company--100 {
    width: 210px;
}
.filter-close-btn {
    display: none;
}
.title-modal-filter {
    display: none;
}
.action-buttons-row {
    display: none;
}
@media (max-width: 767px) {
    .title-modal-filter {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .filter .container{
        display: block !important;
    }
    .mobile-filter-modal {
        display: none;
        z-index: 500;
        margin-top: 0;
    }
    .mobile-filter-button.active + .mobile-filter-modal{
        position: fixed;
        display: block;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        padding: 15px;
        overflow-y: scroll;
        background: #fff;
    }
    .mobile-filter-modal .aside-filter {
        padding-top: 20px;
    }
    .mobile-wrap {
        padding-bottom: 10px;
    }
    .filter-close-btn {
        border-radius: 6px;
        font-size: 29px;
        height: 25px;
        width: 25px;
        display: flex;
        align-items: center;
        background: #fff;
        justify-content: center;
        color: #C0C0C0;
        border: 0;
        line-height: 0;
        transition: .3s;
    }
    .filter-close-btn:hover {
        color: #c40001;
    }
    .aside-filter__list {
        max-height: 100%;
    }
    .view-all {
        display: none;
    }
    .title-modal-filter {
        margin-top: 0;
        padding-bottom: 15px;
    }
    .action-buttons-row {
        display: flex;
        margin-top: 15px;
    }
    .mobile-filter-button img {
        display: none;
    }
    .mobile-filter-button {
        position: relative;

    }
    .mobile-filter-button:after {
        content: '';
        background: url("../img/alert-open.svg");
        width: 12px;
        height: 7px;
        transform: rotate(-90deg) translateY(-50%);
        position: absolute;
        right: -25px;
        top: 50%;
        margin-top: -3px;
    }
    .mobile-filter-modal .action-buttons-row {
        margin: 0;
        margin-top: 20px;
    }
}

@media (min-width: 576px) and (max-width: 991px) {
    .inputs-area {
        padding-left: 35px;
        padding-right: 35px;
    }
}

