@charset "UTF-8";
@font-face {
  font-family: 'Proxima Nova';
  src: url("../fonts/subset-ProximaNova-Regular.woff2") format("woff2"), url("../fonts/subset-ProximaNova-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Proxima Nova';
  src: url("../fonts/subset-ProximaNova-Bold.woff2") format("woff2"), url("../fonts/subset-ProximaNova-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Proxima Nova';
  src: url("../fonts/subset-ProximaNova-Semibold.woff2") format("woff2"), url("../fonts/subset-ProximaNova-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap; }

* {
  box-sizing: border-box; }
  *:before {
    box-sizing: border-box; }
  *:after {
    box-sizing: border-box; }

body {
  height: 100%;
  font-size: 16px;
  font-family: "Proxima Nova", sans-serif;
  color: "#000";
  overflow-x: hidden; }

.unstyled-list {
  margin: 0;
  padding: 0;
  list-style-type: none; }

::-webkit-input-placeholder {
  opacity: 1; }

::-moz-placeholder {
  opacity: 1; }

:-ms-input-placeholder {
  opacity: 1; }

::-ms-input-placeholder {
  opacity: 1; }

::placeholder {
  opacity: 1; }

::-moz-selection {
  background-color: blue;
  color: #fff; }

::selection {
  background-color: blue;
  color: #fff; }

img {
  vertical-align: top;
  max-width: 100%;
  height: auto; }

svg {
  vertical-align: top;
  max-width: 100%; }

iframe {
  vertical-align: top;
  max-width: 100%; }

.button-unstyled {
  padding: 0;
  border: 0;
  background: none; }

.tac {
  text-align: center; }

.tar {
  text-align: right; }

.m0 {
  margin: 0; }

.p0 {
  padding: 0; }

.pt30 {
  padding-top: 30px; }

.page-header {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1; }
  .page-header::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 72, 180, 0.95) 0%, rgba(5, 215, 212, 0.95) 100%);
    z-index: -1; }

.page-header__top {
  padding: 15px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2); }

.logo-header {
  flex-shrink: 0; }

.channel .channel__title {
  font-size: 16px;
  line-height: 23px;
  color: #FFFFFF;
  margin-right: 10px; }

.channel .channel__link {
  font-weight: bold;
  font-size: 16px;
  line-height: 23px;
  color: #FFFFFF;
  -webkit-text-decoration: underline transparent;
          text-decoration: underline transparent;
  transition: .3s;
  padding-left: 20px;
  position: relative; }
  .channel .channel__link:hover, .channel .channel__link:active {
    text-decoration: underline; }
  .channel .channel__link::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 14px;
    height: 12px;
    background-image: url(../img/tg.svg); }

.processing {
  font-size: 16px;
  line-height: 23px;
  color: #FFFFFF;
  padding-left: 10px; }

.phone {
  font-weight: bold;
  font-size: 18px;
  line-height: normal;
  text-transform: uppercase;
  color: #FFFFFF;
  -webkit-text-decoration: underline transparent;
          text-decoration: underline transparent;
  transition: .3s; }
  .phone:hover, .phone:active {
    text-decoration: underline; }

.page-header__info {
  display: flex;
  justify-content: space-between; }

.page-header__bottom {
  padding-top: 7px;
  padding-bottom: 7px;
  display: flex;
  align-items: center;
  justify-content: space-between; }

.toggle-navbar {
  display: flex;
  align-items: center; }

.graph {
  line-height: 120%;
  margin-right: 20px;
  color: #fff;
  margin-right: 55px; }

.nav-header .hav-header__item {
  margin-right: 30px; }

.nav-header ul {
  display: flex; }

.nav-header a {
  transition: .3s;
  -webkit-text-decoration: underline transparent;
          text-decoration: underline transparent;
  font-size: 16px;
  line-height: normal;
  color: #fff; }
  .nav-header a:hover, .nav-header a:active {
    text-decoration: underline; }

.login .login__item {
  display: inline-flex;
  padding: 11px 21px;
  background: rgba(255, 255, 255, 0);
  border-radius: 4px;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  transition: .3s; }
  .login .login__item:not(:last-child) {
    margin-right: 10px; }
  .login .login__item:hover, .login .login__item:active {
    background: rgba(255, 255, 255, 0.2); }

.main-title {
  font-size: 48px;
  line-height: normal;
  text-align: center;
  color: #FFFFFF;
  padding: 40px 0; }
  .main-title span {
    opacity: .5; }

.page-main__top {
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 1;
  padding: 80px 0 50px; }
  .page-main__top:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(216, 229, 239, 0.93);
    z-index: -1; }

.table-row {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  width: 100%;
  padding-bottom: 30px; }

.table__item:first-child {
  margin-right: 20px; }

.table__value {
  display: flex;
  margin-bottom: 15px; }

.table__button {
  padding: 2px 12px;
  background-color: rgba(255, 255, 255, 0.2);
  color: #ffffff;
  border-radius: 15px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 600;
  text-align: center;
  display: inline-flex;
  align-items: center;
  transition: .3s; }
  .table__button:not(:last-child) {
    margin-right: 5px; }
  .table__button:hover, .table__button:active, .table__button.active {
    background-color: rgba(0, 0, 0, 0.3); }

.table {
  border-radius: 6px;
  overflow: hidden; }
  .table .table__row {
    padding: 0 20px;
    background-color: #fff;
    display: flex;
    align-items: center;
    transition: .5s;
    text-decoration: none;
    color: #000000;
    height: 50px; }
    .table .table__row {
      border-bottom: 1px solid rgba(0, 0, 0, 0.05); }
    .table .table__row:hover, .table .table__row:active {
      background-color: #eee; }
  .table .table__row--name {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 16px 20px; }
    .table .table__row--name:hover, .table .table__row--name:active {
      background-color: rgba(255, 255, 255, 0.2); }
  .table .table__col {
    display: flex;
    align-items: center; }
    .table .table__col:nth-child(1) {
      width: 254px; }
    .table .table__col:nth-child(2) {
      width: 197px; }
    .table .table__col:nth-child(3) {
      width: 153px; }
  .table .table__col--name {
    font-weight: 600;
    font-size: 15px;
    color: #fff;
    text-transform: uppercase; }
  .table .table__img {
    max-width: 50px;
    margin-right: 20px; }

@media (max-width: 991px) {
  .scroll {
    overflow-x: scroll;
    margin-right: -15px; } }

.hamburger {
  display: none;
  cursor: pointer; }

.welcome {
  background: url(../img/shape.png) no-repeat right 100%, #fff;
  padding: 110px 0;
  position: relative; }
  .welcome--beige {
    background-color: #E5E5E5; }
  .welcome--tables {
    padding: 50px 0 100px;
    background-image: none; }

.welcome__title {
  font-weight: bold;
  font-size: 36px;
  line-height: 53px;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 20px;
  margin-top: 0; }

.welcome__right img {
  height: initial;
  max-width: initial; }

.welcome__decription {
  font-weight: 600;
  font-size: 16px;
  line-height: 29px;
  color: #000000;
  background: #fff;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.059);
  border-radius: 10px;
  padding: 10px 25px;
  margin-left: -30px;
  margin-right: -15px;
  border-left: 5px solid #03A3C1;
  margin-bottom: 30px; }

.welcome-text {
  font-size: 16px;
  line-height: 29px;
  color: #000000; }
  .welcome-text p {
    margin-bottom: 30px; }

.features {
  background: linear-gradient(167.17deg, rgba(33, 93, 181, 0.8) 1.67%, rgba(16, 213, 209, 0.8) 112.09%);
  padding: 60px 0 40px; }

.features__title {
  font-weight: bold;
  font-size: 38px;
  line-height: normal;
  color: #FFFFFF;
  text-align: center;
  position: relative;
  padding-bottom: 20px;
  margin-bottom: 40px; }
  .features__title:before {
    content: '';
    position: absolute;
    background: rgba(255, 255, 255, 0.3);
    height: 1px;
    width: 100px;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%); }

.features__item {
  display: flex;
  align-items: center;
  margin-bottom: 60px; }
  .features__item .features__img {
    flex-shrink: 0;
    margin-right: 15px; }

.features__info .features__name {
  font-size: 22px;
  line-height: normal;
  color: #FFFFFF;
  font-weight: bold;
  margin-bottom: 10px; }

.features__info .features__text {
  margin: 0;
  font-size: 16px;
  line-height: normal;
  color: rgba(255, 255, 255, 0.8); }

.about-us {
  padding: 70px 0; }
  .about-us .about-us__info {
    max-width: 445px;
    margin: 0 auto; }
  .about-us .about-us__title {
    font-weight: 600;
    font-size: 32px;
    line-height: normal;
    color: #333333;
    text-align: center;
    margin-top: 0;
    margin-bottom: 17px; }
  .about-us .about-us__text {
    font-size: 16px;
    line-height: normal;
    text-align: center;
    color: rgba(0, 0, 0, 0.6); }

.swiper-container {
  max-width: 850px;
  width: 100%;
  margin: 0 auto; }

.review {
  max-width: 695px;
  width: 100%;
  margin: 0 auto; }

.review__text {
  padding: 15px 32px;
  border: 1px solid rgba(47, 135, 165, 0.1);
  border-radius: 8px;
  font-size: 16px;
  line-height: 23px;
  text-align: center;
  color: #818487;
  position: relative;
  z-index: 1; }
  .review__text:before {
    content: '';
    position: absolute;
    width: 105px;
    height: 80px;
    background: url(../img/quotes.svg) right no-repeat, #fff;
    z-index: -1;
    top: -30px;
    left: 30px; }

.swiper-wrapper {
  padding-top: 30px; }

.swiper-button-next, .swiper-button-prev {
  width: 20px;
  height: 26px;
  background-size: initial;
  margin-top: -45px; }

.review__author {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 25px; }
  .review__author .review__img {
    flex-shrink: 0;
    margin-right: 10px; }
  .review__author .review__company {
    font-size: 15px;
    line-height: normal;
    color: #333333;
    margin-bottom: 4px; }
  .review__author .review__position {
    font-size: 13px;
    line-height: normal;
    color: #888888; }

.swiper-pagination {
  position: static; }

.swiper-pagination-bullet {
  opacity: 1;
  background-color: #055FC0;
  transition: .3s;
  border-radius: 50%; }

.swiper-pagination-bullet-active {
  opacity: 1;
  background-color: #055FC0;
  -webkit-transform: scale(0.85);
          transform: scale(0.85); }

.partners {
  padding: 60px 0 90px;
  background-color: #FDFDFD; }

.partner__title {
  text-align: center;
  font-weight: 600;
  font-size: 32px;
  line-height: normal;
  color: #333333;
  margin-top: 0;
  margin-bottom: 50px; }

.partners__row {
  max-width: 1010px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: space-between; }
  .partners__row .partners__item {
    margin-bottom: 45px;
    display: block; }

.reserve {
  max-width: 998px;
  width: 100%;
  margin: 0 auto; }

.reserve__row {
  display: -ms-grid;
  display: grid;
  gap: 30px;
  -ms-grid-columns: 1fr 30px 1fr 30px 1fr 30px 1fr;
  grid-template-columns: repeat(4, 1fr); }

.reserve__item {
  padding: 10px 15px;
  background: #FFFFFF;
  border-radius: 6px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
  width: 227px;
  display: flex;
  align-items: center; }
  .reserve__item:nth-child(4n) {
    margin-right: 0; }
  .reserve__item .reserve__img {
    margin-right: 10px; }
  .reserve__item .reserve__title {
    font-size: 15px;
    line-height: normal;
    margin-bottom: 5px;
    font-weight: normal; }
  .reserve__item .reserve__value {
    font-weight: 600;
    font-size: 15px;
    line-height: normal; }

.reserve-area {
  background-color: #F4FAFC;
  padding: 70px 0 70px; }
  .reserve-area .title {
    text-align: center;
    font-size: 32px;
    line-height: normal;
    color: #333333;
    margin-top: 0;
    margin-bottom: 50px; }

.top-container {
  padding: 60px 15px 20px; }

.page-name {
  font-weight: 600;
  font-size: 48px;
  line-height: normal;
  color: #FFFFFF;
  padding-bottom: 13px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  margin: 0; }

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  padding-top: 20px; }
  .breadcrumbs li {
    font-size: 16px;
    line-height: normal;
    color: rgba(255, 255, 255, 0.7);
    position: relative; }
    .breadcrumbs li:not(:last-child) {
      margin-right: 5px; }
      .breadcrumbs li:not(:last-child)::after {
        content: '•';
        color: #fff; }
  .breadcrumbs a {
    font-size: 16px;
    line-height: normal;
    color: #FFFFFF;
    transition: .3s;
    -webkit-text-decoration: underline transparent;
            text-decoration: underline transparent;
    transition: .3s; }
    .breadcrumbs a:hover, .breadcrumbs a:active {
      text-decoration: underline; }

.text-info {
  font-size: 16px;
  line-height: 29px;
  color: rgba(0, 0, 0, 0.6);
  margin-bottom: 30px;
  max-width: 690px; }

.table__rate {
  margin-bottom: 30px; }
  .table__rate .table__row--name {
    background-color: #4A8CD7; }
    .table__rate .table__row--name:hover, .table__rate .table__row--name:active {
      background-color: #4A8CD7; }
  .table__rate .scroll {
    padding-bottom: 20px; }
  .table__rate .table {
    width: 770px; }
  .table__rate .table__col:nth-child(1) {
    width: 325px; }
  .table__rate .table__col:nth-child(2) {
    width: 270px; }
  .table__rate .table__put {
    font-size: 15px;
    line-height: normal;
    color: #000000;
    margin-right: 30px; }
  .table__rate .table__link {
    display: block;
    width: 18px;
    height: 18px;
    background: #4A8CD7;
    border-radius: 50%;
    position: relative;
    margin-left: 40px; }
    .table__rate .table__link::before {
      content: '';
      background-image: url(../img/arrow.svg);
      width: 5px;
      height: 8px;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%); }

.page-footer {
  padding: 10px 0 50px; }

.footer-text {
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  opacity: 0.5;
  margin: 0;
  max-width: 264px;
  margin-top: 25px; }

.footer-title {
  font-size: 14px;
  line-height: normal;
  color: #000000;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 15px; }

.footer-nav li {
  margin-bottom: 13px; }

.footer-nav a {
  font-size: 15px;
  line-height: normal;
  color: #919191;
  transition: .3s;
  -webkit-text-decoration: underline transparent;
          text-decoration: underline transparent; }
  .footer-nav a:hover, .footer-nav a:active {
    text-decoration: underline; }

.footer-info {
  max-width: 215px; }

.footer-phone {
  font-size: 24px;
  line-height: normal;
  color: #000000;
  transition: .3s;
  -webkit-text-decoration: underline transparent;
          text-decoration: underline transparent;
  display: block;
  margin-bottom: 12px; }
  .footer-phone:hover, .footer-phone:active {
    text-decoration: underline; }

.email {
  font-size: 13px;
  line-height: normal;
  color: #000000;
  opacity: 0.4;
  -webkit-text-decoration: dashed underline;
          text-decoration: dashed underline;
  transition: .3s; }
  .email:hover, .email:active {
    -webkit-text-decoration: dashed underline transparent;
            text-decoration: dashed underline transparent; }

.email-end {
  max-width: 200px;
  text-align: right;
  margin: 15px 0; }

.social {
  display: flex;
  justify-content: flex-end;
  padding: 0 15px; }
  .social .social__link {
    background: #E1E9EC;
    border-radius: 50%;
    display: block;
    width: 40px;
    height: 40px;
    position: relative; }
    .social .social__link:not(:last-child) {
      margin-right: 20px; }
    .social .social__link:after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      background: #A5B0B5;
      -webkit-mask-size: contain;
              mask-size: contain;
      -webkit-mask-repeat: no-repeat;
              mask-repeat: no-repeat;
      width: 20px;
      height: 20px;
      transition: .3s; }
    .social .social__link:hover.facebook:after, .social .social__link:active.facebook:after {
      background: #4267b2; }
    .social .social__link:hover.instagram:after, .social .social__link:active.instagram:after {
      background: #000; }
    .social .social__link:hover.telegram:after, .social .social__link:active.telegram:after {
      background: #1e96c8; }

.facebook:after {
  -webkit-mask: url("../img/sprite.svg#icon-facebook");
          mask: url("../img/sprite.svg#icon-facebook"); }

.instagram:after {
  -webkit-mask: url("../img/sprite.svg#icon-instagram");
          mask: url("../img/sprite.svg#icon-instagram"); }

.telegram:after {
  -webkit-mask: url("../img/sprite.svg#icon-telegram");
          mask: url("../img/sprite.svg#icon-telegram"); }

.button {
  display: inline-block;
  padding: 10px 22px;
  font-weight: bold;
  font-size: 16px;
  line-height: normal;
  color: #FFFFFF;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  transition: .3s;
  text-decoration: none; }
  .button:active, .button:hover {
    background: rgba(0, 0, 0, 0.3); }

.page-header__button {
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 60px; }

.blue-btn {
  font-size: 14px;
  line-height: normal;
  color: #FFFFFF;
  background: #4b8dd8;
  border-radius: 4px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  max-width: 200px;
  width: 100%;
  padding: 13px 0;
  text-decoration: none;
  transition: .3s; }
  .blue-btn--input {
    cursor: pointer;
    border: 0;
    max-width: 100%; }
  .blue-btn--blur {
    text-transform: uppercase;
    max-width: 400px;
    border: 0;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    background: #1B7BEA;
    box-shadow: 0px 4px 6px rgba(27, 123, 234, 0.5); }
  .blue-btn:active, .blue-btn:hover {
    background: #2a8af8;
    box-shadow: none; }

.form-area__button {
  margin-top: 20px; }

.contact-form {
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.059);
  border-radius: 6px;
  overflow: hidden;
  background: #fff;
  margin-bottom: 30px; }
  .contact-form--auth {
    max-width: 510px; }
  .contact-form .contact-form__title {
    padding: 15px 30px;
    background: #4A8CD7;
    font-weight: bold;
    font-size: 16px;
    line-height: normal;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0; }
  .contact-form .form-area {
    padding: 30px; }
  .contact-form .form-name {
    font-size: 14px;
    line-height: normal;
    color: #7C7C7C; }
  .contact-form .form-input,
  .contact-form .form-textarea {
    border: none;
    height: 24px;
    border-bottom: 1px solid #E6E6E6;
    width: 100%;
    position: relative;
    transition: .3s; }
    .contact-form .form-input:focus,
    .contact-form .form-textarea:focus {
      border-color: #4a8cd7; }
  .contact-form .form-textarea {
    resize: none; }

.input-group .form-item {
  display: block; }
  .input-group .form-item:not(:last-child) {
    margin-bottom: 27px; }

.fargot-password {
  margin-top: 15px;
  display: flex;
  justify-content: space-between; }
  .fargot-password a {
    font-size: 13px;
    line-height: normal;
    font-style: italic;
    color: #6BA6FF;
    -webkit-text-decoration: underline transparent;
            text-decoration: underline transparent;
    transition: .3s; }
    .fargot-password a:hover, .fargot-password a:active {
      text-decoration: underline; }

.form-contacts .input-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

.form-contacts .form-area__button {
  max-width: 200px; }

.form-contacts .form-item {
  max-width: 288px;
  width: 100%; }

.form-contacts .form-item--textarea {
  max-width: 100%; }
  .form-contacts .form-item--textarea .form-name {
    margin-bottom: 34px; }

.form-exchange .form-row {
  display: flex; }

.form-exchange .form-item--blue .form-name {
  color: #4a8cd7; }

.form-exchange .form-item--blue .form-input {
  border-bottom: 2px solid #4a8cd7; }

.form-exchange .form-left {
  width: 50%; }
  .form-exchange .form-left .form-item {
    display: block;
    max-width: 310px; }

.form-exchange .form-right {
  width: 50%; }
  .form-exchange .form-right .form-item {
    display: block;
    max-width: 250px;
    margin-left: auto; }
    .form-exchange .form-right .form-item:not(:last-child) {
      margin-bottom: 30px; }

.arrow-right {
  position: relative; }
  .arrow-right::after {
    content: '';
    background-image: url(../img/arrow.svg);
    background-size: contain;
    width: 9px;
    height: 14px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    right: -20px; }

.minmax-value {
  font-size: 15px;
  line-height: normal;
  color: #000000;
  margin-bottom: 20px;
  text-align: right; }

.custom_filter {
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  max-width: 250px;
  margin-top: -10px; }
  .custom_filter .tour_filter__headline {
    font-size: 42px;
    line-height: 72px; }
    .custom_filter .tour_filter__headline:after {
      content: '';
      display: block;
      width: 45px;
      height: 2px; }
  .custom_filter .filters {
    position: relative;
    display: inline-flex;
    flex-wrap: wrap;
    width: 100%;
    height: 50px;
    z-index: 3; }
    .custom_filter .filters:focus .filter.first {
      border-color: #4a8cd7; }
    .custom_filter .filters .filter {
      display: inline-flex;
      align-items: center;
      position: relative;
      width: 100%;
      height: 50px;
      opacity: 0;
      padding: 0;
      cursor: pointer;
      text-align: center;
      pointer-events: none;
      background-color: #fff;
      border-bottom: 1px solid #E6E6E6; }
      .custom_filter .filters .filter:nth-child(1).active {
        -webkit-transform: translateY(0px);
                transform: translateY(0px); }
      .custom_filter .filters .filter:nth-child(2).active {
        -webkit-transform: translateY(-50px);
                transform: translateY(-50px); }
      .custom_filter .filters .filter:nth-child(3).active {
        -webkit-transform: translateY(-100px);
                transform: translateY(-100px); }
      .custom_filter .filters .filter:nth-child(4).active {
        -webkit-transform: translateY(-150px);
                transform: translateY(-150px); }
      .custom_filter .filters .filter:nth-child(5).active {
        -webkit-transform: translateY(-200px);
                transform: translateY(-200px); }
      .custom_filter .filters .filter:nth-child(6).active {
        -webkit-transform: translateY(-250px);
                transform: translateY(-250px); }
      .custom_filter .filters .filter:nth-child(7).active {
        -webkit-transform: translateY(-300px);
                transform: translateY(-300px); }
      .custom_filter .filters .filter:nth-child(8).active {
        -webkit-transform: translateY(-350px);
                transform: translateY(-350px); }
      .custom_filter .filters .filter:nth-child(9).active {
        -webkit-transform: translateY(-400px);
                transform: translateY(-400px); }
      .custom_filter .filters .filter:nth-child(10).active {
        -webkit-transform: translateY(-450px);
                transform: translateY(-450px); }
      .custom_filter .filters .filter:nth-child(11).active {
        -webkit-transform: translateY(-500px);
                transform: translateY(-500px); }
      .custom_filter .filters .filter:nth-child(12).active {
        -webkit-transform: translateY(-550px);
                transform: translateY(-550px); }
      .custom_filter .filters .filter:nth-child(13).active {
        -webkit-transform: translateY(-600px);
                transform: translateY(-600px); }
      .custom_filter .filters .filter:nth-child(14).active {
        -webkit-transform: translateY(-650px);
                transform: translateY(-650px); }
      .custom_filter .filters .filter:nth-child(15).active {
        -webkit-transform: translateY(-700px);
                transform: translateY(-700px); }
      .custom_filter .filters .filter:nth-child(16).active {
        -webkit-transform: translateY(-750px);
                transform: translateY(-750px); }
      .custom_filter .filters .filter:nth-child(17).active {
        -webkit-transform: translateY(-800px);
                transform: translateY(-800px); }
      .custom_filter .filters .filter:nth-child(18).active {
        -webkit-transform: translateY(-850px);
                transform: translateY(-850px); }
      .custom_filter .filters .filter:nth-child(19).active {
        -webkit-transform: translateY(-900px);
                transform: translateY(-900px); }
      .custom_filter .filters .filter:nth-child(20).active {
        -webkit-transform: translateY(-950px);
                transform: translateY(-950px); }
      .custom_filter .filters .filter.active {
        height: 50px;
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0); }
    .custom_filter .filters.open {
      z-index: 5; }
      .custom_filter .filters.open .filter {
        height: 50px;
        opacity: 1;
        border-radius: 0;
        pointer-events: auto; }
        .custom_filter .filters.open .filter:nth-child(1) {
          -webkit-transform: translateY(0);
                  transform: translateY(0); }
        .custom_filter .filters.open .filter:nth-child(2) {
          -webkit-transform: translateY(0);
                  transform: translateY(0); }
        .custom_filter .filters.open .filter:nth-child(3) {
          -webkit-transform: translateY(0);
                  transform: translateY(0); }
        .custom_filter .filters.open .filter:nth-child(4) {
          -webkit-transform: translateY(0);
                  transform: translateY(0); }
        .custom_filter .filters.open .filter:nth-child(5) {
          -webkit-transform: translateY(0);
                  transform: translateY(0); }
        .custom_filter .filters.open .filter:nth-child(6) {
          -webkit-transform: translateY(0);
                  transform: translateY(0); }
        .custom_filter .filters.open .filter:nth-child(7) {
          -webkit-transform: translateY(0);
                  transform: translateY(0); }
        .custom_filter .filters.open .filter:nth-child(8) {
          -webkit-transform: translateY(0);
                  transform: translateY(0); }
        .custom_filter .filters.open .filter:nth-child(9) {
          -webkit-transform: translateY(0);
                  transform: translateY(0); }
        .custom_filter .filters.open .filter:nth-child(10) {
          -webkit-transform: translateY(0);
                  transform: translateY(0); }
        .custom_filter .filters.open .filter:nth-child(11) {
          -webkit-transform: translateY(0);
                  transform: translateY(0); }
        .custom_filter .filters.open .filter:nth-child(12) {
          -webkit-transform: translateY(0);
                  transform: translateY(0); }
        .custom_filter .filters.open .filter:nth-child(13) {
          -webkit-transform: translateY(0);
                  transform: translateY(0); }
        .custom_filter .filters.open .filter:nth-child(14) {
          -webkit-transform: translateY(0);
                  transform: translateY(0); }
        .custom_filter .filters.open .filter:nth-child(15) {
          -webkit-transform: translateY(0);
                  transform: translateY(0); }
        .custom_filter .filters.open .filter:nth-child(16) {
          -webkit-transform: translateY(0);
                  transform: translateY(0); }
        .custom_filter .filters.open .filter:nth-child(17) {
          -webkit-transform: translateY(0);
                  transform: translateY(0); }
        .custom_filter .filters.open .filter:nth-child(18) {
          -webkit-transform: translateY(0);
                  transform: translateY(0); }
        .custom_filter .filters.open .filter:nth-child(19) {
          -webkit-transform: translateY(0);
                  transform: translateY(0); }
        .custom_filter .filters.open .filter:nth-child(20) {
          -webkit-transform: translateY(0);
                  transform: translateY(0); }
    .custom_filter .filters:after {
      content: '';
      display: inline-block;
      position: absolute;
      right: 20px;
      top: 50%;
      background-image: url(../img/select.svg);
      width: 8px;
      height: 8px;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%); }

.custom-select__option {
  font-size: 15px;
  line-height: normal;
  color: #000000; }
  .custom-select__option span {
    margin-left: 10px;
    text-transform: none; }

.money-text {
  font-size: 13px;
  line-height: 24px;
  margin-bottom: 20px;
  color: rgba(0, 0, 0, 0.5); }

.form-exchange .get-title {
  background: #79C45F; }
  .form-exchange .get-title .arrow-right:after {
    -webkit-transform: translateY(-50%) rotate(180deg);
            transform: translateY(-50%) rotate(180deg); }

@media (max-width: 1399px) {
  .welcome__right img {
    max-width: 100%;
    height: auto; } }

@media (max-width: 1199px) {
  .graph {
    display: none; } }

@media (max-width: 991px) {
  .processing {
    padding-left: 0;
    padding-right: 15px;
    display: inline-block;
    white-space: nowrap; }
  .phone {
    white-space: nowrap; }
  .toggle-navbar {
    display: block;
    padding: 20px 0; }
  .mobile-menu {
    transition: .5s ease-in-out margin, .5s ease-in-out opacity .3s, .5s ease-in-out visibility .3s;
    margin-top: -250px;
    opacity: 0;
    visibility: hidden;
    z-index: 1;
    position: relative;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding-bottom: 5px; }
    .mobile-menu.active {
      margin-top: 0;
      opacity: 1;
      visibility: visible; }
  .page-header__bottom {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding-bottom: 10px;
    padding-top: 10px;
    position: relative; }
  .logo-header {
    max-width: 200px; }
  .hamburger {
    display: block; }
  .graph {
    margin-right: 0;
    text-align: center; }
  .nav-header {
    padding: 20px 0; }
    .nav-header ul {
      display: block;
      text-align: center; }
    .nav-header .hav-header__item {
      margin-right: 0;
      margin-bottom: 5px; }
  .login {
    display: flex;
    justify-content: center; }
    .login .login__item {
      background: rgba(255, 255, 255, 0.1);
      padding: 11px 0;
      width: 100%;
      max-width: 150px;
      display: flex;
      justify-content: center; }
  .page-header__top, .page-header__bottom {
    z-index: 2;
    position: relative; }
  .main-title {
    padding: 20px 0;
    font-size: 35px; }
  .welcome__title {
    font-size: 30px; }
  .welcome {
    padding: 50px 0; }
  .welcome__decription {
    margin: 0; }
  .features {
    padding: 40px 0 20px; }
  .partners {
    padding: 50px 0 30px; }
  .reserve-area {
    padding: 50px 0 30px; }
  .reserve {
    padding-bottom: 35px;
    overflow-x: scroll; }
  .footer-phone {
    font-size: 20px; }
  .page-name {
    font-size: 42px; }
  .form-row {
    flex-wrap: wrap; }
  .form-exchange .form-left {
    width: 100%;
    margin-bottom: 20px; }
  .form-exchange .form-right {
    width: 100%; }
  .form-exchange .form-right .form-item {
    max-width: 100%; } }

@media (max-width: 767px) {
  .page-name {
    font-size: 38px; }
  .page-header__info {
    display: block;
    margin-top: 10px; }
  .page-header__top, .page-header__bottom {
    z-index: 2;
    position: relative; }
  .main-title {
    padding: 20px 0;
    font-size: 30px; }
  .welcome__title {
    font-size: 25px; }
    .welcome__title br {
      display: none; }
  .footer-info {
    max-width: 100%; }
  .call-number, .contacts {
    display: flex;
    align-items: center;
    justify-content: flex-end; }
  .call-number {
    margin-bottom: 20px; }
  .footer-phone {
    margin-bottom: 0;
    margin-right: 20px; }
  .social {
    padding-right: 0; }
  .form-contacts .form-item {
    max-width: 100%;
    width: 100%; } }

@media (max-width: 709px) {
  .review__text {
    border-right: 0;
    border-left: 0;
    border-radius: 0; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .reserve__item {
    width: auto; }
  .form-contacts .form-item {
    margin-right: 20px; } }

@media (max-width: 1199px) {
  .order_1 {
    order: 1; }
  .order_2 {
    order: 2; } }
