* {
	box-sizing: border-box;
	&:before {
		box-sizing: border-box;
	}
	&:after {
		box-sizing: border-box;
	}
}

body {
	height: 100%;
	font-family: "Muller", sans-serif;
}
img, svg, iframe {
	vertical-align: top;
}
img {
	max-width: 100%;
	height: auto;
}
.list-unstyled {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

::placeholder {
	opacity: 1;
}

::selection {
	background-color: blue;
	color: #fff;
}



