

//vars color
$red-gradient: radial-gradient(50% 277%, #E34D45 0%, #92251F 100%);
$blue-gradient: radial-gradient(50% 277%, #375ba9 0%, #152a56 100%);

$blue-revert: radial-gradient(50% 277%, hsl(221, 61%, 44%) 0%, hsl(221, 71%, 21%) 100%);
$red-revert: radial-gradient(50% 277%, hsl(3, 84%, 58%) 0%, hsl(3, 75%, 35%) 100%);


//----------


$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;




