.skills {
  h2 {
    text-align: center;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  gap: var(--gap-12);
}

.skill {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: var(--gap-12);
  background-color: var(--secondary-alpha);
  border: 1px solid var(--tertiary);
  border-radius: var(--radius-16);
  padding: 15px;
  aspect-ratio: 1;
  transition: var(--transition-ease);
  position: relative;

  img,
  span {
    transition: var(--transition-ease);
  }

  span {
    position: absolute;
    bottom: 15px;
    translate: 0 12px;
    opacity: 0;
    text-align: center;
  }

  @include is-touch {
    &:hover {
      img {
        scale: 0.88;
        translate: 0 -12px;
      }
      span {
        translate: 0 0;
        opacity: 1;
      }
    }
  }
}

@include media(max, 1199) {
  .skill {
    font-size: 12px;
    img {
      width: 50px;
      height: 50px;
    }
  }
}

@include media(max, 991) {
  .grid {
    grid-template-columns: repeat(6, 1fr);
  }
  .skill {
    img {
      width: 60px;
      height: 60px;
    }
  }
}

@include media(max, 767) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
    gap: var(--gap-10);
  }
}

@include media(max, 575) {
  .grid {
    gap: var(--gap-8);
  }

  .skill {
    img {
      width: 50px;
      height: 50px;
    }

    @include is-touch {
      &:hover {
        span {
          translate: 0 10px;
        }
      }
    }
  }
}
