.skills {
  h2 {
    text-align: center;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  gap: 15px;
}

.skill {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary-alpha);
  border: 1px solid var(--tertiary);
  border-radius: var(--radius-12);
  padding: 15px;
  aspect-ratio: 1;
  transition: var(--transition-ease);
}

@include media(max, 1199) {
  .skill {
    img {
      width: 50px;
      height: 50px;
    }
  }
}

@include media(max, 991) {
  .grid {
    grid-template-columns: repeat(6, 1fr);
  }
  .skill {
    img {
      width: 60px;
      height: 60px;
    }
  }
}

@include media(max, 767) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
  }
}

@include media(max, 575) {
  .grid {
    gap: 8px;
  }
  .skill {
    img {
      width: 50px;
      height: 50px;
    }
  }
}
