@font-face {
  font-family: 'Muller';
  src: url("../fonts/MullerBold.woff2") format("woff2"), url("../fonts/MullerBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lucida Grande';
  src: url("../fonts/LucidaGrande-Bold.woff2") format("woff2"), url("../fonts/LucidaGrande-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Muller';
  src: url("../fonts/MullerMedium.woff2") format("woff2"), url("../fonts/MullerMedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
}

*:before {
  box-sizing: border-box;
}

*:after {
  box-sizing: border-box;
}

body {
  height: 100%;
  font-family: "Muller", sans-serif;
}

img, svg, iframe {
  vertical-align: top;
}

img {
  max-width: 100%;
  height: auto;
}

.list-unstyled {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

::-webkit-input-placeholder {
  opacity: 1;
}

::-moz-placeholder {
  opacity: 1;
}

:-ms-input-placeholder {
  opacity: 1;
}

::-ms-input-placeholder {
  opacity: 1;
}

::placeholder {
  opacity: 1;
}

::-moz-selection {
  background-color: blue;
  color: #fff;
}

::selection {
  background-color: blue;
  color: #fff;
}

@-webkit-keyframes carRace {
  from {
    -webkit-transform: translate3d(-100%, -100%, 0) scale(0);
            transform: translate3d(-100%, -100%, 0) scale(0);
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0) scale(1);
            transform: translate3d(0, 0, 0) scale(1);
  }
}

@keyframes carRace {
  from {
    -webkit-transform: translate3d(-100%, -100%, 0) scale(0);
            transform: translate3d(-100%, -100%, 0) scale(0);
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0) scale(1);
            transform: translate3d(0, 0, 0) scale(1);
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.carcas {
  width: 379px;
  height: 764px;
  padding: 25px;
  overflow: hidden;
  padding-bottom: 60px;
  padding-top: 23px;
  margin: auto;
}

.app {
  padding: 28px 20px;
  border-radius: 32px;
  height: 100%;
  overflow: hidden;
}

.app--none {
  padding-bottom: 0;
}

.app__back {
  font-weight: bold;
  font-size: 24px;
  -webkit-text-decoration: underline transparent;
          text-decoration: underline transparent;
  color: #fff;
  line-height: 24px;
  padding-left: 17px;
  position: relative;
  -webkit-transition: .3s;
  transition: .3s;
}

.app__back::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 12px;
  height: 20px;
  margin-top: -1px;
  background: url(../img/arrow.svg) no-repeat;
  background-size: contain;
  -webkit-transition: .3s;
  transition: .3s;
}

.app__back:hover::before {
  margin-left: -5px;
}

.app__img {
  margin-top: 56px;
  text-align: center;
  margin-bottom: 60px;
}

.app__img img {
  width: 226px;
}

.btn {
  border-radius: 10px;
  text-decoration: none;
  max-width: 350px;
  margin: 0 auto;
  width: 100%;
  height: 74px;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  color: #FFFFFF;
  font-weight: bold;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  -webkit-transition: .3s;
  transition: .3s;
  position: relative;
  cursor: pointer;
}

.btn--red {
  background: radial-gradient(50% 277%, #E34D45 0%, #92251F 100%);
}

.btn--red:hover {
  background: radial-gradient(50% 277%, #ee433a 0%, #9c1d16 100%);
}

.btn--blue {
  background: radial-gradient(50% 277%, #375ba9 0%, #152a56 100%);
}

.btn--blue img {
  margin-left: 7px;
}

.btn--blue:hover {
  background: radial-gradient(50% 277%, #2c57b5 0%, #10285c 100%);
}

.btn--small {
  border-radius: 2px;
  height: 52px;
}

.btn-arrow {
  position: absolute;
  right: 48px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.btns--second {
  margin-top: 50px;
  margin-bottom: 50px;
}

.btns__item:not(:last-child) {
  margin-bottom: 20px;
}

.order {
  background: rgba(19, 19, 19, 0.72);
  border-radius: 40px;
  padding: 30px 25px;
  margin-left: -21px;
  margin-right: -21px;
  padding-bottom: 83px;
}

.order--scroll {
  padding-bottom: 141px;
}

.order__title {
  font-size: 28px;
  line-height: 28px;
  color: #FFFFFF;
  font-weight: bold;
  text-align: center;
  margin-top: 0;
  margin-bottom: 23px;
}

.order__title--car {
  margin-bottom: 32px;
}

.order__item {
  background: #16181A;
  border: 1px solid rgba(255, 255, 255, 0.03);
  border-radius: 5px;
  padding: 18px 24px;
  max-width: 323px;
  margin: 0 auto;
  position: relative;
}

.order__item:not(:last-child) {
  margin-bottom: 20px;
}

.order__item-close {
  position: absolute;
  border: none;
  padding: 0;
  background: radial-gradient(143.67% 143.67% at 50% 0%, #E34D45 0%, #92251F 100%);
  border: 1px solid #E03333;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  right: -15px;
  top: -15px;
  -webkit-transition: .3s;
  transition: .3s;
  cursor: pointer;
}

.order__item-close:hover svg {
  opacity: .7;
}

.order__item-close svg {
  -webkit-transition: .3s;
  transition: .3s;
  margin-left: -1px;
}

.order__item-id {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: #767E85;
}

.order__item-id span {
  font-family: "Lucida Grande";
}

.order__item-geo {
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
  color: #FFFFFF;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  margin-bottom: 14px;
}

.order__item-geo img {
  margin-right: 8px;
}

.order__item-geo span {
  display: inline-block;
  margin-top: 4px;
}

.order__item-status {
  font-weight: 500;
  font-size: 17px;
  line-height: 17px;
  color: #767E85;
  margin-bottom: 17px;
}

.order__item-value {
  color: #F5A623;
}

.order__item-value--green {
  color: #7ED321;
}

.app__car {
  margin-top: 130px;
  margin-bottom: 32px;
}

.app__car img {
  display: block;
  margin: 0 auto;
}

.container--tabs .nav-tabs {
  border-radius: 28px;
  overflow: hidden;
  display: -webkit-box;
  display: flex;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  width: 100%;
  background: #262A2D;
  margin-bottom: 24px;
  max-width: 325px;
}

.container--tabs .nav-tabs.active {
  color: #555;
  cursor: default;
  background-color: #fff;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
}

.nav-tabs__item a {
  font-weight: bold;
  font-size: 20px;
  line-height: 20px;
  color: #9B9B9B;
  text-decoration: none;
  -webkit-transition: .3s;
  transition: .3s;
  padding: 14px 20px;
  transition: .3s;
  display: block;
}

.nav-tabs__item.active {
  background: #C33D36;
}

.nav-tabs__item.active a {
  color: #fff;
}

.tab-content > .tab-pane {
  display: none;
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.tab-content > .tab-pane.active {
  display: block;
}

.tab-content > .active {
  display: block;
}

.custom-scroll {
  overflow: auto;
  margin-left: -25px;
  margin-right: -25px;
  padding: 0 25px;
  max-height: 339px;
}

.simplebar-scrollbar {
  width: 7px;
  right: 0;
}

.simplebar-scrollbar::before {
  background: #9B9B9B;
  border-radius: 4px;
}

.simplebar-track.simplebar-vertical {
  background: #262A2D;
  border-radius: 2px;
  width: 7px;
  border-radius: 4px;
  overflow: hidden;
  right: 7px;
  height: calc(100% - 17px);
}

.simplebar-track.simplebar-vertical .simplebar-scrollbar:before {
  top: 0;
  bottom: 0;
}

.custom-select select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  display: none;
}

.select-dropdown {
  position: relative;
  max-width: 325px;
  margin: 0 auto;
}

.select-dropdown .select-dropdown__button {
  margin: 0 auto;
  cursor: pointer;
  background: #16181A;
  border: 1px solid rgba(255, 255, 255, 0.03);
  border-radius: 10px;
  width: 100%;
  display: block;
  font-weight: bold;
  font-size: 28px;
  color: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
  padding: 20px 28px;
  position: relative;
}

.select-dropdown .select-dropdown__button span {
  text-align: left;
  display: block;
}

.select-dropdown .select-dropdown__button .select-dropdown__arrow {
  position: absolute;
  right: 28px;
  top: 50%;
  margin-top: -6px;
  -webkit-transition: .3s;
  transition: .3s;
}

.select-dropdown .select-dropdown__button.active .select-dropdown__arrow {
  -webkit-transform: scaleY(-1);
          transform: scaleY(-1);
}

.select-dropdown .select-dropdown__button.active .select-dropdown__arrow path {
  stroke: #E34D45;
}

.custom-select {
  position: relative;
}

.custom-select select {
  display: none;
}

.select-selected {
  margin: 0 auto;
  cursor: pointer;
  background: #16181A;
  border: 1px solid rgba(255, 255, 255, 0.03);
  border-radius: 10px;
  width: 100%;
  display: block;
  font-weight: bold;
  font-size: 22px;
  color: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
  padding: 20px 28px;
  position: relative;
}

.select-selected:after {
  position: absolute;
  content: '';
  top: 50%;
  margin-top: -6px;
  width: 23px;
  height: 12px;
  right: 30px;
  background: url(../img/arrow-bottom.svg) no-repeat;
  -webkit-transition: .3s;
  transition: .3s;
}

.select-selected.select-arrow-active:after {
  -webkit-transform: scaleY(-1);
          transform: scaleY(-1);
  background: url(../img/arrow-bottom-red.svg) no-repeat;
}

.select-items div {
  display: block;
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
  padding: 10px 24px;
  font-size: 26px;
  color: #9B9B9B;
}

.select-items {
  margin: 0 auto;
  cursor: pointer;
  background: #16181A;
  border: 1px solid rgba(255, 255, 255, 0.03);
  border-radius: 10px;
  width: 100%;
  font-weight: bold;
  font-size: 28px;
  color: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
  position: absolute;
  top: 130%;
  z-index: 10;
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  opacity: 1;
  visibility: visible;
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transition: .5s;
  transition: .5s;
  padding: 0;
}

.select-items div:first-child {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.select-items div:last-child {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.select-items::after {
  content: '';
  position: absolute;
  left: 50%;
  top: -30px;
  border: 15px solid transparent;
  border-bottom: 15px solid #16181A;
  width: 20px;
  height: 10px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.select-hide {
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  opacity: 0;
  visibility: hidden;
}

.select-items div {
  position: relative;
}

.select-items .div:hover,
.same-as-selected {
  color: #fff !important;
  background: #24282C;
}

.same-as-selected::after {
  position: absolute;
  content: '';
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 24px;
  height: 17px;
  right: 30px;
  background: url(../img/tick.svg) no-repeat;
}

.select-area {
  max-width: 325px;
  margin: 0 auto;
  margin-top: 45px;
  margin-bottom: 45px;
}

.select-area__title {
  font-weight: bold;
  font-size: 19px;
  line-height: 19px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-top: 0;
  margin-bottom: 14px;
}

.center {
  max-width: 379px;
  margin: 0 auto;
}

.carRace {
  -webkit-animation-name: carRace;
          animation-name: carRace;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-duration: 1.25s;
          animation-duration: 1.25s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-transform-origin: left top;
          transform-origin: left top;
}

.settings {
  -webkit-transition: .8s linear;
  transition: .8s linear;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.settings.scaled {
  -webkit-transform: scale(1);
          transform: scale(1);
}

/*# sourceMappingURL=main.css.map */
