@use '@styles/helpers/mixins' as *;

.actionButton {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 42px;
  width: 42px;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: var(--letter-spacing);
  color: var(--text);
  border-radius: var(--radius-10);
  border: 1px solid var(--black-3);
  transition: var(--transition);

  &:hover {
    border-color: var(--grey-5);
  }
  &:focus {
    border-color: var(--grey-6);
  }

  @media screen and (max-width: 767px) {
    height: 40px;
    width: 40px;
  }
}
