@charset "UTF-8";
@font-face {
  font-family: 'Nissan Brand';
  src: url("../fonts/subset-NissanBrand-Regular.woff2") format("woff2"), url("../fonts/subset-NissanBrand-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Nissan Brand';
  src: url("../fonts/subset-NissanBrand-Light.woff2") format("woff2"), url("../fonts/subset-NissanBrand-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Nissan Brand';
  src: url("../fonts/subset-NissanBrand-Bold.woff2") format("woff2"), url("../fonts/subset-NissanBrand-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

* {
  box-sizing: border-box; }
  *:before {
    box-sizing: border-box; }
  *:after {
    box-sizing: border-box; }
  *:focus {
    outline: none; }

body {
  height: 100%;
  font-size: 15px;
  min-width: 320px;
  line-height: normal;
  font-family: "Nissan Brand", sans-serif;
  color: #111111;
  position: relative;
  overflow-x: hidden; }

input[type="text"] {
  border-radius: 0;
  -webkit-appearance: none; }

input[type="password"] {
  border-radius: 0;
  -webkit-appearance: none; }

input[type="email"] {
  border-radius: 0;
  -webkit-appearance: none; }

input[type="search"] {
  border-radius: 0;
  -webkit-appearance: none; }

input[type="submit"] {
  border-radius: 0;
  -webkit-appearance: none; }

input[type="reset"] {
  border-radius: 0;
  -webkit-appearance: none; }

input[type="tel"] {
  border-radius: 0;
  -webkit-appearance: none; }

textarea {
  border-radius: 0;
  -webkit-appearance: none; }

ul {
  margin: 0;
  padding: 0;
  list-style-type: none; }

.list {
  margin: 0;
  padding: 0;
  list-style-type: none; }

::-webkit-input-placeholder {
  opacity: 1; }

:-ms-input-placeholder {
  opacity: 1; }

::-ms-input-placeholder {
  opacity: 1; }

::placeholder {
  opacity: 1; }

::-moz-selection {
  background-color: #C3092E;
  color: #fff; }

::selection {
  background-color: #C3092E;
  color: #fff; }

img {
  vertical-align: top;
  max-width: 100%;
  height: auto; }

svg {
  vertical-align: top;
  max-width: 100%; }

iframe {
  vertical-align: top;
  max-width: 100%; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  line-height: normal; }

p {
  margin: 0; }

button {
  padding: 0;
  border: 0;
  background: none; }

a {
  color: #111111;
  text-decoration: none;
  line-height: 100%; }

.auto {
  height: auto;
  max-width: inherit; }

blockquote {
  margin: 0; }

figure {
  margin: 0; }

/* header */
.page-header {
  display: flex;
  justify-content: center;
  background-size: cover;
  position: relative;
  height: 85px; }

.page-header__fixed {
  position: fixed;
  background: #fff;
  z-index: 10;
  background-size: cover;
  left: 0;
  right: 0;
  top: 0; }
  .page-header__fixed::after {
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    border: 2px solid #8c8c8c;
    transition: .3s; }
  .page-header__fixed.page-header--scrolled:after {
    -webkit-transform: translateX(0);
            transform: translateX(0); }

.page-header__menu {
  display: flex;
  align-items: center; }

.page-header__column {
  display: flex;
  align-items: center; }

.page-header__logo {
  height: 85px;
  position: relative;
  z-index: 2; }

.page-header__search-phone {
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  height: 40px; }

.page-header__contact {
  text-align: right;
  z-index: 2; }
  .page-header__contact .phone {
    font-size: 20px; }
  .page-header__contact .daily {
    color: #8c8c8c;
    font-size: 13px; }

/* ---------- */
/* header media*/
.navigation {
  position: relative;
  margin-left: 41px;
  margin-right: 41px; }
  .navigation > ul {
    display: flex;
    min-width: 715px;
    justify-content: space-between; }
  .navigation::after {
    content: '';
    position: absolute;
    height: 25px;
    width: 1px;
    background-color: #ECECEC;
    right: -41px;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%); }

.navigation__item {
  position: relative; }
  .navigation__item span:hover, .navigation__item span:active {
    color: #C3092E;
    transition: .3s; }
  .navigation__item.navigation__item--active span {
    color: #C3092E; }
  .navigation__item.navigation__item--active .navigation__dropdown {
    visibility: visible;
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0); }

.navigation__item--dropdown {
  cursor: pointer;
  z-index: 2;
  position: relative;
  padding-right: 20px; }
  .navigation__item--dropdown .icon-arrow {
    content: '';
    background-image: url(../img/arrow.svg);
    height: 18px;
    width: 18px;
    position: absolute;
    top: 3px;
    right: 0px; }

.navigation__dropdown {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  transition: .3s;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  top: 18px; }
  .navigation__dropdown a {
    display: block;
    margin-top: 20px; }
    .navigation__dropdown a:hover, .navigation__dropdown a:active {
      color: #C3092E;
      transition: .3s; }

.bmw-slider__item {
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
  background-position: center; }

.bmw-slider__text {
  text-align: left;
  padding-top: 195px; }

.owl-dots {
  position: absolute;
  bottom: 6%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%); }

.owl-carousel .owl-dots .owl-dot {
  width: 60px;
  cursor: pointer;
  height: 3px;
  background: #fff;
  margin-left: 10px;
  margin-right: 10px;
  position: relative;
  opacity: 0.5; }

.owl-carousel .owl-dots .owl-dot span {
  height: 100%;
  width: 0;
  transition: .3s;
  position: absolute;
  left: 0;
  top: 0; }

.owl-carousel .owl-dots .owl-dot.active {
  opacity: 1; }
  .owl-carousel .owl-dots .owl-dot.active span {
    background: #C3092E;
    width: 100%;
    right: 0; }

.owl-carousel .owl-nav {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  right: 0;
  height: 60px; }
  .owl-carousel .owl-nav .owl-prev {
    position: absolute;
    left: 40px;
    width: 40px;
    height: 60px; }
  .owl-carousel .owl-nav .owl-next {
    right: 40px;
    position: absolute;
    width: 40px;
    height: 60px; }

.title {
  font-size: 48px;
  line-height: 100%;
  margin-bottom: 45px;
  color: #fff;
  text-transform: uppercase; }

.title--border {
  position: relative; }
  .title--border::after {
    content: '';
    position: absolute;
    bottom: -26px;
    left: 0;
    width: 94px;
    border: 3px solid #C3092E; }

.text-banner {
  color: #FFFFFF; }

.quote {
  font-size: 18px;
  color: #FFFFFF;
  line-height: 100%;
  margin-bottom: 40px; }

.choose {
  color: #707070;
  font-size: 16px;
  display: block; }

.link-more {
  color: #000;
  display: inline-block;
  position: relative;
  transition: .3s; }
  .link-more::after {
    content: '';
    background-image: url(../img/arrow.svg);
    height: 20px;
    width: 20px;
    position: absolute;
    top: 50%;
    margin-top: -10px;
    right: -20px;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg); }
  .link-more:hover {
    color: #C3092E; }

.page-main {
  overflow-x: hidden;
  background: #E5E5E5; }

.body--hidden {
  overflow: hidden; }

.popular-product {
  background: #E5E5E5; }

.popular-product__text {
  text-align: center; }

.popular-product__mark {
  display: flex;
  flex-direction: column;
  justify-content: center; }

.popular-product__image {
  text-align: center; }

.popular-product__title {
  padding-top: 64px;
  font-size: 32px;
  color: #000000; }
  .popular-product__title.title--border:after {
    left: 50%;
    bottom: -20px;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%); }

.popular-product__choose {
  margin-top: 38px;
  padding-bottom: 38px; }

.popular-product__item {
  padding: 32px 30px 20px;
  margin-bottom: 25px;
  background: #fff; }
  .popular-product__item .mark__title {
    color: #C3092E;
    font-size: 22px;
    text-align: center; }
  .popular-product__item .mark__info {
    color: #838383;
    margin-top: 27px;
    margin-bottom: 30px;
    display: block;
    min-height: 42px; }
  .popular-product__item .popular-product__price {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-top: 30px;
    position: relative;
    padding-bottom: 34px; }
    .popular-product__item .popular-product__price::after {
      content: '';
      width: 100%;
      border-bottom: 2px solid #F5F5F5;
      position: absolute;
      bottom: 14px;
      left: 0; }

.popular-product__button-center {
  margin-top: 25px;
  padding-bottom: 66px;
  display: flex;
  justify-content: center; }

.banner-product {
  padding-top: 9%;
  background-size: cover;
  height: 473px; }

.engine-info {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #E5E5E5; }

.engine-info__image {
  text-align: center; }

.engine-info__text-block {
  margin-top: 40px;
  margin-bottom: 40px; }

.engine-info__title {
  font-size: 36px;
  margin-bottom: 10px; }

.engine-info_ch {
  font-size: 18px;
  color: #838383;
  margin-bottom: 35px;
  display: block; }

.engine-info__text {
  color: #212121;
  line-height: 31px; }

.engine-info__link {
  margin-top: 30px;
  font-weight: bold; }

.about-product__top {
  position: relative;
  height: 559px;
  background-size: cover;
  display: flex;
  align-items: flex-end;
  padding-bottom: 50px;
  justify-content: center;
  background-position: center; }

.about-product__gradient {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 354px;
  background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg); }

.about-product__area {
  background-color: #000000; }

.about_product_brand {
  position: relative;
  z-index: 2;
  text-align: center; }

.about_product__text-info {
  font-size: 16px;
  color: #ECECEC;
  margin-top: 20px; }

.about-product__info {
  background: #000;
  max-height: 310px; }

.about-product__grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(2, 268px); }
  .about-product__grid .about-product__item {
    padding-bottom: 30px;
    background: #fff; }
    .about-product__grid .about-product__item:nth-child(1) {
      grid-row: 1 / 3;
      grid-column: 1 / 3;
      border-right: 1px solid #F1F1F1; }
    .about-product__grid .about-product__item:nth-child(2) {
      grid-column: 3 / 5;
      border-right: 1px solid #F1F1F1;
      border-bottom: 1px solid #F1F1F1; }
    .about-product__grid .about-product__item:nth-child(3) {
      grid-column: 5 / 7;
      border-right: 1px solid #F1F1F1;
      border-bottom: 1px solid #F1F1F1; }
    .about-product__grid .about-product__item:nth-child(4) {
      grid-column: 7 / 9;
      border-bottom: 1px solid #F1F1F1; }
    .about-product__grid .about-product__item:nth-child(5) {
      grid-column: 3 / 6;
      border-right: 1px solid #F1F1F1; }
    .about-product__grid .about-product__item:nth-child(6) {
      grid-column: 6 / 9; }

.full-height__img {
  border-bottom: 1px solid #fff; }

.full-height__text {
  padding-top: 34px;
  padding-left: 30px;
  padding-right: 30px; }

.full-height__title {
  font-size: 24px;
  text-transform: uppercase; }

.full-height__quote {
  font-size: 15px;
  color: #707070;
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 20px; }

.half-height {
  background: #fff; }

.half-height__bottom {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 25px; }
  .half-height__bottom--width h4 {
    max-width: 205px; }

.half-height__img {
  min-height: 150px; }

.half-height__title {
  font-size: 18px;
  text-transform: uppercase;
  color: #000000;
  -webkit-hyphens: none;
      -ms-hyphens: none;
          hyphens: none; }

.half-height__title--border {
  margin-bottom: 25px; }
  .half-height__title--border:after {
    bottom: -15px; }

.without--img {
  display: flex;
  align-items: flex-end; }

.article {
  padding-top: 226px;
  background: #E5E5E5; }

.article__item {
  margin-bottom: 30px; }

.article__choose {
  padding-bottom: 53px; }

.article__image {
  margin-bottom: 10px; }

.article__info {
  color: #C3092E;
  font-size: 14px; }

.article__title {
  font-size: 20px;
  -webkit-hyphens: none;
      -ms-hyphens: none;
          hyphens: none;
  margin-bottom: 10px;
  margin-top: 5px;
  text-transform: uppercase; }

.more-info {
  background: #000;
  padding-top: 50px;
  padding-bottom: 25px;
  margin: 0 auto;
  margin-bottom: 100px;
  max-width: 1170px; }

.more-info__container {
  max-width: 830px; }

.more-info__title {
  text-align: center;
  font-size: 32px;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 25px; }

.more-info__item {
  display: block;
  padding-top: 38px;
  padding-bottom: 38px;
  color: #fff;
  background: #C3092E;
  margin-bottom: 20px;
  transition: .3s; }
  .more-info__item:hover, .more-info__item:active {
    background: #8c8c8c; }

.more-info__icon-block {
  text-align: center;
  min-height: 53px; }

.more-info__item-title {
  text-transform: uppercase;
  text-align: center; }

.pt30 {
  padding-top: 30px; }

.page-main__top {
  background-size: cover;
  margin-bottom: 55px;
  background-position: center center; }

.top-text {
  padding-top: 100px; }

.top-text__title {
  margin-bottom: 40px; }

.breadcrumbs {
  display: flex;
  padding-bottom: 47px; }
  .breadcrumbs .breadcrumbs__item {
    color: rgba(255, 255, 255, 0.7);
    position: relative; }
    .breadcrumbs .breadcrumbs__item:not(:last-child) {
      margin-right: 25px; }
      .breadcrumbs .breadcrumbs__item:not(:last-child)::after {
        content: '•';
        font-size: 16px;
        position: absolute;
        right: -14px; }
    .breadcrumbs .breadcrumbs__item a {
      color: #fff; }

.aside__title {
  font-size: 24px;
  color: #000;
  margin-bottom: 46px; }
  .aside__title.title--border::after {
    width: 60px;
    height: 4px;
    bottom: -18px; }

.aside-menu {
  padding: 30px;
  background: #fff; }
  .aside-menu .aside-menu__item {
    height: 46px;
    background: #FBFBFB;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    color: #838383;
    transition: .3s; }
    .aside-menu .aside-menu__item:hover, .aside-menu .aside-menu__item:active {
      color: #000;
      background: #F1F1F1; }
  .aside-menu li:not(:last-child) {
    margin-bottom: 15px; }

.mt78 {
  margin-top: 78px; }

.text p {
  line-height: 31px; }
  .text p:not(:last-child) {
    margin-bottom: 35px; }

.img-box {
  margin-bottom: 100px;
  margin-top: 50px; }

.mb30 {
  margin-bottom: 30px; }

.mb60 {
  margin-bottom: 60px; }

.our-info {
  font-style: normal; }
  .our-info .our-info__item {
    margin-bottom: 35px; }
  .our-info span, .our-info p {
    line-height: 31px; }
  .our-info span {
    display: block;
    margin-bottom: 5px; }

.nissan-form {
  max-width: 470px;
  margin-bottom: 100px; }
  .nissan-form .nissan-form__item {
    display: block;
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #DFDFDF;
    height: 40px;
    font-size: 14px;
    padding-left: 15px;
    padding-right: 15px;
    color: rgba(0, 0, 0, 0.4);
    transition: .3s;
    margin-bottom: 30px; }
    .nissan-form .nissan-form__item::-webkit-input-placeholder {
      color: rgba(0, 0, 0, 0.4); }
    .nissan-form .nissan-form__item:-ms-input-placeholder {
      color: rgba(0, 0, 0, 0.4); }
    .nissan-form .nissan-form__item::-ms-input-placeholder {
      color: rgba(0, 0, 0, 0.4); }
    .nissan-form .nissan-form__item::placeholder {
      color: rgba(0, 0, 0, 0.4); }
    .nissan-form .nissan-form__item:hover, .nissan-form .nissan-form__item:active, .nissan-form .nissan-form__item:focus {
      border-color: #C3092E; }
  .nissan-form textarea.nissan-form__item {
    padding-top: 10px;
    padding-bottom: 10px;
    resize: none;
    height: 195px; }
  .nissan-form .nissan-form__button {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 60px;
    padding-right: 60px;
    cursor: pointer; }

#map {
  margin-bottom: 30px; }

.banner-image {
  height: 500px;
  background: no-repeat;
  background-size: cover;
  background-position: center center; }

.price-auto {
  background: #fff;
  padding-top: 25px;
  padding-bottom: 25px; }
  .price-auto .price-auto__container {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .price-auto .price-auto__value strong {
    font-size: 16px; }
  .price-auto .price-auto__value p {
    color: #C3092E;
    font-size: 24px;
    font-weight: bold; }
  .price-auto .price-auto__button {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 37px;
    padding-right: 37px; }

.mb55 {
  margin-bottom: 55px; }

.gallery {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 60px;
  margin-bottom: 30px; }
  .gallery img {
    width: 100%; }
  .gallery .gallery__item:last-child {
    grid-column: 1 / 3; }

.ha {
  height: auto;
  max-height: 100%;
  padding-bottom: 70px; }

.about-product__bg {
  background: #fff;
  padding-left: 0;
  padding-right: 0;
  max-width: 1170px; }

.pt0 {
  padding-top: 0; }

.info-area {
  padding-bottom: 65px; }

.info-box {
  padding: 30px;
  background: #fff;
  margin-bottom: 30px;
  height: 392px; }
  .info-box .half-height__bottom {
    padding: 0; }
  .info-box .half-height__title {
    margin-bottom: 15px;
    min-height: 96px;
    display: flex;
    align-items: flex-end; }
  .info-box .link-more {
    color: #818181; }
    .info-box .link-more:hover, .info-box .link-more:active {
      color: #C3092E; }
  .info-box .info-box__img {
    min-height: 170px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center; }

.container-img {
  max-width: 1510px;
  margin: 0 auto;
  width: 100%;
  display: flex; }

.grid-gallery-left {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 796px; }
  .grid-gallery-left .grid-gallery__item:first-child {
    grid-column: 1 / 3; }

.grid-gallery-right {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 269px 189px 269px; }
  .grid-gallery-right .grid-gallery__item:nth-child(2) {
    grid-row: 1 / 3;
    grid-column: 2 / 3; }
  .grid-gallery-right .grid-gallery__item:last-child {
    grid-column: 2 / 3; }
  .grid-gallery-right .grid-gallery__item:nth-child(3) {
    grid-row: 2 / 4; }

.grid-gallery__item {
  position: relative;
  overflow: hidden; }
  .grid-gallery__item img {
    transition: .5s; }
  .grid-gallery__item:hover img, .grid-gallery__item:active img {
    -webkit-transform: scale(1.1);
            transform: scale(1.1); }
  .grid-gallery__item::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.1); }

.video-info {
  padding-top: 70px; }

.row-scrolling {
  flex-wrap: nowrap; }

.mCSB_container {
  display: flex; }

.row-scrolling .popular-product__item {
  max-width: 270px; }

.mx300 {
  max-width: 300px; }

.mCSB_draggerContainer, .mCSB_draggerRail {
  width: 180px !important; }

.mCSB_scrollTools .mCSB_draggerRail {
  background: rgba(189, 189, 189, 0.5);
  height: 2px; }

.mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar {
  width: 60px;
  height: 2px;
  background: #c3092e;
  margin: 7px auto;
  transition: .25s; }
  .mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar:hover, .mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar:active, .mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar:focus {
    background: #aa0829; }

.mCSB_scrollTools .mCSB_draggerContainer {
  margin: 0 auto;
  margin-top: -4px; }

.mt50 {
  margin-top: 50px; }

.bmw-one .bmw-slider__item {
  padding: 0;
  background-position: center center;
  min-height: 170px;
  max-height: 500px; }

.video {
  position: relative;
  padding-bottom: 51.5%; }

.video-container {
  position: relative;
  margin-top: 50px; }

.video-play {
  background: #FFFFFF;
  width: 124px;
  height: 124px;
  position: absolute;
  z-index: 2;
  border-radius: 50%;
  cursor: pointer;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  transition: .3s; }
  .video-play::after {
    content: '';
    position: absolute;
    width: 35px;
    height: 35px;
    -webkit-mask: url(../img/play-arrow.svg);
            mask: url(../img/play-arrow.svg);
    background: #C3092E;
    transition: .3s;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    margin-left: 5px; }
  .video-play.pause {
    visibility: hidden;
    opacity: 0; }

.page-footer {
  background: #000;
  padding-top: 35px;
  padding-bottom: 35px; }

.footer-nav {
  color: #fff; }
  .footer-nav .footer-nav__title {
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 15px; }
  .footer-nav .footer-nav__items {
    margin-bottom: 20px; }
  .footer-nav .footer-nav__item {
    margin-bottom: 12px; }
    .footer-nav .footer-nav__item a {
      color: #fff;
      transition: .3s; }
      .footer-nav .footer-nav__item a:hover, .footer-nav .footer-nav__item a:active {
        color: #C3092E; }

.social-icons {
  display: flex; }

.social-icons__item {
  width: 30px;
  height: 30px;
  background: #E5E5E5;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .3s;
  cursor: pointer; }
  .social-icons__item:not(:last-child) {
    margin-right: 20px; }
  .social-icons__item:hover, .social-icons__item:active {
    background: #C3092E; }

.button {
  line-height: normal;
  font-size: 18px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #C3092E;
  transition: .3s; }
  .button:hover, .button:active {
    background: #F5F5F5;
    color: #000; }

.bwm-carousel__button {
  width: 232px;
  height: 50px; }

.popular-product__button {
  width: 210px;
  height: 40px;
  margin: 0 auto;
  background-color: #F5F5F5;
  color: #000; }
  .popular-product__button:hover, .popular-product__button:active {
    background: #C3092E;
    color: #fff; }

.popular-product__more {
  width: 210px;
  height: 40px; }
  .popular-product__more:after {
    content: '';
    background-image: url(../img/right-arrow.svg);
    width: 18px;
    height: 18px;
    margin-top: 4px;
    margin-left: 2px;
    transition: .3s; }
  .popular-product__more:hover:after, .popular-product__more:active:after {
    background-image: url(../img/right-arrow__black.svg); }

.full-height__button {
  position: relative;
  font-size: 15px; }
  .full-height__button:hover:after, .full-height__button:active:after {
    background-image: url(../img/right-arrow.svg); }
  .full-height__button:after {
    content: '';
    background-image: url(../img/right-arrow__red.svg);
    height: 20px;
    width: 20px;
    margin-top: 5px;
    margin-left: 5px;
    transition: .3s; }

.article__button {
  margin-top: 5px;
  margin-bottom: 14px; }

.page-header__search {
  margin-left: 25px; }

.search {
  border-radius: 50%;
  transition: .3s; }
  .search:hover, .search:active {
    background-color: #F1F1F1; }
  .search .search__icon {
    position: relative;
    z-index: 5;
    padding: 10px; }

.search__toggler {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  cursor: pointer;
  position: relative; }

.search__form {
  position: absolute;
  left: 0;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  transition: .5s;
  opacity: 0; }
  .search__form .search__input {
    height: 40px;
    border: 1px solid #8c8c8c;
    font-size: 15px;
    border-radius: 20px;
    padding-left: 40px;
    padding-right: 40px;
    width: 255px;
    transition: .3s; }
    .search__form .search__input::-webkit-input-placeholder {
      font-size: 15px;
      color: #B4B4B4; }
    .search__form .search__input:-ms-input-placeholder {
      font-size: 15px;
      color: #B4B4B4; }
    .search__form .search__input::-ms-input-placeholder {
      font-size: 15px;
      color: #B4B4B4; }
    .search__form .search__input::placeholder {
      font-size: 15px;
      color: #B4B4B4; }
    .search__form .search__input:focus {
      border-color: #C3092E; }

/* ===------ Burger Base ------=== */
.burger__input {
  display: none; }

.burger {
  width: 42px;
  height: 42px;
  position: relative;
  overflow: hidden; }
  .burger label {
    width: 42px;
    height: 42px;
    display: block;
    transition: all 0.35s;
    cursor: pointer; }

.bar {
  width: 100%;
  height: 5px;
  display: block;
  position: absolute;
  left: 0;
  background: #C3092E;
  border-radius: 10px;
  transition: all 0.35s;
  pointer-events: none; }

.bar-1 {
  top: 4px; }

.bar-2 {
  top: 17px; }

.bar-3 {
  top: 31px; }

.txt {
  display: none; }

/* ===------ Burger 3 ------=== */
.burger-3.hamburger--active {
  transition: .35s;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg); }
  .burger-3.hamburger--active .bar-1 {
    top: 18px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); }
  .burger-3.hamburger--active .bar-2 {
    left: 100%; }
  .burger-3.hamburger--active .bar-3 {
    top: 18px;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg); }

.hamburger {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  z-index: 2; }

@media (max-width: 991px) {
  .video-play {
    -webkit-transform: scale(0.75);
            transform: scale(0.75); }
  .img-box {
    margin-bottom: 50px;
    margin-top: 30px; }
  .mx {
    max-width: 700px; }
  .nissan-form {
    margin-bottom: 50px; }
  .page-header {
    height: 75px; }
  .page-header__logo {
    height: 75px; }
    .page-header__logo img {
      height: 75px; }
  .page-header__column {
    justify-content: space-between; }
  .page-header__menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #E5E5E5;
    height: 100vh;
    width: 100vw;
    margin-top: 75px;
    display: none;
    overflow-y: scroll; }
    .page-header__menu.page-header__menu--toggle {
      display: block; }
  .navigation {
    margin-left: 15px;
    margin-right: 15px;
    padding-top: 15px;
    padding-bottom: 10px; }
    .navigation ul {
      display: block;
      min-width: 100%; }
  .navigation__dropdown {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
    padding-left: 15px;
    padding-bottom: 15px; }
    .navigation__dropdown li {
      margin-top: 10px;
      padding-bottom: 5px;
      border-bottom: 2px solid #C3092E; }
  .navigation__item--dropdown .icon-arrow {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    top: 14px; }
  .navigation__item {
    padding-top: 10px;
    padding-bottom: 10px;
    transition: .25s;
    margin-bottom: 10px;
    border-bottom: 2px solid #C3092E; }
    .navigation__item a, .navigation__item span {
      font-size: 17px; }
    .navigation__item a {
      margin-top: 0;
      display: inline-block; }
  .page-header__search-phone {
    height: 100%;
    max-height: 200px;
    margin-bottom: 20px; }
  .navigation__item.navigation__item--active .navigation__dropdown {
    position: static; }
  .page-header__search {
    margin-left: 0; }
  .page-header__contact {
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px; }
    .page-header__contact .daily {
      display: block; }
  .search {
    min-width: 300px; }
    .search:hover, .search:active {
      background: none; }
    .search .search__icon {
      transition: .3s; }
    .search .search__toggler {
      overflow: visible;
      z-index: 3; }
    .search .search__form {
      opacity: 1;
      z-index: 3; }
    .search .search__input {
      width: 300px; }
  .page-header__search-phone {
    display: block; }
  .bmw-slider__item {
    background-color: #c4c4c4;
    height: auto;
    padding-bottom: 58px;
    padding-top: 33%; }
  .bmw-slider__text {
    padding-top: 30px; }
  .title {
    font-size: 30px; }
  .quote {
    font-size: 16px;
    margin-bottom: 30px; }
  .owl-dots {
    bottom: 26px;
    left: 0;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    width: 100%;
    text-align: center; }
  .page-header__search {
    margin-top: 20px; }
  .page-header__contact {
    margin-top: 30px; }
  .page-header__search-phone {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .banner-product {
    padding-top: 35%; }
  .engine-info {
    padding-top: 50px;
    padding-bottom: 20px; }
  .about-product__info {
    max-height: 100%; }
  .about-product__grid {
    display: block; }
  .about-product__item {
    border-bottom: 1px solid #f1f1f1; }
  .article {
    padding-top: 0px; }
  .article__item {
    text-align: center; }
  .article__image img {
    width: 90%; }
  .popular-product__title {
    padding-top: 54px; }
  .popular-product__button-center {
    padding-bottom: 40px;
    margin-top: 15px; }
  .more-info {
    padding-bottom: 30px; }
  .engine-info__title {
    font-size: 30px; }
  .engine-info_ch {
    margin-bottom: 20px; }
  .engine-info__text {
    line-height: 25px; }
  .engine-info__text-block {
    margin-top: 30px; }
  .popular-product__item .mark__info {
    text-align: center; }
  .about-product__bg .popular-product__item {
    margin: 0 auto; }
  .about-product__bg {
    max-width: 700px; } }

@media (max-width: 767px) {
  .video-play {
    -webkit-transform: scale(0.65);
            transform: scale(0.65); }
  .container-img {
    display: block; }
    .container-img .grid-gallery-right {
      display: block;
      text-align: center; }
  .bmw-slider__item {
    padding-top: 50px; }
  .about-product__bg {
    max-width: 600px; }
  .about-product__top {
    height: auto;
    background-repeat: no-repeat; }
  .about-product__gradient {
    height: auto;
    top: 0; }
  .about_product_brand {
    margin-top: 40px; }
  .price-auto .price-auto__container {
    display: block;
    text-align: center; }
  .price-auto__button {
    display: inline-block;
    margin-top: 20px; }
  .title {
    font-size: 22px; }
  .one-title {
    padding-left: 15px;
    padding-right: 15px; }
  .info-box .info-box__img {
    margin-bottom: 20px; } }

@media (max-width: 575px) {
  .row-scrolling {
    max-width: 300px;
    margin: 0 auto; }
  .video-play {
    -webkit-transform: scale(0.45);
            transform: scale(0.45); } }

@media (min-width: 576px) and (max-width: 991px) {
  .page-header__menu {
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%); } }

@media (min-width: 768px) and (max-width: 991px) {
  .about-product__grid {
    display: grid;
    grid-template-rows: repeat(3, 268px); }
    .about-product__grid .about-product__item:nth-child(1) {
      grid-column: 1 / 5; }
    .about-product__grid .about-product__item:nth-child(2) {
      grid-column: 5 / 9; }
    .about-product__grid .about-product__item:nth-child(3) {
      grid-column: 5 / 9; }
    .about-product__grid .about-product__item:nth-child(4) {
      grid-column: 1 / 3;
      border-right: 1px solid #F1F1F1; }
  .footer-nav__menu {
    margin-bottom: 30px; }
  .about-product__top {
    height: auto; }
  .about-product__gradient {
    height: auto;
    top: 0; }
  .about_product_brand {
    margin-top: 30px; }
  .price-auto .price-auto__container {
    max-width: 700px; }
  .grid-gallery-left {
    grid-template-rows: 230px; }
  .container-img {
    max-width: 768px; }
  .grid-gallery-right {
    grid-template-rows: 135px 96px; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .full-height__text {
    padding-left: 15px;
    padding-right: 15px; }
  .full-height__button {
    width: 190px; }
  .half-height__bottom {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px; }
  .full-height__title {
    font-size: 22px; }
  .page-header__fixed .container {
    max-width: 100%;
    padding-left: 10px;
    padding-right: 10px; }
  .mx, .about-product__bg {
    max-width: 700px; }
  .auto {
    height: 85px; }
  .navigation__item a {
    font-size: 14px; }
  .navigation {
    margin-left: 15px;
    margin-right: 15px; }
    .navigation > ul {
      min-width: 655px; }
  .search__form .search__input {
    width: 198px; }
  .page-header__contact {
    text-align: left;
    margin-top: 5px; }
    .page-header__contact .phone {
      font-size: 15px;
      display: block; }
    .page-header__contact .daily {
      font-size: 11px;
      display: block; }
  .page-header__search {
    margin-left: 12px;
    margin-right: 5px; }
  .bmw-slider__item {
    height: auto; }
  .bmw-slider__text {
    padding-top: 100px;
    padding-bottom: 100px; }
  .banner-product {
    padding-top: 5%;
    padding-bottom: 5%; }
  .engine-info {
    padding-top: 60px;
    padding-bottom: 30px; }
  .about-product__top {
    height: 355px; }
  .price-auto .price-auto__container {
    max-width: 900px; }
  .popular-product__item .mark__info {
    text-align: center; }
  .info-box {
    padding: 25px; }
  .about-product__bg .popular-product__item {
    margin: 0 auto; }
  .container-img {
    max-width: 992px; }
  .grid-gallery-left {
    grid-template-rows: 299px 173px; }
  .grid-gallery-right {
    display: grid;
    grid-template-rows: 174px 126px; } }

@media (min-width: 1200px) and (max-width: 1509px) {
  .container-img {
    max-width: 1200px; }
  .grid-gallery-left {
    grid-template-rows: 362px 212px; }
  .grid-gallery-right {
    grid-template-rows: 211px 151px; } }

@media (min-width: 992px) {
  .hamburger {
    display: none; }
  .search.search__toggler--active .search__icon {
    transition: .3s; }
  .search.search__toggler--active .search__toggler {
    overflow: visible;
    z-index: 3; }
  .search.search__toggler--active .search__form {
    opacity: 1;
    z-index: 3; } }
