@font-face {
  font-family: Montserrat;
  font-style: italic;
  font-weight: 100;
  src: url(//fonts.gstatic.com/s/montserrat/v14/JTUOjIg1_i6t8kCHKm459WxZqh7k29M.woff2) format("woff2"),url(//fonts.gstatic.com/s/montserrat/v14/JTUOjIg1_i6t8kCHKm459WxZqh7q29U.woff) format("woff");
  font-display: swap;
}

@font-face {
  font-family: Montserrat;
  font-style: italic;
  font-weight: 200;
  src: url(//fonts.gstatic.com/s/montserrat/v14/JTUPjIg1_i6t8kCHKm459WxZBg_z_PZw.woff2) format("woff2"),url(//fonts.gstatic.com/s/montserrat/v14/JTUPjIg1_i6t8kCHKm459WxZBg_z8vZ2.woff) format("woff");
  font-display: swap;
}

@font-face {
  font-family: Montserrat;
  font-style: italic;
  font-weight: 300;
  src: url(//fonts.gstatic.com/s/montserrat/v14/JTUPjIg1_i6t8kCHKm459WxZYgzz_PZw.woff2) format("woff2"),url(//fonts.gstatic.com/s/montserrat/v14/JTUPjIg1_i6t8kCHKm459WxZYgzz8vZ2.woff) format("woff");
  font-display: swap;
}

@font-face {
  font-family: Montserrat;
  font-style: italic;
  font-weight: 400;
  src: url(//fonts.gstatic.com/s/montserrat/v14/JTUQjIg1_i6t8kCHKm459WxRyS7m.woff2) format("woff2"),url(//fonts.gstatic.com/s/montserrat/v14/JTUQjIg1_i6t8kCHKm459WxRxy7g.woff) format("woff");
  font-display: swap;
}

@font-face {
  font-family: Montserrat;
  font-style: italic;
  font-weight: 500;
  src: url(//fonts.gstatic.com/s/montserrat/v14/JTUPjIg1_i6t8kCHKm459WxZOg3z_PZw.woff2) format("woff2"),url(//fonts.gstatic.com/s/montserrat/v14/JTUPjIg1_i6t8kCHKm459WxZOg3z8vZ2.woff) format("woff");
  font-display: swap;
}

@font-face {
  font-family: Montserrat;
  font-style: italic;
  font-weight: 600;
  src: url(//fonts.gstatic.com/s/montserrat/v14/JTUPjIg1_i6t8kCHKm459WxZFgrz_PZw.woff2) format("woff2"),url(//fonts.gstatic.com/s/montserrat/v14/JTUPjIg1_i6t8kCHKm459WxZFgrz8vZ2.woff) format("woff");
  font-display: swap;
}

@font-face {
  font-family: Montserrat;
  font-style: italic;
  font-weight: 700;
  src: url(//fonts.gstatic.com/s/montserrat/v14/JTUPjIg1_i6t8kCHKm459WxZcgvz_PZw.woff2) format("woff2"),url(//fonts.gstatic.com/s/montserrat/v14/JTUPjIg1_i6t8kCHKm459WxZcgvz8vZ2.woff) format("woff");
  font-display: swap;
}

@font-face {
  font-family: Montserrat;
  font-style: italic;
  font-weight: 800;
  src: url(//fonts.gstatic.com/s/montserrat/v14/JTUPjIg1_i6t8kCHKm459WxZbgjz_PZw.woff2) format("woff2"),url(//fonts.gstatic.com/s/montserrat/v14/JTUPjIg1_i6t8kCHKm459WxZbgjz8vZ2.woff) format("woff");
  font-display: swap;
}

@font-face {
  font-family: Montserrat;
  font-style: italic;
  font-weight: 900;
  src: url(//fonts.gstatic.com/s/montserrat/v14/JTUPjIg1_i6t8kCHKm459WxZSgnz_PZw.woff2) format("woff2"),url(//fonts.gstatic.com/s/montserrat/v14/JTUPjIg1_i6t8kCHKm459WxZSgnz8vZ2.woff) format("woff");
  font-display: swap;
}

@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 100;
  src: url(//fonts.gstatic.com/s/montserrat/v14/JTUQjIg1_i6t8kCHKm45_QpRyS7m.woff2) format("woff2"),url(//fonts.gstatic.com/s/montserrat/v14/JTUQjIg1_i6t8kCHKm45_QpRxy7g.woff) format("woff");
  font-display: swap;
}

@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 200;
  src: url(//fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_aZA3gnD_g.woff2) format("woff2"),url(//fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_aZA3gfD-A.woff) format("woff");
  font-display: swap;
}

@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  src: url(//fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_cJD3gnD_g.woff2) format("woff2"),url(//fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_cJD3gfD-A.woff) format("woff");
  font-display: swap;
}

@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  src: url(//fonts.gstatic.com/s/montserrat/v14/JTUSjIg1_i6t8kCHKm459Wlhyw.woff2) format("woff2"),url(//fonts.gstatic.com/s/montserrat/v14/JTUSjIg1_i6t8kCHKm459WdhzQ.woff) format("woff");
  font-display: swap;
}

@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  src: url(//fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_ZpC3gnD_g.woff2) format("woff2"),url(//fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_ZpC3gfD-A.woff) format("woff");
  font-display: swap;
}

@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  src: url(//fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_bZF3gnD_g.woff2) format("woff2"),url(//fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_bZF3gfD-A.woff) format("woff");
  font-display: swap;
}

@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 700;
  src: url(//fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_dJE3gnD_g.woff2) format("woff2"),url(//fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_dJE3gfD-A.woff) format("woff");
  font-display: swap;
}

@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 800;
  src: url(//fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_c5H3gnD_g.woff2) format("woff2"),url(//fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_c5H3gfD-A.woff) format("woff");
  font-display: swap;
}

@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 900;
  src: url(//fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_epG3gnD_g.woff2) format("woff2"),url(//fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_epG3gfD-A.woff) format("woff");
  font-display: swap;
}

* {
  box-sizing: border-box;
}

*:before {
  box-sizing: border-box;
}

*:after {
  box-sizing: border-box;
}

body {
  height: 100%;
  font-family: "Montserrat", sans-serif;
  color: #fbfdfd;
  font-size: 24px;
  overflow-x: hidden;
}

img, svg, iframe {
  vertical-align: top;
}

.list-unstyled {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

::-webkit-input-placeholder {
  opacity: 1;
}

::-moz-placeholder {
  opacity: 1;
}

:-ms-input-placeholder {
  opacity: 1;
}

::-ms-input-placeholder {
  opacity: 1;
}

::placeholder {
  opacity: 1;
}

::-moz-selection {
  background-color: blue;
  color: #fff;
}

::selection {
  background-color: blue;
  color: #fff;
}

.page-header {
  display: -webkit-box;
  display: flex;
}

.page-header__left {
  max-width: 454px;
  width: 100%;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#1D373B), to(#1D1D1E));
  background-image: linear-gradient(to top, #1D373B 0%, #1D1D1E 100%);
  padding-top: 105px;
  padding-bottom: 80px;
  position: relative;
}

.sidebar {
  padding: 0 22px;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  color: #a5a4a4;
  position: relative;
  -webkit-transition: .5s;
  transition: .5s;
  z-index: 1;
}

.sidebar.hidden {
  visibility: hidden;
  opacity: 0;
  z-index: -1;
}

.sidebar__front, .sidebar__back {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: 1s;
  transition: 1s;
}

.sidebar-cart {
  position: absolute;
  width: 100%;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  padding: 0 22px;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: center;
          justify-content: center;
}

.sidebar__back {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 0 22px;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
}

.sidebar.rotated .sidebar__front {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.sidebar.rotated .sidebar__back {
  -webkit-transform: rotateY(360deg);
          transform: rotateY(360deg);
}

.sidebar-open {
  -webkit-transition: .3s;
  transition: .3s;
}

.sidebar-open.hidden {
  visibility: hidden;
  opacity: 0;
}

.sidebar-open.hidden {
  visibility: hidden;
  opacity: 0;
}

.sidebar-open.active {
  visibility: visible;
  opacity: 1;
}

.sidebar__link {
  font-size: 36px;
  font-weight: 400;
  color: #8f8e8e;
  letter-spacing: 0.36px;
  margin-bottom: 95px;
  padding: 0 22px;
  cursor: pointer;
}

.sidebar__link:hover, .sidebar__link.active {
  color: #fff;
}

.sidebar__item {
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
}

.sidebar__item:not(:last-child) {
  margin-bottom: 22px;
}

.sidebar__item:hover, .sidebar__item.active {
  color: #fff;
}

.sidebar__item:hover .sidebar__item-title:before, .sidebar__item.active .sidebar__item-title:before {
  background: #fff;
}

.sidebar__item-title {
  text-transform: uppercase;
  font-weight: bold;
  position: relative;
  padding-left: 20px;
  margin-bottom: 12px;
  display: block;
  font-size: 24px;
  -webkit-transition: .3s;
  transition: .3s;
}

.sidebar__item-title::before {
  content: '';
  position: absolute;
  top: 50%;
  margin-top: -3px;
  width: 17px;
  height: 6px;
  background-color: #959595;
  left: 0;
}

.sidebar__item-text {
  margin: 0;
  margin-bottom: 14px;
  font-size: 18px;
  padding-left: 100px;
  text-indent: 36px;
}

.sidebar__item-arrow {
  display: block;
  text-align: right;
  margin-left: auto;
  cursor: pointer;
  padding-right: 35px;
}

.page-header__right {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#1D1D1E), to(#1D373B));
  background-image: linear-gradient(to top, #1D1D1E 0%, #1D373B 100%);
  padding-top: 70px;
  padding-left: 40px;
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
}

.page-header__container {
  max-width: 1230px;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
}

.logo-area {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  margin-right: 90px;
}

.logo {
  margin-right: 26px;
}

.language {
  display: -webkit-box;
  display: flex;
  max-height: 15px;
}

.language a {
  font-size: 12px;
  font-weight: 800;
  text-decoration: none;
  color: #fff;
  -webkit-transition: .3s;
  transition: .3s;
}

.language a.active {
  color: #fe7c09;
}

.hamburger {
  background: none;
  padding: 0;
  border: none;
  display: block;
  width: 43px;
  height: 22px;
  cursor: pointer;
  margin-left: 20px;
  -webkit-transition: .4s;
  transition: .4s;
  -webkit-perspective: 86px;
          perspective: 86px;
}

.hamburger.active {
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
}

.navbar {
  margin-right: 50px;
}

.navbar ul {
  display: -webkit-box;
  display: flex;
}

.navbar a {
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
  -webkit-transition: .3s;
  transition: .3s;
  display: block;
  padding: 5px 24px;
  border-radius: 12px;
  border: 1px solid transparent;
  transition: .3s;
}

.navbar a:hover {
  border: 1px solid #fdfdfd;
  color: #fe7c09;
}

.cart {
  display: -webkit-box;
  display: flex;
  margin-top: -5px;
}

.cart__btn {
  background: none;
  padding: 0;
  border: none;
  margin-right: 16px;
  cursor: pointer;
  position: relative;
}

.cart__btn .cart-icon {
  width: 52px;
  height: 52px;
  display: inline-block;
  background-image: url(../img/icons/cart.png);
  background-repeat: no-repeat;
  background-position: center;
}

.cart__btn:hover .cart-icon {
  background-image: url(../img/icons/cart-f.png);
}

.cart__counter {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  border: 1px solid #fff;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
}

.cart__counter--big {
  font-size: 48px;
  width: 132px;
  height: 132px;
}

.pb300 {
  padding-bottom: 150px;
}

.game-price {
  padding-left: 40px;
  display: -webkit-box;
  display: flex;
}

.game-price__right {
  margin-left: 93px;
  display: -webkit-box;
  display: flex;
}

.ml-50 {
  margin-left: -50px;
}

.game-price__title {
  max-width: 368px;
  text-align: center;
  font-size: 52px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 30px;
}

.game-price__price {
  font-size: 60px;
  font-weight: bold;
  font-style: italic;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
          justify-content: center;
  margin-bottom: 40px;
}

.mlr30 {
  margin-left: 30px;
  margin-right: 30px;
}

.game-price__order {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  font-style: italic;
  margin-bottom: 50px;
}

.tac {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
}

.add-to-cart-area {
  width: 100%;
  max-width: 340px;
  height: 87px;
  position: relative;
  background: none;
  border: none;
  padding: 0;
}

.add-to-cart-area:focus .btn-add-to-cart__circle {
  z-index: 3;
  bottom: 0;
  right: 0;
}

.add-to-cart-area:hover .btn-add-to-cart__circle {
  opacity: 1;
}

.btn-add-to-cart {
  width: 100%;
  max-width: 340px;
  height: 87px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  font-size: 18px;
  font-weight: 500;
  font-style: italic;
  border: 3px solid transparent;
  -webkit-transition: .3s;
  transition: .3s;
  border-radius: 44px;
  background: #f26522;
  padding: 0;
  font-weight: 500;
  color: #fbfdfd;
  font-style: italic;
  cursor: pointer;
  z-index: 3;
  transition: .3s;
  position: relative;
}

.btn-add-to-cart::after {
  content: '';
  width: 392px;
  height: 147px;
  background-image: url(../img/bg-btn.png);
  position: absolute;
  bottom: -50px;
  right: -50px;
  z-index: -1;
  -webkit-transition: .3s;
  transition: .3s;
}

.btn-add-to-cart__circle {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: -23px;
  right: -23px;
  border: 3px solid #fbfdfd;
  border-radius: 44px;
  z-index: 1;
  opacity: 0;
  -webkit-transition: .3s;
  transition: .3s;
}

.sidebar-cart {
  -webkit-transition: .3s;
  transition: .3s;
  opacity: 0;
  visibility: hidden;
  z-index: 5;
}

.sidebar-cart.active {
  opacity: 1;
  visibility: visible;
}

.sidebar-cart .sidebar__link {
  text-align: center;
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-top: 25px solid;
  border-bottom: 25px solid;
  border-left: 40px solid;
  border-right: 40px solid;
  border-color: #fff;
  z-index: 5;
  background: -webkit-gradient(linear, left bottom, left top, from(#1D1D1E), to(#1D373B));
  background: linear-gradient(to top, #1D1D1E 0%, #1D373B 100%);
  -webkit-transition: .3s;
  transition: .3s;
  opacity: 0;
  visibility: hidden;
  z-index: 5;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.modal.active {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.modal__container {
  padding: 65px 0;
  margin: 0 auto;
  -webkit-box-align: start;
          align-items: flex-start;
}

.modal__left {
  max-width: 700px;
  width: 100%;
}

.modal__title {
  color: #fef9f9;
  font-size: 48px;
  font-weight: bold;
  margin: 0;
}

.modal__right .game-price__right {
  margin-left: 0;
  display: block;
  margin-bottom: 50px;
  margin-left: -50px;
}

.modal__right .game-price {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-align: center;
          align-items: center;
  padding-left: 0;
  margin-left: -50px;
}

.modal-cards {
  margin-bottom: 70px;
}

.modal__text {
  max-width: 489px;
  margin-left: 30px;
  margin-top: 130px;
}

.modal__text p {
  color: #fffcfc;
  font-size: 30px;
  margin-bottom: 30px;
}

.modal__img {
  display: block;
  margin: 0 auto;
}

.modal__inveted-text p {
  font-size: 24px;
  text-align: center;
  margin-top: -5px;
}

.modal-exit {
  border: 0;
  padding: 0;
  background: none;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  position: absolute;
  top: 58px;
  right: 68px;
  cursor: pointer;
}

.modal-exit span {
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 0.3px;
  font-style: italic;
  color: rgba(252, 248, 248, 0.7);
  display: block;
  margin-bottom: 5px;
  -webkit-transition: .3s;
  transition: .3s;
}

.modal-exit .exit-icon {
  width: 114px;
  height: 84px;
  display: inline-block;
  background-image: url(../img/icons/exit.png);
  background-repeat: no-repeat;
  background-position: center;
}

.modal-exit:hover .exit-icon {
  background-image: url(../img/icons/exit-f.png);
}

.modal__full {
  width: 100%;
}

.modal__full .modal__text {
  font-size: 24px;
  max-width: 100%;
  text-align: center;
  margin-left: 0;
}

.modal-sponsors {
  background: url(../img/sponsors.jpg) no-repeat;
  background-size: cover;
}

.text-link {
  color: #646ef7;
  text-decoration: none;
  font-weight: 700;
}

.modal-opt .modal__full .modal__text,
.modal-garante .modal__full .modal__text {
  text-align: left;
}

.modal-form .modal__title {
  text-align: center;
}

.form {
  margin-top: 100px;
}

.form .form__label {
  display: block;
  margin-bottom: 35px;
  display: -webkit-box;
  display: flex;
}

.form .form__label--check {
  max-width: 700px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
          align-items: flex-end;
  margin-bottom: 0;
}

.form .form__name {
  color: #faf6f6;
  font-size: 24px;
  font-style: italic;
  letter-spacing: 0.24px;
  margin-right: 25px;
  min-width: 282px;
  display: block;
}

.form .form__input {
  background: none;
  border: none;
  max-width: 610px;
  width: 100%;
  border-bottom: 1px solid #fdfdfd;
  color: #fdfdfd;
  -webkit-transition: .3s;
  transition: .3s;
}

.form .form__input:focus {
  border-color: #fff;
}

.check-area__title {
  color: #faf6f6;
  font-size: 24px;
  font-style: italic;
  letter-spacing: 0.24px;
  font-weight: normal;
  margin-bottom: 5px;
}

.tar {
  text-align: right;
}

.cart-container {
  padding: 45px 0;
  max-width: 1060px;
}

.cart-block {
  text-align: center;
  max-width: 350px;
  width: 100%;
  margin: 0 auto;
}

.cart-title {
  color: #fbf5f5;
  font-size: 36px;
  font-weight: 400;
  font-style: italic;
  letter-spacing: 0.36px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.cart-row {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: justify;
          justify-content: space-between;
  margin-bottom: 50px;
}

.img-blur {
  position: relative;
}

.img-blur:before {
  content: '';
  width: 214px;
  height: 214px;
  background: url(../img/icons/blur.png);
  position: absolute;
  top: -100%;
  left: -100%;
  z-index: -1;
}

.btn-cancel {
  max-width: 344px;
  width: 100%;
  height: 61px;
  -webkit-transition: .3s;
  transition: .3s;
  border-radius: 31px;
  border: 1px solid #fbf5f5;
  color: #fcf8f8;
  letter-spacing: 0.3px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  background: none;
  padding: 0;
  cursor: pointer;
}

.btn-cancel:hover {
  box-shadow: 0 0 13px rgba(255, 255, 190, 0.25);
}

.modal-school .modal__text,
.modal-winner .modal__text,
.modal-give .modal__text {
  margin-top: 370px;
}

.modal-school .modal__text p,
.modal-winner .modal__text p {
  text-indent: 40px;
}

.modal-about .modal__text {
  margin-top: 200px;
}

.cart-actions {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  width: 100%;
  -webkit-box-align: end;
          align-items: flex-end;
  margin-top: 130px;
}

.cart-btns {
  padding-bottom: 20px;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
}

.cart-btns .sidebar__item-title {
  color: #fdfafa;
  text-transform: none;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  font-size: 30px;
  font-weight: 400;
  font-style: italic;
  margin-left: 35px;
  padding-left: 0;
  -webkit-transition: .3s;
  transition: .3s;
  display: inline-block;
}

.cart-btns .sidebar__item-title:not(:last-child) {
  margin-bottom: 24px;
}

.cart-btns .sidebar__item-title:last-child {
  width: calc(100% - 70px);
}

.cart-btns .sidebar__item-title::before {
  background: #fe0606;
  left: -60px;
  width: 40px;
  height: 11px;
  margin-top: -5px;
}

.cart-btns .sidebar__item-title::after {
  content: '';
  width: 66px;
  height: 37px;
  position: absolute;
  top: 0;
  left: -72px;
  background-image: url(../img/icons/blur-mini.png);
  z-index: -1;
  -webkit-transition: .3s;
  transition: .3s;
  opacity: 0;
}

.cart-btns .sidebar__item-title:hover::after {
  opacity: 1;
}

.cart-btns .sidebar__item-title:focus {
  border-color: #fbf5f5;
}

.column-container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
}

.modal-garante .modal__full .modal__text {
  text-align: center;
}

.modal-school2 .modal__text p {
  font-size: 27px;
}

.lk-title {
  font-size: 36px;
  margin-bottom: 0;
}

.modal-lk form {
  width: 100%;
}

.form--lk {
  width: 100%;
}

.form--lk .form__input {
  max-width: 100%;
  padding-bottom: 5px;
  margin-bottom: 60px;
}

.form--lk .form__input::-webkit-input-placeholder {
  font-style: italic;
}

.form--lk .form__input::-moz-placeholder {
  font-style: italic;
}

.form--lk .form__input:-ms-input-placeholder {
  font-style: italic;
}

.form--lk .form__input::-ms-input-placeholder {
  font-style: italic;
}

.form--lk .form__input::placeholder {
  font-style: italic;
}

.lk__container {
  max-width: 1140px;
}

.email-help {
  position: relative;
}

.email-help.invalid .email-invalid {
  visibility: visible;
  opacity: 1;
}

.email-invalid {
  border-radius: 10px;
  border: 1px solid #ffffff;
  color: #fcf5f5;
  font-size: 18px;
  font-weight: 400;
  display: inline-block;
  padding: 10px 15px;
  position: absolute;
  top: -45px;
  left: 200px;
  opacity: 0;
  visibility: hidden;
}

.text-mail {
  font-weight: 400;
  font-style: italic;
  font-size: 24px;
  letter-spacing: 0.24px;
  margin-top: 42px;
}

.page-header__social {
  margin-top: auto;
  padding-bottom: 45px;
  max-width: 1230px;
}

.page-header__social .social {
  margin-left: auto;
  max-width: 250px;
}

.social {
  display: -webkit-box;
  display: flex;
}

.social .social__item {
  width: 35px;
  height: 35px;
  display: block;
  position: relative;
}

.social .social__item:not(:last-child) {
  margin-right: 12px;
}

.about-us {
  background: url(../img/bg-about.png) no-repeat center, -webkit-gradient(linear, left bottom, left top, from(#1D373B), to(#1D1D1E));
  background: url(../img/bg-about.png) no-repeat center, linear-gradient(to top, #1D373B 0%, #1D1D1E 100%);
  padding: 130px 0;
  padding-bottom: 200px;
}

.about-us__title {
  margin-bottom: 70px;
}

.about-us__text {
  max-width: 1208px;
  margin: 0 auto;
  text-align: center;
  font-size: 30px;
}

.about-us__text p {
  margin-bottom: 30px;
  margin-top: 0;
}

.text-open {
  visibility: hidden;
  opacity: 0;
  margin-top: -230px;
  -webkit-transition: .5s .3s;
  transition: .5s .3s;
}

.text-open.active {
  visibility: visible;
  opacity: 1;
}

.title {
  font-size: 48px;
  font-weight: bold;
  margin-top: 0;
}

.text-preview {
  margin-top: 230px;
  text-align: right;
  -webkit-transition: .3s;
  transition: .3s;
}

.text-preview p {
  text-align: center;
}

.text-preview.hidden {
  opacity: 0;
  visibility: visible;
}

.open-text {
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
  border-radius: 12px;
}

.open-text img {
  display: block;
}

.open-text:hover {
  box-shadow: 0 0 13px rgba(255, 255, 190, 0.25);
}

.pluses {
  background: url(../img/bg-pluses.png) no-repeat;
  background-size: cover;
  padding-top: 310px;
  margin-top: -260px;
  padding-bottom: 50px;
}

.container.mw1252 {
  max-width: 1252px;
}

.pluses__title {
  margin-bottom: 10px;
}

.pluses__text {
  margin-top: 0;
  font-style: italic;
  text-indent: 140px;
}

.aic {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
}

.plus__row {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  flex-wrap: wrap;
}

.plus__text {
  margin: 0;
}

.plus__title {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  margin-left: -23px;
}

.square {
  width: 13px;
  height: 13px;
  display: inline-block;
  background-color: #ff0000;
  margin-right: 10px;
}

.plus-mini {
  text-align: center;
  max-width: 485px;
}

.plus-mini img {
  display: block;
  margin: 0 auto;
}

.plus-mini .plus__title {
  margin-bottom: 34px;
}

.pluses2 {
  background: url(../img/bg-pluses2.png) no-repeat;
  background-size: cover;
  padding-bottom: 50px;
}

.text-center {
  text-align: center;
}

.plus-big {
  max-width: 692px;
}

.mt80 {
  margin-top: 80px;
}

.rules {
  background: url(../img/bg-rules.png) no-repeat;
  background-size: cover;
  padding-bottom: 50px;
  padding-top: 100px;
}

.ti0 {
  padding-left: 100px;
  margin-right: -100px;
  margin-top: 0;
  margin-bottom: 0;
}

.img-center {
  margin: 0 auto;
  margin-top: -30px;
  display: block;
}

.title-img {
  position: relative;
  display: inline-block;
  margin-bottom: 20px;
}

.title-img img {
  position: absolute;
  top: -70px;
  right: 0;
}

b.plus__text {
  text-decoration: underline;
  color: inherit;
  display: block;
  font-weight: normal;
}

.mb35 {
  margin-bottom: 35px;
}

.container {
  max-width: 1904px;
  width: 100%;
  margin: 0 auto;
  padding: 0 100px;
}

/*# sourceMappingURL=main.css.map */
