@font-face {
    font-family: 'Din';
    src: url('./DINPro-CondensedBold.woff2') format('woff2'),
        url('./DINPro-CondensedBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Din';
    src: url('./DINPro-CondensedMedium.woff2') format('woff2'),
        url('./DINPro-CondensedMedium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

