.header {
  position: sticky;
  top: 20px;
  margin-top: 20px;
  z-index: 20;
}

.wrap {
  background-color: var(--secondary-alpha);
  border: 1px solid var(--tertiary);
  backdrop-filter: blur(5px);
  border-radius: var(--radius-100);
  padding: 10px 20px;
  display: flex;
  align-items: center;
}

.nav {
  position: relative;
  margin-left: 50px;
  letter-spacing: var(--letter-spacing);
  line-height: 1.35;
  ul {
    display: flex;
    gap: 40px;
  }
  a {
    transition: var(--transition);

    &:hover {
      color: var(--accent);
    }
    &.active {
      color: var(--accent);
    }
  }
}

.line {
  position: absolute;
  left: 0;
  bottom: -21px;
  height: 4px;
  width: var(--width);
  transform: translateX(var(--offset));
  background-color: var(--accent);
  transition: var(--transition);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.end {
  display: flex;
  margin-left: auto;
  gap: var(--gap-4);
}

.langsSwitcher {
  position: relative;
}

.langsList {
  position: absolute;
  right: 0;
  top: 58px;
  overflow: hidden;
}

.header {
  .hamburger {
    display: none;
  }
  .mobileSwitcher {
    display: none;
  }
}

@include media(max, 991) {
  .header {
    top: 0;
    margin-top: 12px;
  }

  .wrap {
    position: relative;
    padding: 10px 14px;
    &.active {
      background-color: var(--secondary);
    }
  }

  .background {
    width: 32px;
    height: 32px;
    border-radius: var(--radius-12);
  }

  .nav {
    display: flex;
    flex-direction: column;
    gap: var(--gap-12);
    position: absolute;
    top: 72px;
    left: 0;
    right: 0;
    height: 383px;
    margin-left: 0;
    visibility: hidden;
    opacity: 0;
    transition: var(--transition-ease);
    z-index: 15;

    &.active {
      visibility: visible;
      opacity: 1;
    }

    ul {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: var(--gap-24);
      font-size: 20px;
      padding: var(--gap-20);
      background-color: var(--secondary);
      border: 1px solid var(--tertiary);
      border-radius: var(--radius-24);
    }

    a {
      display: block;
      position: relative;
      transition: var(--transition);
      &::after {
        content: '';
        position: absolute;
        width: calc(100% + 10px);
        height: 2px;
        left: 50%;
        translate: -50% 0;
        bottom: -4px;
        background-color: currentColor;
        transform: scaleX(0);
        transition: var(--transition);
      }
      &.active {
        &::after {
          transform: scaleX(1);
        }
      }
    }
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--black-1-alpha-2);
    backdrop-filter: blur(5px);
    opacity: 0;
    visibility: hidden;
    transition: var(--transition-ease);
    z-index: 20;
    &.active {
      opacity: 1;
      visibility: visible;
    }
  }

  .line {
    display: none;
  }

  .header {
    .mobileSwitcher {
      display: flex;
      margin-inline: auto;
      background-color: var(--secondary);
    }

    .hamburger {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      svg {
        position: absolute;
        transition: var(--transition);
        backface-visibility: hidden;

        &:nth-child(2) {
          transform: rotateY(180deg);
        }
      }
      &.active {
        svg {
          &:nth-child(1) {
            transform: rotateY(180deg);
          }
          &:nth-child(2) {
            transform: rotateY(360deg);
          }
        }
      }
    }
  }
}

@include media(max, 767) {
  .header {
    top: 12px;
    .themesSwitcher {
      display: none;
    }
  }
}
