* {
  box-sizing: border-box; }
  *:before {
    box-sizing: border-box; }
  *:after {
    box-sizing: border-box; }

body {
  height: 100%;
  font-size: 16px;
  min-width: 320px;
  line-height: normal;
  font-family: "Roboto", sans-serif;
  color: #282d31;
  font-display: swap;
  overflow-x: hidden; }

ul {
  margin: 0;
  padding: 0;
  list-style-type: none; }

.list {
  margin: 0;
  padding: 0;
  list-style-type: none; }

::-webkit-input-placeholder {
  color: #000;
  opacity: 1; }

:-ms-input-placeholder {
  color: #000;
  opacity: 1; }

::-ms-input-placeholder {
  color: #000;
  opacity: 1; }

::placeholder {
  color: #000;
  opacity: 1; }

::-moz-selection {
  background-color: blue;
  color: #fff; }

::selection {
  background-color: blue;
  color: #fff; }

img {
  vertical-align: top;
  max-width: 100%;
  height: auto; }

svg {
  vertical-align: top;
  max-width: 100%; }

iframe {
  vertical-align: top;
  max-width: 100%; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  line-height: 100%; }

p {
  margin: 0; }

button {
  padding: 0;
  border: 0;
  background: none; }

figure {
  margin: 0; }

.tar {
  text-align: right; }

.tac {
  text-align: center; }

.no-plr {
  padding-left: 0;
  padding-right: 0;
  padding-top: 20px; }

.mlr-35 {
  margin-left: -35px;
  margin-right: -35px; }

.mlr-15 {
  margin-left: -15px;
  margin-right: -15px; }

.mt0 {
  margin-top: 0 !important; }

.df-e {
  text-align: right;
  display: flex;
  flex-direction: column;
  align-items: flex-end; }

.mt15 {
  margin-top: 15px; }

.df-end {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 0 !important;
  margin-top: 30px; }

.mb30 {
  margin-bottom: 30px; }

.mt30 {
  margin-top: 30px; }

/* header */
.page-header .page-header__container {
  display: flex;
  align-items: center;
  justify-content: space-between; }

.page-header__top {
  background: url(../img/lines.jpg);
  padding-top: 25px;
  padding-bottom: 25px; }

.page-header__bottom {
  background: #2cc26c;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #2cc26c 0%, #21a358 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */ }

.hamburger {
  width: 100%;
  max-width: 83px;
  height: 100%;
  max-height: 83px;
  align-items: center;
  justify-content: center;
  background: #1b6c3b;
  flex-shrink: 0;
  cursor: pointer;
  display: none; }

/* ---------- */
.nav-menu {
  margin-top: -1px; }
  .nav-menu .menu {
    display: flex;
    justify-content: space-between; }
  .nav-menu .menu__item a {
    display: flex;
    align-items: center;
    height: 60px;
    text-transform: uppercase;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    padding-left: 52px;
    padding-right: 23px;
    position: relative;
    transition: .3s; }
    .nav-menu .menu__item a:hover, .nav-menu .menu__item a:active {
      background: #1b6c3b;
      color: rgba(255, 255, 255, 0.8); }
      .nav-menu .menu__item a:hover::before, .nav-menu .menu__item a:active::before {
        opacity: 1; }
    .nav-menu .menu__item a::before {
      content: '';
      position: absolute;
      left: 0;
      top: 50%;
      opacity: 0.7;
      transition: .3s;
      margin-left: 14px; }
  .nav-menu .menu__item .ni01::before {
    background: url(../img/nav-icon01.svg);
    width: 23px;
    height: 23px;
    margin-top: -12px;
    margin-left: 14px; }
  .nav-menu .menu__item .ni02:before {
    background: url(../img/nav-icon02.svg);
    width: 23px;
    height: 21px;
    margin-top: -11px; }
  .nav-menu .menu__item .ni03:before {
    background: url(../img/nav-icon03.svg);
    width: 30px;
    height: 23px;
    margin-top: -11px; }
  .nav-menu .menu__item .ni04:before {
    background: url(../img/nav-icon04.svg);
    width: 27px;
    height: 23px;
    margin-top: -11px; }
  .nav-menu .menu__item .ni05:before {
    background: url(../img/nav-icon05.svg);
    width: 24px;
    height: 21px;
    margin-top: -11px; }
  .nav-menu .menu__item .ni06:before {
    background: url(../img/nav-icon06.svg);
    width: 25px;
    height: 19px;
    margin-top: -10px; }

.page-main {
  background: #282d31; }

.banners--white {
  background: #fff; }

.banners .banner-image {
  display: inline-block; }
  .banners .banner-image:not(:last-child) {
    margin-bottom: 12px; }

.banner-column {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center; }

.partners {
  background: #fff;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
  padding-bottom: 25px; }

.border {
  border-top: 18px solid #27ae60; }

.title {
  font-weight: normal;
  font-size: 20px;
  text-align: center;
  margin-bottom: 28px;
  color: #282d31;
  text-transform: uppercase; }

.table .table__row-name {
  margin-bottom: 12px; }

.table .table__row {
  display: flex;
  align-items: center; }

.table .table__item {
  margin-bottom: 12px; }
  .table .table__item:nth-child(1) {
    width: 23%; }
  .table .table__item:nth-child(2) {
    width: 16%; }
  .table .table__item:nth-child(3) {
    width: 28%; }
  .table .table__item:nth-child(4) {
    width: 11%; }
  .table .table__item:nth-child(5) {
    width: 22%; }

.table .table-name a {
  font-weight: 500;
  font-size: 17px;
  display: block;
  text-decoration: none;
  color: #27ae60; }

.table .table-name span {
  font-size: 15px;
  color: #27ae60;
  display: block; }

.table .table-reviews {
  display: flex;
  align-items: center; }
  .table .table-reviews span {
    font-family: 'Exo 2', sans-serif;
    font-weight: bold;
    margin-right: 30px;
    min-width: 20px; }

.table .table-rating b {
  font-family: 'Exo 2', sans-serif;
  font-size: 20px; }

.table .table__name-item {
  font-size: 15px;
  font-family: 'Exo 2', sans-serif;
  color: #959797; }

.table .stars {
  cursor: pointer; }

.more-partners {
  color: #27ae60;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 12px; }
  .more-partners span {
    margin-right: 15px; }

.new-partners {
  padding-top: 35px;
  padding-bottom: 30px;
  padding-left: 50px;
  padding-right: 50px;
  background: #f3f3f3; }

.materials {
  background: #f3f3f3;
  padding: 30px; }

.materials__row {
  display: flex;
  flex-wrap: wrap; }

.materials__left {
  width: 100%;
  max-width: 634px;
  margin-right: 22px; }

.grid-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-columns: 1fr;
  -webkit-column-gap: 15px;
          column-gap: 15px;
  row-gap: 17px; }

.materials__right .widget:not(:last-child) {
  margin-bottom: 44px; }

.materials__item .materials__img {
  margin-bottom: 18px; }

.materials__item .materials__caption {
  font-size: 13px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase; }

.text-info {
  margin-top: 35px;
  font-weight: lighter; }
  .text-info p {
    margin-bottom: 18px;
    font-size: 15px;
    line-height: 24px; }

.join-text {
  font-weight: 500;
  text-align: center; }

.subscripe {
  background: #27ae60;
  padding-top: 30px;
  padding-bottom: 30px; }
  .subscripe .subscripe__title {
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    font-size: 20px;
    margin-bottom: 15px; }
  .subscripe .subscripe__text {
    font-size: 15px;
    color: #fff;
    text-align: center;
    margin-bottom: 15px; }
  .subscripe .subscripe__form {
    display: flex;
    justify-content: space-between; }
  .subscripe .form-subscripe {
    margin: 0 auto;
    max-width: 674px;
    width: 100%; }
  .subscripe .subscripe__button {
    max-width: 268px;
    width: 100%; }

.input {
  background: #fff;
  border-radius: 6px;
  height: 42px;
  text-align: center;
  max-width: 370px;
  width: 100%;
  transition: .3s;
  border: 2px solid #fff; }
  .input:focus {
    border-color: #f47e0c; }
  .input::-webkit-input-placeholder {
    color: #27ae60; }
  .input:-ms-input-placeholder {
    color: #27ae60; }
  .input::-ms-input-placeholder {
    color: #27ae60; }
  .input::placeholder {
    color: #27ae60; }

.data-processing {
  max-width: 772px;
  margin: 0 auto;
  margin-top: 35px; }

.checkbox-item {
  display: none; }

.label-item {
  font-weight: lighter;
  color: #fff;
  text-transform: uppercase;
  font-size: 16px;
  padding-left: 35px;
  position: relative; }
  .label-item span {
    display: inline-block;
    margin-top: -2px;
    width: 20px;
    height: 20px;
    border: 2px solid #fff;
    position: absolute;
    left: 0; }
    .label-item span::before {
      transition: .3s;
      content: '';
      position: absolute;
      width: 10px;
      height: 10px;
      background: #fff;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      visibility: hidden; }

.checkbox-item:checked + .label-item span::before {
  visibility: visible; }

.materials__item {
  text-decoration: none; }
  .materials__item:hover, .materials__item:active {
    text-decoration: underline; }
  .materials__item .materials__caption {
    color: #282d31; }
    .materials__item .materials__caption--font {
      font-size: 15px;
      margin-left: 15px;
      margin-right: 15px; }

.contacts {
  background: #fff;
  padding-top: 25px;
  padding-bottom: 30px; }

.our-contacts {
  padding-left: 30px;
  padding-right: 30px; }
  .our-contacts .our-contacts__text {
    font-size: 15px;
    font-weight: lighter;
    margin-bottom: 20px; }

.contacts__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px; }

.link-grey .footer-link__item {
  color: #1a6939 !important; }

.our-social {
  display: inline-block; }
  .our-social .social-list {
    background: #1a6939;
    border-radius: 21px; }

.contacts__form {
  padding-top: 30px; }

.title-contacts {
  font-weight: lighter;
  text-align: left;
  margin-bottom: 20px; }

.form-contacts {
  display: grid;
  grid-template-columns: 445px auto; }

.input-group .input-item {
  display: block; }

.input-item {
  font-weight: lighter;
  font-size: 18px;
  border: 2px solid #282d31;
  max-width: 405px;
  width: 100%;
  height: 40px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 14px;
  margin-bottom: 12px;
  transition: .3s; }
  .input-item:focus {
    border-color: #1a6939; }

.textarea-item {
  font-weight: lighter;
  font-size: 18px;
  border: 2px solid #282d31;
  max-width: 545px;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 14px;
  margin-bottom: 12px;
  padding-top: 10px;
  padding-bottom: 10px;
  height: 176px;
  resize: none;
  transition: .3s; }
  .textarea-item:focus {
    border-color: #1a6939; }

.conference {
  background: #fff;
  padding-top: 25px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px; }

.title-text {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: lighter; }

.ivents {
  margin-left: -30px;
  margin-right: -30px;
  padding-left: 30px;
  padding-right: 30px; }
  .ivents .ivents__row {
    margin-top: 40px;
    display: flex;
    justify-content: space-between; }

.ivents__date {
  font-weight: 500;
  color: #1a6939;
  padding-left: 40px;
  padding-right: 40px;
  position: relative;
  margin-bottom: 25px;
  display: inline-block; }
  .ivents__date::after, .ivents__date::before {
    content: '';
    position: absolute;
    width: 21px;
    height: 20px;
    background-image: url(../img/star.png);
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    margin-top: -1px; }
  .ivents__date::before {
    left: 0; }
  .ivents__date::after {
    right: 0; }

.ivents__list {
  font-size: 18px;
  line-height: 34px;
  color: #1a6939;
  text-transform: uppercase; }

.ivents__item {
  padding-left: 30px;
  position: relative; }
  .ivents__item::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    background-image: url(../img/check.png);
    width: 15px;
    height: 14px; }

.conference-text {
  padding-top: 60px; }

.shadow {
  box-shadow: 0px 23px 26px -15px rgba(0, 0, 0, 0.69);
  padding-bottom: 30px; }

.conference-info {
  margin-top: 50px; }

.link-conf {
  font-weight: 500; }

.conference-slider {
  margin-bottom: 0 !important; }

.networks {
  padding-top: 40px;
  padding-bottom: 40px; }

.networks__item {
  display: flex; }
  .networks__item:not(:last-child) {
    margin-bottom: 40px; }
  .networks__item .networks__img {
    box-shadow: 10px 10px 45px 0px #878787;
    flex-shrink: 0;
    margin-right: 40px;
    max-width: 290px;
    border-radius: 15px; }
  .networks__item .networks__box {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between; }
  .networks__item .networks__info {
    display: flex;
    flex-direction: column;
    order: 1; }
  .networks__item .networks__title {
    font-size: 15px;
    margin-bottom: 25px; }
  .networks__item .networks__text {
    font-size: 15px; }
  .networks__item .button__row {
    display: flex;
    order: 3;
    width: 100%;
    justify-content: space-between; }
  .networks__item .button__subrow {
    display: flex; }
    .networks__item .button__subrow .button:first-child {
      margin-right: 20px; }
  .networks__item .network__stars {
    order: 2;
    display: flex; }

.conferences__item .button__row {
  max-width: 415px; }

.conferences__item .ivents__list {
  display: flex;
  flex-direction: column;
  order: 2;
  font-size: 14px;
  line-height: 20px;
  align-self: flex-start;
  margin-top: 10px;
  min-height: 60px; }

.conferences__item .ivents__date {
  margin-top: -20px;
  margin-bottom: 6px;
  display: inline-flex;
  order: 3;
  align-items: flex-end; }
  .conferences__item .ivents__date:after, .conferences__item .ivents__date:before {
    -webkit-transform: none;
            transform: none;
    top: inherit; }

.conferences__item .networks__title {
  margin-bottom: 20px;
  margin-top: 5px; }

.pagination {
  margin-bottom: 30px; }
  .pagination .pagination__row {
    display: flex; }
    .pagination .pagination__row b {
      color: #1a6939;
      font-size: 18px;
      display: flex;
      align-items: flex-end;
      margin-right: 5px; }
  .pagination .pagination__item {
    display: flex;
    width: 20px;
    height: 20px;
    padding-bottom: 4px;
    justify-content: center;
    border: 2px solid #1a6939;
    color: #1a6939;
    border-radius: 50%;
    line-height: 12px;
    font-size: 12px;
    font-weight: 500;
    text-decoration: none;
    font-family: 'Exo 2', sans-serif;
    transition: .3s;
    margin-right: 5px; }
    .pagination .pagination__item.active, .pagination .pagination__item:hover, .pagination .pagination__item:active {
      background: #1a6939;
      color: #fff; }

.button-single {
  margin-top: 1px;
  display: flex;
  order: 3;
  border-radius: 10px; }

.table__partnership {
  margin-top: 40px; }

.table__toggler {
  cursor: pointer; }
  .table__toggler.active .filter-toggler {
    -webkit-transform: scaleY(-1);
            transform: scaleY(-1); }
  .table__toggler .filter-toggler {
    display: inline-block;
    transition: .3s;
    margin-left: 5px; }

.partners-menu {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: -35px; }
  .partners-menu .stars__item {
    position: relative;
    padding-bottom: 25px; }
    .partners-menu .stars__item:nth-child(3)::after {
      content: unset; }
    .partners-menu .stars__item:last-child::after {
      content: unset; }
    .partners-menu .stars__item::after {
      content: '';
      position: absolute;
      background-image: url(../img/star.png);
      width: 21px;
      height: 20px;
      right: -13px; }
    .partners-menu .stars__item::before {
      content: unset;
      position: absolute;
      background-image: url(../img/star.png);
      width: 21px;
      height: 20px;
      left: -13px; }
  .partners-menu .partners-menu__item {
    font-size: 17px;
    text-decoration: none;
    color: #1a6939;
    position: relative;
    text-transform: uppercase;
    margin-left: 30px;
    margin-right: 30px;
    white-space: nowrap; }
    .partners-menu .partners-menu__item::before {
      content: '';
      position: absolute;
      width: 80%;
      height: 4px;
      background: #1a6939;
      bottom: -8px;
      transition: .3s;
      opacity: 0;
      left: 50%;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%); }
    .partners-menu .partners-menu__item:hover::before, .partners-menu .partners-menu__item:active::before, .partners-menu .partners-menu__item.active::before {
      bottom: -5px;
      opacity: 1;
      width: 100%; }

.breadcrumbs {
  margin-top: 15px;
  display: flex;
  margin-bottom: 30px; }
  .breadcrumbs .breadcrumbs__item {
    color: #1b6c3b;
    text-decoration: none;
    font-size: 15px;
    transition: .3s; }
    .breadcrumbs .breadcrumbs__item::after {
      content: '/';
      margin-left: 2px;
      margin-right: 4px; }
  .breadcrumbs li.breadcrumbs__item::after {
    content: unset; }

.about-row {
  display: flex;
  justify-content: space-between;
  margin-top: 40px; }

.about-partner__title {
  font-weight: 500;
  color: #1b6c3b;
  margin-bottom: 15px;
  text-transform: uppercase; }

.about-partner .about-partner__list li {
  display: flex;
  align-items: center;
  margin-bottom: 5px; }

.about-partner .about-partner__list .name {
  width: 160px;
  display: block;
  margin-right: 45px;
  font-weight: lighter;
  font-size: 16px;
  line-height: 26px; }

.about-partner .about-partner__list .name-text {
  font-size: 16px;
  line-height: 26px; }

.about-partner .about-link {
  font-size: 16px;
  line-height: 26px;
  color: #1b6c3b;
  font-weight: 500;
  text-decoration: none; }

.about-partner .about-rating {
  display: flex;
  align-items: center; }
  .about-partner .about-rating span {
    color: #f47e0c;
    margin-right: 10px; }

.our-contacts-info {
  border: 3px solid #1b6c3b;
  height: 140px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  min-width: 260px;
  border-radius: 10px;
  margin-right: 20px; }

.our-soc {
  margin-right: 20px;
  margin-top: -12px; }
  .our-soc .footer-link__item {
    font-size: 17px !important;
    font-weight: lighter;
    color: #282d31 !important;
    text-transform: none !important;
    margin-bottom: 0 !important; }
    .our-soc .footer-link__item.ticket::after {
      background: url(../img/ticket.png);
      width: 20px;
      height: 18px;
      left: 3px; }
    .our-soc .footer-link__item:hover, .our-soc .footer-link__item:active {
      color: #1b6c3b !important; }

.our-contacts-row {
  display: flex; }
  .our-contacts-row img {
    flex-shrink: 0;
    height: 141px; }

.about-networks {
  margin-top: 50px; }
  .about-networks .about-networks__text {
    margin-top: 30px; }

.ul-list {
  list-style: disc;
  line-height: 24px;
  font-size: 15px;
  font-weight: lighter;
  padding-left: 14px;
  margin-bottom: 30px; }
  .ul-list--offset {
    padding-left: 25px; }

.start-job {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .start-job svg {
    display: inline-block;
    margin-bottom: 20px; }
  .start-job .start-job__btn {
    display: inline-flex;
    margin-bottom: 20px; }
    .start-job .start-job__btn b {
      margin-left: 5px; }

.reviews-block {
  padding-top: 50px; }

.reviews-grid {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 25px;
  margin-bottom: 20px; }
  .reviews-grid .reviews-grid__item {
    box-shadow: 5px 5px 10px 0px #878787;
    border-radius: 10px;
    padding: 15px;
    padding-top: 10px; }
    .reviews-grid .reviews-grid__item p {
      font-size: 13px; }
  .reviews-grid .reviews__row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px; }
  .reviews-grid .reviews-name, .reviews-grid .riviews-date {
    font-size: 13px; }

.slider-bottom {
  background: #f6f6f6;
  padding-top: 20px; }

.new-slider {
  padding-left: 40px;
  padding-right: 40px;
  margin-bottom: 0 !important; }
  .new-slider .owl-nav .owl-next {
    right: 50px !important; }
  .new-slider .owl-nav .owl-prev {
    left: -34px !important; }

.text-green {
  color: #107d3b;
  font-weight: bold;
  margin-bottom: 10px; }

.shadow-box {
  box-shadow: 10px 10px 45px 0px #878787;
  border-radius: 10px; }

.img-screen {
  margin-bottom: 30px; }

.more-text {
  margin-bottom: 30px; }

.single-case .events-row {
  margin-top: 20px; }

.single-case .text-info {
  margin-top: 0; }

.single-case .ivents__right {
  margin-left: 20px; }

.ivents__right {
  flex-shrink: 0; }

.single-text {
  margin-top: 40px; }

.strong-list a {
  color: #282d31;
  text-decoration: none; }

.strong-list li {
  margin-bottom: 10px; }

.links-list {
  list-style: decimal;
  padding-left: 40px; }
  .links-list a {
    color: #282d31;
    text-decoration: none;
    margin-left: 20px; }

.unstyle-link {
  color: #282d31;
  text-decoration: none; }

span.mb10 {
  display: block;
  margin-bottom: 10px; }

.list-disc {
  list-style: disc;
  padding-left: 30px; }
  .list-disc p {
    margin-left: 10px; }

.owl-carousel .owl-item img {
  width: auto; }

.slider-link {
  display: inline-block; }
  .slider-link:not(:last-child) {
    margin-bottom: 12px; }

.partners-slider {
  margin-bottom: 30px; }

.owl-carousel .owl-nav {
  position: absolute;
  top: 50%;
  width: 100%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 45px;
  margin-top: -10px; }

.owl-carousel .owl-nav .owl-prev, .owl-next {
  font-size: 0 !important;
  position: absolute; }

.owl-carousel .owl-nav .owl-prev {
  left: -38px; }

.owl-carousel .owl-nav .owl-next {
  right: -30px; }

.owl-carousel .owl-nav .owl-prev span {
  display: block;
  width: 24px;
  height: 45px;
  background: url(../img/arrow-left.png); }

.owl-carousel .owl-nav .owl-next span {
  display: block;
  width: 24px;
  height: 45px;
  background: url(../img/arrow-right.png); }

.page-footer {
  padding-top: 22px;
  padding-bottom: 22px;
  background: url(../img/lines-footer.png) 100% 100% no-repeat, #27ae60;
  background-size: cover; }

.page-footer__container {
  display: flex;
  justify-content: space-between; }

.footer-copy {
  font-weight: 500;
  color: #fff;
  margin-bottom: 20px;
  display: block; }

.footer-link .footer-link__item {
  display: block;
  font-size: 17px;
  line-height: 24px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  padding-left: 38px;
  position: relative;
  margin-bottom: 4px; }
  .footer-link .footer-link__item::after {
    content: '';
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%); }

.footer-link .skype-link::after {
  left: 5px;
  background: url(../img/icon_skype.png);
  height: 19px;
  width: 19px; }

.footer-link .skype-link--green::after {
  background: url(../img/icon_skype--green.png); }

.footer-link .mail-link::after {
  left: 0px;
  background: url(../img/icon_mail.png);
  width: 27px;
  height: 17px; }

.footer-link .mail-link--green::after {
  background: url(../img/icon_mail--green.png); }

.footer-link .viber-link::after {
  left: 3px;
  background: url(../img/icon_viber.png);
  width: 22px;
  height: 24px; }

.footer-link .viber-link--green::after {
  background: url(../img/icon_viber--green.png); }

.social-title {
  font-size: 17px;
  color: #fff;
  text-transform: uppercase;
  line-height: 24px;
  margin-bottom: 15px; }

.social-list {
  display: flex;
  justify-content: space-between; }
  .social-list a {
    text-decoration: none;
    transition: .3s; }
    .social-list a:hover, .social-list a:active {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg); }

.review-button {
  height: 30px;
  border: 2px solid #27ae60;
  border-radius: 15px;
  color: #27ae60;
  font-size: 17px;
  font-family: 'Exo 2', sans-serif;
  padding-left: 12px;
  padding-right: 12px;
  text-decoration: none;
  transition: .3s;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .3s; }
  .review-button:hover, .review-button:active {
    background: #27ae60;
    color: #fff; }

.main-link {
  font-weight: bold;
  color: #27ae60;
  text-decoration: none;
  transition: .3s; }
  .main-link:hover, .main-link:active {
    text-decoration: underline; }

.partners-button {
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  height: 30px;
  background: #27ae60;
  color: #fff;
  display: inline-flex;
  align-items: center;
  padding-left: 10px;
  padding-right: 25px;
  border-radius: 10px;
  position: relative;
  font-weight: bold; }
  .partners-button::after {
    content: '';
    position: absolute;
    right: 8px;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 8px;
    height: 14px;
    background-image: url(../img/arrow.png);
    transition: .3s; }
  .partners-button:hover::after, .partners-button:active::after {
    right: 3px; }

.button {
  background: #f47e0c;
  height: 42px;
  font-size: 17px;
  font-weight: bold;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  transition: .3s;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none; }
  .button--darkgreen {
    background: #1a6939; }
    .button--darkgreen:hover, .button--darkgreen:active {
      background: #27ae60; }
  .button--border {
    background: transparent;
    border: 2px solid #1a6939;
    color: #1a6939; }
    .button--border:hover, .button--border:active {
      background: #1a6939;
      color: #fff; }

.input-button {
  max-width: 234px;
  width: 100%; }

.button-conference {
  width: 178px;
  margin: 0 auto;
  text-decoration: none; }

.button__networks {
  padding-left: 10px;
  padding-right: 10px;
  height: 34px;
  text-transform: uppercase;
  font-weight: normal; }

@media (max-width: 767px) {
  .container {
    padding-left: 0;
    padding-right: 0; }
  .page-header .page-header__top {
    height: 83px;
    padding-top: 0;
    padding-bottom: 0;
    position: relative;
    z-index: 20; }
  .page-header__container {
    height: 83px;
    padding-left: 0;
    padding-right: 0; }
  .hamburger {
    display: flex; }
  .banner {
    display: none; }
  .logo {
    width: 200px;
    margin: 0 auto; }
  .banner-column {
    padding-left: 0px;
    padding-right: 0px; }
  .page-header {
    position: relative; }
  .page-header__bottom {
    position: absolute;
    transition: .5s;
    left: 0;
    right: 0;
    z-index: 10;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%); }
    .page-header__bottom--active {
      -webkit-transform: translateY(0);
              transform: translateY(0); }
  .nav-menu .menu {
    display: block; }
  .partners {
    padding-left: 15px;
    padding-right: 15px; }
  .more-partners {
    display: block;
    text-align: right;
    margin-top: 6px; }
    .more-partners span {
      display: block;
      font-size: 16px;
      margin-right: 0;
      margin-bottom: 12px; }
  .new-partners {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 25px;
    padding-bottom: 0px;
    border-bottom: 25px solid #fff; }
  .title {
    font-size: 18px; }
  .item-slider {
    margin-left: 5px;
    margin-right: 5px; }
  .owl-carousel .owl-nav .owl-prev {
    left: -25px; }
  .owl-carousel .owl-nav .owl-next {
    right: -27px; }
  .partners-slider {
    margin-bottom: 0; }
  .materials {
    padding-left: 25px;
    padding-right: 25px; }
  .materials__left {
    max-width: 100%;
    margin-right: 0; }
  .grid-items {
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 18px; }
    .grid-items--one {
      grid-template-columns: 1fr;
      text-align: center; }
  .materials__item .materials__caption {
    font-size: 12px; }
    .materials__item .materials__caption--font {
      font-size: 16px;
      margin-left: 46px;
      margin-right: 46px; }
  .materials__right {
    margin: 0 auto;
    margin-top: 28px; }
  .join-text {
    font-weight: normal;
    font-size: 15px; }
  .subscripe .subscripe__title {
    font-weight: normal;
    font-size: 18px; }
  .subscripe .subscripe__form {
    display: block;
    text-align: center; }
  .subscripe .subscripe__input {
    margin-bottom: 15px; }
  .subscripe .label-item {
    display: block;
    font-size: 13px; }
    .subscripe .label-item span {
      margin-top: 5px; }
  .page-footer {
    padding-top: 30px;
    padding-bottom: 30px; }
  .page-footer__container {
    display: block;
    text-align: center; }
  .footer-link .footer-link__item {
    display: inline-block; }
  .page-footer__right {
    display: inline-block;
    margin-top: 20px; }
  .link-grey + .logo {
    display: none; }
  .contacts__info .link-grey {
    max-width: 100%;
    margin: 0; }
  .form-contacts {
    display: block; }
  .captcha {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center; }
  .tar {
    text-align: center; }
  .input-button {
    margin-top: 12px; }
  .form-contacts + .text-info {
    font-weight: lighter; }
  .title {
    margin-bottom: 20px; }
  .banners .banner-column {
    padding-left: 15px;
    padding-right: 15px; }
  .ivents .ivents__row {
    display: block;
    text-align: center; }
  .ivents__list {
    display: inline-block;
    text-align: left; }
  .ivents__right {
    margin-top: 22px; }
  .conferences__item .networks__img {
    max-width: 254px; }
  .conferences__item .ivents__date {
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    order: 0; }
  .cases .conferences__item .networks__title {
    margin-top: 20px; }
  .button-single {
    margin-top: 20px;
    border-radius: 10px;
    width: 100%; }
  .ivents {
    padding-left: 15px;
    padding-right: 15px; }
  .about-row {
    display: block; }
  .about-partner__title {
    margin-bottom: 5px; }
  .our-contacts-row {
    margin-top: 15px;
    justify-content: space-between; }
  .our-contacts-info {
    min-width: initial;
    margin-right: 5px; }
  .reviews-grid {
    display: block; }
  .reviews-grid__item:not(:last-child) {
    margin-bottom: 25px; }
  .input-item {
    max-width: 100%; }
  .form-reg .form-reg__title {
    font-size: 20px; }
  .input-row .input-row__item {
    width: 48%; } }

@media (max-width: 991px) {
  .table__name-item {
    font-size: 13px; }
  .review-button {
    font-size: 0;
    border: 0;
    width: 23px;
    height: 23px;
    background-image: url(../img/reviews-icon.png);
    background-repeat: no-repeat;
    border-radius: 0; }
    .review-button:hover, .review-button:active {
      background-color: transparent;
      color: inherit;
      background-image: url(../img/reviews-icon.png);
      background-repeat: no-repeat; }
  .table .table-reviews span {
    margin-right: 8px;
    margin-top: -4px; }
  .table .table__item {
    margin-bottom: 12px; }
    .table .table__item:nth-child(1) {
      width: 40%;
      margin-right: 10px; }
    .table .table__item:nth-child(2) {
      width: 29%; }
    .table .table__item:nth-child(3) {
      width: 20%; }
    .table .table__item:nth-child(4) {
      width: 16%; }
    .table .table__item:nth-child(5) {
      margin-left: 10px;
      width: 26%; }
  .table .table__name-item {
    font-size: 13px; }
  .table .table-name b, .table .table-name a {
    font-weight: normal;
    font-size: 14px; }
  .subscripe {
    padding-left: 25px;
    padding-right: 25px; }
  .footer-link {
    max-width: 230px;
    margin: 0 auto; }
  .networks__item {
    display: block; }
    .networks__item .networks__title {
      font-size: 15px;
      margin-bottom: 25px;
      text-align: center; }
    .networks__item .networks__img {
      margin: 0 auto; }
    .networks__item .network__stars {
      order: 0;
      margin: 0 auto;
      margin-top: 15px;
      margin-bottom: 15px; }
    .networks__item .button__row {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-top: 20px;
      align-items: center; }
      .networks__item .button__row .button {
        font-size: 15px; }
      .networks__item .button__row > .button {
        width: 100%;
        max-width: 422px; }
    .networks__item .button__subrow {
      max-width: 422px;
      margin-top: 15px;
      order: 0; }
      .networks__item .button__subrow .button {
        width: 200px; }
    .networks__item .networks__item .button__row .button {
      order: 1; }
  .mlr-35 {
    margin-left: -20px;
    margin-right: -20px; }
  .nav-menu .menu__item a::before {
    -webkit-transform: scale(0.8);
            transform: scale(0.8); }
  .conferences__item .button__row {
    flex-direction: row;
    max-width: 440px;
    justify-content: space-between; }
    .conferences__item .button__row .button:first-child {
      width: 138px; }
    .conferences__item .button__row .button:last-child {
      width: 270px; }
  .table__toggler .filter-toggler {
    display: none; }
  .partners-menu {
    display: block;
    text-align: center; }
    .partners-menu .stars__item:nth-child(3)::after {
      content: ''; }
    .partners-menu .stars__item:last-child::after {
      content: ''; }
    .partners-menu .stars__item::after {
      right: 20px; }
    .partners-menu .stars__item::before {
      content: '';
      left: 20px; } }

@media (min-width: 768px) and (max-width: 991px) {
  .item-slider {
    text-align: center; }
  .materials__right {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px; }
  .input {
    max-width: 350px; }
  .label-item {
    display: block; }
  .nav-menu .menu__item a {
    font-size: 12px;
    padding-right: 17px;
    padding-left: 42px; }
    .nav-menu .menu__item a::before {
      left: -5px; }
  .link-grey {
    margin: 0; }
  .form-contacts {
    display: grid;
    grid-template-columns: 280px auto;
    grid-column-gap: 20px; }
  .banner {
    margin-left: 20px; }
  .page-header__bottom .container {
    max-width: 100%;
    padding: 0; }
  .conferences__item .networks__img {
    max-width: 254px; }
  .conferences__item .networks__title {
    margin-top: 20px; }
  .button-single {
    margin-top: 25px; }
  .about-row {
    display: block; }
  .about-partner {
    margin-bottom: 20px; }
  .about-partner__title {
    margin-bottom: 5px; } }

@media (min-width: 992px) and (max-width: 1053px) {
  .nav-menu .menu__item a {
    font-size: 14px; }
  .materials__right {
    width: auto;
    display: block; }
  .materials__left {
    width: 100%;
    max-width: 542px;
    margin-right: 22px; }
  .item-slider {
    margin-left: 5px;
    margin-right: 5px; }
  .page-header__bottom .container {
    max-width: 100%; }
  .button {
    font-size: 14px; }
  .mlr-35 {
    margin-left: -20px;
    margin-right: -20px; } }

@media (min-width: 320px) and (max-width: 479px) {
  .table {
    overflow-x: scroll; }
    .table .table__item {
      margin-bottom: 12px; }
    .table .table__row {
      width: 420px; }
  .slider-link {
    display: flex;
    justify-content: center; }
  .networks__item .button__subrow {
    display: block;
    margin: 0 auto;
    margin-top: 10px; }
    .networks__item .button__subrow .button {
      margin-bottom: 10px; }
  .conferences__item .button__row {
    display: block; }
  .conferences__item .button__row .button {
    max-width: 260px;
    width: 100% !important;
    font-size: 14px;
    margin: 0 auto; }
    .conferences__item .button__row .button:first-child {
      margin-bottom: 10px; }
  .partners-menu {
    display: block;
    text-align: center; }
    .partners-menu .partners-menu__item {
      margin-right: 0;
      margin-left: 0; }
    .partners-menu .stars__item:nth-child(3)::after {
      content: ''; }
    .partners-menu .stars__item:last-child::after {
      content: ''; }
    .partners-menu .stars__item::after {
      right: -10px; }
    .partners-menu .stars__item::before {
      content: '';
      left: -10px; }
  .our-contacts-row {
    display: block; }
  .our-contacts-info {
    margin-bottom: 20px;
    justify-content: space-between; }
  .our-soc {
    display: block;
    margin: 0; }
  .banner-column {
    padding-left: 15px;
    padding-right: 15px; }
  .start-job__btn {
    height: auto; }
  .slider-bottom .title {
    -webkit-hyphens: none;
        -ms-hyphens: none;
            hyphens: none;
    padding-left: 15px;
    padding-right: 15px; } }
