.root {
  display: flex;
  flex-wrap: wrap;
  white-space: pre-wrap;
  position: relative;
  justify-content: center;
}

.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  border: 0;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.lines {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.word {
  display: inline-flex;
  overflow: hidden;
  padding-block: 0.1ch;
}

.element {
  display: inline-block;
}

.space {
  white-space: pre;
}
