.approach {
  h2 {
    text-align: center;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: 540px repeat(2, 180px);
  gap: var(--gap-20);
}

.item {
  background-color: var(--secondary-alpha);
  border: 1px solid var(--tertiary);
  border-radius: var(--radius-16);
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 24px;
  overflow: hidden;
  h3,
  h4 {
    line-height: 1.2;
  }
  &_1 {
    grid-column: span 6;

    img {
      position: absolute;
      top: 0;
      right: 24px;
    }
    h4 {
      margin-top: auto;
      max-width: 348px;
    }
  }
  &_2 {
    grid-column: span 4;
    span {
      color: var(--grey-4);
    }
    img {
      position: absolute;
      bottom: 24px;
      right: 24px;
    }
    h4 {
      max-width: 355px;
      margin-top: 10px;
    }
  }
  &_3 {
    grid-column: span 3;
    path {
      transition: var(--transition);
    }
    svg {
      position: absolute;
      bottom: 0;
      right: 24px;
    }
  }
  &_4 {
    text-align: center;
    grid-column: span 3;
    grid-row: 3 / 4;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  &_5 {
    grid-row: 2 / 4;
    grid-column: span 7;
    justify-content: center;
    img {
      position: absolute;
      bottom: 0;
      right: 0;
      border-top-left-radius: var(--radius-12);
    }
    span {
      letter-spacing: 1.5px;
      color: var(--grey-4);
      text-transform: uppercase;
    }
    .item_text {
      display: flex;
      flex-direction: column;
      gap: 10px;
      width: min(310px, 100%);
    }
  }
}

[data-theme='dark'] {
  .item {
    &_3 {
      path:not(:first-child) {
        fill: var(--white);
      }
    }
  }
}

[data-theme='light'] {
  .item {
    &_3 {
      path:not(:first-child) {
        fill: var(--black);
      }
    }
  }
}

@include media(max, 1199) {
  .grid {
    grid-template-rows: 540px repeat(3, 180px);
  }

  .item {
    &_2 {
      img {
        width: 320px;
        height: 332px;
      }
    }
    &_3,
    &_4 {
      grid-row: 4 / 5;
      grid-column: span 5;
    }
    &_5 {
      grid-column: span 10;
    }
  }
}

@include media(max, 1023) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 340px 140px 360px;
    gap: var(--gap-16);
  }
  .item {
    grid-column: auto;
    grid-row: auto;
    padding: 12px;
    &_5 {
      grid-column: span 2;
    }
    &_1 {
      img {
        width: 240px;
        height: 240px;
        right: 12px;
      }
    }
    &_2 {
      img {
        width: 190px;
        height: 197px;
        right: 12px;
      }
    }
    &_3,
    &_4 {
      grid-column: span 1;
    }
    &_5 {
      justify-content: flex-start;
      img {
        width: 440px;
        height: 250px;
      }
    }
  }
}

@include media(max, 767) {
  .grid {
    grid-template-columns: 100%;
    grid-template-rows: repeat(2, 315px) repeat(2, 150px) 305px;
  }
  .item {
    grid-column: auto;
    grid-row: auto;
    &_5 {
      img {
        width: auto;
        height: 190px;
        object-fit: contain;
        object-position: bottom;
      }
    }
  }
}
