@font-face {
  font-family: 'Proxima Nova';
  src: url("../fonts/subset-ProximaNova-Bold.woff2") format("woff2"), url("../fonts/subset-ProximaNova-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Proxima Nova';
  src: url("../fonts/subset-ProximaNova-Regular.woff2") format("woff2"), url("../fonts/subset-ProximaNova-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

* {
  box-sizing: border-box; }
  *:before {
    box-sizing: border-box; }
  *:after {
    box-sizing: border-box; }
  *:focus {
    outline: none; }

html {
  overflow: auto !important; }

body {
  height: 100%;
  font-size: 16px;
  min-width: 320px;
  line-height: normal;
  font-family: "Proxima Nova", sans-serif;
  color: #fff;
  position: relative;
  overflow-x: hidden; }

.page-wrap {
  transition-delay: .3s;
  transition-duration: .5s; }

input[type="text"] {
  border-radius: 0;
  -webkit-appearance: none; }

input[type="password"] {
  border-radius: 0;
  -webkit-appearance: none; }

input[type="email"] {
  border-radius: 0;
  -webkit-appearance: none; }

input[type="search"] {
  border-radius: 0;
  -webkit-appearance: none; }

input[type="submit"] {
  border-radius: 0;
  -webkit-appearance: none; }

input[type="reset"] {
  border-radius: 0;
  -webkit-appearance: none; }

input[type="tel"] {
  border-radius: 0;
  -webkit-appearance: none; }

textarea {
  border-radius: 0;
  -webkit-appearance: none; }

ul {
  margin: 0;
  padding: 0;
  list-style-type: none; }

.list {
  margin: 0;
  padding: 0;
  list-style-type: none; }

::-webkit-input-placeholder {
  color: #000;
  opacity: 1; }

:-ms-input-placeholder {
  color: #000;
  opacity: 1; }

::-ms-input-placeholder {
  color: #000;
  opacity: 1; }

::placeholder {
  color: #000;
  opacity: 1; }

::-moz-selection {
  background-color: blue;
  color: #fff; }

::selection {
  background-color: blue;
  color: #fff; }

img {
  vertical-align: top;
  max-width: 100%;
  height: auto; }

svg {
  vertical-align: top;
  max-width: 100%; }

iframe {
  vertical-align: top;
  max-width: 100%; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  line-height: normal; }

p {
  margin: 0; }

button {
  padding: 0;
  border: 0;
  background: none;
  color: #fff; }

blockquote {
  margin: 0; }

a {
  text-decoration: none;
  color: #fff; }

.mla {
  margin-left: auto; }

/* header */
#menu {
  --mm-color-background: #205BB3;
  z-index: 99;
  transition: .5s; }

.mm-menu_offcanvas.mm-menu_opened {
  visibility: visible;
  -webkit-transform: translateX(0) !important;
          transform: translateX(0) !important; }

.mm-menu_offcanvas {
  display: inherit;
  visibility: hidden;
  -webkit-transform: translateX(100%) !important;
          transform: translateX(100%) !important; }

.mm-menu_fx-listitems-slide .mm-listitem .mm-listitem__text {
  padding-top: 25px;
  padding-bottom: 25px; }

@media (max-width: 991px) {
  .mm-menu_fx-listitems-slide .mm-listitem .mm-listitem__text {
    padding-top: 10px;
    padding-bottom: 10px; } }

.mm-listitem__text {
  color: #fff !important; }

.mm-panel_has-navbar .mm-navbar {
  display: none; }

.mm-panels > .mm-panel > .mm-listview:first-child, .mm-panels > .mm-panel > .mm-navbar + .mm-listview {
  margin-top: -40px; }

.mm-listitem {
  --mm-color-border: #fff; }

.owl-item.active {
  z-index: 2; }

.header-slider__item {
  background-size: cover;
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100vh; }
  .header-slider__item.gradient::after {
    background: none; }
  .header-slider__item.gradient::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 82.94%, #000000 100%), linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 20.05%); }
  .header-slider__item.overlay::after {
    content: '';
    background: rgba(0, 0, 0, 0.8); }
  .header-slider__item:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 62, 156, 0.9);
    z-index: -1; }

.header-slider__area {
  position: relative;
  height: 100vh;
  width: 100%;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative; }

.header-slider__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  left: 0;
  right: 0;
  padding-top: 30px;
  padding-left: 5.5%;
  padding-right: 5.5%;
  z-index: 10; }

.header-slider__right {
  display: flex;
  align-items: center; }

.info {
  text-align: right; }

.mode {
  font-size: 14px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.8); }

.phone {
  line-height: 28px;
  font-size: 20px;
  color: #FFFFFF;
  text-decoration: none;
  position: relative; }
  .phone:after {
    content: '';
    position: absolute;
    width: 0;
    transition: .3s;
    right: 0;
    bottom: 0;
    border-bottom: 1px solid #fff; }
  .phone:hover:after, .phone:active:after {
    width: 100%; }

.header-slider__mode, .header-slider__phone {
  display: block; }

.header-slider__info {
  margin-left: 39px;
  margin-right: 39px; }

.hamburger {
  margin-top: -2px;
  cursor: pointer;
  transition: .3s; }

.header-slider__content {
  display: flex; }

.header-slider__animation {
  display: flex;
  justify-content: center;
  align-items: center; }

@-webkit-keyframes bottom {
  from {
    margin-bottom: -30px;
    opacity: 0; }
  to {
    margin-bottom: 0;
    opacity: 1; } }

@keyframes bottom {
  from {
    margin-bottom: -30px;
    opacity: 0; }
  to {
    margin-bottom: 0;
    opacity: 1; } }

.slider-text {
  height: 273px;
  padding-left: 30px;
  z-index: 1;
  display: flex;
  position: relative;
  margin-left: -92px; }
  .slider-text.border-top:before {
    width: 100%; }
  .slider-text.border-right::after {
    height: 100%; }
  .slider-text:before {
    content: '';
    position: absolute;
    border-top: 5px solid #ef7d1a;
    width: 0;
    left: 0;
    top: 0;
    transition: all .4s; }
  .slider-text:after {
    content: '';
    position: absolute;
    border-right: 5px solid #ef7d1a;
    height: 0;
    right: 0;
    transition: all .4s; }
  .slider-text .border-bottom {
    position: absolute;
    border-bottom: 5px solid #ef7d1a;
    bottom: 0;
    right: 0;
    width: 0;
    transition: all .4s; }
    .slider-text .border-bottom.border-bot {
      width: 100%; }

.third-image {
  position: relative;
  z-index: 2;
  margin-bottom: -30px;
  opacity: 0;
  transition: all .5s; }
  .third-image.animate {
    margin-bottom: 0;
    opacity: 1; }

.main-image {
  position: relative;
  z-index: 2;
  margin-bottom: -30px;
  opacity: 0;
  transition: all .5s; }
  .main-image.animate {
    margin-bottom: 0;
    opacity: 1; }

.owl-carousel .owl-item img {
  display: inherit;
  width: inherit; }

.citation {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: flex-end;
  padding-right: 94px;
  padding-left: 94px; }

.header-slider__title {
  line-height: 53px;
  font-size: 36px;
  letter-spacing: 0.5px; }

.header-slider__name {
  line-height: 37px;
  font-size: 26px;
  color: #ef7d1a; }

.owl-nav {
  display: none; }

.owl-dots {
  position: absolute;
  bottom: 46px;
  right: 25%;
  z-index: 10;
  display: flex;
  height: 46px;
  align-items: center;
  transition: .3s;
  cursor: pointer; }
  .owl-dots.default {
    right: 5.5%; }
  .owl-dots .owl-dot {
    height: 35px;
    width: 35px;
    border: 3px solid #fff !important;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 50%;
    font-size: 25px;
    line-height: 25px;
    color: #fff;
    text-decoration: none;
    margin-left: 7px;
    margin-right: 7px;
    transition: .3s; }
    .owl-dots .owl-dot:hover, .owl-dots .owl-dot:active {
      background: #ff7c0a; }
    .owl-dots .owl-dot::after {
      font-size: 25px; }
    .owl-dots .owl-dot.active {
      border-color: #ef7d1a !important;
      background: #ef7d1a; }
    .owl-dots .owl-dot:nth-child(1)::after {
      content: '1'; }
    .owl-dots .owl-dot:nth-child(2)::after {
      content: '2'; }
    .owl-dots .owl-dot:nth-child(3)::after {
      content: '3'; }

.header-slider__list {
  line-height: 26px;
  font-size: 26px;
  color: #EF7F1A;
  counter-reset: myCounter;
  font-family: 'Roboto', sans-serif; }
  .header-slider__list li {
    display: flex;
    align-items: center;
    padding-left: 52px; }
    .header-slider__list li::before {
      content: counter(myCounter);
      counter-increment: myCounter;
      font-weight: bold;
      margin-left: -52px;
      margin-right: 10px;
      font-size: 72px;
      line-height: 78px;
      color: rgba(255, 255, 255, 0.5); }

.header-slider__advantages {
  overflow: hidden; }

.header-slider__buttons {
  transition: all .3s;
  opacity: 0;
  margin-top: 42px; }
  .header-slider__buttons .button {
    margin-right: 40px; }
  .header-slider__buttons.animate {
    opacity: 1; }

.first-item, .second-item, .third-item {
  transition: .3s;
  opacity: 0; }
  .first-item.animate, .second-item.animate, .third-item.animate {
    opacity: 1; }

.mb_YTPBar {
  display: none !important; }

.button-row {
  height: 46px;
  display: flex;
  align-items: center;
  position: absolute;
  left: 5.5%;
  bottom: 46px; }
  .button-row button {
    margin-right: 12px;
    margin-left: 12px; }

/* ---------- */
.about-me {
  padding-top: 95px;
  padding-bottom: 60px; }

.about-me__text {
  margin-bottom: 30px; }
  .about-me__text p {
    line-height: 29px;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.8); }
    .about-me__text p:not(:last-child) {
      margin-bottom: 30px; }

.about-me__image {
  margin-bottom: 30px; }

.about-me__title {
  font-size: 64px;
  background: linear-gradient(to right, #0055a7 0%, #2b97ff 100%);
  background-clip: border-box;
  color: #0055a7;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  padding-bottom: 30px; }
  .about-me__title::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    border-bottom: 8px solid #ef7d1a;
    width: 808px;
    z-index: -1; }

.about-me__quote {
  font-size: 36px;
  color: #000;
  font-weight: bold;
  padding-top: 30px;
  margin-bottom: 25px; }

.training-block {
  background: url(../img/bg-training.jpg);
  background-size: cover;
  position: relative;
  z-index: 1;
  padding-top: 65px;
  padding-bottom: 50px; }
  .training-block:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 62, 156, 0.9);
    z-index: -1; }

.training-block__top {
  padding-bottom: 30px; }

.training-block__left {
  margin-top: 20px;
  margin-bottom: 20px; }
  .training-block__left .training-block__title {
    line-height: 51px;
    font-size: 36px;
    margin-bottom: 20px; }

.training-block__right {
  border: 5px solid #ef7d1a;
  padding: 30px;
  margin-bottom: 20px; }

.training-block__list {
  font-size: 20px;
  line-height: 28px; }
  .training-block__list li {
    position: relative;
    padding-left: 40px; }
    .training-block__list li:not(:last-child) {
      margin-bottom: 30px; }
    .training-block__list li:before {
      content: '';
      background: url(../img/check.svg);
      width: 26px;
      height: 26px;
      position: absolute;
      left: 0;
      margin-top: -2px; }

.next-training__title {
  line-height: 34px;
  font-size: 24px;
  margin-bottom: 30px; }

.next-training__items {
  overflow: hidden; }

.next-training__item {
  text-align: center;
  max-width: 270px;
  margin: 0 auto;
  margin-bottom: 30px; }
  .next-training__item .img-box img {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px; }
  .next-training__item .text-box {
    text-align: center;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 15px;
    padding-bottom: 20px;
    background: #fff;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px; }
  .next-training__item .text-box__title {
    line-height: 28px;
    font-size: 19px;
    color: #000000; }
  .next-training__item .text-box__info {
    line-height: 29px;
    font-size: 16px;
    color: rgba(76, 76, 76, 0.8);
    margin-top: 5px; }
  .next-training__item .next-training__button {
    max-width: 240px;
    margin: 0 auto;
    border-radius: 4px;
    font-size: 16px;
    font-weight: normal;
    margin-top: 20px; }

.extra-training {
  border: 5px solid #ef7d1a;
  padding-left: 45px;
  padding-right: 45px;
  padding-top: 45px;
  padding-bottom: 67px; }
  .extra-training .extra-training__num {
    line-height: 105px;
    font-size: 72px;
    text-align: center;
    color: rgba(255, 255, 255, 0.9); }
  .extra-training .extra-training__info {
    line-height: 35px;
    font-size: 24px;
    color: rgba(255, 255, 255, 0.9); }
  .extra-training .button-extra {
    max-width: 177px;
    font-weight: normal;
    font-size: 18px;
    margin-top: 54px; }

.my-books {
  padding-top: 67px;
  background-size: cover;
  background: #e5e5e5;
  padding-bottom: 47px;
  position: relative; }

.my-books__image {
  position: absolute;
  right: 0;
  bottom: 0; }

.my-books__title {
  line-height: 51px;
  font-size: 36px;
  text-align: center;
  color: #000000;
  margin-bottom: 61px; }

.my-books__row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-columns: 1fr;
  max-width: 870px;
  -webkit-column-gap: 129px;
          column-gap: 129px; }

.my-books__item {
  text-align: center;
  width: 204px;
  height: 258px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  border: 5px solid transparent;
  transition: .4s;
  margin-bottom: 13px; }
  .my-books__item:hover, .my-books__item:active {
    border-color: #ef7d1a; }
    .my-books__item:hover .my-books__button, .my-books__item:active .my-books__button {
      -webkit-transform: translateY(0);
              transform: translateY(0); }
  .my-books__item .my-books_image {
    text-align: center; }
  .my-books__item .my-books__button {
    position: absolute;
    bottom: 6px;
    font-weight: normal;
    line-height: 25px;
    font-size: 18px;
    width: 177px;
    -webkit-transform: translateY(56px);
            transform: translateY(56px);
    transition: .4s;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15); }

.extra-book {
  border: 5px solid #0055A7;
  display: block;
  padding-top: 12px;
  color: #0055A7; }
  .extra-book:hover, .extra-book:active {
    color: #ef7d1a; }
    .extra-book:hover .extra-book__button, .extra-book:active .extra-book__button {
      background: #ef7d1a; }
  .extra-book .extra-book__num {
    line-height: 105px;
    font-size: 72px;
    text-align: center;
    transition: .4s; }
  .extra-book .extra-book__info {
    line-height: 26px;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    transition: .4s; }
  .extra-book .extra-book__button {
    margin: 0 auto;
    margin-top: 26px;
    transition: .4s;
    width: 176px; }

.reviews {
  padding-top: 65px;
  padding-bottom: 98px; }

.reviews__title {
  font-weight: bold;
  line-height: 51px;
  font-size: 36px;
  text-align: center;
  color: #000000;
  position: relative;
  padding-bottom: 18px; }
  .reviews__title::after {
    content: '';
    width: 120px;
    height: 4px;
    position: absolute;
    background: #ef7d1a;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%); }

.reviews__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 300px);
  padding-top: 60px; }

.reviews__item {
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 25px;
  padding-bottom: 30px;
  background: url(../img/quote.svg) no-repeat 93% 90%, #ef7d1a; }
  .reviews__item--blue {
    background: url(../img/quote.svg) no-repeat 93% 88%, #205BB3; }
  .reviews__item .reviews__item__title {
    line-height: 35px;
    font-size: 24px;
    color: #FFFFFF;
    margin-bottom: 20px; }
  .reviews__item .reviews__item__text {
    line-height: 29px;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.8); }

.reviews__item-img {
  padding: 0; }

.page-footer {
  background: rgba(0, 62, 156, 0.9);
  position: relative; }

.page-footer__top {
  position: relative; }

.footer-image {
  position: absolute;
  right: 2.5%;
  bottom: 0;
  z-index: 1; }

.form-conection {
  padding-top: 35px;
  padding-bottom: 50px;
  padding-left: 35px;
  padding-right: 35px;
  background: #003E9C;
  margin-top: -35px; }
  .form-conection .form-conection__title {
    font-size: 36px;
    color: #FFFFFF;
    margin-bottom: 30px; }
  .form-conection .tabs {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 40px;
    border-bottom: 3px solid #205BB3;
    margin-bottom: 30px; }
  .form-conection .tab {
    font-size: 18px;
    color: #FFFFFF;
    cursor: pointer;
    width: 100%;
    text-align: center;
    position: relative; }
    .form-conection .tab::after {
      content: '';
      width: 0;
      border-bottom: 3px solid #ef7d1a;
      position: absolute;
      bottom: -3px;
      right: 0;
      transition: .5s; }
    .form-conection .tab.active::after {
      left: 0;
      width: 100%; }
  .form-conection .form-conection__input {
    display: block;
    width: 100%;
    height: 45px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 15px;
    color: #7F7F7F;
    border: 3px solid transparent;
    transition: .3s;
    margin-bottom: 30px; }
    .form-conection .form-conection__input::-webkit-input-placeholder {
      color: inherit; }
    .form-conection .form-conection__input:-ms-input-placeholder {
      color: inherit; }
    .form-conection .form-conection__input::-ms-input-placeholder {
      color: inherit; }
    .form-conection .form-conection__input::placeholder {
      color: inherit; }
    .form-conection .form-conection__input:focus {
      border-color: #ef7d1a; }
  .form-conection .form-conection__textarea {
    padding-top: 12px;
    padding-bottom: 12px;
    resize: none;
    height: 131px; }

.social {
  position: relative;
  z-index: 2; }

.social__title {
  font-size: 36px;
  color: rgba(255, 255, 255, 0.8);
  margin-top: 55px; }

.social__text {
  line-height: 29px;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.8);
  padding-bottom: 30px;
  margin-top: 25px;
  position: relative; }
  .social__text:after {
    content: '';
    width: 144px;
    height: 3px;
    position: absolute;
    background: #ef7d1a;
    bottom: 0;
    left: 0; }

.social-networks {
  margin-top: 23px; }
  .social-networks .social-networks__title {
    font-size: 24px;
    color: rgba(255, 255, 255, 0.8); }
  .social-networks .social-networks__row {
    margin-top: 25px; }
  .social-networks .social-networks__item {
    margin-right: 28px;
    transition: .3s; }
    .social-networks .social-networks__item .social-networks__img {
      transition: .3s; }
    .social-networks .social-networks__item:hover .social-networks__img, .social-networks .social-networks__item:active .social-networks__img {
      -webkit-transform: scale(1.2);
              transform: scale(1.2); }

.page-footer__copyright {
  background: #1E2434;
  height: 86px; }

.page-footer__copyright .copyright {
  font-size: 14px;
  color: #FFFFFF; }

.page-footer__copyright .copyright-container {
  height: 100%;
  display: flex;
  align-items: center; }

.button {
  height: 46px;
  background: #ef7d1a;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: bold;
  transition: .3s; }
  .button:hover, .button:active {
    background: #ff7c0a; }
  .button--green {
    background: #009947; }
    .button--green:hover, .button--green:active {
      background: #14b861; }
  .button--blur {
    width: 169px;
    font-size: 18px;
    font-weight: normal;
    position: relative;
    z-index: 3;
    cursor: pointer; }
    .button--blur::after {
      content: '';
      position: absolute;
      background: rgba(245, 130, 31, 0.6);
      -webkit-filter: blur(20px);
              filter: blur(20px);
      width: 100%;
      height: 46px;
      bottom: -8px;
      z-index: -1;
      transition: .3s; }
    .button--blur:hover::after, .button--blur:active::after {
      opacity: 0; }
  .button--blue {
    font-weight: normal;
    line-height: 25px;
    font-size: 18px;
    width: 177px;
    position: relative;
    z-index: 1;
    background: #0055A7;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15); }

.start {
  position: absolute;
  z-index: 10;
  right: 5.5%;
  bottom: 46px;
  width: 264px; }

.header-slider__button {
  padding-left: 20px;
  padding-right: 20px; }

.header-slider__buttons {
  display: flex; }

.end.hash {
  display: none; }

.play-button, .pause-button {
  cursor: pointer;
  width: 25px;
  height: 25px;
  transition: all .3s; }
  .play-button:hover, .play-button:active, .pause-button:hover, .pause-button:active {
    -webkit-transform: scale(1.2);
            transform: scale(1.2); }

.play-button {
  background-image: url(../img/play.svg); }
  .play-button:active, .play-button.active {
    background-image: url(../img/play-active.svg); }

.pause-button {
  background-image: url(../img/pause.svg); }
  .pause-button:active, .pause-button.active {
    background-image: url(../img/pause-active.svg); }

.reviews-button {
  width: 214px;
  height: 46px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #003E9C;
  border: 3px solid #003E9C;
  line-height: 25px;
  font-size: 18px;
  transition: .3s;
  margin-top: 40px; }
  .reviews-button:hover, .reviews-button:active {
    background: #003E9C;
    color: #fff; }

.back {
  display: none;
  position: absolute;
  bottom: 76px;
  left: 25px;
  height: 46px;
  cursor: pointer;
  margin-left: 10px;
  margin-right: 10px;
  transition: .3s;
  align-items: center;
  margin-top: 2px; }
  .back i {
    font-size: 30px;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    font-style: normal;
    display: inline-block;
    line-height: 0; }
  .back span {
    font-size: 20px;
    line-height: 0; }
  .back:hover, .back:active {
    color: #ef7d1a; }
  .back::-moz-selection {
    background: none; }
  .back::selection {
    background: none; }

@media (max-width: 767.98px) {
  .back {
    display: flex; } }

.hamburger-icon {
  width: 35px;
  height: 23px;
  position: relative;
  display: block; }
  .hamburger-icon .line {
    display: block;
    background: #fff;
    width: 35px;
    height: 3px;
    position: absolute;
    left: 0;
    border-radius: 1.5px;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s; }
    .hamburger-icon .line.line-1 {
      top: 0; }
    .hamburger-icon .line.line-2 {
      top: 50%; }
    .hamburger-icon .line.line-3 {
      top: 100%; }
  .hamburger-icon:hover .line-1, .hamburger-icon:active .line-1, .hamburger-icon.active .line-1 {
    transform: translateY(-1.5px);
    -webkit-transform: translateY(-1.5px);
    -moz-transform: translateY(-1.5px); }
  .hamburger-icon:hover .line-3, .hamburger-icon:active .line-3, .hamburger-icon.active .line-3 {
    transform: translateY(1.5px);
    -webkit-transform: translateY(1.5px);
    -moz-transform: translateY(1.5px); }
  .hamburger-icon.active .line-1 {
    transform: translateY(11.5px) translateX(0) rotate(45deg);
    -webkit-transform: translateY(11.5px) translateX(0) rotate(45deg);
    -moz-transform: translateY(11.5px) translateX(0) rotate(45deg); }
  .hamburger-icon.active .line-2 {
    opacity: 0; }
  .hamburger-icon.active .line-3 {
    transform: translateY(-11.5px) translateX(0) rotate(-45deg);
    -webkit-transform: translateY(-11.5px) translateX(0) rotate(-45deg);
    -moz-transform: translateY(-11.5px) translateX(0) rotate(-45deg); }

@media (max-width: 575px) {
  .main-image {
    height: 265px; }
  .third-image {
    height: 265px;
    margin: 0 auto; }
  .header-slider__advantages {
    margin-left: 15px;
    margin-right: 15px; }
  .my-books__row {
    display: block; } }

@media (max-width: 767.98px) {
  .header-slider__area {
    align-items: flex-start; }
  .header-slider__top {
    justify-content: space-between; }
  .logo {
    -webkit-transform: scale(0.8);
            transform: scale(0.8); }
  .info {
    display: none; }
  .logo-mobile {
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px; }
  .info-mobile {
    margin: 0;
    text-align: left;
    display: block;
    border: transparent; }
  .phone {
    line-height: 24px;
    font-size: 17px; }
  .main-image {
    margin-top: 60px;
    margin: 0 auto;
    height: 285px; }
  .header-slider__animation {
    display: block;
    margin-top: 20px; }
  .my-books__row {
    grid-template-columns: repeat(2, 1fr);
    -webkit-column-gap: 50px;
            column-gap: 50px; }
  .mode {
    font-size: 13px; }
  .slider-text {
    margin-left: 0;
    height: 200px;
    padding-right: 15px;
    padding-left: 15px; }
  .citation {
    padding-left: 5px;
    padding-right: 5px; }
  .header-slider__title {
    line-height: 40px;
    font-size: 25px; }
    .header-slider__title br {
      display: none; }
  .slider-text .border-bottom.border-bot-m::before {
    height: 195px; }
  .slider-text .border-bottom::before {
    content: '';
    position: absolute;
    bottom: 0;
    height: 0;
    border-left: 5px solid #ef7d1a;
    transition: .3s; }
  .header-slider__name {
    line-height: 38px;
    font-size: 20px; }
  .owl-dots {
    z-index: 40;
    bottom: 8px;
    right: 15px; }
    .owl-dots .owl-dot {
      width: 17px;
      height: 17px;
      margin-left: 5px;
      margin-right: 5px; }
      .owl-dots .owl-dot::after {
        content: "" !important; }
  .button-row {
    left: 0;
    bottom: 60px; }
  .third-image {
    height: 255px;
    margin: 0 auto; }
  .header-slider__advantages {
    margin-left: 15px;
    margin-right: 15px; }
  .start {
    position: static;
    margin-top: 8px;
    font-size: 16px;
    width: 204px; }
  .header-slider__advantages {
    padding-left: 25px;
    padding-top: 10px; }
  .header-slider__buttons {
    margin-top: 10px; }
    .header-slider__buttons .button {
      font-size: 16px;
      font-weight: normal;
      margin-right: 20px;
      text-align: center; }
  .header-slider__list {
    font-size: 18px; }
    .header-slider__list li {
      margin-bottom: 5px; }
    .header-slider__list li::before {
      line-height: 52px;
      font-size: 42px; }
  .page-main, .page-footer {
    overflow-x: hidden; }
  .about-me {
    padding-top: 35px;
    padding-bottom: 30px; }
  .about-me__title {
    font-size: 36px;
    text-align: center; }
    .about-me__title::before {
      width: 100%;
      border-width: 6px; }
  .about-me__quote {
    font-size: 24px;
    text-align: center; }
  .about-me__text p:not(:last-child) {
    margin-bottom: 10px; }
  .training-block {
    padding-top: 20px;
    padding-bottom: 30px; }
  .training-block__left .training-block__title {
    font-size: 24px; }
    .training-block__left .training-block__title br {
      display: none; }
  .training-block__right {
    margin-top: 20px; }
  .training-block__list {
    font-size: 18px; }
  .next-training__title {
    text-align: center; }
  .my-books {
    padding-top: 45px; }
  .my-books__item {
    margin: 0 auto;
    margin-bottom: 20px; }
  .my-books__title {
    font-size: 30px;
    margin-bottom: 30px; }
  .extra-book {
    color: #ef7d1a;
    border-color: #ef7d1a; }
  .button--blue {
    background: #ef7d1a; }
  .reviews {
    padding-top: 35px;
    padding-bottom: 40px; }
  .reviews__grid {
    padding-top: 40px;
    display: block; }
  .reviews__title {
    text-align: center;
    font-size: 24px; }
  .form-conection .form-conection__title {
    font-size: 24px; }
  .reviews-button {
    margin-bottom: 35px; }
  .form-conection {
    margin-top: 0; }
    .form-conection .tabs {
      display: block;
      height: auto;
      border-bottom: none; }
    .form-conection .tab {
      display: block;
      margin-bottom: 10px;
      padding-bottom: 5px;
      padding-left: 0;
      padding-right: 0; }
  .footer-image {
    height: 35%; }
  .social-networks {
    margin-bottom: 30px; }
  .reviews__item {
    max-width: 390px;
    margin: 0 auto; }
  .form-conection .tab {
    text-align: left; }
  .social__title {
    font-size: 26px; }
  .social-networks .social-networks__title {
    font-size: 19px; }
  .about-me__quote br {
    display: none; }
  .my-books__title {
    font-size: 27px; }
    .my-books__title br {
      display: none; }
  .about-me__text p {
    font-size: 15px; }
  .form-conection {
    padding-left: 20px;
    padding-right: 20px; }
  .form-conection .form-conection__title {
    margin-bottom: 25px; }
  .end {
    position: absolute;
    bottom: 8px;
    left: 15px; }
  .img-container {
    display: flex;
    justify-content: flex-end; }
    .img-container.jcc {
      justify-content: center; }
  .my-books__image, .footer-image {
    position: static;
    max-height: 440px; }
  .my-books {
    padding-bottom: 0; }
  .social__title {
    margin-top: 30px; } }

@media (min-width: 768px) {
  .logo-mobile, .info-mobile {
    display: none; } }

@media (min-width: 768px) and (max-width: 991.98px) {
  .logo {
    -webkit-transform: scale(0.85);
            transform: scale(0.85); }
  .mode {
    font-size: 13px; }
  .phone {
    font-size: 17px; }
  .header-slider__info {
    margin-left: 29px;
    margin-right: 29px; }
  .slider-text {
    height: 230px;
    margin-top: 45px; }
  .main-image {
    height: 500px; }
  .owl-dots {
    right: 300px;
    -webkit-transform: scale(0.85);
            transform: scale(0.85); }
  .button {
    font-size: 16px;
    width: 220px; }
  .header-slider__title {
    font-size: 24px;
    line-height: 43px; }
    .header-slider__title br {
      display: none; }
  .header-slider__name {
    font-size: 20px; }
  .citation {
    padding-left: 75px;
    padding-right: 45px; }
  .about-me {
    padding-top: 45px;
    padding-bottom: 40px; }
  .about-me__title {
    font-size: 42px; }
    .about-me__title:before {
      width: 100%;
      border-width: 6px; }
  .about-me__quote {
    font-size: 26px; }
  .about-me__text p:not(:last-child) {
    margin-bottom: 18px; }
  .about-me__image {
    text-align: center; }
    .about-me__image img {
      width: 65%;
      height: 65%; }
  .training-block {
    padding-top: 45px;
    padding-bottom: 40px; }
  .training-block__left .training-block__title {
    font-size: 26px;
    line-height: 46px; }
    .training-block__left .training-block__title br {
      display: none; }
  .training-block__list {
    font-size: 14px;
    line-height: 24px; }
  .next-training__title {
    margin-left: 30px;
    margin-right: 30px; }
  .my-books {
    padding-top: 40px; }
  .my-books__title {
    font-size: 26px;
    line-height: 46px;
    margin-bottom: 35px; }
  .my-books__row {
    -webkit-column-gap: 70px;
            column-gap: 70px; }
  .my-books__image {
    height: 50%; }
  .reviews {
    padding-top: 45px;
    padding-bottom: 50px; }
  .reviews__title {
    font-size: 26px;
    line-height: 46px; }
    .reviews__title::before {
      width: 90px; }
  .reviews__grid {
    padding-top: 35px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 265px); }
  .reviews {
    padding-bottom: 75px; }
  .footer-image {
    z-index: 2; }
  .social-networks {
    margin-bottom: 30px; }
  .form-conection .tab {
    font-size: 15px; }
  .third-image {
    height: 480px; }
  .header-slider__list {
    font-size: 20px; }
    .header-slider__list li:before {
      font-size: 50px;
      line-height: 62px; }
  .header-slider__buttons {
    margin-top: 22px; }
  .social {
    max-width: 400px; }
  .my-books__row {
    grid-template-columns: repeat(2, 1fr);
    -webkit-column-gap: 50px;
            column-gap: 50px; }
  .my-books {
    padding-bottom: 0; }
  .img-container {
    text-align: right; }
    .img-container .my-books__image {
      position: static;
      width: 35%;
      margin-top: -200px; } }

@media (min-width: 992px) and (max-width: 1199.98px) {
  .main-image {
    height: 98vh; }
  .slider-text {
    height: 245px;
    margin-top: 50px; }
  .citation {
    padding-right: 65px; }
  .header-slider__title {
    font-size: 30px;
    line-height: 45px; }
  .header-slider__name {
    font-size: 24px; }
  .owl-dots {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    right: 360px; }
  .button {
    font-size: 19px; }
  .about-me {
    padding-top: 50px;
    padding-bottom: 40px; }
  .about-me__title {
    font-size: 48px; }
    .about-me__title:before {
      width: 780px; }
  .about-me__quote {
    font-size: 30px; }
  .about-me__text p {
    line-height: 23px;
    font-size: 15px; }
  .about-me__text p:not(:last-child) {
    margin-bottom: 20px; }
  .training-block__left .training-block__title {
    line-height: 48px;
    font-size: 30px; }
    .training-block__left .training-block__title br {
      display: none; }
  .training-block {
    padding-top: 50px; }
  .training-block__list {
    font-size: 18px; }
  .next-training__item .text-box__title {
    min-height: 56px; }
  .extra-training {
    padding-left: 15px;
    padding-right: 15px; }
    .extra-training .button-extra {
      margin-top: 72px; }
  .my-books {
    padding-top: 50px; }
  .my-books__title {
    font-size: 30px;
    line-height: 46px; }
  .my-books__row {
    -webkit-column-gap: 100px;
            column-gap: 100px;
    max-width: 570px; }
  .my-books__image {
    height: 60%; }
  .reviews {
    padding-top: 40px;
    padding-bottom: 75px; }
  .reviews__grid {
    padding-top: 35px;
    grid-template-rows: repeat(2, 280px); }
  .reviews__item-img img {
    height: 100%; }
  .reviews__item .reviews__item__title {
    margin-bottom: 0; }
  .reviews__item .reviews__item__text {
    font-size: 15px; }
  .form-conection .form-conection__title {
    font-size: 30px;
    color: #FFFFFF;
    margin-bottom: 30px; }
  .form-conection .tab {
    font-size: 15px; }
  .social__title {
    margin-top: 30px; }
  .third-image {
    height: 500px; }
  .header-slider__list li::before {
    font-size: 62px; }
  .header-slider__buttons {
    margin-top: 22px; } }

@media (min-width: 1200px) and (max-width: 1599px) {
  .header-slider__content {
    justify-content: center; }
  .slider-text {
    height: 250px;
    margin-top: 20px; }
  .main-image {
    height: 97vh; }
  .owl-dots {
    right: 400px; }
  .third-image {
    height: 100vh; } }
