@import "fonts";
@import "libs";
@import "vars";
@import "stylers";
// START PAGE STYLES
//header
.header {
    background-color: #000000;
}
.top {
    width: 100%;
    display: flex;
}
.navbar {
    display: flex;
    min-height: 72px;
    width: 100%; 
    margin: 0 32px;
        
}
.top__menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 688px;
    width: 100%;
    

    a {
        text-transform: uppercase;
        color: #ffffff;
        font-weight: 600;
        position: relative;
        &:hover {
            &:before {
                width: 100%;
                left: 0;
            }
        }
        &.active {
            &:before {
                width: 100%;
            } 
        }
            &:before {
                content: '';
                height: 3px;
                background-color: #826550;
                right: 0;
                width: 0;
                transition: $tr;
                position: absolute;
                bottom: -27px;
            }
             
    }
}
.log_in {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-weight: 600;
    margin-right: 22px;
    padding-left: 37px;
    position: relative;
    color: #ffffff;
    &:before {
        content: '';
        background-image: url(../img/login.svg);
        width: 16px;
        height: 16px;
        position: absolute;
        left: 0;
    }
}
//header end
.main-bg {
    background-image: url("../img/back-desktop.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 648px;
    padding-top: 58px;
    background-position-y: -72px;
    position: relative;


}
.logo {
    display: flex;
    justify-content: center;
}
.prices {
    margin-top: -161px;
    &__profit {
        background-color: #fff;
        color: #000000;
        padding: 30px 41px 31px;
        position: relative;
        &:before {
            content: '';
            position: absolute;
            border: 12px solid transparent;
            border-right: 12px solid #fff;
            border-top: 12px solid #fff;
            display: block;
            width: 0;
            height: 0;
            top: 37px;
            left: -24px;
        }
    }
    &__text {

        h3 {
            font-weight: bold;
            font-size: 40px;
            line-height: 40px;
            letter-spacing: 0.1px;
            margin-bottom: 42px;
        }
        p {
            margin: 0;
            font-size: 20px;
            line-height: 27px;
            letter-spacing: 0.2px;
            margin-bottom: 30px;
        }
        span {
            color: #c9c9c9;
            font-size: 20px;

        }
    }
    &__numbers {
        display: flex;
        flex-direction: column;
    }
    &__info {
        padding: 15px 40px 31px 34px;

    }
    &__info {
        height: 160px;
        background-color: #404040;
        span {
            font-size: 72px;
            font-weight: 600;
            position: relative;
            &:after {
                content: '*';
                position: absolute;
                right: -27px;
                top: 8px;
                font-size: 38px;
            }
        }
        p {
            font-size: 20px;
            margin-top: -3px;
            letter-spacing: 0.1px;
            margin-left: 1px;
        }
    }
    &--grey {
        background-color: #353535;
        span {
            &:after {
                content: none;
            }
        }

    }
    &--grayish {
        background-color: #4e4e4e;
        span {
            &:after {
                content: none;
            }
        }
    }

}
.grey-bg {
  background-color: #353535;
}
.qualities {
  margin-top: 79px;
}
.quality-box {
  &__img {
    text-align: center;
    min-height: 94px;
  }
  &__text {
    text-align: center;
    margin-top: 25px;
    h4 {
      font-weight: bold;
      font-size: 30px;
      text-transform: uppercase;
      letter-spacing: 0.4px;
    }
    p {
      font-size: 20px;
      text-align: center;
      margin-top: 9px;
      line-height: 27px;
    }
  }
}
.modal-login {
  display: none;
  width: 460px;
  height: 500px;
  background-color: #f8f5f2;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  left: 50%;
  margin-left: calc(460px/-2);
  position: absolute;
  margin-top: 100px;
}
.modal-area {
  padding-top: 46px;
  &__title {
    margin-bottom: 24px;

    h2 {
      color: #000;
      font-size: 40px;
      font-weight: 600;
      margin-bottom: 10px;
    }
    span {
      color: #000000;
      font-size: 18px;
    }

  }
  .form-group {
    .form-item {
      max-width: 320px;
      margin: 0 auto;
      position: relative;
      margin-bottom: 6px;
      input {
        height: 70px;
        border: 1px solid #e5ddd5;
        width: 100%;
        padding: 0 15px;
        &::placeholder {
          font-size: 24px;
        }
      }
      &:after {
        content: '';
        background-image: url("../img/log-in.svg");
        width: 15px;
        height: 15px;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        right: 25px;
      }

      &:last-child:after {
        background-image: url("../img/pass.svg");
        height: 17px;
      }
    }
  }
}
.modal-show {
  display: block;
}
.modal-close {
  position: absolute;
  right: -100px;
  top: 0;
}
.remember-me {
  display: flex;
  max-width: 320px;
  margin: 0 auto;
  height: 33px;
  &__checkbox {
    input[type="checkbox"] {
      display: none;
    }
    label {
      padding-left: 30px;
      &:before {
        content: '';
        display: inline-block;
        width: 33px;
        height: 33px;
        border: 1px solid #e5ddd5;
        background-color: #fff;
        margin-left: -30px;
      }
    }
    input[type="checkbox"]:checked + label:before {

    }
  }
}
@import "media";
