.arrowControls {
  display: inline-flex;
  align-items: center;
  border-radius: var(--radius-100);
  overflow: hidden;
  background-color: var(--secondary-alpha);
  border: 1px solid var(--tertiary);
  position: relative;
}

.line {
  width: 1px;
  height: 36px;
  background-color: var(--tertiary);
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  color: var(--text);
  transition: var(--transition-ease);
  position: relative;
  overflow: hidden;

  &:hover {
    color: var(--accent);
  }
  &:disabled {
    color: var(--grey-4);
    opacity: 0.3;
    cursor: not-allowed;
  }

  @include media(max, 767) {
    width: 44px;
    height: 44px;
  }
}
