:root {
  --main-font: "Montserrat", sans-serif;
  --blue: #253656;
  --liteblue: #3B4E73;
  --red: #FF6363;
  --litered: #DA5454;
  --white: #f3f3f3;
  --pink: #F9DEDE;
  --gap: 15px;
}

h1, .h1 {
  font-weight: 600;
  font-size: 72px;
  line-height: 88px;
}

h2, .h2 {
  font-weight: bold;
  font-size: 48px;
  line-height: 59px;
}

h3, .h3 {
  font-weight: 600;
  font-size: 28px;
  line-height: 34px;
}

p, .p {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

strong {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
}

* {
  box-sizing: border-box;
}
*:before {
  box-sizing: border-box;
}
*:after {
  box-sizing: border-box;
}

.page__body {
  font-family: var(--main-font);
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #253656;
  background-color: #f3f3f3;
  overflow-x: hidden;
}

.page-footer {
  margin-top: auto;
}

img {
  max-width: 100%;
  height: auto;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

img, svg, iframe {
  vertical-align: top;
}
img {
  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;
      image-rendering: pixelated;
  image-rendering: optimize-contrast;
}

.parallax__image img,
.parallax__image,
.parallax {
  will-change: transform;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  transform: perspective(1px) translateZ(0);
  filter: blur(0);
}

::-moz-placeholder {
  opacity: 1;
}

:-ms-input-placeholder {
  opacity: 1;
}

::placeholder {
  opacity: 1;
}

::-moz-selection {
  background-color: var(--red);
  color: #fff;
}

::selection {
  background-color: var(--red);
  color: #fff;
}

.container {
  max-width: 1330px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-left: var(--gap);
  padding-right: var(--gap);
}

.inside-container {
  max-width: 1122px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
.inside-container--btop {
  max-width: 1036px;
}
.inside-container--smart {
  max-width: 970px;
}
.inside-container--features {
  max-width: 1290px;
}
.inside-container--get {
  max-width: 896px;
}
.inside-container--footer {
  max-width: 1290px;
}

picture {
  pointer-events: none;
}
.list-reset {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.btn-reset {
  padding: 0;
  margin: 0;
  background: 0;
  border: 0;
  color: inherit;
  text-align: left;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.link-reset {
  text-decoration: none;
  color: inherit;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.input-reset {
  padding: 0;
  border: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  box-shadow: none;
  border-radius: 0;
}

.bttAnimate {
  -webkit-animation: 0.7s cubic-bezier(0.175, 0.885, 0.32, 1.275);
          animation: 0.7s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.bttAnimate.animate__animated {
  -webkit-animation-name: wpb_btt;
          animation-name: wpb_btt;
}

@-webkit-keyframes wpb_btt {
  0% {
    transform: translate(0, 10%);
    opacity: 0;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes wpb_btt {
  0% {
    transform: translate(0, 10%);
    opacity: 0;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
.fromLeft {
  -webkit-animation: 1s ease-in;
          animation: 1s ease-in;
}
.fromLeft.animate__animated {
  -webkit-animation-name: fromLeft;
          animation-name: fromLeft;
}

.fromRight {
  -webkit-animation: 1s ease-in;
          animation: 1s ease-in;
}
.fromRight.animate__animated {
  -webkit-animation-name: fromRight;
          animation-name: fromRight;
}

@-webkit-keyframes fromLeft {
  0% {
    transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fromLeft {
  0% {
    transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@-webkit-keyframes fromRight {
  0% {
    transform: translateX(50px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fromRight {
  0% {
    transform: translateX(50px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.cookies {
  background-color: #f3f3f3;
  border-top: 2px solid var(--red);
  padding-top: 48px;
  padding-bottom: 48px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  transition: 0.3s ease-in;
  opacity: 0;
  visibility: hidden;
}
.cookies.open {
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
}

.cookies__text {
  max-width: 930px;
  text-align: justify;
  margin: 0;
}
.cookies__text b {
  font-weight: bold;
  margin-bottom: 7px;
  display: block;
}

.cookies__row {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.cookies__btns {
  display: grid;
  grid-template-columns: 100%;
  row-gap: 17px;
  max-width: 261px;
  width: 100%;
  margin-left: 30px;
  flex-shrink: 0;
}

.cookies__btn {
  height: 43px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--white);
  border: 2px solid var(--red);
  color: var(--red);
  border-top-right-radius: 45px;
  transition: 0.2s ease-in;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}
.cookies__btn:hover, .cookies__btn:focus {
  color: #fff;
  background-color: var(--red);
}
.cookies__btn--second {
  color: #fff;
  background-color: var(--red);
  border-top-right-radius: 0;
  border-bottom-right-radius: 45px;
}
.cookies__btn--second:hover, .cookies__btn--second:focus {
  background-color: var(--blue);
  border-color: var(--blue);
  color: var(--pink);
}

.modal {
  background: rgba(37, 54, 86, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  z-index: 10;
  transition: 0.4s ease-in;
  visibility: hidden;
  opacity: 0;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 30px var(--gap);
}
.modal.open {
  visibility: visible;
  opacity: 1;
}
.modal.close {
  visibility: hidden;
  opacity: 0;
}
.modal .cookies__btns {
  margin: 0;
}

.modal__text {
  margin-bottom: 73px;
}
.modal__text p {
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  text-align: justify;
  color: #F3F3F3;
  margin: 0;
}
.modal__text p + p {
  margin-top: 25px;
}

.modal__content {
  margin: auto;
  max-width: 617px;
  width: 100%;
  padding: 0 41px;
  padding-bottom: 46px;
  padding-top: 88px;
  background: url(../img/modal-bg.svg) no-repeat top/cover, #C4C4C4;
  border-radius: 29px;
}

.modal.open + .cookies {
  visibility: hidden;
  opacity: 0;
}
.page-header {
  padding-top: 94px;
  padding-bottom: 481px;
  position: relative;
  z-index: 6;
}
.page-header::before {
  content: url(../img/header-line.svg);
  position: absolute;
  left: 0;
  top: 235px;
}
.page-header > picture img {
  position: absolute;
  left: 0;
  right: 0;
  z-index: -1;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
}

.navigation {
  display: flex;
  align-items: center;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin-left: auto;
}
.navigation li:not(:last-child) {
  margin-right: 41px;
}
.navigation li:last-child {
  margin-left: -11px;
}

.logo {
  display: inline-block;
  transition: 0.2s ease-in;
}

.navigation__list {
  display: flex;
  align-items: center;
}

.navigation__link {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: var(--blue);
  text-decoration: none;
  display: block;
  position: relative;
  transition: 0.2s ease-in;
}
.navigation__link::after {
  content: "";
  position: absolute;
  top: -22px;
  left: 0;
  border-top: 12px solid currentColor;
  width: 100%;
  transition: 0.2s ease-in;
  transform: translateY(-19px);
}
.hamburger {
  display: none;
}

.hamburger__path {
  transition: 0.2s ease-in;
}

.page-header__top {
  padding-top: 22px;
  padding-bottom: 10px;
  margin-top: -14px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 10;
  transition: 0.2s ease-in;
  border-bottom: 2px solid transparent;
}
.page-header__top .container {
  display: flex;
  align-items: center;
}
.page-header__top .logo {
  height: 50px;
  visibility: hidden;
  opacity: 0;
}
.page-header__top .logo img {
  height: 100%;
}

.header-info__logo {
  margin-bottom: 90px;
}

.page-header__bottom > .container {
  position: relative;
}

.social {
  display: flex;
  align-items: center;
}
.social li:not(:last-child) {
  margin-right: 34px;
}
.social a {
  display: block;
}
.social a:hover path, .social a:focus path {
  fill: var(--red);
}
.social path {
  transition: fill 0.2s ease-in;
}

.header-info__social {
  margin-bottom: 24px;
}

.header-info__title {
  max-width: 575px;
  margin-top: 0;
  margin-bottom: 32px;
}

.header-info__form {
  max-width: 456px;
  display: grid;
  row-gap: 13px;
}

.header-info__input {
  height: 76px;
  text-align: center;
  background: rgba(249, 222, 222, 0.8);
  border: 3px solid var(--blue);
  border-top-right-radius: 60px;
  color: var(--blue);
  text-transform: uppercase;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  box-shadow: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.header-info__input::-moz-placeholder {
  color: var(--blue);
}
.header-info__input:-ms-input-placeholder {
  color: var(--blue);
}
.header-info__input::placeholder {
  color: var(--blue);
}
.header-info__input:focus {
  outline: none;
}

.header-info__sumbit {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 76px;
  border-bottom-right-radius: 60px;
  cursor: pointer;
  transition: 0.2s ease-in;
  background-color: var(--red);
  color: var(--blue);
  text-transform: uppercase;
}
.header-info__sumbit:hover, .header-info__sumbit:focus {
  color: var(--pink);
  background-color: var(--blue);
}

.page-header__row {
  display: flex;
}

.header-svg {
  flex-shrink: 0;
  position: relative;
  right: 70px;
}

.header-info {
  flex-shrink: 0;
}

.parallax {
  max-width: 715px;
  width: 100%;
  position: absolute;
  min-height: 793px;
  right: 0;
  padding-right: 35px;
}

.parallax__image--1 {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  right: initial !important;
  bottom: initial !important;
}

.parallax__image--2 {
  top: 50% !important;
  margin-top: -152px;
  right: 0 !important;
  left: initial !important;
}

.parallax__image--3 {
  position: absolute !important;
  bottom: 0 !important;
  left: 95px !important;
  top: initial !important;
}
.page-footer {
  background: url(../img/footer-bg.svg) no-repeat top/cover;
  padding-top: 195px;
  padding-bottom: 20px;
  position: relative;
  z-index: 5;
}
.page-footer .container {
  position: relative;
  z-index: 1;
}

.footer-menus {
  max-width: 410px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-menu {
  font-size: 16px;
  line-height: 20px;
}
.footer-menu li {
  text-align: right;
}
.footer-menu li:not(:last-child) {
  margin-bottom: 42px;
}
.footer-menu a {
  color: var(--blue);
  text-decoration: none;
  transition: 0.2s ease-in;
}
.footer-menu a:hover, .footer-menu a:focus {
  color: var(--white);
}

.footer__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 40px;
}

.footer__bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.copy {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}
.copy span {
  color: var(--red);
}

.footer__social.social a:hover path, .footer__social.social a:focus path {
  fill: var(--white);
}

.footer-shape {
  position: absolute;
  left: -20px;
  top: -50px;
  z-index: -1;
}

.footer-line {
  display: none;
}
.smart {
  margin-top: -270px;
}
.smart .inside-container--smart {
  padding-bottom: 161px;
}
.smart .inside-container--btop {
  display: flex;
  justify-content: flex-end;
}
.smart .inside-container--features {
  padding-bottom: 247px;
}

.smart__title {
  margin-left: 65px;
  margin-bottom: 76px;
}

.title {
  margin-top: 0;
  display: grid;
  grid-template-columns: repeat(3, -webkit-max-content);
  grid-template-columns: repeat(3, max-content);
  grid-auto-flow: column;
  align-items: center;
  -moz-column-gap: 18px;
       column-gap: 18px;
}
.title b {
  text-align: right;
  color: var(--litered);
}
.title span {
  position: relative;
  font-weight: 600;
}

.title__line {
  border: 0;
  width: 5px;
  height: 159px;
  background-color: var(--blue);
  margin: 0;
}

.smart__text {
  margin-left: auto;
  max-width: 740px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: justify;
  color: var(--blue);
}
.smart__text p {
  margin-bottom: 0;
  margin-top: 0;
}
.smart__text p + p {
  margin-top: 25px;
}

.page-main {
  position: relative;
  z-index: 2;
  margin-top: -270px;
}

.benefit-wrap {
  z-index: 1;
  position: relative;
  padding-top: 300px;
  margin-top: -140px;
}
.benefit-wrap::after {
  content: url(../img/benefit-line.svg);
  position: absolute;
  right: 0;
  top: 35px;
  z-index: -1;
}
.benefit-wrap > picture img {
  position: absolute;
  top: 280px;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}
.benefit-wrap .container {
  position: relative;
  z-index: 1;
}

.smart-wrap {
  position: relative;
  z-index: 1;
}
.smart-wrap > .container {
  position: relative;
  z-index: 1;
}

.parallax-2 {
  min-height: 552px;
  max-width: 404px;
  width: 100%;
  position: absolute !important;
  left: -70px;
  top: -90px;
  z-index: -1;
}
.parallax-2 img:nth-child(1) {
  top: 0 !important;
  left: 50% !important;
  margin-left: -100px;
  bottom: initial !important;
  right: initial !important;
}
.parallax-2 img:nth-child(2) {
  top: 169px !important;
  right: -55px !important;
  left: initial !important;
  bottom: initial !important;
}
.parallax-2 img:nth-child(3) {
  top: initial !important;
  left: 14px !important;
  bottom: 155px !important;
}
.parallax-2 img:nth-child(4) {
  top: initial !important;
  bottom: 2px !important;
  left: 40px !important;
}

.benefit__title {
  margin-bottom: 198px;
  justify-content: flex-end;
  padding-right: 22px;
}

.feature {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  min-width: 325px;
  display: flex;
  align-items: flex-start;
}
.feature h3 {
  position: relative;
  margin: 0;
}

.feature__img {
  position: relative;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin-right: 52px;
  flex-shrink: 0;
}

.feature__text {
  max-width: 204px;
  margin-bottom: 0;
  margin-top: 0;
  text-align: justify;
  margin-top: 23px;
  margin-left: -1px;
}

.features-row {
  display: flex;
  flex-wrap: wrap;
}

.features__up {
  margin-right: auto;
  margin-bottom: 86px;
  display: flex;
  -moz-column-gap: 58px;
       column-gap: 58px;
}

.features__down {
  display: flex;
  -moz-column-gap: 58px;
       column-gap: 58px;
  margin-left: auto;
}

.parallax-3 {
  max-width: 300px;
  width: 100%;
  height: 275px;
  right: 52px;
  top: 6px;
  position: absolute !important;
  z-index: -1;
  right: 0;
  top: -300px;
}
.parallax-3 > *:nth-child(1) {
  right: initial !important;
  left: 110px !important;
  top: 0 !important;
  bottom: initial !important;
}
.parallax-3 > *:nth-child(2) {
  top: 75px !important;
  bottom: initial !important;
}
.parallax-3 > *:nth-child(3) {
  top: initial !important;
  bottom: 0 !important;
  left: 77px !important;
  right: initial !important;
}
.parallax-3 > *:nth-child(4) {
  top: 80px !important;
  bottom: initial !important;
  right: 0 !important;
  left: initial !important;
}

.circle {
  background-color: #C4C4C4;
  border-radius: 50%;
  width: 103px;
  height: 103px;
}

.benefit__title b {
  text-align: left;
}

.smart-wrap__bg {
  display: none;
}

.benefit-wrap__bg {
  display: none;
}

.parallax-2 img,
.parallax-3 > * {
  position: absolute;
}

.contact {
  position: relative;
  z-index: 0;
  margin-top: -350px;
}

.contact__bg picture img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: -1;
}

.contact__line {
  position: absolute;
  right: 0;
  top: 160px;
}

.feature h3 {
  min-height: 68px;
  display: flex;
  align-items: center;
  position: relative;
}
.feature h3::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 5px;
  height: 62px;
  left: -29px;
  background-color: var(--litered);
}

.contact {
  padding-top: 600px;
}
.contact .title {
  padding-left: 75px;
  margin-bottom: 0;
  position: relative;
  z-index: 2;
}
.contact .title b {
  color: var(--white);
}

.contact__row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.form {
  background-color: var(--white);
  padding: 0 85px;
  padding-top: 188px;
  padding-bottom: 221px;
  border-radius: 220px 220px 0 0;
  position: relative;
  z-index: 2;
  display: grid;
  grid-template-columns: 100%;
  row-gap: 30px;
  margin-top: 80px;
}

.form__input {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: var(--litered);
  background-color: transparent;
  height: 38px;
  border-bottom: 3px solid currentColor;
  width: 260px;
}
.form__input:focus {
  outline: none;
}
.form__input::-moz-placeholder {
  color: var(--litered);
}
.form__input:-ms-input-placeholder {
  color: var(--litered);
}
.form__input::placeholder {
  color: var(--litered);
}

.form__btn {
  height: 43px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--blue);
  border-top-right-radius: 45px;
  transition: 0.2s ease-in;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  background-color: var(--red);
  border-top-right-radius: 0;
  border-bottom-right-radius: 45px;
  margin-top: 19px;
}
.form__btn:hover, .form__btn:focus {
  background-color: var(--blue);
  color: var(--pink);
}

.contact__shape {
  display: none;
}

.lang__items {
  width: 100%;
  height: 43px;
  overflow: hidden;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 43px 43px;
}

.lang {
  width: 59px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  transition: 0.2s ease-in;
  pointer-events: all;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  background-color: var(--blue);
  height: 65px;
  overflow: hidden;
  border-radius: 0 0 15px 15px;
}
.lang.open .lang__switch:hover {
  background-color: #628BD9;
  color: var(--pink);
}
.lang:not(.open):hover, .lang:not(.open):focus {
  background-color: #628BD9;
}
.lang:not(.open):hover .lang__switch, .lang:not(.open):focus .lang__switch {
  color: var(--red);
  transition: 0s;
}
.lang:not(.open):hover path, .lang:not(.open):focus path {
  fill: var(--red);
}
.lang .lang__switch {
  text-decoration: none;
  color: var(--pink);
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  transition: 0.2s ease-in;
  cursor: pointer;
  text-align: center;
  width: 100%;
  height: 43px;
  display: flex;
  align-items: flex-end;
  padding-bottom: 4px;
  justify-content: center;
}
.lang .lang__switch.current {
  order: -1;
}
.lang.open {
  height: auto;
}
.lang.open .lang__items {
  height: auto;
}
.lang.open .lang__btn {
  visibility: hidden;
  opacity: 0;
}
.lang.open .lang__switch {
  align-items: center;
  padding-bottom: 0;
}

.lang__btn {
  height: 13px;
  width: 13px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 13px;
  left: 50%;
  transform: translateX(-50%);
}
.lang__btn path {
  transition: 0.2s ease-in;
}

.page-header .container {
  position: relative;
}

.lang-container {
  position: absolute;
  left: 0;
  right: 0;
  top: -8px;
  pointer-events: none;
}

.navigation__tooltip {
  background: url(../img/clip.svg);
  position: absolute;
  top: 42px;
  right: 0;
  width: 429px;
  height: 131px;
  padding-top: 13px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 35px;
  padding-right: 35px;
  transform: translateY(-10px);
  opacity: 0;
  visibility: hidden;
  transition: 0.3s ease-in;
}
.navigation__tooltip.open {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}
.navigation__tooltip svg {
  display: none;
}

.tooltip-wrap {
  position: relative;
}
textarea.form__input {
  height: 100%;
  resize: none;
  overflow: hidden;
  border-bottom: 0;
  transition: 0.1s ease-in;
  padding-top: 6px;
  padding-bottom: 6px;
}

.simplebar-track {
  left: 0;
  right: initial;
  background: #FF9696;
  border-radius: 7px;
  cursor: pointer;
  overflow: hidden;
  transition: 0.2s ease-in;
}

.simplebar-track.simplebar-vertical {
  width: 8px;
}

.simplebar-track.simplebar-vertical .simplebar-scrollbar::before {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.simplebar-hover.simplebar-scrollbar:before {
  background-color: #F9DDDD;
}

.simplebar-scrollbar::before {
  background-color: var(--blue);
  border-radius: 7px;
}

.simplebar-scrollbar.simplebar-visible::before {
  opacity: 1;
}

.scroll-wrap {
  overflow-y: auto;
  max-height: 98px;
  padding-left: 26px;
  margin-left: -26px;
  position: relative;
  min-height: 38px;
}
.scroll-wrap::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 26px;
  right: 0;
  border-bottom: 3px solid var(--litered);
}
@media (min-width: 360px) and (max-width: 767px) {
  footer.page-footer {
    margin-top: 70px;
  }
}
@media (min-width: 768px) {
  .navigation__link:not(.navigation__btn):hover::after, .navigation__link:not(.navigation__btn).current::after, .navigation__link:not(.navigation__btn):focus::after {
    transform: translateY(-1px);
  }
  .navigation__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 32px;
    line-height: 31px;
    padding: 0 11px;
    border-radius: 9px;
    color: var(--white);
    border: 3px solid currentColor;
    text-decoration: none;
    transition: 0.2s ease-in;
  }
  .navigation__btn:hover, .navigation__btn:focus {
    color: var(--blue);
  }
  .lang__btn:hover path {
    fill: var(--red);
  }
  .smart-wrap {
    z-index: 2;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .navigation__link:not(.navigation__btn):hover::after,
.navigation__link:not(.navigation__btn):focus::after,
.navigation__link:not(.navigation__btn).current::after {
    transform: translateY(-8px);
  }
}
@media (min-width: 1140px) {
  .page__wrap {
    overflow: hidden;
  }
}
@media (min-width: 1200px) {
  .form {
    border-radius: 220px;
    padding-bottom: 217px;
  }
}
@media (min-width: 1900px) {
  .page-footer {
    margin-top: 450px;
  }
}
@media (max-width: 1189px) {
  .features__up,
.features__down {
    justify-content: space-between;
    -moz-column-gap: 0;
         column-gap: 0;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }

  .feature {
    min-width: initial;
  }

  .parallax-2 {
    zoom: 80%;
  }

  .smart {
    margin-top: -400px;
  }

  .contact {
    padding-top: 500px;
  }
}
@media (max-width: 1139px) {
  h1, .h1 {
    font-size: 64px;
    line-height: 80px;
  }
  h2, .h2 {
    font-size: 40px;
    line-height: 51px;
  }
  h3, .h3 {
    font-size: 20px;
    line-height: 28px;
  }
  .parallax {
    max-width: 615px;
    min-height: 665px;
  }

  .parallax__image {
    width: 67%;
  }

  .parallax__image--1 {
    left: 25px !important;
  }

  .parallax__image--2 {
    margin-top: -145px;
    right: 30px !important;
  }

  .parallax__image--3 {
    left: 130px !important;
  }

  .header-info__input,
.header-info__sumbit {
    height: 70px;
  }
  .page-footer {
    margin-top: -150px;
  }

  .contact__line {
    width: 50%;
  }
  .parallax-2 {
    zoom: 70%;
  }

  .features__top img {
    margin-right: 45px;
  }

  .features__top h3::before {
    left: -26px;
  }

  .title__line {
    height: 135px;
  }

  .smart {
    margin-top: -350px;
  }

  .parallax-3 {
    zoom: 70%;
    right: 0;
    top: -330px;
  }

  .page-main {
    margin-top: -350px;
  }

  .smart__title {
    margin-bottom: 50px;
  }

  .benefit-wrap {
    margin-top: -185px;
  }

  .benefit__title {
    margin-bottom: 100px;
  }
}
@media (max-width: 991px) {
  h1, .h1 {
    font-size: 44px;
    line-height: 60px;
  }
  h2, .h2 {
    font-size: 36px;
    line-height: 40px;
  }
  .cookies {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .cookies__row {
    display: block;
  }

  .cookies__btns {
    margin-left: 0;
    margin-top: 20px;
  }
  .page-header__top {
    padding-top: 22px;
    padding-bottom: 22px;
    margin-top: 0;
  }

  .page-header__top .logo {
    height: 35px;
  }

  .navigation__link::after {
    transform: translateY(-23px);
  }

  .navigation__link:focus::after {
    transform: translateY(-8px);
  }

  .header-info__logo {
    display: none;
  }

  .page-header__row {
    flex-direction: column-reverse;
  }

  .parallax {
    position: static;
    margin-top: -50px;
    max-width: 100%;
    min-height: 500px;
  }

  .parallax__image {
    width: 350px;
  }

  .parallax__image--1 {
    left: 15px !important;
  }

  .parallax__image--3 {
    left: initial !important;
    right: 15px !important;
  }

  .parallax__image--2 {
    left: 50% !important;
    right: initial !important;
    margin-left: -190px;
    margin-top: -100px;
  }

  .header-info {
    margin-top: -50px;
    display: flex;
    flex-direction: column;
  }

  .social {
    order: 3;
    margin-bottom: 0;
    margin-top: 24px;
  }
  .social li {
    transform: scale(1.3);
    transform-origin: left top;
  }

  .header-info__form {
    order: 2;
  }

  .header-info__title {
    order: 1;
    margin-bottom: 24px;
  }

  .header-info__input,
.header-info__sumbit {
    height: 56px;
  }

  .header-info__form {
    max-width: 400px;
  }

  .social li:not(:last-child) {
    margin-right: 30px;
  }
  .footer__row .logo img {
    height: 55px;
  }

  .page-footer {
    padding-top: 120px;
  }

  .footer__social {
    margin-top: 0;
    position: relative;
    left: -5px;
  }

  .footer-shape {
    display: none;
  }
  .parallax-2 {
    zoom: 42%;
    margin-top: -40px;
  }

  .smart {
    margin-top: -370px;
  }

  .smart__title {
    margin-bottom: 46px;
    justify-content: center;
    margin-left: 0;
  }

  .smart__text {
    max-width: 100%;
  }

  .lang-container {
    top: -22px;
    left: var(--gap);
  }

  .features__up,
.features__down {
    display: contents;
  }

  .features-row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
  }

  .feature {
    width: 100%;
  }

  .feature__text {
    max-width: 100%;
  }

  .features__top h3 br {
    display: none;
  }

  .benefit__title {
    margin-bottom: 50px;
  }

  .benefit-wrap > picture img {
    left: -100px;
  }

  .contact__line {
    width: 50%;
  }

  .contact {
    margin-top: -200px;
    padding-top: 300px;
  }

  .contact__bg picture img {
    top: 70px;
  }

  .form {
    padding-top: 150px;
    padding-bottom: 180px;
    padding-left: 75px;
    padding-right: 75px;
  }
}
@media (max-width: 767px) {
  h1, .h1 {
    font-size: 25px;
    line-height: 30px;
  }
  h2, .h2 {
    font-size: 25px;
    line-height: 30px;
  }
  h3, .h3 {
    font-size: 19px;
    line-height: 23px;
  }
  .cookies {
    padding-top: 33px;
    padding-bottom: 22px;
  }

  .cookies__btns {
    display: grid;
    grid-template-columns: 100%;
    max-width: 196px;
    row-gap: 10px;
  }

  .cookies__btn {
    height: 32px;
    font-size: 13px;
    line-height: 16px;
  }

  .cookies__text {
    font-size: 13px;
    line-height: 16px;
  }

  .modal__text {
    margin-bottom: 61px;
  }
  .modal__text p {
    font-size: 13px;
    line-height: 16px;
  }

  .modal__text p + p {
    margin-top: 20px;
  }

  .modal__content {
    padding-left: 20px;
    padding-right: 20px;
    background: url(../img/modal-bg-mob.svg) no-repeat left top -20px/cover, #C4C4C4;
  }
  .page-header::before {
    content: url(../img/header-line-mob.svg);
    left: auto;
    right: 0;
    top: 91px;
  }
  .parallax__image {
    width: auto;
  }

  .parallax {
    min-height: 223px;
    margin-top: -9px;
    right: 0 !important;
  }

  .parallax__image--1 {
    left: 0 !important;
  }

  .parallax__image--2 {
    margin-top: -37px;
    margin-left: -70px;
  }

  .parallax__image--3 {
    right: 0 !important;
  }

  .page-header {
    padding-top: 70px;
    padding-bottom: 80px;
  }

  .page-header__top .logo {
    visibility: visible;
    opacity: 1;
    height: 34px;
  }

  .page-header__top {
    padding-top: 17px;
    padding-bottom: 17px;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .header-info {
    margin-top: 0;
  }

  .header-info__title {
    margin-bottom: 9px;
  }

  .header-info__form {
    max-width: 240px;
    row-gap: 7px;
  }

  .header-info__input, .header-info__sumbit {
    height: 39px;
    font-size: 12px;
    line-height: 15px;
  }

  .social {
    margin-top: 13px;
  }

  .navigation__list {
    background: url(../img/menu-shape.svg) no-repeat 0% 0%/contain, rgba(37, 54, 86, 0.7);
    flex-direction: column;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 85px 44px;
    align-items: flex-start;
    left: 100%;
    position: absolute;
  }

  .navigation__link {
    color: #fff;
  }
  .navigation__link:focus, .navigation__link.current {
    color: var(--blue);
  }
  .navigation__link:focus::after, .navigation__link.current::after {
    transform: translateX(0);
  }

  .navigation__link::after {
    height: 34px;
    border-top: 0;
    border-left: 7px solid var(--blue);
    top: 50%;
    margin-top: -17px;
    transform: none;
    left: -44px;
    transform: translateX(-7px);
  }

  .navigation li:not(:last-child) {
    margin-right: 0;
    margin-bottom: 30px;
  }

  .header-info__input {
    border-width: 2px;
  }

  .features__top h3 br {
    display: block;
  }

  .feature__img {
    margin-right: 45px;
  }

  .feature__text {
    margin-top: 15px;
  }
  .page-footer {
    background: url(../img/footer-bg-mob.svg) no-repeat top/cover;
    margin-top: -10px;
    padding-top: 80px;
    overflow: hidden;
  }
  .page-footer .logo {
    display: none;
  }

  .footer-menu {
    width: 100%;
  }
  .footer-menu:not(:last-child) {
    padding-bottom: 33px;
    margin-bottom: 32px;
    position: relative;
  }
  .footer-menu:not(:last-child)::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border-bottom: 2px solid var(--blue);
    width: 177px;
    bottom: 0;
  }
  .footer-menu li {
    text-align: center;
  }
  .footer-menu a {
    font-size: 14px;
    line-height: 17px;
  }

  .footer-menu li:not(:last-child) {
    margin-bottom: 25px;
  }

  .footer__social {
    margin: 67px auto;
    order: -1;
  }

  .footer__bottom {
    flex-direction: column;
  }

  .footer__row {
    margin-bottom: 0;
  }

  .copy {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
  }

  .copy span {
    color: var(--white);
  }

  .footer-line {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }

  .footer__row,
.footer__bottom {
    position: relative;
    z-index: 2;
  }
  .smart {
    margin-top: 0;
  }

  .parallax-2 {
    display: none;
  }

  .features-row {
    grid-template-columns: 100%;
  }

  .title {
    grid-template-columns: repeat(2, -webkit-max-content);
    grid-template-columns: repeat(2, max-content);
    grid-template-rows: repeat(2, -webkit-max-content);
    grid-template-rows: repeat(2, max-content);
    grid-auto-flow: unset;
    align-items: center;
    justify-content: flex-end;
  }

  .title b {
    margin-bottom: 18px;
    grid-row: 1/2;
  }

  .title span {
    text-align: right;
    font-size: 14px;
    line-height: 17px;
  }

  .title__line {
    height: 100%;
    grid-row: 1/3;
    grid-column: 2/3;
    margin-top: 5px;
  }

  .title--right {
    text-align: left;
    justify-content: flex-start;
    width: 100%;
  }
  .title--right .title__line {
    grid-column: 1/2;
  }
  .title--right span, .title--right b {
    text-align: left;
  }

  .title__line {
    height: 104px;
    margin-top: 0;
  }

  .page-main {
    margin-top: 0;
  }

  .benefit-wrap::after {
    content: unset;
  }

  .parallax-3 {
    display: none;
  }

  .benefit-wrap {
    padding-top: 110px;
    margin-top: 0;
  }
  .benefit-wrap::after {
    content: url(../img/circles.svg);
    position: absolute;
    top: 0;
    right: 0;
  }

  .smart__title {
    margin-bottom: 20px;
  }

  .smart__text p {
    font-size: 13px;
    line-height: 16px;
    color: #000;
  }

  .benefit-wrap > picture img {
    left: 0;
    right: 0;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }

  .smart-wrap {
    padding-top: 30px;
  }

  .smart-wrap__bg {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
  }
  .smart-wrap__bg img:nth-child(2) {
    position: absolute;
    right: 0;
    top: 125px;
  }

  .benefit-wrap {
    z-index: 3;
  }

  .benefit__title {
    margin-bottom: 40px;
  }

  .benefit-wrap > picture img {
    top: initial;
    bottom: 160px;
  }

  .features__top {
    margin-bottom: 2px;
    align-items: center;
  }

  .feature__text {
    font-size: 13px;
    line-height: 16px;
    max-width: 165px;
  }

  .benefit-wrap {
    padding-bottom: 40px;
  }
  .benefit-wrap .container {
    z-index: 2;
    position: relative;
  }

  .features__top h3 {
    padding-bottom: 15px;
  }

  .benefit-wrap__bg {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1;
  }
  .benefit-wrap__bg img:nth-child(1) {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    margin-bottom: 222px;
  }
  .benefit-wrap__bg img:nth-child(2) {
    position: absolute;
    bottom: 150px;
    left: 0;
  }

  .features-row {
    position: relative;
    z-index: 3;
  }

  .container {
    --gap: 17px;
  }

  .feature {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    margin: 0 auto;
  }

  .feature h3 {
    min-height: 69px;
  }

  .feature__img::before {
    height: 65px;
  }

  .feature__text {
    margin-top: 2px;
  }

  .feature__img::before {
    right: -26px;
  }

  .features__down > *:nth-child(1) h3 {
    padding-top: 18px;
  }

  .feature__img {
    min-width: 86px;
    display: flex;
    justify-content: center;
  }

  .feature h3 {
    align-items: flex-start;
    padding-top: 2px;
  }

  .contact__row {
    display: block;
  }

  .contact .title b {
    color: var(--red);
  }

  .form {
    padding-top: 84px;
    padding-bottom: 103px;
    padding-left: 46px;
    padding-right: 46px;
    margin-top: 54px;
  }

  .contact__line {
    display: none;
  }

  .contact {
    padding-top: 0;
    margin-top: 0;
    position: relative;
    z-index: 4;
  }

  .form__input {
    font-size: 13px;
    line-height: 16px;
    height: 40px;
    border-width: 2px;
  }

  .form__btn {
    height: 32px;
  }

  .contact__bg picture img {
    top: 0;
  }

  .contact__shape {
    display: block;
    position: absolute;
    right: 0;
    top: -55px;
  }

  .contact {
    overflow: hidden;
  }

  .form__input {
    width: 100%;
  }

  .scroll-wrap {
    max-height: 81px;
    min-height: 40px;
  }
  .scroll-wrap::after {
    border-width: 2px;
    bottom: 4px;
  }

  .lang {
    width: 28px;
    height: 24px;
    border-radius: 2px;
    margin-right: 48px;
    margin-top: 5px;
    overflow: hidden;
  }
  .lang.open {
    padding-bottom: 2px;
  }
  .lang .lang__switch {
    font-size: 12px;
    line-height: 15px;
    height: 24px;
    padding-bottom: 9px;
    margin: 0;
  }

  .lang__items {
    height: 24px;
    grid-template-rows: 24px 24px;
    border-radius: 2px;
    overflow: hidden;
    margin-top: -1px;
    margin-bottom: -2px;
  }

  .lang-container {
    top: 0;
    left: initial;
    right: var(--gap);
    display: flex;
    justify-content: flex-end;
  }

  .lang__btn {
    width: 10px;
    height: 10px;
    bottom: 2px;
  }
  .lang__btn svg {
    max-width: 100%;
    height: auto;
  }

  .scroll-wrap::after {
    bottom: 0;
  }

  .navigation__tooltip {
    left: 0;
    right: initial;
    width: 232px;
    height: 120px;
    padding-top: 12px;
    background: url(../img/clip-mob.svg);
  }
  .navigation__tooltip p {
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
  }

  .navigation__link:not(.navigation__btn):focus::after,
.navigation__link:not(.navigation__btn).current::after {
    transform: translateY(0);
  }
}
/*# sourceMappingURL=main.css.map */
