@font-face {
  font-family: 'gotham';
  src: url(../fonts/GothamPro.ttf);
  font-display: swap;
  font-weight: 400;
}

@font-face {
  font-family: 'gotham';
  src: url(../fonts/GothamPro-Bold.ttf);
  font-display: swap;
  font-weight: 700;
}

@font-face {
  font-family: 'gotham';
  src: url(../fonts/GothamPro-Medium.ttf);
  font-display: swap;
  font-weight: 500;
}

@font-face {
  font-family: 'gotham';
  src: url(../fonts/GothamPro-Black.ttf);
  font-display: swap;
  font-weight: 900;
}
* {
	box-sizing: border-box;
}
*:before {
  box-sizing: border-box;
}
*:after {
  box-sizing: border-box;
}
*:focus {
  outline: none;
}
button {
  border: 0;
  padding: 0;
  background: none;
  cursor: pointer;
}
body {
  font-family: 'gotham', sans-serif;
  font-size: 16px;
  overflow-x: hidden;
  max-width: 767px;
  margin: 0 auto;
}
.page-header {
  position: sticky;
  top: 0;
  background: #fff;
  transition: .3s;
  z-index: 30;
}
.page-header.fixed {
  box-shadow: 0 0 5px rgba(0,0,0,0.3);
}
.container {
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;
  max-width: 100%;
}

.logo {
  text-decoration: none;
}
.navbar {
  padding-top: 17px;
  padding-bottom: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.navbar__buttons {
  display: flex;
  align-items: center;
  margin-right: 21px;
}
.call {
  margin-right: 21px;
}
.calc {
  background-color: #006eb1;
  padding-top: 20px;
  padding-bottom: 35px;
}
.calc__area {
  background-color: #fff;
  border-radius: 3px;
  padding: 18px 10px 34px;
}
.calc__title {
  font-weight: 700;
  color: #333330;
  font-size: 28px;
  margin-top: 0;
  margin-bottom: 22px;
}
.calc__select {
  padding-left: 10px;
  padding-right: 10px;
}
.calc__select select {
  display: block;
  width: 100%;
  border-radius: 26.5px;
  padding: 16px 21px;
  border: 1px solid #000;
  background: transparent;
  -webkit-appearance: none;
  font-size: 14px;
  margin-bottom: 20px;
  background: url(../img/selectbg.png) no-repeat 90% 0 / auto transparent;
  margin-top: 17px;
  max-width: 260px;
}
.calc__select-title {
  color: #111111;
  font-size: 16px;
  font-weight: 500;
  display: block;
}
.title {
  text-align: center;
  margin-top: 0;
  font-size: 24px;
}
.input {
  display: flex;
  height: 30px;
  margin-top: 26px;
  margin-bottom: 29px;
}
.input_l {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  margin-right: 13px;
}
.input_l input {
  width: 40px;
  height: 25px;
  border: 0;
  background-color: #e8e8e8;
  color: #111111;
  font-size: 14px;
  text-align: center;
  padding: 6px 0px;
  border-radius: 3px;
}
.input_l b {
  margin-left: 5px;
  display: block;
  font-size: 16px;
  margin-bottom: 17px;
  font-weight: normal;
}

.input_r {
  width: 68%;
  flex-basis: 68%;
  max-width: 68%;
  position: relative;
}
.input_r > .irs {
  position: absolute;
  width: 100%;
  top: -24px;
  height: auto;
}
.input_r .irs--round .irs-bar--single, .input_r .irs--round .irs-line {
  height: 7px;
}
.calc .irs-from, .calc .irs-to, .calc .irs-single, .calc .irs--round .irs-min, .calc .irs--round .irs-max {
  display: none;
}
.input_r .irs--round .irs-bar--single {
  background: url(../img/calcline.jpg) repeat-x left center / contain;
}
.input_r .irs--round .irs-handle {
  width: 30px;
  height: 30px;
  border: 0;
  background: #1168ac;
  top: 24px;
  cursor: pointer;
}
.calc_box-row-item label {
  display: block;
  padding-left: 30px;
  margin-bottom: 10px;
  position: relative;
  cursor: pointer;
  font-size: 14px;
}
.calc_box-row-item label::before {
  content: '';
  width: 20px;
  height: 20px;
  border: 1px solid #626262;
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
.calc_box-row-item input[type="checkbox"] {
  display: none;
}
.calc_box-row-item .calc__select-title{
  margin-bottom: 21px;
}
.calc_box-row-item input[type="checkbox"]:checked + label::after {
  width: 10px;
  height: 10px;
  content: '';
  display: inline-block;
  background-color: #1168ac;
  position: absolute;
  left: 5px;
  top: 0;
  bottom: 0;
  margin: auto;
}
.calc_box-row-item input[type="checkbox"]:checked + label::before {
  border: 1px solid #1168ac;
}
.calc_box-row-item .result {
  margin-top: 17px;
}
.calc_box-row-item .result_box {
  background-color: #e8e8e8;
  height: 7px;
  position: relative;
}
.calc_box-row-item .result_box::after {
  content: '';
  height: 100%;
  width: 40%;
  background: url(../img/calcline.jpg) repeat-x left center / contain;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  display: block;
  z-index: 1;
}
.calc_box-row-item .result .t {
  font-size: 14px;
  font-family: 'gotham';
  font-weight: 500;
  color: #1168ac;
  margin-bottom: 2px;
}
.srok {
  margin-top: 28px;
}
.skidka {
  margin-bottom: 24px;
}
.calc_box-row-item {
  margin-bottom: 22px;
}
.btn {
  background: #fbc10f;
  color: #000;
  max-width: 270px;
  width: 100%;
  display: block;
  margin: 0 auto;
  padding: 16px 0px;
  text-align: center;
  border-radius: 25px;
  border: 0;
  text-transform: uppercase;
  font-family: 'gotham';
  font-weight: 500;
  font-size: 15px;
  line-height: 16px;
  border-bottom: 2px solid #dfb640;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.14), 0 0 39px 21px rgba(253, 242, 236, 0.1);
  transition: .3s ease-in-out;
  text-decoration: none;
}
.btn:hover {
  box-shadow: none;
}
.calc__design {
  border-radius: 3px;
  background-color: #ffffff;
  overflow: hidden;
  margin-top: 12px;
  padding-bottom: 15px;
}
.calc__design img{
  width: 100%;
}
.calc__design-info {
  padding-left: 15px;
  padding-right: 15px;
}
.calc__design-title {
  color: #1168ac;
  font-weight: 900;
  font-size: 28px;
  text-transform: uppercase;
  margin-bottom: 7px;
  margin-top: 0;
  margin-top: -37px;
}
.calc__desing-order {
  color: #1168ac;
  font-size: 14px;
  font-weight: 500;
  display: block;
}
.calc__design__gift {
  color: #000000;
  font-size: 14px;
  font-weight: 500;
  margin-top: 6px;
  margin-bottom: 0;
}
.navigation {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  padding: 15px;
  left: 0;
  right: 0;
  background: #fff;
  bottom: -202px;
  border-top: #fac83b 2px solid;
  border-bottom: #fac83b 2px solid;
  transition: .4s ease-in-out;
  z-index: 80;
  box-shadow: 0 0 5px rgba(0,0,0,0.3);
}
.navigation.active {
  visibility: visible;
  opacity: 1;
}
.navigation li {
  display: block;
}
.navigation li:not(:last-child) {
  margin-bottom: 15px;
}
.navigation a {
  font-size: 16px;
  color: #000;
  margin-right: 32px;
  text-decoration: none;
  transition: .3s;
}
.navigation a:hover { 
  border-bottom: 1px solid #d4d4d4;
}
.modal-overlay {
  position: fixed;
  top:0;
  right:0;
  bottom:0;
  left:0;
  background-color:rgba(0,0,0,.5);
  z-index: 100;
  transition: .5s linear;
  opacity: 0;
  visibility: hidden;
 }
 .modal-overlay.open {
   visibility: visible;
   opacity: 1;
 }
 




@media (min-width: 576px) {
  .modal-dialog {
    max-width: 420px;
  }
}

.modal .modal-content {
  border: 2px solid #FCC936;
  padding: 24px;
  max-width: 420px;
}

.modal-header {
  border: 0;
  padding: 0 0 10px;
  margin: 0 0 20px 0;
  border-bottom: 1px solid #fcca3a;
}

.modal-header header {
  font-size: 16px;
  font-weight: 900;
  text-align: center;
  color: #000;
  position: relative;
  line-height: 1.2;
}

.modal-header header:before {
  content: "";
  display: block;
  position: absolute;
  bottom: -36px;
  z-index: 3;
  left: -webkit-calc(50% - 15px);
  left: calc(50% - 15px);
  border: 15px solid transparent;
  border-top: 10px solid #fcca3a;
}

.modal-header header:after {
  content: "";
  display: block;
  position: absolute;
  z-index: 4 !important;
  bottom: -35px;
  left: -webkit-calc(50% - 15px);
  left: calc(50% - 15px);
  border: 15px solid transparent;
  border-top: 10px solid #fff;
}

.modal-title {
  position: relative;
  text-align: center;
  width: 100%;
}

.modal-title:before {
  content: "";
  display: block;
  position: relative;
  background: #fcca3a;
  height: 1px;
  margin: 0 0 10px 0;
  text-align: center;
}

.modal-title span {
  display: block;
  position: absolute;
  margin: -20px 0 0 -33px;
  color: #fcca3a;
  left: 50%;
  width: 66px;
  background: #fff;
}

.close {
  position: absolute;
  right: 5px;
  top: 5px;
}

.modal input[type="text"],
.modal input[type="tel"],
.modal input[type="password"] {
  display: block;
  width: 100%;
  height: 53px;
  outline: none;
  border: 1px solid #626262;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  padding: 0px 30px;
  font-size: 14px;
  color: #000;
  margin-top: 9px;
}

.modal .btn {
  display: block;
  padding: 19px 15px 19px;
  margin: 5px auto 0;
  margin-top: 9px;
  width: 100%;
  font-size: 18px;
  cursor: pointer;
  line-height: 1;
  color: #000;
  background: #FCC936;
  text-decoration: none;
  border: 0;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  -webkit-box-shadow: 0 5px 20px 0 rgba(252, 201, 54, 0);
  box-shadow: 0 5px 20px 0 rgba(252, 201, 54, 0);
}
.modal .btn:hover {
  color: #000;
  -webkit-box-shadow: 0 5px 20px 0 rgba(252, 201, 54, 0.5);
  box-shadow: 0 5px 20px 0 rgba(252, 201, 54, 0.5);
  text-decoration: none;
}

.modal-dialog {
  transition: .3s ease-out!important;
  transform: translateY(-25%)!important;
  opacity: 0;
  visibility: hidden;
}
.modal.open {
  visibility: visible;
  opacity: 1;
}
.modal.open .modal-dialog {
  transform: translateY(0)!important;
  opacity: 1;
  visibility: visible;
}

.modal-open {
  overflow: auto!important;
}

.modal-open .modal {

  overflow-x: hidden;
  overflow-y: auto;

}
.footer-icon-block {

  padding: 0 0 0px 50px;
  margin: 10px 0 0px 0;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 41px;
  font-size: 14px;
}
.footer-icon-block::before {

  content: "";
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  height: 41px;
  background: url(../img/sprite.png) no-repeat;
      background-position-x: 0%;
      background-position-y: 0%;

}
.footer-icon-item1::before {
  background-position: 0 -332px;
  width: 40px;
}
.footer-icon-item2:before {
  background-position: -40px -332px;
  width: 40px; 
}

.footer-icon-item3:before {
  background-position: -80px -332px;
  width: 34px; 
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 0;
  z-index: 101;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition: .3s linear;
}
.modal-content {
  background-color: #fff;
  position: relative;
  border-radius: .3rem;
  margin-left: 15px;
  margin-right: 15px;
}
.close {
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: .5;
  transition: .3s opacity;
}
.modal .btn {
  max-width: 100%;
  font-size: 18px;
  text-transform: none;
  font-weight: 400;
}
.modal-dialog {
  display: flex;
  align-items: center;
  justify-content: center;
}
.close:hover {
  opacity: 1;
}
.portfolio {
  padding-top: 28px;
}

.custom-select {
  border-radius: 7px;
  border: 2px solid #ffbd0c;
  background-color: #ffffff;
  height: 49px;
  padding: 0 26px 0 22px;
  display: flex;
  align-items: center;
  color: #333330;
  font-size: 15px;
  font-weight: 700;
  line-height: 25px;
  text-transform: uppercase;
  margin: 0 auto;

  margin-bottom: 22px;
  justify-content: space-between;
  position: relative;
  margin-top: -5px;
  z-index: 15;
}
.custom-select__list {
  position: absolute;
  border-radius: 7px;
  border: 2px solid #ffbd0c;
  background-color: #ffffff;
  width: calc(100% + 2px);
  left: 0;
  top: 100%;
  margin-top: 10px;
  list-style: none;
  padding: 0;
  padding: 10px 26px 10px 22px;
  transition: .3s;
  visibility: hidden;
  opacity: 0;
  transform: translateY(-5px);
}
.custom-select.open .custom-select__list{
  transform: translateY(0);
  visibility: visible;
  opacity: 1;
}
.custom-select__list li {
  cursor: pointer;
  transition: .3s;
}
.custom-select__list li.active {
  color: #002d77;
}
.custom-select__list li:not(:last-child) {
  margin-bottom: 5px;
}
.portfolio-item {
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.19);
  border-radius: 8px;
  background-color: #f2f2f2;
  transition: .3s;
  margin-left: -10px;
  margin-right: -10px;
  padding-top: 19px;
  padding-bottom: 9px;
  position: relative;
  margin: 0 auto;
}
.portfolio-item.hidden {
  display: none;
}
.portfolio-item:not(:last-child) {
  margin-bottom: 22px;
}
.portfolio-item:hover {
  box-shadow: none;
}
.portfolio-item__info {
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  align-items: center;
  padding-bottom: 16px;

}
.portfolio-item__meters {
  font-size: 16px;
  font-weight: 500;
  padding-right: 7px;
  border-right: 2px solid #d5d7d8;
  padding-top: 5px;
  padding-bottom: 5px;
}

.portfolio-item__name {
  color: #000000;
  font-size: 14px;
  font-weight: 400;
  padding-left: 13px;
}
.portfolio-item__price {
  background: #002d77;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  max-width: 124px;
  width: 100%;
  text-align: center;
  display: inline-flex;
  border-radius: 3px;
  height: 34px;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 12px;
  top: 86px;
  z-index: 10;
}
.bigslider {
  margin-bottom: 12px;
}
.bigslider a {
  width: 100%;
  min-height: 183px;
  display: block;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background: no-repeat center;
  background-size: cover;
  position: relative;
}
.bigslider a::after {
  content: '';
  width: 57px;
  height: 57px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  background: url(../img/view.png) no-repeat center;
  background-color: #ffffff;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: .3s ease-in-out;
  visibility: hidden;
  opacity: 0;

}
.bigslider a:hover::after{
  visibility: visible;
  opacity: 1; 
}
.navslider {
  padding-left: 10px;
  padding-right: 10px;
}
.navslider-item {
  height: 48px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 3px;
  margin: 0 2.5px;
  cursor: pointer;
}
.show-more {
  width: 236px;
  height: 50px;
  border-radius: 25px;
  border: 3px solid #fcc936;
  display: flex;
  margin: 0 auto;
  color: #000000;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  align-items: center;
  justify-content: center;
  transition: ease-in-out .5s;
  margin-top: 31px;
}
.show-more:hover {
  background: #fcc936;
}
.portfolio__works {
  margin-bottom: 43px;
}
.reviews {
  padding-top: 28px;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 51px;
}
.reviews__item {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #ffffff;
  border-radius: 8px;
  overflow: hidden;
}
.reviews__item:not(:last-child) {
  margin-bottom: 15px;
}
.reviews__item iframe {
  width: 100%!important;
  position: relative;
  z-index: 10;
  display: block;
}
.reviews__top {
  min-height: 180px;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  padding-bottom: 55.4%;
}

.reviews__top:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 32px;
  height: 32px;
  opacity: 0.9;
  border-radius: 50%;
  background: url(../img/mobile/play.png) 56% 50% no-repeat;
  background-color: #ffbd0c;

}
.review__title {
  margin-bottom: 24px;
}
.reviews__title {
  color: #fefefe;
  font-size: 14px;
  font-weight: 500;
  background-image: linear-gradient(to top, rgba(0, 0, 0, .3) 0%, #1168ac 100%);
  height: 59px;
  padding: 8px 15px 5px;
  display: flex;
  align-items: center;
  margin: 0;
  margin-top: -59px;
  position: relative;
  z-index: 5;
}
.reviews__text {
  padding-left: 11px;
}
.reviews__info {
  padding: 18px 25px 21px;
}
.reviews__info {
  color: #333330;
  font-size: 14px;
  font-weight: 400;
}
.hint {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 24px;
  padding-bottom: 43px;
}
.hint__title {
  color: #fff;
  margin-bottom: 35px;
}
.hint__list {
  padding-left: 34px;
  padding-right: 34px;
  list-style: none;
  margin: 0;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
}
.hint__list li {
  position: relative;
  margin-bottom: 17px;
}
.hint__list li:before {
  content: '';
  position: absolute;
  top: 6px;
  left: -14px;
  width: 5px;
  height: 5px;
  background-color: #fbc936;
  width: 5px;
  height: 5px;
  border-radius: 50%;
}
.hint__booklet {
  margin: 0;
  color: #fcc936;
  font-size: 16px;
  font-weight: 700;
  padding-left: 33px;
  padding-right: 33px;
  position: relative;
  padding-bottom: 36px;
}
.hint__booklet:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 20px;
  height: 35px;
  background: url(../img/mobile/arrow-bottom.png);
}
.hint__img {
  display: block;
  margin: 0 auto;
}
.hint__form {
  box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.31);
  border-radius: 8px;
  background-color: #002d77;
  padding: 29px 12px;
  margin-top: -25px;
  position: relative;
  z-index: 5;
}
.hint__form-title {
  text-align: center;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 18px;
}
.hint__form-input {
  border-radius: 3px;
  border: 1px solid #898989;
  background-color: #ffffff;
  padding-left: 18px;
  padding-right: 18px;
  margin: 0 auto;
  height: 40px;
  width: 100%;
  margin-bottom: 14px;
  max-width: 320px;
  display: block;
}
.tariffs {
  padding-top: 25px;
  padding-bottom: 47px;
}
.tariffs__title {
  margin-bottom: 14px;
}
.tariffs__item {
  background-color: #f2f2f2;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.19);
  border-radius: 8px;
  padding: 6px;
}
.tariffs__item > img {
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  max-height: 181px;
}
.tariffs__name {
  color: #196eae;
  font-size: 20px;
  font-weight: 700;
  line-height: 25px;
  margin: 0;
  display: flex;
  align-items: flex-start;

}
.tariffs__top {
  margin-left: -15px;
  margin-right: -15px;
  background-color: #f2f2f2;
  padding-top: 25px;
  padding-bottom: 18px;
}
.tariffs__padding {
  padding-left: 50px;
  padding-right: 40px;
}
.tariffs__name img {
  width: 24px;
  height: 24px;
  margin-right: 11px;
}
.tariffs__text {
  color: #93928c;
  font-size: 14px;
  font-weight: 400;
  padding-left: 33px;
  margin: 0;
  margin-top: 7px;
}
.tariffs__lists {
  background: #fff;
  padding-top: 7px;
  padding: 0 22px;
  padding-top: 10px;
}
.tariffs__ul {
  max-height: 139px;
  overflow: hidden;
  transition: .5s;
  padding-left: 20px;

}
.tariffs__ul.show {
  max-height: 100%;
  overflow: initial;
}
.tariffs__lists b {
  color: #333330;
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  margin-bottom: 3px;
  display: block;
  margin-top: 5px;
}
.tariffs__lists ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}
.tariffs__lists li {
  position: relative;
  color: #171717;
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
}
.tariffs__lists li::before {
  position: absolute;
  content: '+';
  left: -18px;
  color: #fbc10f;
}
.tariffs__show {
  color: #6d6c64;
  display: block;
  text-transform: uppercase;
  font-size: 14px;
  border-bottom: 1px dashed #6d6c64;
  text-align: center;
  padding-top: 18px;
  transition: .3s;
  margin: 0 auto;
}
.tariffs__show:hover {
  border-style: solid;
}
.tariffs__prices {
  padding-top: 28px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 244px;
}
.tariffs__prices span {
  color: #b8b7b2;
  font-size: 14px;
  font-weight: 700;
  line-height: 25px;
  position: relative;
  margin-right: 21px;
}
.tariffs__prices span:before {
  content: '';
  position: absolute;
  left: -5px;
  width: 75px;
  height: 10px;
  background: url(../img/mobile/old-line.png) no-repeat;
  top: 50%;
  transform: translateY(-50%);
}
.tariffs__prices strong {
  color: #196eae;
  font-weight: 700;
  line-height: 33.5px;
  font-size: 18px;
}
.tariffs__bottom {
  background: #fff;
  padding: 26px 5px;
  margin-top: -9px;
}
.tariffs .slick-prev, .tariffs .slick-next {
  font-size: 0;
  position: absolute;
  top: 206px;
  width: 20px;
  height: 36px;
  z-index: 5;
}
.tariffs .slick-prev {
  background: url(../img/mobile/prev.png);
  left: 14px;
}
.tariffs .slick-next {
  background: url(../img/mobile/next.png);
  right: 14px;
}
.pay {
  padding-bottom: 31px;
}
.pay__title {
  margin-bottom: 20px;
}
.pay__item {
  margin-bottom: 17px;
}
.pay__item-title {
  display: flex;
  color: #006eb1;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  align-items: flex-end;
  margin-bottom: 13px;
  margin-top: 0;
}
.pay__item-title img {
  margin-right: 25px;
  margin-top: -2px;
  flex-shrink: 0;
}
.pay__item-text {
  color: #333330;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
.mt {
  margin-top: 32px;
}
.video {
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 37px;
  padding-bottom: 32px;
}
.video__title {
  color: #fff;
  margin-bottom: 29px;
}
.video__subtitle {
  color: #ffbd0c;
  font-size: 20px;
  font-weight: 700;
  padding-left: 34px;
  padding-right: 34px;
  display: block;
  margin-bottom: 33px;
}
.video__list {
  line-height: 26px;
  font-size: 18px;
  margin-bottom: 33px;
}
.video__info {
  padding-left: 34px;
  color: #fefefe;
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  margin-top: 38px;
}
.phone-video {
  display: block;
  margin: 0 auto;
  max-width: 135px;
  overflow: hidden;
  position: relative;
  z-index: 1;
  max-height: 267px;
  cursor: pointer;
  border-radius: 25px;
  margin-top: 4px;
}
.phone-video .youtube, .phone-video iframe {
  position: absolute;
  top: 50%;
  left: 50%;
  right: 0;
  bottom: 0;
  height: 124%;
  width: 88%;
  transform: translate(-50%, -50%);
  z-index: 1;
  background-size: cover;
}
.phone-video iframe {
  height: 124% !important;
  width: 88% !important;
}
.phone-video img {
  position: relative;
  z-index: 1;
  pointer-events: none;
}
.phone-video .youtube::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  opacity: 0.9;
  border-radius: 50%;
  background: url(../img/mobile/play.png) 56% 50% no-repeat;
  background-color: rgba(0, 0, 0, 0);
  background-color: #ffbd0c;

}
.service {
  padding-top: 30px;
  background-color: #f9f9f9;
}
.service__title {
  text-align: left;
  display: flex;
  margin-bottom: 40px;
  padding-left: 67px;
  position: relative;
  font-size: 22px;
  color: #333330;
}
.service__title img {
 margin-right: 13px;
 flex-shrink: 0;
 position: absolute;
 left: 0;
}
h3.service__title {
  font-size: 16px;
  color: #333330;
  margin-top: -5px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
}
.service__info {
  padding-left: 67px;
}
.service__info:not(:last-of-type) {
  margin-bottom: 25px;
}
.service__count {
  color: #196eae;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 17px;
}
.serivice__info-p {
  margin-top: 0;
  color: #333330;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 0;
}
.service__img {
  width: 100%;
  object-fit: cover;
}
.team {
  padding-top: 35px;
  padding-bottom: 38px;
}
.team_slider-item {
  text-align: center;
  color: #93928c;
  font-size: 16px;
}
.team__circle {
  box-shadow: 0 25px 22px 5px rgba(0, 0, 0, 0.05);
  border: 8px solid #ffffff;
  border-radius: 50%;
  overflow: hidden;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  margin-bottom: 35px;
  margin-top: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e1e1e1;
}
.team__circle img {
  max-width: 200px;
  max-height: 200px;
  flex-shrink: 0;
  margin-top: 10px;
}
.team_slider-item b {
  display: block;
  color: #1168ac;
  font-weight: normal;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;
}
.team_slider .slick-prev, .team_slider .slick-next {
  position: absolute;
  top: 100px;
  width: 33px;
  height: 24px;
  font-size: 0;
  z-index: 5;
}
.team_slider .slick-disabled {
  opacity: .5;
  cursor: no-drop;
}
.team_slider .slick-prev {
  left: 0;
  background: url(../img/arrowleft.png) no-repeat;
}
.team_slider .slick-next {
  right: 0;
  background: url(../img/arrowright.png) no-repeat;
}
.q-a {
  padding-top: 27px;
  padding-bottom: 36px;
}
.q-a__title {
  margin-bottom: 30px;
}
.q-a__button {
  text-decoration: #d0d0d0 underline;
  font-size: 16px;
  font-weight: 500;
  position: relative;
  margin-left: 15px;
  margin-bottom: 8px;
  text-align: left;
  color: #333330;
}
.q-a__answer {
  border-radius: 8px;
  background-color: #ffffff;

  height: 0;
  overflow: hidden;
  transition: .3s ease;
  padding: 0 16px;
}
.q-a__button.active::before {
  transform: rotate(-90deg);
}
.q-a__button.active + .q-a__answer {
  height: auto;
  padding: 18px 16px;
  margin-bottom: 20px;
}
.q-a__button::before {
  transition: ease .3s;
  content: '';
  width: 10px;
  height: 7px;
  position: absolute;
  left: -15px;
  top: 6px;
  display: block;
  background: url(../img/accord.png) no-repeat center center / contain;
}
a.more {
  margin-left: 45px;
  margin-top: 24px;
  display: inline-block;
  position: relative;
  color: #333330;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
}
a.more:not(:last-of-type) {
  margin-bottom: 18px;
}
a.more img {
  position: absolute;
  left: -45px;
  top: 0;
  bottom: 0;
  margin: auto;
}
a.more span {
  border-bottom: 1px dotted #fbc936;
}
.contact-us {
  padding-top: 25px;
  box-shadow: 0 42px 87px rgba(0, 0, 0, 0.13);
  border-radius: 18px;
  background-color: #ffffff;
  padding-bottom: 34px;
}
.contact-us__title {
  margin-bottom: 49px;
}
.contact-us__input {
  border-radius: 5px;
  border: 2px solid #e1e1e1;
  height: 60px;
  padding: 22px;
  font-size: 20px;
  display: block;
  margin-top: 18px;
  width: 100%;
  margin-bottom: 22px;
}
.contact-us__label b {
  font-size: 18px;
  color: #333330;
  display: block;
}
.contact-us__label span {
  color: #6d6c64;
  font-size: 14px;
  font-weight: 500;
}
.checkbox input {
  -webkit-appearance: none;
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
.checkbox {
  display: flex;
  font-size: 14px;
  font-weight: 400;
  color: #333330;
  margin-bottom: 35px;
}
.checkbox a {
  color: #366da9;
}
.checkbox .custom-input {
  position: relative;
  display: inline-block;
  border-radius: 2px;
  border: 1px solid #74a6d5;
  background-color: #ffffff;
  cursor: pointer;
  width: 13px;
  height: 13px;
  flex-shrink: 0;
  margin-right: 11px;
}
.checkbox .custom-input::before {
  content: '';
  width: 14px;
  height: 11px;
  position: absolute;
  left: 2px;
  bottom: 2px;
  background: url(../img/check.png) no-repeat;
  visibility: hidden;
  opacity: 0;
  transition: .3s ease;
}
.checkbox input:checked + .custom-input::before{
  visibility: visible;
  opacity: 1;
}
.address {
  margin-top: 38px;
  padding-top: 20px;
  border-top: 2px #d0d0d0 solid;
  font-style: normal;
}
.address ul {
  display: block;
  list-style-type: none;
  margin-bottom: 0;
  padding: 0;
}
.address li {
  color: #333330;
  font-size: 16px;
  padding-left: 39px;
  position: relative;
  display: block;
  margin-bottom: 22px;
  display: flex;
  margin-bottom: 20px;
}
.address li:not(:last-child) {
  margin-bottom: 20px;
}
.address li img {
  position: absolute;
  left: 0;
  top: 3px;
}
.address li a {
  color: #196eae;
}
.page-footer {
  padding-top: 35px;
  padding-bottom: 18px;
}
.page-footer__logo {
  display: block;
  max-width: 219px;
  margin: 0 auto;
  margin-bottom: 33px;
}
.footer-menu {
  padding: 0;
  margin: 0 auto;
  list-style: none;
  padding-left: 38px;
  padding-right: 38px;
  margin-top: 35px;
  padding-bottom: 12px;
  border-bottom: 1px solid #e1e1e1;
  max-width: 300px;
}
.footer-menu li {
  font-size: 20px;
  font-weight: 700;
  line-height: 25px;
  margin-bottom: 17px;
}
.footer-menu li:not(:last-child) {
  margin-bottom: 5px;
}
.footer-menu li:first-child {
  margin-bottom: 15px;
}
.footer-menu a {
  color: #333330;
  font-size: 16px;
  font-weight: 500;
  line-height: 25px;
  text-decoration: none;
  transition: .3s;
}
.footer-menu a:hover {
  border-bottom: 1px solid #d4d4d4;
}
.footer_r {
  text-align: center;
  padding-top: 22px;
}
.footer_r b {
  margin-bottom: 18px;
  color: #333330;
  font-size: 16px;
}
.footer_r ul {
  display: block;
  padding: 0;
  margin: 0;
  margin-bottom: 18px;
  margin-top: 20px;
  list-style: none;
}
.footer_r ul li {
  display: inline-block;
  margin-right: 7px;
}
.footer_r p {
  color: #6d6c65;
font-size: 14px;
font-weight: 400;
}
@media (min-width: 420px) {
  .bigslider a {
    height: 200px;
  }
  .navslider-item {
    height: 60px;
  }
}