
body,
* {
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: 'gotham';
  src: url(../fonts/GothamPro.ttf);
  font-display: swap;
}

@font-face {
  font-family: 'gotham-b';
  src: url(../fonts/GothamPro-Bold.ttf);
  font-display: swap;
}

@font-face {
  font-family: 'gotham-m';
  src: url(../fonts/GothamPro-Medium.ttf);
  font-display: swap;
}

@font-face {
  font-family: 'gotham-bl';
  src: url(../fonts/GothamPro-Black.ttf);
  font-display: swap;
}

.blue {
  color: #002d77;
}

a:hover {
  text-decoration: none;
}

section {
  padding: 70px 0px;
}

body {
  font-family: 'gotham', sans-serif;
  font-size: 16px;
  color: #333330;
  overflow-x: hidden;
}

button:focus,
*:focus {
  outline: 0;
}

.container {
  max-width: 1190px;
}

.btitle {
  font-size: 40px;
  font-family: 'gotham-b';
  margin-bottom: 23px;
  text-align: center;
}

.navbar {
  padding: 23px 0px 17px 0px;
  position: sticky;
  top: 0;
  background: #fff;
  z-index: 30;
}

.affix {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.navbar .container {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.navbar-brand {
  margin-right: 10px;
}

.navbar-nav {
  display: block;
}

.navbar-nav li {
  display: inline-block;
}

.navbar-nav li.active a {
  border-bottom: 1px solid #d4d4d4;
}

.navbar-nav li:last-child a {
  margin-right: 0;
}

.navbar-nav li a {
  font-size: 16px;
  color: #000;
  margin-right: 32px;
}

.navbar-nav li a:hover {
  border-bottom: 1px solid #d4d4d4;
}

.navbar .callme {
  display: inline-block;
  border: 2px solid #fbc10f;
  width: 204px;
  font-size: 16px;
  font-family: 'gotham-b';
  color: #000;
  text-align: center;
  padding: 6px 0px;
  text-transform: uppercase;
  border-radius: 20px;
  background: unset;
  -webkit-transition: ease 0.5s;
  -o-transition: ease 0.5s;
  transition: ease 0.5s;
}

.navbar .callme:hover {
  background: #fbc10f;
}

.calc {
  padding: 79px 0px 84px 0px;
  background:  no-repeat center center / cover;
}

.calc .irs-from,
.calc .irs-to,
.calc .irs-single,
.calc .irs--round .irs-min,
.calc .irs--round .irs-max {
  display: none;
}

.calc_box {
  border-radius: 3px;
  background-color: #fff;
  padding: 40px;
  font-size: 14px;
}

.calc_box-title {
  text-align: center;
  font-size: 44px;
  font-family: 'gotham-b';
  margin-bottom: 30px;
  line-height: 52px;
}

.calc_box button.calcme {
  background: #fbc10f;
  color: #000;
  width: 319px;
  display: block;
  margin: 45px auto 0px;
  padding: 24px 0px;
  text-align: center;
  border-radius: 30px;
  border: 0;
  text-transform: uppercase;
  font-family: 'gotham-m';
  font-size: 16px;
  line-height: 16px;
  border-bottom: 2px solid #dfb640;
}

.calc_box-row {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-left: -8px;
  margin-right: -8px;
}

.calc_box-row-item {
  width: 33.33%;
  flex-basis: 33.33%;
  max-width: 33.33%;
}

.calc_box-row-item:not(:last-child) {
  padding-right: 28px;
}

.calc_box-row-item .input {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  height: 30px;
}

.calc_box-row-item .input_l {
  width: 26%;
  flex-basis: 26%;
  max-width: 26%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.calc_box-row-item .input_l input {
  width: 40px;
  height: 25px;
  border: 0;
  background-color: #e8e8e8;
  color: #111111;
  font-size: 14px;
  text-align: center;
  padding: 6px 0px;
}

.calc_box-row-item .input_r {
  width: 68%;
  flex-basis: 68%;
  max-width: 68%;
  position: relative;
}

.calc_box-row-item .input_r>.irs {
  position: absolute;
  width: 100%;
  top: -24px;
  height: auto;
}

.calc_box-row-item .input_r .irs--round .irs-bar--single,
.calc_box-row-item .input_r .irs--round .irs-line {
  height: 7px;
}

.calc_box-row-item .input_r .irs--round .irs-bar--single {
  background: url(../img/calcline.jpg) repeat-x left center / contain;
}

.calc_box-row-item .input_r .irs--round .irs-handle {
  width: 20px;
  height: 20px;
  border: 0;
  background: #1168ac;
  top: 29px;
}

.calc_box-row-item input[type=checkbox]:checked+label:before {
  border: 1px solid #1168ac;
}

.calc_box-row-item input[type=checkbox]:checked+label:after {
  width: 10px;
  height: 10px;
  content: '';
  display: inline-block;
  background-color: #1168ac;
  position: absolute;
  left: 5px;
  top: 0;
  bottom: 0;
  margin: auto;
}

.calc_box-row-item label {
  display: block;
  padding-left: 33px;
  margin-bottom: 10px;
  position: relative;
  cursor: pointer;
}

.calc_box-row-item label:before {
  content: '';
  width: 20px;
  height: 20px;
  border: 1px solid #626262;
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.calc_box-row-item b {
  display: block;
  font-size: 16px;
  margin-bottom: 17px;
  font-weight: normal;
  font-family: 'gotham-m';
  white-space: nowrap;
}

.calc_box-row-item select {
  display: block;
  width: 100%;
  border-radius: 26.5px;
  padding: 16px 21px;
  border: 1px solid #000;
  background: transparent;
  -webkit-appearance: none;
  font-size: 14px;
  margin-bottom: 35px;
  background: url(../img/selectbg.png) no-repeat 90% 0 / auto transparent;
}

.calc_box-row-item input[type=checkbox] {
  display: none;
}

.calc_box-row-item.pre {
  position: relative;
  padding-top: 145px;
}

.calc_box-row-item.pre img {
  display: block;
  width: 100%;
  top: 0;
  position: absolute;
  left: 0;
  right: 0;
}

.calc_box-row-item.pre .pre_title {
  position: relative;
  text-transform: uppercase;
  color: #1168ac;
  font-size: 28px;
  font-family: 'gotham-bl';
  line-height: 32px;
  margin-bottom: 13px;
  padding: 0px 12px;
}

.calc_box-row-item.pre .pre_title:after,
.calc_box-row-item.pre .pre_title:before {
  height: 137px;
  width: 2px;
  position: absolute;
  left: -5px;
  top: -5px;
  content: '';
  z-index: 1;
  background: #1168ac;
}

.calc_box-row-item.pre .pre_title:after {
  left: unset;
  right: -5px;
}

.calc_box-row-item.pre b {
  padding: 0px 12px;
  position: relative;
  font-family: 'gotham-b';
  font-weight: normal;
  display: block;
  margin-bottom: 0px;
  font-size: 14px;
}

.calc_box-row-item.pre b.blue {
  color: #1168ac;
}

.calc_box-row-item .result {
  margin-top: 17px;
}

.calc_box-row-item .result .t {
  font-size: 14px;
  font-family: 'gotham-m';
  color: #1168ac;
  margin-bottom: 1px;
}

.calc_box-row-item .result_box {
  background-color: #e8e8e8;
  height: 7px;
  position: relative;
}

.calc_box-row-item .result_box:after {
  content: '';
  height: 100%;
  width: 40%;
  background: url(../img/calcline.jpg) repeat-x left center / contain;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  display: block;
  z-index: 1;
}

.portfolio .list-group {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  flex-direction: row;
}

.portfolio .list-group a {
  display: inline-block;
  color: #000;
  background: unset;
  border: 0;
  font-size: 14px;
  text-transform: uppercase;
  width: auto;
  padding: 0;
  font-family: 'gotham-m';
  position: relative;
}

.portfolio .list-group a.active:after {
  content: '';
  width: 100%;
  height: 12px;
  background: url(../img/line.jpg) no-repeat center center / auto;
  position: absolute;
  bottom: -14px;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 1;
}

.portfolio .list-group a.active:before {
  border-bottom: 3px solid #fbc10f;
  content: '';
  width: 100%;
  height: 3px;
  position: absolute;
  bottom: -5px;
  left: 0;
  right: 0;
  margin: auto;
}

.portfolio a.more {
  display: block;
  border: 2px solid #fbc10f;
  width: 236px;
  font-size: 16px;
  font-family: 'gotham-b';
  color: #000;
  text-align: center;
  padding: 16px 0px;
  margin: auto;
  margin-top: 20px;
  text-transform: uppercase;
  border-radius: 50px;
  background: unset;
  -webkit-transition: ease 0.5s;
  -o-transition: ease 0.5s;
  transition: ease 0.5s;
}

.portfolio a.more:hover {
  background: #fbc10f;
}

.portfolio_row {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: -15px;
  margin-right: -15px;
  padding-top: 30px;
}

.portfolio_row-item {
  width: 50%;
  flex-basis: 50%;
  max-width: 50%;
  padding: 15px;
}

.portfolio_row-item .body {
  background-color: #f2f2f2;
  padding: 18px;
  border-radius: 8px;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.19);
  -webkit-transition: ease 0.5s;
  -o-transition: ease 0.5s;
  transition: ease 0.5s;
}

.portfolio_row-item .body:hover {
  box-shadow: 0px 5px 19px 0px rgba(0, 0, 0, 0.18);
}

.portfolio_row-item .body .head {
  margin-bottom: 13px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.portfolio_row-item .body .head_info {
  font-size: 16px;
  line-height: 21px;
}

.portfolio_row-item .body .head_info b {
  display: inline-block;
  border-right: 2px solid #d5d7d8;
  padding: 14px 10px 14px 6px;
  font-size: 18px;
  font-family: 'gotham-m';
  float: left;
  margin-right: 14px;
  line-height: 16px;
}

.portfolio_row-item .body .head_price {
  background: #002d77;
  color: #fff;
  font-size: 16px;
  font-family: 'gotham-b';
  width: 136px;
  padding: 7px;
  text-align: center;
  display: inline-block;
  border-radius: 3px;
  height: 38px;
}

.portfolio_row-item .body .bigslider {
  margin-bottom: 10px;
}

.portfolio_row-item .body .bigslider a {
  height: 316px;
  display: block;
  background-size: cover;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.portfolio_row-item .body .bigslider a:hover:after,
.portfolio_row-item .body .bigslider a:hover:before {
  content: '';
  width: 57px;
  height: 57px;
  display: inline-block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  top: 0;
  z-index: 1;
  background: url(../img/view.png) no-repeat center center / auto;
}

.portfolio_row-item .body .bigslider a:hover:before {
  border-radius: 50%;
  background: #fff;
  box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.11);
}

.portfolio_row-item .body .navslider {
  margin-left: -5px;
  margin-right: -5px;
}

.portfolio_row-item .body .navslider .navslider-item {
  height: 80px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 3px;
  margin: 0px 5px;
  cursor: pointer;
}



.quote .btitle {
  margin-bottom: 15px;
}

.quote_row {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-left: -14px;
  margin-right: -14px;
  flex-wrap: wrap;
}

.quote_row-item {
  width: 50%;
  flex-basis: 50%;
  max-width: 50%;
  padding: 14px;
}

.quote_row-item-body {
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.11);
  -webkit-transition: ease 0.5s;
  -o-transition: ease 0.5s;
  transition: ease 0.5s;
}

.quote_row-item-body:hover {
  box-shadow: 0px 5px 19px 0px rgba(0, 0, 0, 0.18);
}

.quote_row-item .head {
  height: 338px;
  overflow: hidden;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.quote_row-item .head:before {
  content: '';
  width: 59px;
  height: 59px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: url(../img/play.png) no-repeat center center / cover;
  margin: auto;
  opacity: 1;
  -webkit-transition: ease 0.5s;
  -o-transition: ease 0.5s;
  transition: ease 0.5s;
}

.quote_row-item .head .caption {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding: 16px 50px;
  font-size: 20px;
  color: #fff;
  background: -moz-linear-gradient(top, rgba(17, 104, 172, 1) 0%, rgba(0, 0, 0, .1) 100%);
  background: -webkit-linear-gradient(top, rgba(17, 104, 172, 1) 0%, rgba(0, 0, 0, .1) 100%);
  background: linear-gradient(to bottom, rgba(17, 104, 172, 1) 0%, rgba(0, 0, 0, .1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a61168ac', endColorstr='#00000000', GradientType=0);
}

.quote_row-item .head .caption img {
  float: left;
  margin-right: 23px;
}

.quote_row-item .body {
  padding: 19px 50px 30px 50px;
  color: #333330;
  font-size: 16px;
}

.brosh {
  background:  no-repeat center center / cover;
  color: #fff;
  padding-bottom: 0px;
}

.brosh .btitle {
  color: #fff;
  margin-bottom: 68px;
}

.brosh_row {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.brosh_row img {
  position: relative;
  top: -40px;
}

.brosh_row b {
  display: block;
  font-size: 25px;
  font-weight: normal;
  font-family: 'gotham-b';
  color: #fbc10f;
  margin-top: 35px;
  position: relative;
}

.brosh_row b:before {
  position: absolute;
  left: -80px;
  top: 5px;
  width: 62px;
  height: 25px;
  background: url(../img/angleleft.png) no-repeat center center / contain;
  display: inline-block;
  content: '';
}

.brosh_row ul {
  display: block;
}

.brosh_row ul li {
  display: block;
  font-size: 20px;
  margin-bottom: 20px;
}

.brosh_row ul li:before {
  content: "\2022";
  color: #fbc10f;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.consult {
  background: #002d77;
  color: #fff;
  font-size: 16px;
  padding: 23px;
  text-align: center;
  border-radius: 8px;
  position: relative;
  top: -80px;
}

.consult .input {
  margin-top: 19px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  justify-content: center;
}

.consult .input input {
  display: block;
  width: 371px;
  flex-basis: 371px;
  max-width: 371px;
  padding: 11px 17px;
  font-size: 14px;
  border: 1px solid #898989;
  margin-right: 8px;
}

.consult .input button {
  margin-left: 8px;
  background: #fbc10f;
  color: #000;
  text-transform: uppercase;
  font-size: 16px;
  font-family: 'gotham-m';
  text-align: center;
  display: block;
  border: 0;
  width: 321px;
  flex-basis: 321px;
  max-width: 321px;
  padding: 18px 0px;
  border-radius: 30px;
  border-bottom: 2px solid #dfb640;
}

.rem {
  padding-top: 0px;
}

.rem .item .body {
  border: 8px solid #f2f2f2;
  border-radius: 8px;
  box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.11);
  -webkit-transition: ease 0.5s;
  -o-transition: ease 0.5s;
  transition: ease 0.5s;
}

.rem .item .body:hover {
  box-shadow: 0px 5px 19px 0px rgba(0, 0, 0, 0.18);
}

.rem .item .body .img {
  height: 266px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.rem .item .body .text {
  padding: 17px 45px 45px 45px;
}

.rem .item .body .text_ov {
  overflow: hidden;
  height: 244px;
  position: relative;
  transition: .3s;
}

.rem .item .body.open .text_ov {
  height: auto;
  overflow: auto;
}

.rem .item .body.open .text_ov::after {
  content: none;
}


.rem .item .body .text_ov:after {
  content: '';
  height: 40px;
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  right: 0;
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#ffffff', GradientType=0);
  /* IE6-9 */
  transition: .3s;
}

.rem .item .body .text_title {
  color: #196eae;
  font-size: 25px;
  font-family: 'gotham-b';
  position: relative;
  padding-left: 40px;
}

.rem .item .body .text_title img {
  position: absolute;
  left: -20px;
  top: 4px;
}

.rem .item .body .text_info {
  color: #93928c;
  font-size: 16px;
  padding-left: 40px;
  margin-bottom: 30px;
}

.rem .item .body .text b {
  display: block;
  font-size: 18px;
  font-family: 'gotham-b';
  margin-bottom: 4px;
  padding-left: 40px;
}

.rem .item .body .text ul {
  padding-left: 40px;
}

.rem .item .body .text ul li {
  display: block;
  font-size: 16px;
  position: relative;
}

.rem .item .body .text ul li:before {
  content: '+';
  color: #fbc10f;
  position: absolute;
  left: -15px;
}

.rem .item .body .text a.showmore {
  color: #6d6c64;
  display: inline-block;
  text-transform: uppercase;
  font-size: 14px;
  border-bottom: 1px dashed #6d6c64;
  text-align: center;
}

.rem .item .body .text a.showmore.open {
  display: none;
}

.rem .item .body .text_price {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  justify-content: center;
}

.rem .item .body .text_price .old {
  color: #b8b7b2;
  font-size: 18px;
  font-family: 'gotham-b';
  padding-top: 4px;
  margin-right: 9px;
  position: relative;
}

.rem .item .body .text_price .old:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 18px;
  width: 100%;
  height: 2px;
  background-color: #b8b7b2;
  transform: rotate(-7deg);
}

.rem .item .body .text_price .new {
  margin-left: 9px;
  color: #196eae;
  font-size: 24px;
  font-family: 'gotham-b';
}

.rem .item .body .text button.get {
  display: block;
  border-radius: 30px;
  background: #fbc10f;
  color: #000;
  text-transform: uppercase;
  max-width: 341px;
  width: 100%;
  height: 60px;
  border: 0;
  font-family: 'gotham-b';
  margin-top: 25px;
  border-bottom: 2px solid #dfb640;
}

.pay {
  padding: 0px 0px;
  margin-bottom: 70px;
}

.pay .btitle {
  margin-bottom: 37px;
}

.pay .ttitle {
  font-size: 18px;
  font-family: 'gotham-b';
  color: #006eb1;
  position: relative;
  padding-left: 75px;
}

.pay .ttitle img {
  left: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  display: block;
  margin: auto;
}

.pay p {
  margin-top: 28px;
  font-size: 16px;
  color: #333330;
  line-height: 25px;
}

.trans {
  background: no-repeat center center / cover;
  color: #fff;
  padding-bottom: 60px;
  padding-top: 50px;
}

.trans .btitle {
  color: #fff;
  margin-bottom: 30px;
}

.trans .row {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.phone-video {
  display: block;
  margin: 0 auto;
  max-width: 200px;
  overflow: hidden;
  position: relative;
  z-index: 1;
  border-radius: 35px;
  max-height: 392px;
  cursor: pointer;

}

.phone-video .youtube .play {

  width: 59px;

  height: 59px;

  position: absolute;

  left: 0;

  right: 0;

  top: 0;

  bottom: 0;

  background: url(../img/play.png) no-repeat center center / cover;

  margin: auto;

  opacity: 1;

  -webkit-transition: ease 0.5s;

  -o-transition: ease 0.5s;

  transition: ease 0.5s;
}

.portfolio_row-item.hidden {
  display: none;
}

.phone-video .youtube,
.phone-video iframe {
  position: absolute;
  top: 50%;
  left: 50%;
  right: 0;
  bottom: 0;
  height: 124%;
  width: 88%;
  transform: translate(-50%, -50%);
  z-index: 1;
  border-radius: 20px;
  background-size: cover;
}

.phone-video iframe {
  height: 124% !important;
  width: 88% !important;
}

.phone-video img {
  position: relative;
  z-index: 1;
  pointer-events: none;
}

.trans .row b {
  display: block;
  font-size: 25px;
  font-weight: normal;
  font-family: 'gotham-b';
  color: #fbc10f;
  margin-bottom: 35px;
  position: relative;
  line-height: 30px;
}

.trans .row b:before {
  position: absolute;
  left: -80px;
  top: 34px;
  width: 62px;
  height: 25px;
  background: url(../img/angleleft1.png) no-repeat center center / contain;
  display: inline-block;
  content: '';
}

.trans .row ul {
  display: block;
  margin-bottom: 65px;
}

.trans .row ul li {
  display: block;
  font-size: 20px;
  margin-bottom: 20px;
}

.trans .row ul li:before {
  content: "\2022";
  color: #fbc10f;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.yell {
  background: no-repeat center bottom / contain;
  background-color: #f7f7f7;
  min-height: 694px;
  text-align: left;
}

.yell .btitle {
  text-align: left;
  line-height: 40px;
  padding-left: 20px;
  position: relative;
}

.yell .btitle img {
  position: absolute;
  left: -100px;
  top: -17px;
  display: block;
}

.yell_title {
  font-size: 25px;
  font-family: 'gotham-b';
  color: #333330;
  line-height: 28px;
  margin-top: 40px;
  position: relative;
}

.yell_title img {
  position: absolute;
  left: -60px;
  top: -10px;
}

.yell a.showme {
  display: inline-block;
  color: #6d6c64;
  font-size: 14px;
  border-bottom: 1px dotted #6d6c64;
  margin-bottom: 61px;
  margin-top: 25px;
  text-transform: uppercase;
}

.yell_stat {
  display: block;
}

.yell_stat li {
  display: block;
  color: #333330;
  font-size: 16px;
  line-height: 16px;
  margin-bottom: 25px;
}

.yell_stat li b {
  margin-bottom: 12px;
  color: #1168ac;
  font-size: 25px;
  font-family: 'gotham-b';
  display: block;
}

.team .list-group {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  flex-direction: row;
}

.team .list-group a {
  display: inline-block;
  color: #000;
  background: unset;
  border: 0;
  font-size: 14px;
  text-transform: uppercase;
  width: auto;
  padding: 0;
  font-family: 'gotham-m';
  position: relative;
}

.team .list-group a.active:after {
  content: '';
  width: 100%;
  height: 12px;
  background: url(../img/line.jpg) no-repeat center center / auto;
  position: absolute;
  bottom: -14px;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 1;
}

.team .list-group a.active:before {
  border-bottom: 3px solid #fbc10f;
  content: '';
  width: 100%;
  height: 3px;
  position: absolute;
  bottom: -5px;
  left: 0;
  right: 0;
  margin: auto;
}

.team_slider {
  margin-top: 30px;
}

.team_slider .slick-arrow {
  width: 33px;
  height: 24px;
  background: url(../img/arrowleft.png) no-repeat center center / contain;
  position: absolute;
  left: -70px;
  border: 0;
  font-size: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  color: #fff;
  opacity: 0.4;
}

.team_slider .slick-arrow:hover {
  opacity: 1;
}

.team_slider .slick-arrow.slick-next {
  background: url(../img/arrowright.png) no-repeat center center / contain;
  position: absolute;
  left: unset;
  right: -70px;
}

.team_slider-item {
  text-align: center;
  color: #93928c;
  font-size: 16px;
}


.team_slider-item b {
  display: block;
  color: #1168ac;
  font-weight: normal;
  font-size: 18px;
  font-family: 'gotham-m';
}

.faq {
  padding-top: 60px;
}

.faq .accordion {
  border: 0;
  padding: 0;
  margin: 0;
}

.faq .accordion a.more {
  margin-left: 72px;
  margin-top: 24px;
  display: inline-block;
  position: relative;
  color: #333330;
  font-size: 14px;
  text-transform: uppercase;
}

.faq .accordion a.more img {
  position: absolute;
  left: -45px;
  top: 0;
  bottom: 0;
  margin: auto;
}

.faq .accordion a.more span {
  border-bottom: 1px dotted #333330;
}

.faq .accordion .card {
  border: 0;
  padding: 0;
  background: unset;
}

.faq .accordion .card-header {
  background: unset;
  padding: 0;
  box-shadow: unset;
  border: 0;
}

.faq .accordion .card-header h2 {
  border: 0;
}

.faq .accordion .card-header h2 button {
  padding: 0;
  color: #333330;
  margin-left: 25px;
  margin-bottom: 4px;
  position: relative;
  font-family: 'gotham-m';
  border-radius: 0px;
  font-size: 18px;
}

.faq .accordion .card-header h2 button.collapsed {
  border-bottom: 1px solid #cbcbcb;
}

.faq .accordion .card-header h2 button.collapsed:before {
  transform: rotate(-90deg);
}

.faq .accordion .card-header h2 button:focus,
.faq .accordion .card-header h2 button:hover {
  text-decoration: none;
  color: #002d77;
}

.faq .accordion .card-header h2 button:before {
  -webkit-transition: ease 0.5s;
  -o-transition: ease 0.5s;
  transition: ease 0.5s;
  content: '';
  width: 10px;
  height: 7px;
  position: absolute;
  left: -25px;
  top: 8px;
  display: block;
  background: url(../img/accord.png) no-repeat center center / contain;
}

.faq .accordion .card-body {
  padding: 17px;
  background-color: #fff;
  border-radius: 8px;
  font-size: 16px;
}

.faq .accordion .card-body b {
  font-size: 14px;
}

.faq .accordion .card-body b+p {
  font-size: 14px;
  margin-bottom: 0;
}

.map {
  position: relative;
}

.map-section {
  height: 100%;
  width: 100%;
}

#map {
  background: no-repeat center center / cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.map_item {
  background-color: #fff;
  border-radius: 18px;
  padding: 40px 50px;
  margin-right: -10px;
  box-shadow: 0px 42px 87px 0px rgba(0, 0, 0, 0.13);
}

.map_item .btitle {
  font-size: 42px;
  margin-bottom: 40px;
  margin-top: 24px;
}

.map_info {
  color: #6d6c64;
  font-size: 16px;
  font-family: 'gotham-m';
}

.map_info b {
  font-size: 20px;
  font-weight: normal;
  font-family: 'gotham-m';
  color: #333330;
}

.map input[type=text] {
  display: block;
  width: 100%;
  border-radius: 5px;
  border: 2px solid #e1e1e1;
  height: 60px;
  margin-top: 12px;
}

.map input[type=checkbox] {
  display: none;
}

.map input[type=checkbox]:checked+label:after {
  content: '';
  width: 14px;
  height: 11px;
  position: absolute;
  left: 2px;
  top: 5px;
  background: url(../img/check.png) no-repeat center center / contain;
}

.map label {
  font-size: 16px;
  margin-top: 20px;
  color: #333330;
  padding-left: 24px;
  position: relative;
}

.map label:before {
  width: 12px;
  height: 12px;
  border-radius: 2px;
  border: 1px solid #1168ac;
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.map label a {
  color: #1168ac;
  font-family: 'gotham';
  border-bottom: 1px solid #bfd0e3;
}

.map button.submit {
  display: block;
  color: #333330;
  text-transform: uppercase;
  font-family: 'gotham-m';
  font-size: 16px;
  background: #fbc10f;
  border-radius: 30px;
  height: 60px;
  width: 321px;
  margin: 51px auto 30px auto;
  border: 0;
  border-bottom: 2px solid #dfb640;
}

.map ul {
  display: block;
  list-style-type: none;
  margin-bottom: 0;
}

.map ul li {
  color: #333330;
  font-size: 20px;
  padding-left: 39px;
  position: relative;
  display: block;
  margin-bottom: 22px;
}

.map ul li:last-child {
  margin-bottom: 0;
}

.map ul li:first-child img {
  bottom: unset;
  top: 3px;
}

.map ul li img {
  position: absolute;
  left: 0px;
  top: 0;
  margin: auto;
  bottom: 0;
}

footer {
  padding: 68px 0px 50px;
}

footer button.calcme,
footer a.calcme {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #333330;
  text-transform: uppercase;
  font-family: 'gotham-m';
  font-size: 16px;
  background: #fbc10f;
  border-radius: 30px;
  height: 60px;
  width: 321px;
  margin: 25px auto 0px auto;
  border: 0;
  border-bottom: 2px solid #dfb640;
}

footer .container {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

footer .container .footer_r p {
  color: #6d6c64;
  font-size: 16px;
  margin: 0;
}

footer .container .footer_r b {
  color: #333330;
  font-size: 20px;
  font-family: 'gotham-b';
  margin-bottom: 9px;
  display: block;
}

footer .container .footer_r ul {
  display: block;
  margin-bottom: 20px;
}

footer .container .footer_r ul li {
  display: inline-block;
}

footer .container .footer_r ul li a {
  display: inline-block;
  margin-right: 7px;
}

footer .container .footer_l {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  justify-content: flex-start;
}

footer .container .footer_l .logo {
  margin-right: 120px;
}

footer .container .footer_l .logo img {
  margin-left: 19px;
}

footer .container .footer_l ul.menu {
  display: block;
}

footer .container .footer_l ul.menu li {
  display: block;
  margin-bottom: 6px;
}

footer .container .footer_l ul.menu li.title {
  color: #333330;
  font-size: 20px;
  margin-bottom: 18px;
  font-family: 'gotham-b';
}

footer .container .footer_l ul.menu li a {
  display: inline-block;
  color: #333330;
  font-size: 16px;
}

.quote_row-item-body iframe {
  display: block;
}

.map_info input {
  padding-left: 15px;
  padding-right: 15px;
}

.team__circle {
  box-shadow: 0 25px 22px 5px rgba(0, 0, 0, 0.05);
  border: 8px solid #ffffff;
  border-radius: 50%;
  overflow: hidden;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  margin-bottom: 35px;
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e1e1e1;
}

.team__circle img {
  max-width: 200px;
  max-height: 200px;
  flex-shrink: 0;
  margin-top: 10px;
}

.modal-overlay {
  position: fixed;
  top:0;
  right:0;
  bottom:0;
  left:0;
  background-color:rgba(0,0,0,.5);
  z-index: 100;
  transition: .5s linear;
  opacity: 0;
  visibility: hidden;
 }
 .modal-overlay.open {
   visibility: visible;
   opacity: 1;
 }
 




@media (min-width: 576px) {
  .modal-dialog {
    max-width: 420px;
  }
}

.modal .modal-content {
  border: 2px solid #FCC936;
  padding: 24px;
  max-width: 420px;
}

.modal-header {
  border: 0;
  padding: 0 0 10px;
  margin: 0 0 10px 0;
  border-bottom: 1px solid #fcca3a;
}

.modal-header header {
  font-size: 16px;
  font-weight: 900;
  text-align: center;
  color: #000;
  position: relative;
  line-height: 1.2;
}

.modal-header header:before {
  content: "";
  display: block;
  position: absolute;
  bottom: -36px;
  z-index: 3;
  left: -webkit-calc(50% - 15px);
  left: calc(50% - 15px);
  border: 15px solid transparent;
  border-top: 10px solid #fcca3a;
}

.modal-header header:after {
  content: "";
  display: block;
  position: absolute;
  z-index: 4 !important;
  bottom: -35px;
  left: -webkit-calc(50% - 15px);
  left: calc(50% - 15px);
  border: 15px solid transparent;
  border-top: 10px solid #fff;
}

.modal-title {
  position: relative;
  text-align: center;
  width: 100%;
}

.modal-title:before {
  content: "";
  display: block;
  position: relative;
  background: #fcca3a;
  height: 1px;
  margin: 0 0 10px 0;
  text-align: center;
}

.modal-title span {
  display: block;
  position: absolute;
  margin: -20px 0 0 -33px;
  color: #fcca3a;
  left: 50%;
  width: 66px;
  background: #fff;
}

.close {
  position: absolute;
  right: 5px;
  top: 5px;
}

.modal input[type="text"],
.modal input[type="tel"],
.modal input[type="password"] {
  display: block;
  width: 100%;
  height: 53px;
  outline: none;
  border: 1px solid #626262;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  padding: 0px 30px;
  font-size: 14px;
  color: #000;
  margin-top: 9px;
}

.modal .btn {
  display: block;
  padding: 19px 15px 19px;
  margin: 5px auto 0;
  margin-top: 9px;
  width: 100%;
  font-size: 18px;
  cursor: pointer;
  line-height: 1;
  color: #000;
  background: #FCC936;
  text-decoration: none;
  border: 0;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  -webkit-box-shadow: 0 5px 20px 0 rgba(252, 201, 54, 0);
  box-shadow: 0 5px 20px 0 rgba(252, 201, 54, 0);
}
.modal .btn:hover {
  color: #000;
  -webkit-box-shadow: 0 5px 20px 0 rgba(252, 201, 54, 0.5);
  box-shadow: 0 5px 20px 0 rgba(252, 201, 54, 0.5);
  text-decoration: none;
}

.modal-dialog {
  transition: .3s ease-out!important;
  transform: translateY(-25%)!important;
  opacity: 0;
  visibility: hidden;
}
.modal.open {
  visibility: visible;
  opacity: 1;
}
.modal.open .modal-dialog {
  transform: translateY(0)!important;
  opacity: 1;
  visibility: visible;
}
.modal {
  display: block!important;
  opacity: 0;
  visibility: hidden;
  transition: .3s linear;
  pointer-events: none;
}
.modal-open {
  overflow: auto!important;
}

.modal-open .modal {

  overflow-x: hidden;
  overflow-y: auto;

}
.footer-icon-block {

  padding: 0 0 0px 50px;
  margin: 10px 0 0px 0;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 41px;
  font-size: 14px;
}
.footer-icon-block::before {

  content: "";
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  height: 41px;
  background: url(../img/sprite.png) no-repeat;
      background-position-x: 0%;
      background-position-y: 0%;

}
.footer-icon-item1::before {
  background-position: 0 -332px;
  width: 40px;
}
.footer-icon-item2:before {
  background-position: -40px -332px;
  width: 40px; 
}

.footer-icon-item3:before {
  background-position: -80px -332px;
  width: 34px; 
}
.calc_box .input + p {
  margin-right: -6px;
}
.calc_box .calc_box-row-item b{
  margin-right: -6px;
}
.ham {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-top: -5px;
}
.hamRotate.active {
  transform: rotate(45deg);
}
.hamRotate180.active {
  transform: rotate(180deg);
}
.line {
  fill:none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke:#196eae;
  stroke-width:5.5;
  stroke-linecap:round;
}
.ham4 .top {
  stroke-dasharray: 40 121;
}
.ham4 .bottom {
  stroke-dasharray: 40 121;
}
.ham4.active .top {
  stroke-dashoffset: -68px;
}
.ham4.active .bottom {
  stroke-dashoffset: -68px;
}
.navbar-toggle {
  background: none;
  padding: 0;
  border: none;
  cursor: pointer;
}
.team_slider .slick-track {
  margin: 0;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 0;
}


