.container {
  display: inline-block;
  position: relative;
  border-radius: var(--radius-24);
  overflow: hidden;
}

.gradientBottom {
  position: absolute;
  width: 300%;
  height: 50%;
  bottom: -45px;
  right: -250%;
  border-radius: 50%;
  animation: star-movement-bottom linear infinite alternate;
  z-index: 0;
}

.gradientTop {
  position: absolute;
  width: 300%;
  height: 50%;
  top: -45px;
  left: -250%;
  border-radius: 50%;
  animation: star-movement-top linear infinite alternate;
  z-index: 0;
}

@keyframes star-movement-bottom {
  0% {
    transform: translate(0%, 0%);
    opacity: 1;
  }
  100% {
    transform: translate(-100%, 0%);
    opacity: 0;
  }
}

@keyframes star-movement-top {
  0% {
    transform: translate(0%, 0%);
    opacity: 1;
  }
  100% {
    transform: translate(100%, 0%);
    opacity: 0;
  }
}
