---
import type { Locale } from '@typings/global';
import '@styles/global.scss';
import Head from '@layouts/Head.astro';
import { Header, Footer } from '@widgets/components';
import { gsap } from 'gsap';
import { useGSAP } from '@gsap/react';
import { Toaster } from 'sonner';

gsap.registerPlugin(useGSAP);

const locale = Astro.currentLocale as Locale;
---

<!doctype html>
<html lang={locale}>
  <Head />
  <body>
    <Header locale={locale} client:load />
    <slot />
    <Toaster
      position="bottom-left"
      duration={5000}
      expand={false}
      visibleToasts={1}
      toastOptions={{
        unstyled: true,
        classNames: {
          toast: 'toast',
          title: 'toast__title',
          description: 'toast__description',
          actionButton: 'toast__action-button',
          cancelButton: 'toast__cancel-button',
          closeButton: 'toast__close-button',
        },
      }}
      client:load
    />
    <Footer locale={locale} client:load />
  </body>
</html>
