---
import '@styles/global.scss';
import Head from '@layouts/Head.astro';
import { Header } from '@widgets/Header/Header';

const { currentLocale, routePattern } = Astro;
---

<!doctype html>
<html lang={currentLocale}>
  <Head />
  <body>
    <Header url={routePattern} locale={currentLocale} client:load />
    <slot />
  </body>
</html>
