---
import '@styles/global.scss';
import Head from '@layouts/Head.astro';
import { Header, type Locale } from '@widgets/components';
import { gsap } from 'gsap';
import { useGSAP } from '@gsap/react';

gsap.registerPlugin(useGSAP);

const { currentLocale } = Astro;
---

<!doctype html>
<html lang={currentLocale}>
  <Head />
  <body>
    <Header locale={currentLocale as Locale} client:load />
    <slot />
  </body>
</html>
