.card {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  --mouse-x: 25%;
  --mouse-y: 25%;
  --spotlight-color: rgba(255, 255, 255, 0.05);

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    background: radial-gradient(circle at var(--mouse-x) var(--mouse-y), var(--spotlight-color), transparent 80%);
    opacity: 0;
    transition: var(--transition-ease);
    pointer-events: none;
  }

  &:hover::before,
  &:focus-within::before {
    opacity: 0.2;
  }
}
